[2019-12-20 16:50] btspce commented on #977
After switching out hsakmt package from Fedora to the one provided by ROCm I now got these packages installed.
install rocm-utils rocm-opencl-devel rocminfo hsa-ext-rocr-dev
Packages Altered:
    Install hsa-ext-rocr-dev-1.1.9.0_rocm_rel_3.0_6_7128d0dc-1.x86_64 @ROCm
    Install hsa-rocr-dev-1.1.9.0_rocm_rel_3.0_6_7128d0dc-1.x86_64     @ROCm
    Install hsakmt-roct-1.0.9_298_gea01eb3-1.x86_64

[2019-12-20 17:02] btspce commented on #976
Samme issue on ROCm 2.9 which is the latest version where hsa-ext-rocr-dev works

[2019-12-20 20:25] johnutz-PNSR commented on #962
Hi @barolo!
Further debugging has shown that i my case that libhsa-runtime64.so.1.1.9  is trying to use the function pointer hsa_amd_image_get_info_max_dim_fn from libhsa-ext-image64.so.1. but can not load libhsa-ext-image64.so.1 despite the fact that they are all in the same directory:

[2019-12-20 21:03] preda commented on #968
@b-sumner RadeonVII https://www.amd.com/en/products/graphics/amd-radeon-vii is a major AMD GPU; Vega20, gfx906+sram-ecc

[2019-12-20 21:31] iotamudelta commented on #915
@TheEmbbededCoder seconding what @eshcherb said here from the PyTorch perspective. You can use both the event-based autograd profiler and the rocTX / `emit_nvtx()` functionality with PyTorch on ROCm. So while you can trace and get overall performance counters, per iteration counters are not currently supported.

[2019-12-20 22:16] btspce commented on #976
Found the problem:

$ rocm-smi -l

GPU[0] 		:
GPU[0] 		: NUM        MODE_NAME BUSY_SET_POINT FPS USE_RLC_BUSY MIN_ACTIVE_LEVEL
GPU[0] 		:   0 BOOTUP_DEFAULT :             70  60          0              0
GPU[0] 		:   1 3D_FULL_SCREEN :             70  60          1              3
GPU[0] 		:   2   POWER_SAVING :             90  60          0              0
GPU[0] 		:   3          VIDEO :

[2019-12-21 00:21] preda commented on #963
While I have implemented a workaround which allows me to use ROCm 2.10 without paying the 100% CPU cost (the workaround consists in adding a usleep(5) in the broken event wait loop that was busy-waiting before), this problem is not solved. What I don't understand is why this thread that apparently was introduced in ROCm 2.6 exists (while it was not needed before) is needed, and what are the events

[2019-12-21 04:33] ye-luo commented on #909
With rocm 3.0, the error becomes "Error: V3 code object detected - code objects tracking should be enabled"

[2019-12-21 08:21] rkothako commented on #977
Thanks @preda and @btspce
Can you please let know the exact steps to reproduce this problem.

[2019-12-21 08:37] btspce commented on #977
A simple upgrade from ROCm 2.10 to 3.0 of the packages at http://repo.radeon.com/rocm/yum/rpm when they became availible.  clinfo shows 0 devices availbile directly after upgrade and after reboot. Removing packages and reverting back to 2.10 solves the problem.

# sudo dnf update
Packages Altered:
    Upgraded hsa-ext-rocr-dev-1.1.9.0_rocm_rel_3.0_6_7128d0dc-1.x86_64 @ROCm
    Upgraded hsa-rocr-de

[2019-12-21 08:44] preda commented on #977
The steps are: starting with a working OpenCL-only ROCm 2.10 installation, do a
[code]
which updates the packages as already indicated. At this point OpenCL stops detecting any devices, and this persists after a reboot. rocm-smi continues to detect correctly all the GPUs at all times.

[2019-12-21 10:46] seesturm commented on #950
Sorry for being off-topic, but ROCm3.0 is missing from the compatibility table.

[2019-12-21 11:02] tiberiusferreira commented on #920
I'm having the same problem:
First tried with the
[code]
Then with the upstream kernel:
[code]
Same result
[code]

[code]

[2019-12-21 14:33] Alfcyber opened #978 "Support Ryzen mobile ?"
Hello, can you hope that ryzen mobile will be better supported in the future? (currently it is unusable on ryzen 2500 and 3500) (sorry I saw the other issue too late)

[2019-12-21 14:46] #978 closed

[2019-12-21 14:55] Alfcyber commented on #949
on my laptop (tinkpad e485 (Marketing Name: AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx)) I have a working clinfo and rocminfo, however, I see Pool Info:
    Pool 1
      Segment: GROUP
      Size: 64 (0x40) KB
      Allocatable: FALSE
      Alloc Granule: 0KB
      Alloc Alignment: 0KB
      Acessible by all: FALSE

However, it is still possible to compile simple kernel on the gpu, but it has n

[2019-12-21 16:18] sunway513 commented on #950
Hi @seesturm , we just updated the doc with the [PR #765](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/pull/765) , please check again.

[2019-12-21 16:18] #950 closed

[2019-12-21 16:20] #960 closed

[2019-12-21 17:19] b-sumner commented on #963
My understanding is that there are a limited number of signals supported by the hardware, and when that is exceeded, polling is used.  Is it possible your application has a event leak or a large number of events are being used?  It's possible there is a signal leak in the OpenCL runtime as well.

[2019-12-21 18:14] ddobreff commented on #977
You need to install comgr too. Its no longer a part of rocm-opencl package for unknown reason - libamd_comgr.so

[2019-12-21 19:02] btspce commented on #977
Note 1: for those upgrading from ROCm 2.2 to 3.0 on Fedora 31. OpenCL does not work even with comgr installed. You need to manually remove ROCm 2.2 packages and manually delete /etc/OpenCL/vendors/amdocl64.icd before installing 3.0 or clinfo will show zero devices.

Installing 3.0 and adding the comgr package solved the issue. In my case on Fedora 31:
$ sudo dnf install rocm-utils rocm-opencl-deve

[2019-12-21 19:04] btspce commented on #976
ROCm 3.0 solved this issue even though it still chooses the compute profile when starting Darktable or Davinci Resolve it does not lock all cores to 399MHz on Raven Ridge 2700u APU when app is running !

[2019-12-21 19:05] btspce commented on #768
Can confirm that this issue is finally fixed in ROCm 3.0 on Raven Ridge 2700u APU atleast.

[2019-12-21 20:54] beatboxa commented on #768
3.0 doesn't appear to work for me.  I reverted back to 2.3 and it works.

Which versions of the following packages do you have?  Mine (and my versions) are listed below:
- rocm-clang-ocl (0.4.0-7ce124f)
- rocm-opencl (1.2.0-2019030702)
- rocm-opencl-dev (1.2.0-2019030702)
- rocm-utils (2.2.31)
- rocminfo (1.0.0)

Also, what about your system, OS, & driver specs?

I am on Ubuntu 18.04, using linux

[2019-12-21 21:29] beatboxa commented on #976
Still a no-go for me on Ubuntu.

I tried manually (and completely) removing all rocm 2.2 packages, removing amdocl64.icd, installing comgr, and then manually installing the 3.0 packages, but my opencl shows:

and DaVinci Resolve fails to launch.

Downgrading back to 2.2 fixes the issue for me.

[2019-12-21 21:30] btspce commented on #768
HP Elitebook 745 G5 Raven Ridge APU 2700u 32GB RAM
Fedora 31 stock packages + ROCm 3.0, kernel: 5.4.5-300.fc31.x86_64
Mesa 19.2.8-1

ROCm 2.2 Works with Davinci Resolve and Davinci Resolve Studio 16.1.2. Tested with kernel-5.3.16-300.fc31.x86_64
ROCm 2.3-2.8 Not tested.
ROCm 2.9 works with Darktable and Gimp. Does not work with Davinci Resolve 16.1.2 (crash at startup). Tested with kernel-5.3.16-3

[2019-12-21 23:50] preda commented on #963
I checked and made sure that my app is not using any OpenCL signals (when run with the default options). Thus I really can't see how it could be a signal leak in the app itself. To work-around this issues I would gladly give up on using events (which I already did), unfortunately that didn't fix it. Thus the events are originating from "under the hood" somewhere.

[2019-12-21 23:56] preda commented on #977
I did try and installed comgr too, it didn't fix it.

[2019-12-22 16:23] oogetyboogety commented on #651
works on gentoo 5.4. I think it was fixed in ROCM 3.0 runtimes with the upstream kernel. I was having difficulties until that specific change.
[code]

[2019-12-22 19:32] beatboxa commented on #768
@btspce Isn't your list of packages just rocm2.2?

When I tried the instructions in your linked thread, I couldn't get 3.0 working.

[2019-12-22 19:58] btspce commented on #977
3.0 is not working. clinfo segfaults. I made an error in an previous comment and ended up with both 2.2 repo and 3.0 in my rocm.repo after switching back and forth a few times. I have deleted my previous comment that stated that this was fixed.

[2019-12-22 19:59] btspce commented on #976
3.0 is not working. I made an error in an previous comment and ended up with both 2.2 repo and 3.0 in my rocm.repo after switching back and forth a few times. I have deleted my previous comment that stated that this was fixed.

[2019-12-22 20:01] btspce commented on #768
3.0 is not working. I made an error in an previous comment and ended up with both 2.2 repo and 3.0 in my rocm.repo after switching back and forth a few times. I have deleted my previous comment that stated that this was fixed. I was using 2.2 when I thought I had installed 3.0 due to this.

[2019-12-22 20:03] btspce commented on #977
When reinstalling 3.0 packages I noticed this:

Running scriptlet: hsa-rocr-dev-1.1.9.0_rocm_rel_3.0_6_7128d0dc-1.x86_6   8/9
/var/tmp/rpm-tmp.HOl0fW: line 1: [: missing `]'

[2019-12-22 20:13] btspce commented on #977
clinfo shows:

Number of P2P devices (AMD)                     0
P2P devices (AMD)                               <printDeviceInfo:147: get number of CL_DEVICE_P2P_DEVICES_AMD : error -30>

When hsa-ext-rocr-dev-1.1.9.0-rocm-rel-3.0-6-7128d0dc-Linux.rpm is installed for image support clinfo crashes and so does Darktable. Last version that worked was hsa-ext-rocr-dev-1.1.9-122-ge5c4efb1-Linux.rpm fr

[2019-12-23 01:47] IceFlowerLi commented on #972
Please check your physical memory fistly. This error will happen if the memory is not enough for your program. Try insert more memory-chips in your machine.

[2019-12-23 02:17] IceFlowerLi opened #979 "Different performance between RNN and CNN"
When I run the classical  model Seq2seq in my machine with this [program,](https://github.com/keon/seq2seq) I found that the program consits of RNN structures with the same parameters is far slower than NVIDIA platform even the Float32 performance of the Radeon 7 is greater than 1080ti. But the perfromance is proved in CNN operations that the Radeon 7 is faster than 1080ti in official pytorch exam

[2019-12-23 02:58] se11en commented on #972
I have 64GB ram which is limited by the motherboard.
After I changed the batch size of training, strange things happened: batch = 4 or = 12 is OK,but crashed when batch=8

[2019-12-23 03:24] chavangorakh1999 opened #980 "I am not able to train my CNN it Automatically gets terminated"
<img width="646" alt="Screenshot 2019-12-22 at 7 15 58 PM" src="https://user-images.githubusercontent.com/51993140/71333820-98924680-2561-11ea-869c-b669122e21fd.png">

![IMG_4859](https://user-images.githubusercontent.com/51993140/71333875-cd9e9900-2561-11ea-989d-86304cb30c29.jpg)

[2019-12-23 07:33] btspce commented on #954
When hsa-ext-rocr-dev from ROCm 2.10 or 3.0 is installed for image support clinfo crashes and so does Darktable. Last version that worked was hsa-ext-rocr-dev-1.1.9-122-ge5c4efb1-Linux from ROCm 2.9. I downgraded just that package and Darktable Gimp and others that require image support work again.

[2019-12-23 07:57] btspce opened #981 "hsa-ext-rocr-dev is broken since ROCm 2.9"
When hsa-ext-rocr-dev is upgraded from ROCm repo 2.10 or 3.0 for image support clinfo segfaults and so does Darktable. Last version that worked was hsa-ext-rocr-dev-1.1.9-122-ge5c4efb1-Linux.rpm from ROCm 2.9. Downgrading to package hsa-ext-rocr-dev-1.1.9-122-ge5c4efb1-Linux.rpm solves the issue.

ROCm 2.2 to 2.9 works
2.10 and 3.0 does not.

AMD Raven Ridge APU 2700u Fedora 31 x64

[2019-12-23 09:08] OlegSmelov commented on #977
For those wondering how to revert to a previous version on Debian-based distros:

[code]

Replace `http://repo.radeon.com/rocm/apt/debian/` with `http://repo.radeon.com/rocm/apt/2.10.0/`

[code]

[2019-12-23 13:20] mirh commented on #363
Any update (or should this be moved to OpenCL-Runtime?)

It would be nice to have the incoming TAN work on a fully open stack.

[2019-12-23 17:00] eshcherb commented on #909
There is a rocprof option to enable support for V3 code object '--obj-tracking on'.

[2019-12-23 17:01] rkothako commented on #977
Thanks all. We are able to reproduce this problem.
We have logged an internal issue for proper fix.
Currently we are working towards a workaround to unblock the issue.

[2019-12-23 17:45] tomsang opened #983 "repo sync failure"
I met the following repo sync failure.  Does  anybody know how to fix it?

tom@tom0-hpz-24g:~/projs/amd/RadeonOpenCompute/rocm$ repo sync
Traceback (most recent call last):
  File "/home/tom/projs/amd/RadeonOpenCompute/rocm/.repo/repo/main.py", line 530, in <module>
    _Main(sys.argv[1:])
  File "/home/tom/projs/amd/RadeonOpenCompute/rocm/.repo/repo/main.py", line 505, in _Main
    result = run()

[2019-12-24 06:24] heero-yuy commented on #917
Hi,
ROCm didn't support the Virtual GPU usage, instead that have Docker can play a role under Host with mutliple GPU on same Host.

if need seperate Virtual Machine, maybe Linux KVM can use, but just only computing feature, there's no function related VDI usage on ROCm, thanks!

[2019-12-24 08:11] ye-luo commented on #909
After adding "--obj-tracking on", rocprof from rocm 3.0 works well with my application built with AOMP. Hopefully users don't need to specify this option in the future.

[2019-12-24 08:11] #909 closed

[2019-12-26 01:24] pqyptixa commented on #482
Right now I'm testing rocm-dkms 2.10-14 on Ubuntu 18.04, and clinfo hangs every time I run it. There seems to be a similar bug here: https://bugs.freedesktop.org/show_bug.cgi?id=108879 Could be related?

[2019-12-26 01:34] pqyptixa commented on #714
Imagine buying new hardware only to find that you won't be able to fully use it, because the software for it has bugs that the manufacturer does not care about.

[2019-12-26 01:47] pqyptixa commented on #969
I get a similar error log, though not exactly the same:

[code]
make.log contains this:
[code]

[2019-12-26 05:56] vsrikarunyan commented on #981
Yes, looks like it. Since the update to ROCm v3, my environment is broken. Output for `rocminfo` is as below

[code]

[2019-12-26 06:06] vsrikarunyan commented on #923
Yes, I too bumped on this one today

[code]

[code]

[code]

[code]

[2019-12-26 13:41] pqyptixa commented on #969
Well, according to some random comment I found somewhere, apparently I don't need rocm-dkms to be able to use OpenCL programs, only the rocm-dev package. However, now I hit another bug...

[2019-12-26 13:45] pqyptixa commented on #962
Any news on this?

[2019-12-26 13:55] pqyptixa commented on #714
@elukey I wonder: had you tried adding amdgpu.runpm=0 to the kernel command line?

[2019-12-26 15:00] ivallesp opened #984 "Memory Leak with PyTorch in ROCM 2.9"
Hi,

I have been running some experiments on my Vega 10 GPU and I have found that while I am running a model fully in GPU it starts eating slowly the CPU memory until there is no memory left. I simplified my code as much as possible to help you reproduce it. I've tried exactly the same code in a p2.xlarge instance in AWS with Pytorch and the CPU memory usage is perfectly constant while training.

[2019-12-26 15:49] Mike575 commented on #923
updating linux kernal to 5.0.x can figure out this problem.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Venkateshwaralu Srikarunyan"<notifications@github.com&gt;;
发送时间: 2019年12月26日(星期四) 下午2:06
收件人: "RadeonOpenCompute/ROCm"<ROCm@noreply.github.com&gt;;
抄送: "赖自成"<575840864@qq.com&gt;; "Comment"<comment@noreply.github.com&gt;;
主题: Re: [RadeonOpenCompute/ROCm] ROCm not correctly instal

[2019-12-26 18:16] amunozf commented on #588
The command you mention there is wrong because the character | is missing. The correct one is:

`echo 'SUBSYSTEM=="kfd", KERNEL=="kfd", TAG+="uaccess", GROUP="video"' | sudo tee /etc/udev/rules.d/70-kfd.rules`

So please, fix it.

[2019-12-26 19:25] dfontenot commented on #969
Yeah, I saw the mention about just installing rocm-dev on the [rocm github page](https://rocm.github.io/install.html#ubuntu-support---installing-from-a-debian-repository) (section  "Using Debian-based ROCm with upstream kernel drivers")

However, in the previous section ("Installing development packages for cross compilation") there's a not that says: "To execute ROCm enabled apps you will require

[2019-12-26 19:52] johnutz-PNSR commented on #962
No, not particularly. 3.00 came out so i upgraded 1 of our UDOO Bolt V8's to that  and i still get a segfault but i dont know yet if it's the same segfault, am debugging that now

[2019-12-27 06:17] johnutz-PNSR commented on #962
@pqyptixa , on raven ridge it's still broken in the exact same place in 3.0; in the function:

hsa_amd_image_get_info_max_dim_impl() in libhsa-ext-image64.so.1.1.9

this can be reproduced by running /opt/rocm/opencl/bin/x86a_64/clinfo via gdb and setting a breakpoint in hsa_amd_image_get_info_max_dim_impl() and the stepping a few times inside the function.

[2019-12-27 09:33] elukey commented on #714
Not that I remember, all I tried is listed in this issue :)

[2019-12-27 14:38] faizghifari commented on #920
I'm having the same issue here, with RX480

In my case, the rocm-smi is running well. But the rocminfo and clinfo stuck with no response. Also always Killed at the first runtime after turning the PC on, just like the @giddygazebo case.

I already tried to run a simple app using the tensorflow-rocm, but it stuck when fitting the model (no response, or maybe killed)

[code]

[2019-12-28 10:31] preda commented on #963
I have identified the element that triggers this issues in my case:

I'm now running with an Asrock X299 Taichi motherboard. When I use 4x GPUs in the PCIe slots 1, 3, 4, 5, the problem is present, i.e.:
"Signal event wasn't created because limit was reached" is logged in dmesg *once per application instance (i.e. per GPU)*, and 100% one-thread CPU usage is observed per application instance (corre

[2019-12-28 10:34] vsrikarunyan commented on #923
That did not seem to have helped.

[code]
[code]

[2019-12-28 10:42] preda commented on #977
@rkothako could you please clarify what are the working steps for an upgrade from 2.10 to 3.0 OpenCL-only without dkms? i.e. I'm not using rocm-dkms, and most likely rocm-dkms would fail to compile anyway on the kernel I'm using (5.5).

And you could also please explain what is the problem that is fixed by the working upgrade steps (to help our understanding), thanks.

[2019-12-29 04:27] skeelyamd commented on #962
Almost certainly related to https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/68.  I can't assign this issue though since I don't have permissions in this repo.

[2019-12-29 14:15] perestoronin opened #985 "rocm 3.1-44: degradated hashrate ethminer"
ethminer degradated hashrate on stack rocm 3.1-44 after updated from rocm 2.10-14

applied amdmemtweak not affected on hashrate of ethminer

please help to tune hashrate and turn off limit use power GPU Vega56 in rocm 3.1

PS. May be my troubles in old amdmemorytweak affected only rocm 2.10-14 ?

[2019-12-29 17:55] johnutz-PNSR commented on #962
Oh hey! Just the person I was hoping to hear from! Thankyou for your efforts Mr. Skeely!

I have an update:
Bad news:
  It still repos in 3.00

Good news:
  If i move libhsa-ext-image64.so* the crash no longer happens, clinfo, OpenCV::DNN
 works, etc.

Analysis:
  As near as I can tell the crash is happening in hsa_amd_image_get_info_max_dim_impl in
  libhsa-ext-image64.so.1.1.9 i say this because

[2019-12-29 22:38] pqyptixa commented on #962
@johnutz-PNSR can you say which files did you move? I renamed every /opt/rocm/hsa/lib/libhsa-ext-image64.so* file (and also /opt/rocm/lib/libhsa-ext-image64.so) and I still get a crash...

[2019-12-29 23:36] johnutz-PNSR commented on #962
(engages qa guy mode)
I am using an UDOO Bolt V8 ryzen v1000 with a fresh ubuntu 18.0.4.3 install plus updates.
I do not have any of the AMDGPU Radeon Software for Linux installed.
I do not have ubuntu 18.04.3 clinfo or /usr/lib/x86_64-linux-gnu/libOpenCL.so.1.0.0 installed
I installed rocm-3.00.
i then executed /opt/rocm/opencl/bin/x86_64/clinfo
this lead to my now familiar crash that occurs when

[2019-12-30 00:31] johnutz-PNSR commented on #962
argh! somehow hit CLOSE while typing my long repro vsry!

i then executed /opt/rocm/opencl/bin/x86_64/clinfo
this lead to my now familiar crash that occurs when /opt/rocm/opencl/bin/x86_64/clinfo asks /opt/rocm/opencl/lib/x86_64/libOpenCL.so.1
to ask /opt/rocm/hsa/lib/libhsa-runtime64.so,1.1.9 for info that is provided by hsa_amd_image_get_info_max_dim() that comes from
/opt/rocm/hsa/lib/libhsa-ex

[2019-12-30 01:16] skeelyamd commented on #962
There's nothing particularly RavenRidge specific in the faulting code path.  It's essentially indexing a lookup table common to the processor family.  That said the values are returned to a variable sized structure allocated by the caller.  In this case that would be OpenCL (libamdocl64.so).  If that structure isn't large enough or a bogus pointer was given then the function can segfault.  From yo

[2019-12-30 02:13] johnutz-PNSR commented on #962
@skeelyamd thankyou for answering on your holiday. I appreciate it.

I will attempt what you suggested as soon as i  because they are interesting and simple avenues to approach.

However, in performance testing the various opencv4.2 backends i managed to crash the box hard and a coworker informs me that it awaits my return to the office for a round of fsck.

That will be tuesday.

[2019-12-30 13:45] kafran commented on #827
I'm facing the same problem. I bought a new Lenovo Laptop with RX550X + i7-8565U in the hope of using ROCm to learn and prototype and now I have a machine with a useless GPU (since I do not game). I tried to install a prior version of ROCm (1.7.2) to see if it works on my HW, no luck either. rocminfo just hangs with no feedback or error.

Now I regret of not saving a little more money to buy a NVI

[2019-12-30 22:51] tgwaste opened #987 "Vega 56 not working - ROCM 3.0.6"
Sees it:

[code]

**However**

[code]

[code]

[code]

[code]

[2019-12-31 11:38] justxi opened #988 "Different branches of llvm-project"
There are currently different repositories and branches to build components of ROCm.

To build ROCm-OpenCL-Runtime "roc-ocl-3.0.0" branch from https://github.com/RadeonOpenCompute/llvm-project (fork) should be used.

To build ROCm-Device-Libs "amd-std-open" branch from https://github.com/RadeonOpenCompute/llvm-project.git (fork) should be used.

And to build AOMP "AOMP-191029" branch from https://

[2019-12-31 23:09] johnutz-PNSR commented on #962
@skeelyamd
Today is tuesday and i collected the rocm-2.9 opencl and hsa lib debs:
http://repo.radeon.com/rocm/apt/2.9.0/pool/main/h/hsa-ext-rocr-dev/hsa-ext-rocr-dev_1.1.9-122-ge5c4efb_amd64.deb
http://repo.radeon.com/rocm/apt/2.9.0/pool/main/r/rocm-opencl/rocm-opencl_1.2.0-2019100138_amd64.deb
I can confirm that the rocm-3.0 libhsa-ext-image64.so.1.1.9 is the source of the crash.
here is my testi

[2020-01-01 21:40] csuji commented on #977
Same here after upgrading from 2.10 to 3.0-6 with  Vega Frontier card.
[code]

How do you guys do regression testing???

[2020-01-02 00:36] wxsatman commented on #977
New to ROCm stack but have used AMD OpenCL before.

I just tried to ROCm on OpenSuse from Yum repository and I assume I am having the same problem?

I first upgraded to Kernel 5.4 so Kernel support should be there

/opt/rocm/bin/rocminfo gives reasonable results (splits ThreadRipper into 4 agents??) then shows as below for GPU.

When I run /opt/rocm/opencl/bin/x86_64/clinfo I get as below:

Number

[2020-01-02 00:54] wxsatman commented on #977
I will note that I looked at the rpm's that were installed from repository, as below, and noticed that opencl* has a 2.0.0 as part of version where other important rocm stuff has 3.0.0 is it right or should there be a later version of the opencl* packages??

linux-k3mw:/home/goesmgr # rpm -qa | grep rocm
hipcub-2.9.0.88_rocm_rel_3.0_6_6ee0aed-1.x86_64
rocrand-2.10.0.656_rocm_rel_3.0_6_b9f838b-1.x8

[2020-01-02 09:51] preda opened #989 "Codegen: missed optimization: v_bfe"
Using ROCm 2.10, RadeonVII, OpenCL
[code]

Is compiled to
[code]

While it could be compiled to a single fast instruction:
[code]

There should be a way to get the compiler to use the v_bfe without having to use assembly.

[2020-01-02 09:53] preda commented on #987
#977

[2020-01-02 14:31] drtpotter opened #990 "Unstable memory copies between host and Radeon VII from multiple threads (ROCM OpenCL)"
Hi there,

I recently bought a Radeon VII and I've been experimenting with ROCM for an OpenCL-enabled research code. The application uses multiple threads to stream data in and out of multiple OpenCL compute devices and uses host memory to store and synchronize the information to host memory between iterations.

I've been using clEnqueue(Read|Write)BufferRect to facilitate the memory copies. This

[2020-01-02 16:09] b-sumner commented on #989
There are multiple ways to avoid assembly.

Use the amd_bfe() function from the OpenCL cl_amd_media_ops2 extension.

Use the __builtin_amdgcn_ubfe() clang builtin.

[2020-01-02 16:30] b-sumner commented on #989
Also, we're going to look into why we're missing this in the first place.

[2020-01-03 03:25] toshi2k2 commented on #294
@baerbock Pretty big douche aren't you?

[2020-01-03 05:38] theRippedPug commented on #375
Won't be too hard either. Rust has amazing C FFI and I don't see much c++ here. But I'm still new to ML and I might be wrong but i would love to see a ROCm crate.

[2020-01-03 13:45] boxerab opened #991 "valgrind error"
Reproducer can be found [here](https://github.com/GrokImageCompression/latke)

[code]

[2020-01-03 17:04] WalterPiTheScienceGuy commented on #953
Very similar issue with point 2 in different iteration (install instructions for ROCm v3.0), so using same thread.
https://rocm.github.io/ROCmInstall.html

The resulting rocm.list file looks more like a manual for gpg then anything meaningful, and it produces the error on next step (sudo apt update):

"""
waltp@waltp-HP-Pavilion-Laptop-15z-cw100:~$ sudo apt update
E: Type 'gpg' is not known on lin

[2020-01-03 17:25] WalterPiTheScienceGuy commented on #953
Oh, I see.  The typo was fixed for the GitHub Readme text but not the website-style presentation at https://rocm.github.io/ROCmInstall.html
I deleted rocm.list and then followed the corrected Readme text, and now it's fine. :)

[2020-01-03 17:34] WalterPiTheScienceGuy commented on #953
Duplicate of #957

[2020-01-03 18:35] WalterPiTheScienceGuy commented on #883
I just produced the exact same readout with AMD Ryzen 5 3500U as dduzzi (except my BFID was 768).
My rocm-opencl version is '2.0.0-rocm-rel-3.0-6-9a4afec'
Regarding the 'Segmentation fault (core dumped)', I also got that last night when trying a customized ROCm implementation specifically for AMD Ryzen (gfx902) by 'Bruhnspace ROCm project for AMD APUs'.  I decided to reinstall Ubuntu today and try

[2020-01-03 19:48] WalterPiTheScienceGuy commented on #883
Update:  I installed ROCm v2.9 instead of v3.0, and now 'clinfo' works!

Results of rocminfo and clinfo below:
---------------------------------

waltp@waltp-HP-Pavilion-Laptop-15z-cw100:~$  /opt/rocm/bin/rocminfo
ROCk module is loaded
waltp is member of video group
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MH

[2020-01-03 22:14] athas opened #992 "Segmentation fault on clGetPlatformIDs in process also with an OpenGL context"
I'm using ROCm 3.0 on NixOS via [this repository](https://github.com/nixos-rocm/nixos-rocm).  While NixOS is a strange distribution, ROCm has not been unusually patched from what I can see, so while the paths will look strange in the following, the actual functionality should be the same as upstream.

I have an odd issue where OpenCL via ROCm works fine, *unless* I try to initialise it in a proces

[2020-01-04 00:06] rerrabolu commented on #962
All,

Reading through the comments on this issue I surmise the following:

- Seg fault occurs in "hsa_amd_image_get_info_max_dim" method
- OpenCL app clinfo can be used to trigger this seg fault
- The seg fault can be avoided by removing Images library from the load path

I tried to see if anything jumps out in a diff between ROC 2.9 vs 3.0 releases. Initial review does not hint at something obvio

[2020-01-04 00:42] johnutz-PNSR commented on #962
Hi @rerrabolu!

here is rocminfo on our UDOO Bolt V8:
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (0xFFFFFFFFFFFFFFFF) (timestamp co
unt)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
Agent 1
*******
  Na

[2020-01-04 16:28] l29ah commented on #374
Do GFX6 cards lack some necessary hardware features for amdkfd support?

[2020-01-04 17:22] talentoscope commented on #374
This report is closed. Ask a question in a forum or on IRC or something

[2020-01-04 22:50] preda commented on #989
Thank you! it's good to know about the alternatives to __asm(), but neither amd_bfe() or __builtin_amdgcn_ubfe() are OpenCL-portable. Ideally we'd like a pure-C (OpenCL) solution that is compiled optimized by clang targeting GCN, but is also portable e.g. to OpenCL on Nvidia GPUs.

The "pure C" candidate I see for low-bits is ((word32 << (32 - bits)) >> (32 - bits)), or for bits between n and m: (

[2020-01-04 22:53] preda commented on #977
@rkothako : is there a way to upgrade from ROCm 2.10 to ROCm 3.0, OpenCL only, without dkms? Please let me know how I can do this upgrade.

[2020-01-05 17:42] b-sumner commented on #989
Understood.

FWIW, it is "portable" to use preprocessor symbols to guard code for a given platform or extension, e.g. in this case you could use #ifdef cl_amd_media_ops2 to guard use of amd_bfe.

[2020-01-05 18:33] boxerab opened #993 "Memory access fault"
Error is:

`Memory access fault by GPU node-1 (Agent handle: 0x555afc5a0640) on address 0x508400000. Reason: Page not present or supervisor privilege.`

Reproducer [here](https://github.com/GrokImageCompression/latke/tree/mem_error) : run the debayer test app.

I have checks in the kernel to make sure that writes are not out of bounds, but I still get an error.
It goes away if I add 1 to the size

[2020-01-05 18:35] boxerab commented on #952
What is odd is that if this build parameter is removed, then my kernels will not find include files in the same directory. So, it is needed, and there should not be a warning.

[2020-01-05 18:45] Moading commented on #993
Hi,
I'm hunting a similar bug in my application. I am getting the impression that my bug shows up on Polaris but not on Vega, but that is just a feeling.

The output of 'dmesg' will tell you if your kernel is performing an invalid read or an invalid write.

What hardware (GPU) are you using?

[2020-01-05 19:12] boxerab commented on #993
Aha! I am also using Polaris - RX 470

[2020-01-05 19:14] boxerab commented on #993
From `dmesg` :

[code]

[2020-01-05 19:50] Moading commented on #993
The access fault happens on Polaris and on Vega after removing the +1 in debayer.cpp.
Here is the output obtained with rocr_debug_agent, maybe that helps.

.../latke-master/build$ ./debayer

Platform found : Advanced Micro Devices, Inc.

Selected Platform Vendor : Advanced Micro Devices, Inc.
Device 0 : gfx906+sram-ecc Device ID is 0x5595e906f7d0
Device 1 : gfx906+sram-ecc Device ID is 0x5595e9206

[2020-01-05 20:00] boxerab commented on #993
Thanks! So, it does look like a buffer overrun.

[2020-01-05 21:05] boxerab commented on #993
So, the issue turned out to be: I am writing out a `uchar3` to a buffer by casting to a pointer, but  but `sizeof(uchar3)` actually equals 4, so this is causing a buffer overrun.

[2020-01-05 21:06] #993 closed

[2020-01-06 06:42] ITfirewall commented on #884
Hi heero-yuy, how are you?

Long long time... I didn't come here, but I tested sometime ago the ROCm 2.9 in ubuntu 16.04 and the same problems still, ''OpenCL error'''!!! (I was working in other country, far from my home.)

I can't belive, ROCm devs. don't fix the problems with OpenCL!!!
I see a lot of people having problems in ''Issues page''!!
What developers are doing???

Ty.

[2020-01-06 09:12] abuccts opened #994 "Document GPU Isolation techniques"
Hi, I'm wondering the correct usage of `ROCR_VISIBLE_DEVICES`, and seeking for a method to isolate AMD GPUs for Docker (like [nvidia-container-runtime](https://github.com/NVIDIA/nvidia-container-runtime) can hide unmounted devices in `nvidia-smi`).

---

According to some search results, there're two environment variables for GPU isolation in ROCm:
* `HIP_VISIBLE_DEVICES` in HIP application (above

[2020-01-06 12:12] rkothako commented on #977
Hi @preda and all,
We have found the root cause the problem and the workaround is given below.
After upgrading OpenCL-only-ROCm from 2.10 to 3.0, just install the packages on top of it: comgr rocm-smi-lib64
(sudo apt install comgr rocm-smi-lib64)
Then clinfo will start working.

[2020-01-07 01:05] heero-yuy commented on #884
Hi,
Until now the ROCm 3.0 released with openCL module can't be operated on some situation from inplace upgrade by package manager, and if available, please use the Ubuntu 18.04.3 with new install ROCm package, thanks!

[2020-01-07 08:18] csuji commented on #977
Does not work for me with Ubuntu 18.04.3 LTS and kernel 5.0.0-37-generic, Vega Frontier card. Can please post a step by step guide and test the next release with some common distributions? Thanks!

[2020-01-07 08:59] rkothako commented on #977
Steps to follow:
1. Install OpenCL only ROCm for 2.10
sudo apt install rock-dkms rocm-opencl-dev
2. Upgrade to ROCm 3.0
sudo apt upgrade
3. Run clinfo
/opt/rocm/opencl/bin/x86_64/clinfo --> Clinfo fails to run
4. Install comgr rocm-smi-lib64
sudo apt install comgr rocm-smi-lib64
5. Run clinfo
/opt/rocm/opencl/bin/x86_64/clinfo --> Clinfo runs well

[2020-01-07 10:19] preda commented on #977
@rkothako thank you, but I am talking about an install *without* rock-dkms, as is required when using a recent kernel that is not supported by rock-dkms. Did you try your instructions on a system with Linux kernel 5.4 or 5.5?

[2020-01-07 10:33] csuji commented on #977
@rkothako Thanks, this works for /opt/rocm clinfo. Problem is now (or still since I though that was the fix) that leela zero (https://github.com/leela-zero/leela-zero Go engine with OpenCL) fails to compile all 290 kernel it tries during tuning (worked with 2.10):
`./leelaz --benchmark -t6 -w somenet_downloaded_network.gz
Failed to compile: 290 kernels.
Failed to find a working configuration.
Chec

[2020-01-07 10:34] preda commented on #989
Yes #ifdef is fine; portable without #ifdef is even better.

In gpuowl we do use __asm() when targeting GCN, can't do without as the performance gradient to naive ROCm OpenCL is too important unfortunately. In order to have the code also compile on CUDA OpenCL we do use #ifdefs indeed. (it is unfortunate that there is not an #if guard for detecting whether __asm() is supported, so we had to make u

[2020-01-07 18:07] csuji opened #995 "ROCm 3.0 fails to tune OpenCL kernels with Leela Zero or KataGo"
Configuration: Vega Frontier card and
[code]
When trying to tune Leela Zero (this worked with 2.10):
[code]

When trying to tune with KataGo (this did not work with 2.10 or 2.x version I tried):
[code]

To reproduce just check out repo https://github.com/leela-zero/leela-zero or https://github.com/lightvector/KataGo. Follow build instructions.
Download trained neural network.
Run.

[2020-01-07 20:28] johnutz-PNSR commented on #962
Hi @rerrabolu !
Where you able to learn anything from my posting of the rocinfo output? Please let me know when you get a moment.
Tnx!
johnu

[2020-01-07 22:42] eshcherb commented on #909
You can set "obj-tracking=on" by default in the profiler rc file 'rpl_rc.xml'.

Configuration file:
  You can set your parameters defaults preferences in the configuration file 'rpl_rc.xml'. The search path sequence: .:$HOME:<package path>
  First the configuration file is looking in the current directory, then in your home, and then in the package directory.
  Configurable options: 'basenames', '

[2020-01-07 23:41] gandryey commented on #990
Hello,
Could you switch to single OCL context and prepin **array** (using clCreateBuffer() with CL_MEM_USE_HOST_PTR)  before calling the **worker** function? That should avoid the crash and improve performance.

[2020-01-08 00:13] rerrabolu commented on #962
I am trying to reproduce the error on a system that I can access. Currently limited by it.

[2020-01-08 00:14] rerrabolu commented on #962
Will update the once I have more info

[2020-01-08 00:33] johnutz-PNSR commented on #962
Couldnt ask for anything more! Thankyou very much!

[2020-01-08 01:27] ivallesp commented on #984
any help?

[2020-01-08 03:41] iotamudelta commented on #984
Since you observe CPU memory exhaustion, could you elaborate on your host setup? How much RAM do you installed, what OS and kernel is running on the host, can you see which process is eating up the memory (is it the python process?)?

For future reference: we are monitoring https://github.com/ROCmSoftwarePlatform/pytorch/ issues closely, so if you have future issues do not hesitate to open them th

[2020-01-08 05:23] mk2016a opened #996 "Which version of tensorflow is supported in ROCm 3.0 ?"
When I upgrade the new ROCm, the old tensorflow 2.0 not work at all.

I think it only supports the newest tensorflow framework.

Thanks for snapshort of the disk.  I rolled back before upgrade.

[2020-01-08 05:49] mk2016a opened #997 "Which version of ROCm will support Mac OS?"
Apple is the biggest company buying amd's graphics card.
Why amd can not provide ROCm or hip on Mac?
Even Nvidia which not selling card to Apple support cuda on Mac OS.
Why amd's software support is so much worse than nvidia?

[2020-01-08 06:00] mk2016a commented on #262
It is not a problem with apple.
Apple now has its Creative ML which is easy for app developer to use.
Even the cuda support old Mac system.
How could AMD be so much worse ?
I think Apple should not use AMD graphics card at all.
Price of a Mac is far more enough for them to Nvidia's best graphics cards.
Because of the lower cost of its product, now we can only use stupid AMD's graphic card with alm

[2020-01-08 12:36] drtpotter commented on #990
Hi there,

Cheers for this comment, it appears though that the example above has revealed some threadsafety shortcomings with the ROCM OpenCL implementation on Radeon VII. If these were addressed it would certainly improve the library, which is what we all want. By reducing the number of threads to the number of OpenCL devices (1 thread and 1 context per device) I was able to avoid the crash, but

[2020-01-08 14:12] Radddder commented on #997
I guess it's not about the video card. This is mainly related to system adaptation.

[2020-01-08 15:09] dmcdougall commented on #909
@eshcherb The error message currently says

[code]

But it could be updated to instead say

[code]

Just a thought.  This would make it easier for the user to address the problem if there is a good reason code object tracking is not on by default.

[2020-01-08 16:17] drtpotter commented on #990
As an update I modified the implementation to pre-pin the memory with CL_MEM_ALLOC_HOST_PTR and mapping before passing memory to the threads. With 1 context and 1 thread per device mem copies are still much slower on the Radeon VII than on the other devices.

[code]

[2020-01-08 17:01] wxsatman commented on #977
rkohato & all

Looked and I have the comgr and rocm-smi packages installed and it is not working.

I am using OpenSuse and 5.4 Kernel as a result the rock-dkms is not used/needed.

I have a "clean" install of just the 3.0 version from the latest zypper repository:

zypper ar http://repo.radeon.com/rocm/zyp/zypper/ rocm-repo

In my post earlier it shows the rocm related packages that were installed

[2020-01-08 20:28] stylemistake commented on #938
Be careful installing his binary releases. He has provided no build scripts, patches or complete instructions on how to build it yourself.

[2020-01-08 22:28] dagamayank commented on #996
@sunway513

[2020-01-08 22:31] sunway513 commented on #996
Hi @mk2016a , please refer to the following doc on ROCm3.0 compatible tensorflow-rocm pypi packages:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md
In addition, you can use the following command to upgrade the tensorflow-rocm package to the latest available:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/deve

[2020-01-08 22:31] #996 closed

[2020-01-08 22:39] sunway513 commented on #994
Hi @abuccts , the following instructions might help:
Pass selected GPU driver interfaces (/dev/dri/render#) to Docker container. e.g. use the following docker run command option to select the first GPU:
`sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri/renderD128 --group-add video`
You'll see four interfaces for your 4 GPU system:
`$ ls /dev/dri/render*`
`/dev/dri/renderD128

[2020-01-08 23:59] gandryey commented on #990
Unfortunately I can't reproduce the reported issues with the latest(prepin) logic, but I use Ubuntu and have more recent base driver. I would suggest to check 19.50 base driver. Also clinfo dump can be more helpful to identify the exact config on your system.

[2020-01-09 03:25] iotamudelta commented on #984
I've run the script for the full 30 epochs and memory consumption of the python process on host never exceeded 4.6 GB RES. I think that's good news insofar as it doesn't seem to be fundamentally broken. My environment was a ROCm 3.0 docker, recent PyTorch, Radeon VII, Ubuntu 19.10 with stock Linux 5.3 kernel (no rocm-dkms). So as noted before it'd be very important for you to share your setup so t

[2020-01-09 09:12] mk2016a commented on #997
Well, the truth is old cuda, nvidia 1080ti, and tensorflow gpu works pretty well on el capitan or high sierra, but the new one doesn't even have a driver.
How could a company making so much profit from Mac users provide such worse software support than the one which not profitting at all.
Although Nvidia put cuda on Mac system must for a large mount of profit. But how could AMD whose graphics card

[2020-01-09 15:40] drtpotter commented on #990
I found the cause of the issue, I upgraded to the 19.50 driver didn't help, nor did downgrading my kernel to the operating system default (4.12). Reinstalling CUDA for my GTX 1060 without the nvidia-drm kernel module caused everything to start working properly with the Radeon VII and this example. So it appears the problem wasn't with ROCM but interference from another vendor's kernel driver?

[2020-01-09 15:40] #990 closed

[2020-01-09 16:16] dagamayank commented on #979
@IceFlowerLi This is a duplicate of another [issue](https://github.com/ROCmSoftwarePlatform/pytorch/issues/546) you filed. I am closing this one; lets continue our discussion on the PyTorch repo.

[2020-01-09 16:16] #979 closed

[2020-01-09 16:20] dagamayank commented on #855
MIOpen supports `bfloat16` on Radeon VII using software emulation. As correctly stated by @ekuznetsov139 Radeon VII does not have native HW acceleration for `bfloat16`.

@witeko  @IIIBlueberry please try out this feature and report any issues you encounter on our TensorFlow [repo](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream).

[2020-01-09 16:20] #855 closed

[2020-01-09 16:22] dagamayank commented on #821
Are you looking for [MIGraphX](https://github.com/ROCmSoftwarePlatform/AMDMIGraphX)? Please try out and provide us feedback on that repo.

[2020-01-09 16:22] #821 closed

[2020-01-09 23:07] Degerz commented on #997
How about you start blaming Apple instead ?

The reason why AMD software support is "so much worse" than Nvidia is solely down to Apple's own incompetence ...

You want to know why any Nvidia GPU after Kepler doesn't work on macOS Mojave or later ? It's because Apple doesn't want to approve their web drivers or want anyone using CUDA on their platforms!

Troll AMD all you want for having "worse su

[2020-01-10 08:17] abuccts commented on #994
Hi @sunway513, thanks for your response.

I knew that using `--device` flags works for ROCm as I described, like for nvidia gpus
[code]
but nvidia-container-runtime also provides a capability to use `NVIDIA_VISIBLE_DEVICES` to achieve it
[code]

Both commands work on host, but __the second one__ is useful in Kubernetes. ROCm Docker only works with __the first one__.

There is a [device plugin](htt

[2020-01-10 10:39] mk2016a commented on #997
Maybe get some points.
You mean they can not support Windows while cuda on win for so many years because of the same reason, that Microsoft does not allow them to build their version of hip or rocm?

Linux is a good choice because of its efficiency but it is still not stable enough and not easy to repair the errors of the system or the software.

Mac OS is some kind of open system, the darwin syst

[2020-01-10 14:07] pettai commented on #907
Just curious;
You run Ubuntu 19.10 + ROCm 2.9 (+working graphics then the monitor is attached).
Did you manage to install rock-dkms/rocm-dkms without this issue ( Ref. https://github.com/RadeonOpenCompute/ROCm/issues/969 ) ?

[2020-01-10 14:21] pettai commented on #907
Did you try run clinfo as root vs a regular user (added to the video group)?
clinfo also reports 0 devices for me, but it reports all radean vega cards then I run clinfo as root.
I can also run an opencl application if I run it as root.

[2020-01-10 16:21] sunway513 commented on #994
Thanks @abuccts for elaboration.
cc @y2kenny for AMD K8s support.

[2020-01-10 21:57] seesturm commented on #995
For Leela Zero: With a minor change in src/kernels/clblast/xgemm_part2.opencl
[code]
at least "tuning" is finishing. But when running the tests some other OpenCL error is shown
[code]

[2020-01-11 00:34] Degerz commented on #997
Maybe fix your ignorance first ?

Windows is a red herring BTW so CUDA on Windows =/= CUDA on Linux ...

With Windows, Nvidia has to work around the limitations of WDDM so CUDA has comparatively more limitations on Windows compared to Linux. Those same limitations in WDDM prevent AMD from being able to port their HSA kernel driver thus by extension ROCm as well since Microsoft isn't cooperative en

[2020-01-11 09:56] mk2016a commented on #997
You mean there will never be a ROCm on Mac? But why Cuda support the old Mac OS?

[2020-01-11 10:52] Degerz commented on #997
I already told you why, it's Nvidia who makes the drivers for Mac OS but it's **_Apple's decision_** to approve them and they don't want to ...

Apple does not even allow either AMD or Intel to make their own drivers for Mac OS but it's Apple who solely provides driver support for their hardware ...

That's why even Intel thinks supporting oneAPI/DPC++ (another CUDA competitor) on Mac OS is a wast

[2020-01-12 13:13] csuji commented on #995
Ok, thank you @seesturm ! I saw that error too when trying to compile the dumped gemm kernel via /opt/rocm/bin/x64/clang. The author of leela zero used the code from https://github.com/CNugteren/CLBlast a few years ago when he started the project. They have already changed this function call because another OpenCL implemenation had problem with this passing of private pointer to a function with no

[2020-01-12 13:38] csuji commented on #995
One of the problematic kernels during tuning
[lz_1_gfx900.cl.gz](https://github.com/RadeonOpenCompute/ROCm/files/4050687/lz_1_gfx900.cl.gz)

[2020-01-12 18:31] emaimx commented on #651
I am trying to build ROCm on my Solus machine with a Vega M.  So far I have build everything in the following repo :
https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime
https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface
https://github.com/RadeonOpenCompute/ROCR-Runtime/
https://github.com/RadeonOpenCompute/rocminfo/
and installed the files :
libhsa-runtime64.so
libhsakmt.so
libOpenCL.s

[2020-01-12 23:06] securelyfitz commented on #651
are you a member of the group 'video'?
to find out:
`groups`
if not, run:
`sudo usermod -a -G video $LOGNAME`
you may have to logout completely and log back in for your groups to be updated so that running `groups` shows video.

[2020-01-12 23:33] mk2016a commented on #997
This is really bad for apple. By the way, will there be a verson for windows developing now?

[2020-01-12 23:34] #997 closed

[2020-01-13 03:14] Degerz commented on #997
Don't expect HIP on Windows this year and possibly next year as well ...

Without cooperation from Microsoft to do some invasive changes to the Windows graphics kernel, it'll hold up HIP support on Windows for quite a while ...

This is why Linux is the uncompromising future for GPGPU compute. CUDA has limitations on Windows and does not support a Mac OS anymore. HIP relies on several components o

[2020-01-13 08:55] emaimx commented on #651
@securelyfitz Yes my user is in video.

[2020-01-13 13:34] csuji commented on #995
KataGo uses newer version of CLBlast as well.
Core dump is reproducible when using CLBlast:
[code]

[2020-01-13 20:28] b-sumner commented on #973
@gwoltman thank you for these comments.  We definitely realize we have work to do in this area, and understand the value of doing so.

We would like to look more deeply at the carryFused kernel, but we don't see a unit test for it.  In fact, the only test mentioned in the repo is the self-test, and it's not clear that it uses this kernel at all.  Is a unit test something that you or preda can help

[2020-01-13 21:21] y2kenny commented on #994
@abuccts It's unclear to me why a custom container runtime is needed to pass in an environment variable.  According to [Docker run documentation](https://docs.docker.com/engine/reference/commandline/run/), -e is a standard flag.  What prevents you from `sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri/renderD128 --group-add video -e ROCR_VISIBLE_DEVICES=0`?

[2020-01-13 21:43] rerrabolu commented on #962
Hi,

I was able to reproduce the error on a device. We know the fix. Given current release process, I am afraid I can't give a date when a fix will become available for general public. In the interim, removing images library from loader list will help unless image specific functionality is needed.

[2020-01-13 21:57] johnutz-PNSR commented on #962
@rerrabolu This is very good news! Thankyou for your efforts!
I recognize that this is a closed source component but nonetheless, can you tell me some details about the error?
Does it only occur with RavenRidge?
Is it along the lines of a falling thru a switch statement that doesnt contain a RavenRidge entry?
Or is it something else entirely?

Tnx!

johnu

[2020-01-13 22:14] johnutz-PNSR commented on #962
@rerrabolu , i ask about the bug's mode of failure because the image functionality seems pretty essential to our current development efforts on ryzen. Would using the 2.9 lib-ext-image64.so provide us the image functionality we need?

[2020-01-13 22:18] gwoltman commented on #973
Start with ROCm 2.10 (there may be a bug in gpuowl using ROCm 3.0).
git clone https://github.com/preda/gpuowl.git
cd gpuowl
make

To test all is working, run gpuowl thusly:  "./gpuowl -prp 95300003"
You should get output lines that look like this:
2020-01-13 17:04:27 gfx906+sram-ecc-0 95300003 OK        0 loaded: blockSize 400, 0000000000000003
2020-01-13 17:04:29 gfx906+sram-ecc-0 95300003 OK

[2020-01-13 23:10] searlmc1 commented on #972
Hi,

Could you please let me know if this is reproducible with ROCm 3.0 ?

Thanks

[2020-01-14 02:05] gwoltman commented on #973
Also,  "./gpuowl -prp 95300003 -time"  will output the time spent in each kernel.

[2020-01-14 02:32] se11en commented on #972
Ever since I updated to ROCM3.0 the problem never happened again.
Thank you for your attention.

[2020-01-14 02:34] #972 closed

[2020-01-14 08:29] kalaluthien opened #998 "ROCm support for gfx1010?"
Is ROCm v3.0 fully support gfx1010? Especially `tensorflow-rocm` (tf2.0).

[2020-01-14 12:44] jcdutton commented on #977
I have a similar problem. Kernel 5.4.6 from mainline.  ROCm from git: Version 3.0
rocminfo show the GPU. clinfo show no GPUs.
I turned some debug on in clinfo, and it outputs this:
[clinfo-debug.txt](https://github.com/RadeonOpenCompute/ROCm/files/4059157/clinfo-debug.txt)

It looks to me that the following error messages are what is wrong:
:1:/usr/src/rocm/ROCm-OpenCL-Runtime/opencl/runtime/devic

[2020-01-14 13:26] jcdutton commented on #977
Doing an strace gives some more info:
This call is failing:
[pid 12036] mbind(0x7f2650200000, 1052672, 0x8001 /* MPOL_??? */, [0x0000000000000002], 3, 0) = -1 EINVAL (Invalid argument)
As this is from within a binary only lib, I do not have the associated source code.

More of the strace:
[pid 12036] write(2, ":1:/usr/src/rocm/ROCm-OpenCL-Run"..., 115:1:/usr/src/rocm/ROCm-OpenCL-Runtime/opencl/run

[2020-01-14 15:16] omerferhatt commented on #998
#819 You can check it from "Supported Hardwares" on documentation. For now you can use ROCM like graphic driver, not for computational operations. tensorflow-rocm still don't have any support for gfx1010 (navi) based cards.

[2020-01-14 16:15] rerrabolu commented on #962
One of the modules ROCr Images initializes is addrlib. The failure is in that code. It is rather Asic specific. I will be surprised if you are able to use 2.9 as it too would suffer from the same problem. You can find open sourced addrlib here: https://github.com/mesa3d/mesa/tree/master/src/amd/addrlib

I don't know if there is a way to share a pre-release version of the library. I will let Sean,

[2020-01-14 16:44] johnutz-PNSR commented on #962
@rerrabolu thankyou for explaining that.

what's noteworthy is that the crash doesn't happen if i use the current released code and replace the current lib-ext-image64.so with the 2.9 version.

When you say you will be surprised if i am able to use the 2.9 version do you mean that you would expect it to crash just like the 3.0 version does or that it wont perform the correct image behaviors despit

[2020-01-14 17:05] rerrabolu commented on #962
Thanks for confirming that using 2.9 is able to get around the issue. This will allow the fix to flow through the normal process.

I was expecting 2.9 to crash as well. I have not looked into 2.9 code base to determine if it will result in some incorrect image behaviors. I will try to look into it and update my observations here, I am going on break starting tomorrow.

[2020-01-14 19:21] johnutz-PNSR commented on #962
@rerrabolu is there a sample test app that i can use to demonstrate the image stuff is working correctly?

[2020-01-14 22:49] jcdutton commented on #977
I think I have worked out what the problem is when running clinfo not finding vega gpu card:
[pid  4130] mbind(0x7f6ed7266000, 4096, 0x8001 /* MPOL_??? */, [0x0000000000000001], 3, 0) = 0
[pid  4130] mbind(0x7f6dc0400000, 1052672, 0x8001 /* MPOL_??? */, [0x0000000000000002], 3, 0) = -1 EINVAL (Invalid argument)

This is trying to mbind to node0 (success) and then tries to mbind to node1 (fails).
T

[2020-01-15 05:14] gwoltman commented on #973
If you like optimizer mysteries, I have more.  For example, "./gpuowl -prp 95300003 -time -use LESS_ACCURATE" eliminates 6 or so lines of code but runs slower.  I think it is the fftMiddleIn and/or fftMiddleOut kernels that are slower with no change in occupancy.

[2020-01-15 11:43] abuccts commented on #994
**In short, Kubernetes prevents me to use `--device` flag in Docker, and device plugin is not enough for GPU device in some scenarios.**

My goal is not to pass an env only, but to let `-e ROCR_VISIBLE_DEVICES=0` do what `--device=/dev/kfd --device=/dev/dri/renderD128 --group-add video` do (through a custom container runtime).
Just like for NVIDIA runtime, `-e NVIDIA_VISIBLE_DEVICES=0` will do the

[2020-01-15 14:29] JoranMichiels commented on #883
Same problem with AMD Ryzen 7 PRO 3700U, installing ROCm v2.9 instead of v3.0 solved it.

[2020-01-15 16:32] DeadEnded commented on #981
Just did a fresh install on Ryzen 2400G and getting this too... anyone have an idea when it might be addressed?

[2020-01-15 19:32] y2kenny commented on #994
@abuccts Ah ok, so this is not really a `docker run` question but how to get the environment variable into the k8s environment.  I think there's already a pull request for this on the device plugin side.  I just need to review and merge that.

[2020-01-16 01:23] derekwin commented on #987
I got the same error when I install on ubuntu19，and my gpu is  RX580.

[2020-01-16 02:02] tgwaste commented on #987
I decided to just use 18.04 and the standard drivers.
Get them and then just do:

[code]

Super simple.  Both my Vegas work perfectly now.

[2020-01-16 02:33] derekwin commented on #987
Thank you .

[2020-01-16 05:15] y2kenny commented on #994
Yup, that's the PR.  I am hesitating on the PR because I am thinking the respective runtime should be made container aware instead of me hacking in the environment variables like this.  I also need to figure out is how 3 of our env vars (HIP_VISIBLE_DEVICES, ROCM_VISIBLE_DEVICES, GPU_DEVICE_ORDINAL) sort their GPUs.  The PR do it by sorting the PCI address, but I am not sure that's correct.  @sunw

[2020-01-16 05:24] sunway513 commented on #994
cc @gargrahul @skeelyamd @kentrussell for comments...
From my experiences, ROCR_VISIBLE_DEVICES isolates GPU resources pretty well.

[2020-01-16 06:56] soham-d opened #999 "Support R7 M360"
Can anyone please confirm if GPU AMD Radeon R7 M60 is supported by ROCm?

[2020-01-16 11:18] kalaluthien commented on #998
Thanks for your reply!

[2020-01-16 11:18] #998 closed

[2020-01-16 19:16] gargrahul commented on #994
@sunway513 Yes I agree though in my opinion with HIP/VDI (not using ROCr on Windows) coming up, it would be recommended to continue using HIP_VISIBLE_DEVICES.

[2020-01-16 20:25] Tzigamm opened #1000 "All OpenCL programs hang on Solus"
I'm currently trying to package ROC 2.10.0 for Solus and I ran into an issue, I'm using a RX5700XT with an AMD A10-6700 and I'm running kernel 5.4.8.

At the moment I think ROCr-Runtime is working fine as rocminfo reports my GPU correctly, I'm having a problem with ROCm-OpenCL-Runtime though. As soon as a program tries to start OpenCL it hangs and use 100% of a CPU core. For instance, clinfo hangs

[2020-01-17 03:04] y2kenny commented on #994
@gargrahul How does HIP sort the devices?  i.e.  how do you tell which device in the machine is 1 and which is 2?

[2020-01-17 08:56] ddobreff commented on #1000
#998

[2020-01-17 11:09] mritunjaymusale commented on #998
Agreed, I have a 5700xt and I pulled the pytorch docker image and it didn't run the examples

[2020-01-17 20:16] smartbitcoin commented on #938
@stylemistake This is just prototype to confirm how far Navi from ROCm.  You should NOT install this binary on any critical system and it's far from product ready also.
Use spare PC , clean format and test it is proper way.  and I am not very sure the quality of this porting ( lots of changes is based on assumption, and NO confirmation from AMD yet).

Now I am trying working on navi for rocm3.0 wi

[2020-01-17 20:18] smartbitcoin commented on #938
Fully function Navi need linux kernel > 5.3 , which ubuntu 18.04 missing, that's why I start from ubuntu 19.10.

[2020-01-17 22:11] witeko opened #1001 "can You please update ROCM to support 5.3+ kernels?"
ubuntu 18.04 has started to update to 5.3

[2020-01-18 01:06] stylemistake commented on #938
That is awesome news! PyTorch has also released recently with an official ROCm support, so I'm even more inclined to try building it myself, but the process is quite hacky. Some docs would be really handy. :ok_hand:

[2020-01-18 18:18] preda opened #1002 "OpenCL codegen: poor optimization of #VGPR used"
On ROCm 2.10, RadeonVII

In GpuOwl, the change referenced below speeds-up a big kernel by more than 33% by passing two arguments referencing the same memory buffer (thus the same data) instead of one in order to disable the ROCm optimizer from caching the data, once read, into VGPRs. This reduces the number of VGPRs used by the kernel from 156 to 125 and thus increases occupancy from 1 to 2.

| ta

[2020-01-19 23:11] jcdutton commented on #977
FIX FOUND:
My PC has 2 RAM chips.  16GB per chip.  Previously both chips were on node0. As per the motherboard manual for installing 2 chips.
If I move the RAM so that 1 chip is on node0 and the other chip is on node1.
clinfo now detects my GPU.
So, my advice for the people seeing this problem is to re-arrange the RAM chips into different slots.
This bug still needs fixing thought. Or at least a m

[2020-01-20 06:18] kerbowa commented on #1002
@preda would you be able to share steps on how to reproduce your observations?

[2020-01-20 08:38] preda commented on #1002
Repro steps:

1. check out the gpuowl project: https://github.com/preda/gpuowl . (recommended: check out the most recent version on the master branch)
2. compile using either make or scons: simply invoke "make" or "scons" in the source dir
3. run with:
./gpuowl -pm1 95339399 -B1 30000
You need to wait a bit (about 1minute) until "stage-2" of P-1 is reached -- this is indicated by "P2" in the log l

[2020-01-20 09:16] Tzigamm commented on #1000
Okay so you think it could be navi related? In that case wouldn't rocminfo throw an error?

[2020-01-21 09:16] mritunjaymusale commented on #887
Bump.
Still wondering if the support is there or not?

#998

[2020-01-21 23:38] Rmalavally commented on #998
Refer the "Hardware and Software Support" section in ROCm Release Notes or documentation. For now, you can use the ROCm-like graphic driver, however, not for computational operations. Tensorflow-rocm does not support gfx1010 (navi)-based cards.

[2020-01-22 02:59] smartbitcoin opened #1003 "Will rocm repo accept a pull request for adding Navi support for HCC & HIP?"
HI dear official rocm team:
There are long time since Navi launched and ROCm still missing Navi support yet.  There are lots of improvement in rocm 3.0 codebase for Navi to functional well.  Meanwhile, MyROCm porting to navi for hcc and hip component, seems stable now. So I would like contribute this patch to rocm git, but I am not sure if AMD have the any decision on Navi support from rocm yet.
W

[2020-01-22 13:34] pbelevich opened #1004 "How to represent NaN compatible with ROCm?"
I tried to use std::nan("") and std::nanf("") but got this:

error:  'nan':  no overloaded function has restriction specifiers that are compatible with the ambient context ...

[2020-01-22 19:50] vvsteg commented on #851
The problem does not exist in ROCm 3.0. So I am closing the issue.

[2020-01-22 19:50] #851 closed

[2020-01-22 22:46] AlexVlx commented on #1004
Soft assigning to @b-sumner since this is his area of expertise.

[2020-01-22 22:47] AlexVlx commented on #1003
Soft assigning to @b-sumner since he might have more insight.

[2020-01-22 23:19] b-sumner commented on #1004
HIP (and Cuda) provide float nanf(const char *) and double nan(const char *) device functions to create NaNs.

[2020-01-23 16:56] omerferhatt commented on #1003
For fun fact, committing AMD's repo with NVIDIA Geforce RTX profile photo. Made me smile

[2020-01-23 17:37] pbelevich commented on #1004
thanks!

[2020-01-23 17:37] #1004 closed

[2020-01-24 00:38] hardymanm commented on #920
The same issue  with Ubuntu 18.04 kernel 4.15.
Hardware Specs:
Dell Inspiron I5 : Processors Intel® Core™ i7-4510U CPU @ 2.00GHz × 4
Graphics AMD Radeon R7 M265 and Intel® HD Graphics 4400 (HSW GT2)

/opt/rocm/bin/rocminfo no response or killed
/opt/rocm/opencl/bin/x86_64/clinfo no response or killed

[2020-01-24 12:01] ddobreff commented on #1003
Its opensource project? Why would AMD block your PRs? Just submit for review.

[2020-01-25 08:36] markkdev commented on #987
@tgwaste is this something you do after installing rocm-dkms ? I'm just starting out and I keep running into issues with multi gpu use. Running a vega 64 and rx580. Thanks

[2020-01-25 16:33] tgwaste commented on #987
No, you cant have both together.  Start with a fresh system then do the steps I posted.  Obviously you need to go to AMD site and download the drivers.  This **amdgpu-pro-19.30.tar.xz** is just for reference. I'll update my post with the download link.

[2020-01-26 02:18] markkdev commented on #987
@tgwaste appreciate that. So is rocm not even needed for tensorflow training on AMD? I was under the impression that that's what gave AMD GPUs the capability.

[2020-01-26 20:34] mritunjaymusale commented on #1003
Can you tell how to install your binary ? I have a 5700xt I would like to test it for pytorch.

[2020-01-27 08:14] frranck commented on #999
Hi Soham, did you try it? I have a similar card.

[2020-01-27 08:54] vvsteg opened #1006 "Status of Hawaii support under ROCm 3.0?"
My test server runs under Ubuntu 18.04 with the 4.15.0-60-generic kernel. There are 2 GPUs in the system: 1) Radeon RX Vega gfx900 card that works correctly with ROCm 3.0 and 2) S9150 gfx701 card that experiences problems.

As far as I understand from https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/68, the problems with Hawaii architecture support have been solved.

However on my system I

[2020-01-27 13:11] jcdutton opened #1007 "clinfo crashes on upstream kernel 5.5.0"
clinfo hangs when run on kernel 5.5.0
clinfo works fine on kernel 5.4.15

dmesg output below

[2020-01-27 13:13] jcdutton commented on #1007
[clinfo-bad1.log](https://github.com/RadeonOpenCompute/ROCm/files/4117258/clinfo-bad1.log)

[2020-01-27 13:17] jcdutton commented on #1007
GPU is a AMD Vega 56

[2020-01-27 18:35] arigit commented on #704
@RvRijsselt hi again - when you get a chance would you be able to take a look at the following discussion:

https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/issues/103

One of the ROCM devs is asking for specific tests with the problematic ocl kernel that you may have done already during your extensive tests and analysis. Thanks again!

[2020-01-28 10:45] vvsteg commented on #1006
After Ctrl-C `dmesg` reports
[code]

[2020-01-29 00:09] vvsteg commented on #1006
If a simple `hip` kernel is complied by `hipcc` with `--amdgpu-target=gfx701` and executed on S9150 (after `export HIP_VISIBLE_DEVICES=1`) then `dmesg` shows
[code]

[2020-01-29 12:07] jcdutton commented on #987
FIX (Workaround) AVAILABLE:  As per: https://github.com/RadeonOpenCompute/ROCm/issues/977

My PC has 2 RAM chips. 16GB per chip. Previously both chips were on node0. As per the motherboard manual for installing 2 chips.
If I move the RAM so that 1 chip is on node0 and the other chip is on node1.
clinfo now detects my GPU.
So, my advice for the people seeing this problem is to re-arrange the RAM ch

[2020-01-30 17:47] smartbitcoin commented on #1003
MyRocm for navi only provide hcc and hip support for gfx1010, which is a compiler.
For pytorch support,  it also need MIOpen, rocBlas, rocRand component. I once tried to compile rocBlas, but this lib use tons of asm. Even it also have a default hip implementation , I still failed to build a working lib as it need some some opencl dependencies somewhere.

[2020-01-30 17:50] wis commented on #938
I'm not downloading sketchy binaries, open source it

[2020-01-30 17:54] smartbitcoin commented on #1003
@mritunjaymusale > Its opensource project? Why would AMD block your PRs? Just submit for review.

Opensource project have community driven or corporate driven. For community driven project, you can just PR and wait the response.   For company driven project,  it have certain policies, like product support range, functionality required etc.

ROCm is a AMD leading project, if your PR not align with

[2020-01-30 19:04] smartbitcoin commented on #938
@wis > I'm not downloading sketchy binaries, open source it

does anybody force you download it ?  if yes,  could you sue them ?  or could you just patch it by yourself?

If you are here try to help ,  could you please ask AMD add opensource support for Navi?

What make your think that I'll care about what you need when AMD who sold you their NAVI don't care about you at all?   lol

[2020-02-01 11:15] cryptomilk commented on #1001
Are you sure that this isn't a bug in Ubuntu?

I'm running

`Linux magrathea 5.4.14-1-default #1 SMP Thu Jan 23 08:54:47 UTC 2020 (fc4ea7a) x86_64 x86_64 x86_64 GNU/Linux`

and it works just fine with ROCm 2.10.0.

[2020-02-01 14:08] witeko commented on #1001
Im talking about the DKMS driver, its currently restricted to kernels up to 5.0,
Your are probably using the "upstream kernel" driver which doesnt suit me.

[2020-02-01 22:00] kbix2000 opened #1008 "RX580 - clinfo stucks and never show any result"
Hello,

I have several RX580 and I want to try deep learning with tensor flow on it.

I chose ubuntu 18.04.3 LTS as OS
I followed the instructions here : https://rocm.github.io/ROCmInstall.html

At the end of the instructions below it advice to run these:
 /opt/rocm/bin/rocminfo
 /opt/rocm/opencl/bin/x86_64/clinfo

rocminfo works perfectly and here is the result :
[code]
But when I run  /opt/rocm/

[2020-02-02 10:22] valeriob01 commented on #310
Problem in multi-gpu systems: unique_id for card0 is empty. Files missing.
Other cards work fine...
card0 : empty
card1,2,3 : not empty.

[2020-02-02 19:35] briansp2020 commented on #1008
I don't think Sandy Bridge is supported since it does not support PCIe Atomic operation. Xeon V3
 is Haswell. So, ROCm only supports Haswell or newer Xeons.

see https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support

[2020-02-03 10:26] ohms-law opened #1009 "Repository not signed"
Hi there,

under Tumbleweed I installed from the

http://repo.radeon.com/rocm/zyp/2.10.0/

repository.

zypper complained that neither repo nor files are signed.

Do you see a possibility to change that?
Would something like openSUSE Build Service be an alternative?

[2020-02-03 13:40] kentrussell commented on #310
@valeriob01 That's definitely peculiar since they're all the same card. Does dmesg say anything regarding card0 (try attaching the full dmesg here for me to take a look, as well as the full "rocm-smi -a --alldevices" output)?  If there are different sysfs files like that, then maybe there's something going on with that card. Maybe dmesg/SMI output will help me figure out what's up

[2020-02-03 13:46] valeriob01 commented on #310
Thanks for look in At The issue.

Il Lun 3 Feb 2020, 14:40 Kent Russell <notifications@github.com> ha scritto:

[2020-02-03 13:49] kentrussell commented on #310
Not a problem. Once you get a chance to attach the dmesg/SMI output, hopefully it will illuminate the issue and help us to get you back to having 4 identical cards :)

[2020-02-03 13:56] valeriob01 commented on #310
Thanks, the reason is that we use unique_id to identify the card in the program gpuowl for trustworthiness.

[2020-02-03 14:18] kentrussell commented on #310
That makes sense. If you're using KFD Topology for anything, there is a "location_id" field inside the properties file (e.g. /sys/class/kfd/kfd/topology/nodes/0/properties) which is a decimal representation of the PCI location, so that can always work in a pinch. But the fact that your one card isn't doing what it's supposed to means we should get that figured out, since that GPU might not work pr

[2020-02-03 14:36] valeriob01 commented on #310
Ah, for that gpuowl works extremely resilient to errors...

[2020-02-04 16:09] akostadinov commented on #904
@rkothako, would you share whether there are chances to see this soon? Or should I expect that a longer delay is expected?

[2020-02-04 16:16] fred41 commented on #402
Thank you!
That works perfectly for me with: `rocm-opencl` apt package (3.0) and 'libamdocl64.so' from 'opencl-amdgpu-pro-icd_19.50-967956_amd64.deb'

[2020-02-05 17:04] Ian-Mint opened #1010 "Install ROCm on Ubuntu without affecting display"
I am running Ubuntu 18.04, and I have tried two different strategies to install ROCm.

[1] following the instructions here: https://github.com/RadeonOpenCompute/ROCm#Ubuntu

This does work, but when I reboot, I am limited to very low resolution.

[2] install rocm with amdgpu-pro following these instructions: https://www.amd.com/en/support/kb/faq/gpu-635

And the installation fails with the error:

[2020-02-05 20:48] JMadgwick commented on #1007
The homepage doesn't mention support for those kernels. Maybe try following the instructions for using upstream kernels?

[2020-02-06 09:17] rkothako commented on #1001
We will have ROCm 3.1 which supports 5.3 kernel also.

[2020-02-06 11:57] Lucretia commented on #1006
Would be nice if AMD responded.

[2020-02-06 18:13] jithunnair-amd commented on #953
Actually, I think the https://rocm.github.io/ROCmInstall.html page still needs some finessing. In the "Ubuntu" section, the "|" pipe command is formatted into a table for whatever reason, so it isn't evident that the two commands are to be given on the same line. Also, a copy paste of the command provided (`echo ‘deb [arch=amd64] http://repo.radeon.com/rocm/apt/debian/ xenial main’`) (ie. with sin

[2020-02-06 18:53] emerth commented on #858
@sos-michael

Sorry I took a long time to post back. This has proven to be rather Heisenberg-ish.

I got my defective card replaced, and that solved the problem of the module fail. However the BIOS still refused to map the entire 16GB address space of the two cards, but only mapped a 2MB window. This was some months ago in Fall, 2019.

In January 2020 I gave it another go becuase ROCm 3 came out.

[2020-02-06 18:59] jithunnair-amd commented on #953
More nits:
https://rocm.github.io/ROCmInstall.html:
1. The below needs to be separated out into two commands:
`sudo apt update sudo apt install rocm-dkms`
2. The commands in the `By default, add any future users to the video group` section are missing the "|" operator again. This also needs to be corrected in the [wiki doc](https://github.com/RadeonOpenCompute/ROCm#installing-a-rocm-package-from-a

[2020-02-06 19:32] JMadgwick commented on #858
Presumably, if nothing else changed except for the version of ROCm, then that must have been what fixed it? At least you can close this now. One of the lucky few for whom thinks are fixed by new versions, rather than broken...

[2020-02-06 20:45] witeko commented on #1001
@rkothako thx :)

[2020-02-06 21:59] emerth commented on #858
James, are you here just to muddy the waters and confuse the issues?

PCIe BARs are set up before the kernel even loads, during PCIe bus autonegotiation, a hardware level thing. ROCm new version did not cause the motherboard to decide to map the VRAM differently. ROCm, being a collection of software running atop an operating system, does not have the ability to reset or set up the memory mapping b

[2020-02-06 22:13] akostadinov opened #1011 "clinfo ERROR: clGetPlatformIDs(-1001) on ROCm 3.0/RHEL7.7"
Hello, tried to isntall ROCm 3.0 on RHEL 7.7. First removed old install and followed [guide](https://rocm-documentation.readthedocs.io/en/latest/Installation_Guide/Installation-Guide.html#preparing-rhel-v7-7-7-for-installation).

<details>
 <summary>rocminfo is fine (click to expand)</summary>

[code]
</details>

clinfo not:
[code]
I have read #682 but not the same
[code]

I read [hipinfo debuggin

[2020-02-06 22:18] JMadgwick commented on #858
If what you say is true then the new version of ROCm won't have made any difference. It  would also mean that your problem had nothing to do with ROCm, the kernel module or Linux at all. In which case this issue should be closed and you should discuss the matter with the manufacturer of your motherboard as I mentioned before.

Except that you claim not to have changed anything on the motherboard.

[2020-02-06 22:34] emerth commented on #858
I quote from my OP:

I quote your answer to my OP:

I quote from your answer to my response to that:

I quote from my comment to sos-michael, who actually had a reasonable suggestion:

And your response to that:

Nowhere did I say ROCm causes the problem. Quite the opposite, in my OP I say I think it's a hardware problem and asked for confirmation. And asking at ROCm is the right place to ask beca

[2020-02-07 21:35] MatPoliquin commented on #977
I have a similar issue with clinfo, after installing rocm 3.0 in a fresh install of Ubuntu 19.04 with kernel 5.0. My gpu is a RX580

Output of clinfo
`Number of platforms:				 1
  Platform Profile:				 FULL_PROFILE
  Platform Version:				 OpenCL 2.1 AMD-APP (3052.0)
  Platform Name:				 AMD Accelerated Parallel Processing
  Platform Vendor:				 Advanced Micro Devices, Inc.
  Platform Extensions:

[2020-02-08 00:13] MatPoliquin commented on #869
After Installing ROCm 3.0 I have again the same issue as before, please see my previous reply in this thread for details

[2020-02-09 11:38] dduzzi commented on #883
@JoranMichiels  @WalterPiTheScienceGuy  @luyatshimbalanga

Thanks a lot for everyone.
I sell the R5 laptop and back to MacBookPro 13.

there are solution after I sell the laptop. lol I should maintain keep it.

I have plan to buy Ryzen Renoir laptop and I will use non-gpu mode of machine learning library for a while. the problem may appear agin.

Thanks again, and take care virus.

[2020-02-10 15:29] jboero commented on #474
Hi I know this is an older thread but this has been driving me nuts too and I figured I'd put the workaround in here for record.  The fix is painfully pathetic.  There is a typo - it should be looking for "libamdocl64.so" but someone fat fingered "libamdoclcl64.so" so I managed to get it working by symlinking my rocm "libamdocl64.so" to "/usr/lib64/libamdoclcl.so" which fixes it and I can finally

[2020-02-10 15:57] cryptomilk commented on #474
Normally you don't need need libamdoclcl64.so. This shipped with the proprietary driver. However there seems to be a bug in ROCm 3.0 and it looks like one fix is symlinking to libamdoclcl64.so

See also https://github.com/RadeonOpenCompute/ROCm/issues/977

[2020-02-10 19:41] JMadgwick commented on #1006
Hawaii has been dead since December 2018. See #871 for more info.
AMD has never replied to any of the issues bringing it up. There are even rumours that early GCN will lose _amdgpu_ kernel support.
The last Hawaii GPU were launch close to 5 years ago now. At this point I would be very surprised if AMD even commented on this problem let alone fixed it. There are certainly aware of the issue just un

[2020-02-10 20:40] preda commented on #977
Is AMD still investigating how to get OpenCL to keep working after an update to ROCm 3.0? Otherwise maybe the oficial solution could be posted here..

[2020-02-11 07:24] vvsteg commented on #1006
As you certainly know, there is a special section on gfx701 in the compiler docs https://llvm.org/docs/AMDGPUUsage.html#amd-gcn-gfx7

I still believe that AMD will provide the appropriate support for FirePro GPUs. In the post-Moore era hardware performance changes not so quickly as before. And these GPUs are still quite usable for many.

[2020-02-11 09:21] Lucretia commented on #1006
Yes they are. If @AMD don't fix this, why should anyone buy their cards again? They release cards and then drop support straight away, because they've got a new one coming out. The whole premise of open source on their end is false because if that were the case we'd be able to look at the docs and fix the drivers ourselves. Then there's the binary blob firmware which has had bugs in, can't fix tha

[2020-02-11 17:00] simone-nai commented on #883
Hi everyone

I have similar problem, but a little different.
**Looks like it can't get my username.**

And I add also this, if can be helpful to find the bug: user and group for folder opencl looks like this number **1001**

You're doing a great work with this software...
I kindly ask to try to find the bug, I need to use ROCm asap  ^_^

Peace and love,
Simone

[code]

[code]

[2020-02-12 09:09] vvsteg commented on #1006
@Lucretia I agree. It is very disappointing... From my perspective, enabling this quite old gfx701 architecture in ROCm at some decent level of functionality would stimulate the community interest for further development.

[2020-02-12 09:56] Lucretia commented on #1006
I wouldn't say 5 years old is that old, they were still available a few years ago really. NV support their cards well into the future, AMD need to do the same. It's not like they don't have access to the hardware.

[2020-02-12 11:04] ddobreff commented on #1001
Latest LTS kernel is 5.4. Is it going to be supported too?

[2020-02-12 18:41] ableeker commented on #977
In #474 crytomilk suggests to symlink rocm libamdocl64.so to /usr/lib64/libamdoclcl.so. I installed 3.10. I found libamdocl64.so in /opt/rocm/opencl/lib/x86_64, so I symlinked libamdoclcl.so to it. This didn't work however, clinfo still claims to have found no devices. And opencl programs, luxmark 3.1 for instance, still refuse to work. If I remove 3.0, and install 2.10, everything's working fine

[2020-02-13 01:28] pfotouhi opened #1012 "Changing number of available CUs"
I'm studying scaling of a variety of compute workloads, and I was wondering if there is a way to adjust the number of CUs?

I came across a [similar discussion](https://github.com/RadeonOpenCompute/ROC-smi/issues/5) where use of "hsa_amd_queue_cu_set_mask()" was suggested. Since this requires changing the applications source code, are there any other alternative approaches that can achieve the sam

[2020-02-13 08:33] cryptomilk commented on #977
Not really. libamdoclcl64.so (double cl) seems to be only part of the proprietary driver. It shouldn't be required for ROCm.

Either the kernel interface has changed in 3.0 and hasn't been updated in one of the recent kernels or there is an issue in ROCm 3.0 with upstream kernels which needs fixing. However I think with ROCm 3.1 the issue will be addressed. Just stay with 2.10 till it is released.

[2020-02-13 09:31] jcdutton commented on #977
Well, I had this problem. I have kernel 5.4.6 working with ROCm 3.0 on a Vega 56 with a AMD 1950X cpu.
I diagnosed the problem to a bug in the AMD binary blob bit of ROCm. ROCm is not 100% open source.
Please see my previous posts here for the work around. I.e. Move RAM chips.
The problem is related to NUMA. So it only affects CPUs that have more than 1 node, which I think, at this point, is only

[2020-02-13 14:36] dmarcuse commented on #977
@jcdutton could you share your code? I'd like to test my system (Ryzen 3700X and Vega 56) and I'm also just curious about it :stuck_out_tongue:

[2020-02-13 19:36] jcdutton commented on #977
[rocm3.0-test.c.txt](https://github.com/RadeonOpenCompute/ROCm/files/4200605/rocm3.0-test.c.txt)

Compile with:
gcc -g -O0 -c -o rocm3.0-test.o rocm3.0-test.c
gcc -g  -o rocm3.0-test rocm3.0-test.o -lnuma

Example of good output:
# ./rocm3.0-test
You have 2 CPU nodes
CPU Node 0 has RAM. OK
CPU Node 1 has RAM. OK
CPU Nodes and RAM layout checked. This should work with ROCM 3.0

[2020-02-13 22:02] ableeker commented on #977
@jcdutton thanks for the code. It compiled just fine. The output for my computer:

You have 1 CPU nodes
CPU Node 0 has RAM. OK
CPU Nodes and RAM layout checked. This should work with ROCM 3.0

Its a PC with an Intel i5-4460 Haswell CPU, and 16 GB RAM, 4 x 4GB RAM. So all 4 slots are filled. Unfortunately rocm opencl 3.10 isn't working, clinfo says 0 devices, and opencl programs don't work, or cras

[2020-02-14 00:16] jcdutton commented on #977
@ableeker
Ok, good, you don't have the RAM layout bug.
Please post the output from rocminfo

[2020-02-14 10:41] Lucretia commented on #1006
@fxamd

[2020-02-14 18:16] dmarcuse commented on #977
@jcdutton Thanks for posting your script! Unfortunately it doesn't seem to be accurate for my machine. It reports that it should work, outputting the following on both Linux 5.5 and Linux 5.4:
[code]
However, on Linux 5.5, `clinfo` and `rocminfo` both segfault. Both work properly in Linux 5.4 (LTS), leading me to believe that something was changed in one of the kernel modules in 5.5 that broke com

[2020-02-14 18:32] jcdutton commented on #977
@dmarcuse
Yes, 5.5 is a problem. See https://github.com/RadeonOpenCompute/ROCm/issues/1007
I have the same problem with 5.5.

The test program is only testing one edge case, that causes clinfo to fail to recognize a GPU. There might be other reasons rocm 3.0 does not work.
In which case, running "rocminfo" helps diagnose that.

[2020-02-14 18:40] jcdutton commented on #1011
You need to install (the small binary blob bit of ROCM):
libhsa-runtime64.so

[2020-02-14 19:26] dmarcuse commented on #977
Ah, I didn't realize there was a separate issue for 5.5. Hopefully they'll both be fixed soon.

[2020-02-15 11:13] dundir opened #1013 "ROCM fails with supported hardware on mainboard Asus Prime B450-Plus Ryzen CPU/APU combo"
Good Evening, I had rocm 1.8 set up and running awhile back but only with a single card and I just ended up reinstalling and bringing everything up to the latest versions.

Initially I seemed to be getting hit with the segfault issue on a 5.3.0-28 18.04 LTS ubuntu kernel after install (fresh OS) when running both rocminfo/clinfo on version 3.0. Quite a number of other people seem to be having this

[2020-02-15 11:58] ableeker commented on #977
@jcdutton

ROCk module is loaded
ableeker is member of video group
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (0xFFFFFFFFFFFFFFFF) (timestamp count)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
Agent 1

[2020-02-15 12:22] ableeker commented on #977
I had installed rocm-opencl, had put the user in the video group, and added the udev rule. This was working well with 2.10, but failed to work with 3.0. For 3.0 I've installed all packages mentioned here as well, except rocm-dkms/rock-dkms, because I'm using Ubuntu 19.10 with kernel 5.3. rocminfo is the only one that sees the device (gfx900) it seems.

rocm clinfo:

Number of platforms:				 1
  Pl

[2020-02-16 03:18] pfotouhi commented on #1012
More on this one, can "hsa_amd_queue_cu_set_mask()" used somewhere inside rocprof to disbale CUs while profiling?

[2020-02-16 14:32] jcdutton commented on #977
@ableeker
Check that you have the following files:
/opt/rocm/lib/libhsakmt.so.1.0.6
/opt/rocm/hsa/lib/libhsa-runtime64.so.1.1.9
/opt/rocm/opencl/lib/x86_64/libamdocl64.so
/opt/rocm/opencl/lib/x86_64/libOpenCL.so.1
/dev/kfd
/usr/lib/x86_64-linux-gnu/libnuma.so.1.0.0
/dev/shm/hsakmt_shared_mem
/dev/shm/sem.hsakmt_semaphore
/etc/OpenCL/vendors/amdocl64.icd

[2020-02-16 17:36] ableeker commented on #977
@jcdutton
These files aren't all present, /dev/shm is empty, so hsakmt_shared_mem, and sem.hsakmt_semaphore are missing.

[2020-02-16 18:09] ableeker commented on #977
@jcdutton
Heh... I had another look, and the files in /dev/shm are now present. So all files in the list are present. But clinfo still claims there are no device, and clopencl applications aren't working.

[2020-02-16 23:14] jeffk95 commented on #889
#1005 fixed the issue for me (Ubuntu 19.10 / Vega 56)

[2020-02-17 07:48] dundir commented on #1013
After quite a lot of trial and nonsensical output/errors, I cannot stress enough the need to completely cold boot the system when anyone is troubleshooting and making any kind of BIOS setting changes with the ASUS Prime B450+ Mainboards (Possibly other Boards which support APU's as well).

It is not enough to simply reboot, or power-off, or do a quick toggle of your physical switch on the PSU unit

[2020-02-17 13:51] akostadinov commented on #1011
@jcdutton , thanks a lot for the info! I'll try as soon as I get back home next week.

In the past that was not needed and I don't see this in the installation guide? Do you know how to do it? I'll check the RPM repo but asking in case it is somewhere else.

[2020-02-17 18:21] happycube opened #1014 "run_test failure with current rocm3.0_ubuntu16.04_py3.6_pytorch image on gfx906"
I tried to follow the instructions in https://rocm.github.io/pytorch.html with rocm3.0_ubuntu16.04_py3.6_pytorch so I can use Python 3... the test invocation needs to be changed to this:

[code]
and it mostly works, but I get these test errors:

[code]

[2020-02-17 18:54] BloodyIron commented on #955
Anyone? It's February and Ubuntu 20.04 is just around the bend. Really don't want to wait 2 years to keep up with features, that's just way tooooo slow.

[2020-02-17 18:55] BloodyIron commented on #955
Hmm, re-enabled the repo for "xenial" and seems to build fine, now to reboot and see if my computer explodes.

[2020-02-17 19:15] BloodyIron commented on #955
Yeah still getting errors

`Building initial module for 5.3.0-40-generic
Error! Bad return status for module build on kernel: 5.3.0-40-generic (x86_64)
Consult /var/lib/dkms/amdgpu/3.0-6/build/make.log for more information.
dpkg: error processing package rock-dkms (--configure):
 installed rock-dkms package post-installation script subprocess returned error exit status 10
dpkg: dependency problems

[2020-02-18 16:47] BloodyIron commented on #955
I tried switching to ROCM 2.9 (method https://github.com/RadeonOpenCompute/ROCm/issues/284#issuecomment-539095892 ) and the building of the rocm-dkms module still fails.

I really wish that we would get some sort of actual response here. I'm on 5.3 and this should work with ROCM 3, and I'm really not sure why 2.9 is failing now as I had it working before. Now I don't have any openCL with AMDGPU, c

[2020-02-18 16:48] BloodyIron commented on #907
I'm not having any luck getting ROCM working with 19.10. I've tried 2.9, 2.10 and 3.0. I had 2.9 working before, unsure how I was able to get that working now that I think about it. Was really hoping ROCM 3.0 would work for me, since it supposedly works with Linux 5.3 that's now in 18.04.4.

:(

I'd be open to any keen ideas!

[2020-02-19 21:15] emerth commented on #787
<...>

I thought I would share my experience in this regard, though I know your work was 1 year ago. You posts here were helpful in understnading what was going on with my cards.

Using a pair of Radeon VII cards with an X370 Asus Tuf mainboard, the cards would be mapped low with 256 MB windows. The system also had a ConnectX-2 card and a Samsung 960 PCIe3 x4 NVME SSD.

Removing the ConnectX-2 had

[2020-02-20 11:04] TheEmbbededCoder opened #1015 "Voltage in PowerTable not being respected - Vega 64 FF - ROCm 3.0"
I'm trying to characterize how does the GPU power and performance changes in undervoltage scenarios, but when I change the voltage in the PowerTables and select the desired performance level for the GPU Core, the voltage is the same as for the default settings.

I'm running **CentOS 7.5** with **ROCm 3.0**.

I've followed the instalation instructions from [git/ROCm](https://github.com/RadeonOpenCo

[2020-02-20 12:54] extraymond commented on #886
Hi! I've tried setting up rocm in a lxd container.
Here's the needed setup if anyone is interested.

After setting up rocm the way would've done on the host, assumed the following:
1. you are in the video group
2. you've allow /dev/kfd to be access by video group.

We can now use lxd's config device option to expose the host's devices with the correct permission so that the guest container can acc

[2020-02-20 14:13] #1015 closed

[2020-02-20 16:46] nikAizuddin commented on #1015
@TheEmbbededCoder Hi, did you solved the problem?

[2020-02-20 20:33] jcdutton commented on #977
@ableeker
You could try:
strace -f clinfo 2>strace.txt
and then post the strace.txt file.
It might give some indication on where it is failing.

[2020-02-20 23:54] Artem-B commented on #969
@pqyptixa https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/pull/87 should help with the build errors you've reported above.

[2020-02-21 02:34] smithakihide commented on #886
really? thank you very much to tell me your trial!.

I' ll try it too.

[2020-02-21 08:12] jkrautter commented on #977
Not sure if this will help anyone here, but I compiled both ROCm 3.0 and 2.10 entirely from source on my slackware64-current system and ran into the same problems as described here (rocminfo finds everything, clinfo doesn't).
The solution was that I messed up my compile order, causing comgr to be compiled without AMDDeviceLibs. During device initialization with clinfo, it was unable to compile som

[2020-02-21 08:57] nuu9323226 opened #1016 "How can I get the code rocm-dkms 1.8 or 1.8.3 Debian?"
sorry,i have a question.
I need to get the previous version for some reasons, but these files are all deleted on the official Debian repository. I wonder if there is still a chance to download version 1.8 or 1.8.3 Debian
Do you know how to get?
Only the oldest historical version is only retained until 1.9.3
http://repo.radeon.com/rocm/apt/1.9.3/

[2020-02-21 09:24] TheEmbbededCoder commented on #1015
I just noticed that if I'm using the default frequency (in this case 1600 MHz for the level 7), the voltage does not respect what I wrote for that level, the GPU uses the default 1200 mV. However, If I put any other frequency (for example 1601 MHz or 1599 Mhz), the voltage that I write to that level starts to be respected by the GPU.
I don't understand this behaviour, I don't see it written anywhe

[2020-02-21 12:14] PhilipDeegan opened #1017 "ROCM conflicts with openmpi"
I'm not trying to use either of my GPUs, is there a simple way to prevent them being picked up via mpirun?

[code]

[2020-02-21 12:28] PhilipDeegan opened #1018 "ROCmInstall.html typos"
not sure what happened over at https://rocm.github.io/ROCmInstall.html
but it looks like some "|" pipe characters are not there, or rendering anymore

[code]

this doesn't make sense as it's missing the pipe before "sudo"

[2020-02-21 16:19] valeriob01 commented on #1018
On Debian sudo is not installed by default I think. The command should be:

su -c 'tee -a /etc/adduser.conf'

[2020-02-21 17:34] seesturm commented on #1018
The instructions got broken with [this commit](https://github.com/RadeonOpenCompute/ROCm/commit/f0d15004a0c7fa61c87e014da347c9765f7cdcd9#diff-04c6e90faac2675aa89e2176d2eec7d8) and have not been really fixed since. The last good version (maybe a bit outdated) of README.md is [this](https://github.com/RadeonOpenCompute/ROCm/tree/a899984e4e46f81bf0b5aedb32c538579da4651e).

Wrt Debian: The instruction

[2020-02-21 17:51] valeriob01 commented on #1018
Obviously it work on Debian I use it all the time. All my machines are Debian with ROCm.

[2020-02-21 17:53] valeriob01 commented on #1018
PS: Just needs to modify the install procedure a bit and it works.

[2020-02-21 18:43] ableeker commented on #977
@jcdutton: I sure can! Here it is:

`execve("/usr/bin/clinfo", ["clinfo"], 0x7ffcf78394c8 /* 57 vars */) = 0
brk(NULL)                               = 0x562828eb5000
arch_prctl(0x3001 /* ARCH_??? */, 0x7fff9e4e44f0) = -1 EINVAL (Invalid argument)
access("/etc/ld.so.preload", R_OK)      = -1 ENOENT (No such file or directory)
openat(AT_FDCWD, "/etc/ld.so.cache", O_RDONLY|O_CLOEXEC) = 3
fstat(3, {st

[2020-02-21 21:09] akostadinov commented on #1011
@jcdutton , I see the following line in log above:
[code]
The file is there. Or is there another file to be installed? I can't see any other package providing a library with that name. Could you point me at proper package or download location?

[2020-02-21 23:45] jcdutton commented on #977
@ableeker
I have looked at the strace.
It appears you are missing:
libtinfo.so.5

[2020-02-22 10:18] LambisElef commented on #955
I'm also having the same issues with Ubuntu 19.10 Kernel 5.3. I didn't try with ROCm 2.9. Please reply.

[2020-02-22 10:32] nikAizuddin commented on #955
I haven't tried rock-dkms on Ubuntu 18.04. But using upstream kernel driver with Linux kernel 5.2.0-rc1 works for me on Ubuntu 18.04.

[2020-02-22 12:05] mritunjaymusale commented on #938
At this point, I am starting to think, I wasted my money on 5700xt.

[2020-02-22 12:16] ableeker commented on #977
@jcdutton
I've symlinked libtinfo.so.5 to libtinfo.so.6.1 (which is installed), but that didn't help.

[2020-02-22 12:35] jcdutton commented on #977
@ableeker
That will not work. You need to install version 5.
Which distro version do you have?
Installing this might help:
ncurses-compat-libs

[2020-02-22 16:08] BloodyIron commented on #969
@Artem-B any idea when that will make it to the PPA?

[2020-02-22 16:32] Artem-B commented on #969
For myself, I've fixed it directly in the sources installed by the package, but that's not a good option for most people.
As for when it will make it into the package repo -- I don't know. Hopefully soon.

[2020-02-22 16:56] BloodyIron commented on #969
Ubuntu 19.10

So I purged all rock and rocm packages, then disabled the main repo, and enabled the 2.10 rocm repo. Installed rocm-dkms and it failed part way through. But now clinfo actually shows device info.

However, the program I care about for openCL here, DaVinci Resolve, keeps getting "stuck" at "Loading Waveform Monitor". And I'm not sure if it will ever finish laoding.

I've rebooted, and

[2020-02-22 17:05] BloodyIron commented on #969
So I purged all rock and rocm packages from 2.10, switched to 2.9 repo, and installed the package "rocm-opencl" and now DaVinci Resolve is actually launching! I appear to have a working openCL setup now (time will tell if this is true).

FYI,

* Ubuntu 19.10
* AMD RX580
* 5.3.0-40-generic #32-Ubuntu SMP Fri Jan 31

If you're unfamiliar with how to enable the earliier repos, this is the active line

[2020-02-22 17:06] ableeker commented on #977
@jcdutton
I'm running Ubuntu 19.10 x64. I've removed the symlink, and have installed libncurses5. I've tried all kind of tips from this thread that were suggesting packages were missing, but no luck so far. This tip however, made clinfo actually work! I haven't installed ncurses-compat-libs, but libncurses5 seems to have done the trick. I then tried some applications I know of that use OpenCL, dar

[2020-02-22 17:07] BloodyIron commented on #977
Thanks to @preda and pointing out "rocm-opencl". I was able to get openCL working on my AMD RX580 now on Ubuntu 19.10. I had to switch back to the ROCM PPA for 2.9, then installed that package, and now I have a working openCL environment (and in-turn DaVinci Resolve) so far anyways.

Thanks! I have not had success with ROCM 3.0 or other methods at this time.

[2020-02-22 22:28] ScarFez opened #1019 "Install script / app ?"
Is there any app or install script for any Linux distribution that can install the current version of ROCm in the correct order ?

If so, please en light me; which Distro and version and where it can be obtained

[2020-02-23 05:14] valeriob01 commented on #1019
This is for a minimal ROCm installation for Debian:

[code]

[2020-02-23 05:17] valeriob01 commented on #1019
however ROCm 3.0 will not work, substitute 'debian' with the previous ROCm version.

[2020-02-23 12:19] ableeker commented on #977
I wanted to clean up ROCm and OpenCL, so I removed everything (hopefully 2.10 as well as 3.0), and re-installed only the 3.0 versions of rocm-dev, and rocm-opencl-dev. I was confident that 3.0 would work after this, because this time I had installed libcurses5. Alas!, clinfo reported 0 devices, and programs that use OpenCL refuse to work. Am I missing something? Do I need to install another packag

[2020-02-23 16:07] Dekken commented on #1017
I had compiled OpenMPI 4.0.(2?) locally when this began.
I didn't happen with OpenMPI 3.x from apt (buster-backports) or MPICH (latest from source)

Removing rocm* from via apt allowed mpirun to complete, not exactly ideal!

[2020-02-23 16:26] valeriob01 opened #1020 "gpuOwl Fails with Memory Access Fault Error"
"Issue: gpuOwL is an OpenCL-based program for testing Mersenne numbers for primality. Currently, running gpuOwl for higher probable prime (PRP) values results in a Memory Access Fault error.

Note, the issue is noticed only when using higher PRP values.

Resolution: As a workaround, you may use lower PRP values."

This Resolution is not valid as PRP values are growing.

[2020-02-24 00:44] jcdutton commented on #977
@ableeker
This time it is looking for:
/opt/rocm/lib/libamd_comgr.so
If it was all working, why "fix" it ?

[2020-02-24 10:35] preda opened #1021 "OpenCL codegen: make use of the GCN VOP3 output modifiers"
The GCN VOP3 instructions offer an output modifier which is a multiplication by 0.5, 2, or 4 *for free*. OTOH the generated code for OpenCL never uses these output modifiers. This is a pity -- the generated code does not use GCN to its full power.

Please enable OMOD (output modifiers) in the generated code, at least when compiling with -cl-fast-relaxed-math.

[2020-02-24 11:32] preda commented on #1021
To illustrate, this OpenCL fragment
[code]
Is compiled to
[code]
but the second instruction (v_mul_f64) becomes unnecessary if OMOD were used.

[2020-02-24 13:53] Moading commented on #1020
Hi,
have you tried to track down the problem with rocr_debug_agent? (https://github.com/ROCm-Developer-Tools/rocr_debug_agent)
I had a memory access fault in my application that I tried to find for months without luck. rocr_debug_agent pointed me to the right location in the code.
You need a Vega GPU, older ASICS are not supported.

[2020-02-24 14:19] Moading opened #1022 "OpenCL Compiler Phase Selection and Ordering"
Howdy OpenCL fans,
I came across a paper called "Improving OpenCL Performance by Specializing Compiler Phase Selection and Ordering" (https://arxiv.org/pdf/1810.10496.pdf). I am wondering if the same technique could be applied to OpenCL kernels in ROCm as well. If what the authors claim is true, there might be a significant gain in performance for OpenCL kernels. There have been numerous posts her

[2020-02-24 15:10] valeriob01 commented on #1020
and Radeon VII is supported?

[2020-02-24 15:14] Moading commented on #1020
Yes

[2020-02-24 15:36] b-sumner commented on #1021
@preda output modifiers are not compatible with denorms so at a minimum the options would have to include -cl-denorms-are-zero.  However, we have no plans to support denorm flushing for double precision where most users care more about accuracy.

[2020-02-24 18:20] ableeker commented on #977
@jcdutton
To clean stuff, I've switched between 2.10, and 3.0 dozens of times, and I've installed all kinds of packages (tips from people) trying to get 3.0 working. Besides, I'd like to find a foolproof way to install a working 3.0.

The good news is, I've found it! Prepare the same way as for 2.10: repo, video group, udev rule. Then install ROCm: install rocm-dkms, or rocm-dev, then install rocm

[2020-02-24 20:05] preda commented on #1021
what about users that request both -cl-fast-relaxed-math and -cl-denorms-are-zero ? I think it's pretty explicit that they are fine with flushed denorms, and that they care more about speed than accuracy.

Anyway, there should be a way to get really high performance GCN code generated, which ideally does not involve writing the GCN instructions by hand.

[2020-02-24 20:11] preda commented on #1020
At this point I have no indication that there is a memory access error in GpuOwl. Secondly, I am not able to run OpenCL with ROCm 3.0 as discussed here https://github.com/RadeonOpenCompute/ROCm/issues/977 , and as such I can't investigate GpuOwl's behavior on 3.0.

[2020-02-24 20:36] b-sumner commented on #1021
Yes, we can consider enabling modifiers with that combination.  I have to admit it's pretty surprising that you're OK with flushing denorms in double precision work.  Why are you using double precision at all if you don't care about accuracy (I do know that precision and accuracy are completely different topics).

[2020-02-24 23:12] jcdutton commented on #977
@preda
Please post the output of strace -f clinfo 2>strace.txt
Also note, that rocm does not work with Kernel 5.5. It does work with Kernel 5.4.
clinfo seems to rely on multiple different libs, and by looking at the strace output we can tell which is missing.

[2020-02-25 01:38] valeriob01 commented on #1020
I would be useful if they indicated which PRP values they used for the test.

[2020-02-25 07:48] ableeker commented on #977
I don't know if this applies to everyone, but I also had to install ncurses5 to get OpenCL working.

[2020-02-25 11:33] preda commented on #1021
Here is an article discussing denormals: https://blogs.mathworks.com/cleve/2014/07/21/floating-point-denormals-insignificant-but-controversial-2/

In double-precission, denormals come into play for numbers with magnitude under 10^-308. It is possible that in gpuowl's case we commonly work with larger-magnitude values, in which situation the "flush denorms" has no impact on accuracy.

We use double

[2020-02-26 03:22] dundir commented on #1013
As a follow-up, I won't be able to test this any further. I've had to send the mainboard back to ASUS after it bricked. The issue was present on BIOS rev 0604 and 2008 which was supposed to include a number of stability fixes.

There seemed to be a minor issue after the firmware upgrade (USB Mouse wasn't detected after bootup into BIOS without hotplugging) and about a week after the upgrade follow

[2020-02-27 11:18] rhn commented on #962
I can confirm this crash (or something with the same backtrace) still exists on 3.0.0.6.

[2020-02-28 12:01] preda commented on #977
On Linux 5.6.0-rc1 (that was working fine with ROCm 2.10 OpenCL-only) I upgraded to ROCm 3.1, and aside from setting LD_LIBRARY_PATH, the only additional thing I had to do to get clinfo working was to install libncurses5 (thanks @ableeker ). These are my rocm packages that I have installed
[code]

Trying to run gpuowl, OpenCL compiles the kernels without issue, but the execution does not proceed c

[2020-02-28 12:07] preda commented on #1020
As mentioned in #977 recently I was able to run with ROCm 3.1. There was no "memory access fault" reported but the computation does not proceed correctly. Basically there is a bug, either in gpuowl or in the OpenCL codegen or somewhere.

[2020-02-28 22:54] ableeker commented on #977
I'm not sure if this should be in the same issue, because I've just tried the new version 3.1. Anyway, I've noticed that I didn't need to install anything apart from rocm-opencl-dev, clinfo and OpenCL worked right after that. What's more, gpuowl was running correctly straight away. I didn't test it thoroughly, but it didn't abort with an memory access anymore, and it did started calculating. LuxMa

[2020-02-29 01:29] acxz commented on #117
I know this is a long time ago, but I just want to put this here in case others come across it. The ArchLinux community including me and some other folks have started picking up development on getting the ROCm stack working here: https://github.com/rocm-arch/rocm-arch. Feel free to submit PRs or issues!

[2020-02-29 01:30] acxz commented on #615
I know this is some time ago, but I just want to put this here in case others come across it. The ArchLinux community including me and some other folks have started picking up development on getting the ROCm stack working here: https://github.com/rocm-arch/rocm-arch. Feel free to submit PRs or issues!

[2020-02-29 01:32] acxz commented on #294
I know this is some time ago, but I just want to put this here in case others come across it. The ArchLinux community including me and some other folks have started picking up development on getting the ROCm stack working here: https://github.com/rocm-arch/rocm-arch. Feel free to submit PRs or issues! It would be best if the Arch community works together on one set of PKGBUILDs instead of splinter

[2020-02-29 09:57] pramenku commented on #1020
it looks like it may be from application side on ROCm3.1.
We  can give a try below info and see if it helps.

gpuowl : https://github.com/preda/gpuowl
Commit ID à  305d2b4949b7827af6e394eaf6c7a0d41c1b17c3  --> Pass
Commit ID à  6d275b7130dbcc05d9ca1771fd8ba2522f3b6a75 -->Fail [ first commit that started seeign failure ]

[2020-02-29 10:01] streamhsa commented on #1011
It might be fixed with ROCm3.1. We can do clean uninstall of older driver and install 3.1 and give a try.

[2020-02-29 10:04] pramenku commented on #1011
Can you please give a try with ROCm3.1.  Issue should not be seen with 3.1.
Clean uninstall  older rocm driver and make sure all libs/headers are removed from /opt/rocm.
After that freshly install ROCm3.1

[2020-02-29 10:05] pramenku commented on #1007
ROCm currently doesn't support kernel 5.5.0

[2020-02-29 10:56] seesturm commented on #1007
Only the kernel modules shipped with ROCm (rocm-dkms) fail with kernel 5.5. For me, ROCm 3.0 itself is working fine with the kernel modules directly provided by kernel 5.5 (5.5.7) for both OpenCL and HIP.

Maybe this information is useful for someone wanting to use ROCm with kernel 5.5.

[2020-02-29 11:26] ableeker commented on #977
@preda
ROCm version 3.1 seems to have fixed a number of issues, gpuowl seems to be working again.

[2020-02-29 12:46] paranoidfactoid opened #1030 "ROCm 3.1 completely broke Davinci Resolve and Blender support"
Because of issue #768 / #769, I've been holding back with old rocm-2.2 libs so programs like Davinci Resolve and Blender would continue to work. It's been nearly a year without resolution to this issue. Only now, with the latest system upgrade to 3.1, it's a complete fail for all OpenCL applications. For whatever reason. rocm-3.1 still doesn't work with Davinci Resolve.

AMDGPU-Pro doesn't work wi

[2020-02-29 13:16] valeriob01 opened #1031 "This starts to be serious"
It seems there is lack of quality control on ROCm development.

[2020-02-29 13:24] valeriob01 commented on #1031
maybe you can explain your thumbs down where most applications fail to run.
I have been following ROCm from version 1.9, it has been a battle to keep my system running, with multiple downgrades after upgrades.

[2020-02-29 13:34] ableeker commented on #977
AMD has restructured the lot, installing just rocm-dev (or presumably rocm-dkms) will install everything needed for a working OpenCL environment. I didn't need to install comgr, rocm-opencl-dev, or rocm-smi-lib64. Looks like even libncurses5 isn't needed any longer.

[2020-02-29 13:35] jasondavies commented on #977
I'm getting `CL_INVALID_KERNEL_ARGS` on any trivial kernel after updating to 3.1.

[2020-02-29 13:41] btspce commented on #981
Still broken in ROCm 3.1

[2020-02-29 13:44] jasondavies commented on #977
Looks like this only happens when pre-compiling kernels.  Will open a separate issue.

[2020-02-29 14:14] jcdutton commented on #977
ROCm 3.1 appears to be very different from ROCM 3.0.
If you have problems with ROCm 3.1, its probably best to raise a new ticket.
 This ticket is for ROCm 3.0.
The problems with ROCM 3.0 were due to a multitude of potential problems. But once people have install the correct libs, it normally works. Unless you have the odd problem I had that was cured with moving RAM chips around.

[2020-02-29 23:44] preda commented on #1020
@pramenku Thank you I'll have a look.

[2020-03-01 06:06] dduzzi commented on #883
it seems your hostname is not included, 'video' group.

check the installation guide.

` sudo usermod -a -G video $LOGNAME`

` echo 'ADD_EXTRA_GROUPS=1'
 sudo tee -a /etc/adduser.conf
 echo 'EXTRA_GROUPS=video'
 sudo tee -a /etc/adduser.conf`

[https://github.com/RadeonOpenCompute/ROCm](url)

[2020-03-01 06:19] nikAizuddin commented on #1031
Hi @valeriob01  which applications that you failed to run?

[2020-03-01 06:40] valeriob01 commented on #1031
gpuowl

[2020-03-01 11:59] preda opened #1032 "ROCm OpenCL 3.1 codegen bug manifested in gpuwol"
Hi, I've been investigating gpuowl's failure to run correctly on 3.1 that was introduced by this gpuowl commit:
https://github.com/preda/gpuowl/commit/6d275b7130dbcc05d9ca1771fd8ba2522f3b6a75

[That means, the previous commit runs correctly on ROCm 3.1 while the one pointed above does not. Please note that the "breaking" commit above (and all the following) do run correctly on ROCm 2.10. So the qu

[2020-03-01 12:13] preda commented on #1031
I propose to close this issue, as there is a separate one tracking the concrete case.

I do appreaciate a lot the existence of the communication channel with AMD developers represented by this forum. I think both the internal team as well as us on the outside do wish to make ROCm better, and I imagine they may be operating under various constraints that are not readily visible to us on the outside

[2020-03-01 12:30] preda commented on #1020
If that's fine I'm going to close this issue, because it seems there is no Memory Acccess Error with ROCm 3.1 anymore, so this issue relative to 3.0 seems to have been already fixed in 3.1.

[2020-03-01 12:48] paranoidfactoid commented on #1030
OK. Rocm-3.1 goes down a new /opt directory tree. If you already have rocm-2.2 opencl libs, they'll be wiped and a symlink put in place for /opt/rocm -> /opt/rocm-3.1. So, the solution here is to wipe rocm entirely, including the old packages. Then reinstall rocm-3.1 from scratch. Then reinstall rocm-2.2 opencl and opencl-dev libs. And Davinci and blender will work again. This is continuing the co

[2020-03-01 13:57] valeriob01 opened #1033 "Installation succeeds but no way"
# apt upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
4 not fully installed or removed.
After this operation, 0 B of additional disk space will be used.
Do you want to continue? [Y/n] y
Setting up linux-headers-4.19.0-8-amd64 (4.19.98-1) ...
/etc/kernel/header

[2020-03-01 16:18] valeriob01 commented on #1033
this didn't work and I had to reinstall the system, removing rocm failed.

[2020-03-01 16:51] valeriob01 commented on #1033
Reinstalled the system. Reinstalled ROCm.

[2020-03-01 23:15] simone-nai commented on #883
Thank you for your quick reply,
unfortunately, this doesn't solve my problem because as you can see groups are ok (according to guide)
[code]

Can I ask you also to check again the code you pasted? because I think the char **|** is missing. Is this the code that you wanted me to run instead?
[code]

Anyway, any other ideas about how to fix the problem I said? :)

Thank you very much!
Simone

[2020-03-02 04:32] rkothako commented on #1033
@valeriob01
Can I know the Ubuntu version you are using?
ROCm 3.1 supports Ubuntu 16.04.6 with 4.15 kernels and Ubuntu 18.04.3 with Ubuntu 5.3 kernels.
There is no guarantee that ROCm works for any other kernel like 4.19.

[2020-03-02 04:53] valeriob01 commented on #1031
Moved back to ROCm 2.10 again. Will not try to upgrade again until there is a clear statement that things work.

[2020-03-02 06:11] valeriob01 commented on #1033
Not using Ubuntu, I am using Debian 10.1 with kernel 4.19.0-8, I wrote an installation script that works on Debian.

[2020-03-02 07:21] rkothako commented on #1033
Debian OS is not an officially supported OS for ROCm.

[2020-03-02 08:07] valeriob01 commented on #1033
AND ?

I have run ROCm on Debian since version 1.9

[2020-03-02 08:16] rkothako commented on #1033
OK. It might or might not work as we do not support officially.
I recommend to go ahead with working version.

[2020-03-02 08:22] valeriob01 commented on #1033
But let me say it, it is unfortunate that you don't support Debian. As I recall it Ubuntu is a _derivative_ of Debian. So you might as well support Debian.

[2020-03-02 09:29] pskumar152 commented on #1020
No Memory Access Fault issue is observed in ROCm 3.1.

Verified with the latest gpuowl commit + ROCm 3.1.

**Observations**
kumar@desktop-radeon7:~/Desktop/gpuowl$ ./gpuowl -prp 84682337
2020-03-02 12:57:06 gpuowl v6.11-160-g74b7196-dirty
2020-03-02 12:57:06 Note: not found 'config.txt'
2020-03-02 12:57:06 config: -prp 84682337
2020-03-02 12:57:06 device 0, unique id 'a5de692172dc768b'
2020-03-02

[2020-03-02 10:36] preda commented on #1033
It would be nice to expand the official or not-so-offical list of setups on which ROCm works. For example, I've been running ROCm for years on Linux kernels that were not on the "supported" list, and it did work. Right now I'm running ROCm 3.1 on Linux kernel 5.6, before that ROCm 2.10 on Linux kernel 5.6, 5.5, 5.4.

I guess it comes down to whether AMD can afford to do more extensive validation o

[2020-03-02 14:09] jemzipx commented on #887
It is kind of sad that AMD has forgotten Navi users. I have found a temporary solution to use my RX 5700XT for deep learning with rather astonishing results. I thought I should share it here. Using Linux kernel 5.6rc and AMDGPU PRO driver I was able to set up OpenCL 2.1 on Manjaro Linux. Then I installed PlaidML which supports opencl devices. After that, I set Keras backend to PlaidML and just use

[2020-03-02 15:16] FiCacador commented on #887
ROCm-OpenCL-Runtime 3.1 changes introduced ROC_GFX10, that's Navi!
It still isn't listed as supported on the official documentation, but neither is any non deprecated Linux kernel...
Has anyone already tried 3.1 with Navi?

[2020-03-02 21:27] stefan-reich opened #1034 "clinfo segfaults on Raven Ridge"
Please advise... OS is Peppermint Linux 10. User is in the "video" group, not sure what that one line is about.

[code]

[2020-03-02 21:34] stefan-reich commented on #1031
@valeriob01 Why 2.10 exactly? I am curious as to which version you recommend as installation of ROCm 3.1 on my Ryzen 5 2500U has apparently just failed.

[2020-03-03 05:29] valeriob01 commented on #1031
2.10 is the last working version.
Other people have upgraded and moved back again, on different systems than my system, thus there is an evident problem with 3.1

[2020-03-03 08:37] jemzipx commented on #887
@FiCacador There are no clear instructions on how to compile ROCm from scratch. I downloaded all their sources codes using Google Repo tool and there are at least 40 different projects to compile separately! I couldn't find anyway to automate the building process. There is a project that supposed to automate the build process but has not been updates in the past few years. If the guys at AMD can i

[2020-03-03 11:25] stefan-reich commented on #1031
I installed 2.10.14 as in #284, but clinfo still segfaults. It didn't compile anything this time, maybe it's still having some 3.1 files around?

[2020-03-03 12:22] valeriob01 commented on #1031
Rarely I do a rollback, more often I do a fresh install and it works all the times.

[2020-03-03 16:35] sarunasb commented on #865
This not an answer about ROCm and Navi (3.1 still doesn't seem to support Navi), but if all you need is working OpenCL, here is a workaround: upstream Linux kernel driver (open source amdgpu) works with OpenCL part from AMDGPU-PRO. After downloading the latest AMDGPU-PRO, run

`amdgpu-pro-install --opencl=pal --headless --no-dkms`

I keep an updated version of instruction and what worked for me [h

[2020-03-03 18:31] Nevensky commented on #262
vote up for adding mac support

[2020-03-04 01:47] wwwguess commented on #666
DeepLearning is future. Why doesn't AMD care this. Almost nobody did some studying and working with AMD gpus. My macbook pro 16 can't be used to work on DeepLearning with it's RadeonPro5500M. That's a piece of shit!

[2020-03-04 10:32] Mandrewoid commented on #666
This is not the place for comments like that, but even if it was... **your macbook 2016 does not have anywhere NEAR the compute capability of a modern GPU**. **You would be better off using google colab for free**
It has access to GPU's and TPU's, and won't load up your local computer.
Here's a beginner article.
https://towardsdatascience.com/getting-started-with-google-colab-f2fff97f594c

[2020-03-04 11:13] VincentSC commented on #914
Missed your reply. Cache cleared, no proxy, all other repos work. I solved it by manually downloading rocprofiler-dev, removing rocprofiler-dev, manually installing rocprofiler-dev with dpkg -i, and then reinstalling "hipblas rocblas rocm-dev rocprofiler-dev rocrand".

Is the repo hosted on a server that has FAT or any other MS filesystem? It seems that the more data is sent than advertised. When

[2020-03-05 07:00] btspce commented on #768
This has now been broken for nearly a year on multiple releases. Can a dev at AMD please check what happened between 2.2 and 2.3 and solve this issue so all users of Davinci Resolve can move on from ROCm 2.2?

[2020-03-06 06:04] kcanenk opened #1035 "ROCm 3.0: MIOPEN Error [FindConvBwdWeightsAlgorithm] ConvOclBwdWrW2NonTunable: MIOpenCvBwdWrW/MIOpenCvBwdWrW_rdc returns -1"
my config:
GPU: mi25 (4 gpu)
OS: ubuntu 18.04.1
rocm :  3.0 rc6
tensorflow: 1.15

when run tensorflow cnn benchmarks,  the network is overfeat,  it showe miopen error:
command:
/usr/bin/python3 ./tf_cnn_benchmarks.py \
	            --model="${model}" --num_gpus="${gpu_num}" \
		    --num_batches="${iterations}" --batch_size="${bs}" \
	  	    --print_training_accuracy=True --all_reduce_spec=nccl --

[2020-03-06 09:14] preda commented on #1002
Another example of the same, please have a look at this commit
https://github.com/preda/gpuowl/commit/b23e0d538dcd6cd10d35a058084494099f14a5e5
which increases performance (by reducing the number of VGPRs and thus increasing occupancy) by adding a _volatile_ qualifier to global memory to disable caching the values read in VGPRs.

The optimizer should make a better decision about whether to cache or

[2020-03-06 10:44] FinnStokes commented on #787
Glad to hear my posts have been helpful! We got close but weren't quite able to get there before other projects took priority. By only having a single gpu and a single ConnectX card on each node with the new motherboards we were able to get everything in the correct address ranges to do RDMA, however it turned out that the ConnectX cards we had available didn't properly support infiniband. The nex

[2020-03-06 11:20] preda commented on #1002
Also with ROCm 3.1,
https://github.com/preda/gpuowl/commit/612febd684938d3bd3716a928070a63c20d4a8e5
which applies the "duplicate buffers" trick against the optimizer, reduces the number of VGPRs for the k_tailFused from 112 to 81 (corresponding to occupancy 2 -> 3).

Really, the cost of just re-executing the memory read when the data is still in the L1/L2 cache is nothing compared to that wastage

[2020-03-06 12:47] ableeker commented on #1030
I don't know about Davinci, but 3.1 made Blender work for me. I say work, but unfortunately that's stretching it, because Cycles needed almost 2.5 hours to render the default cube scene! However, this is progress indeed, because Cycles couldn't render with ROCm OpenCL 2.10 at all, and aborted with a split kernel error message.

I'm checking out a tip I've read somewhere, which is to install ROCM,

[2020-03-06 16:21] yugenekr commented on #1030
Hey guys, what's you experience with Blender GPU render performance if to compare with/without rocm 3.1 (plus hack applied) installation?

Do I get it right you still get better performance just using amdgpu-pro driver (without rocm 3.1.)?

[2020-03-06 17:49] nuliknol commented on #926
@omerferhatt
so why can't you code the kernels of your ML projects with OpenCL ?

[2020-03-06 22:27] nuliknol commented on #865
@JMadgwick
why isn't RX5700 card supported ? If I am understanding correctly, all that needs to be done is to recompile the code using LLVM with `-mcpu gfx1010`, or is there any more complications than that?

[2020-03-07 10:19] seesturm commented on #1020
I was courious what actually fixed the memory access fault in ROCm 3.1. Didn't find any message from the maintainers on this topic. It appears that the fix is in the firmware blob since I had to update the firmware to the latest one found on linux-firmware.git.

Really a pity that there is no proper changelog for the firmware. One finding from this is that there are certain kind of bugs which cann

[2020-03-07 12:37] Roalkege opened #1036 "errors while compiling PyTroch"
Hello I tried to compile ROCm/PyTorch for my RX580 but I get everytime this error and I dont know hat I have to do.
I use [this Doc ](https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html#pytorch) to compile it.
![image](https://user-images.githubusercontent.com/44238399/76143531-72684700-6078-11ea-98af-2583cda06985.png)

I hope someone can help me. Or is there a pre

[2020-03-07 14:17] bcllcb commented on #1033
Can you tell us how to install without errors using debian? I test with 4.19 and 5.4 without success.
Thanks

[2020-03-07 14:33] valeriob01 commented on #1033
https://github.com/valeriob01/Mersenne-gpu-computing-node/blob/master/install-rocm.Makefile

[2020-03-07 14:45] valeriob01 commented on #1033
you can substitute the /debian/ part with /2.10/ to get ver. 2.10

[2020-03-08 02:10] gauravjain14 opened #1037 "A zillion errors while installing ROCm 3.0.6 on Vega 10"
I am following the instructions listed at https://github.com/RadeonOpenCompute/ROCm/tree/roc-3.0.0#Ubuntu to install ROCm 3.0.6 on Ubuntu 16.04 with Kernel 4.13.0-26 and it has been nothing but a **nightmare**.

First, following the steps doesn't complete successfully as the installation errors out on not being able to locate hcc, and thus hip-hcc fails and the installation aborts. To get pass tha

[2020-03-08 07:53] preda commented on #1020
I still see a strange crash manifested in dmesg such:
[code]
The app reports
[code]

This is with ROCm 3.1 on linux kernel 5.6.0-rc1. This system worked fine for a few days, I'm still investigating what changed that might have activated this issue. Anyway, if ROCm devs have any insight into what may cause this, or workarounds, I'd like to hear. It seems the problem does not originate application-s

[2020-03-08 10:17] preda opened #1038 "amdgpu dmesg traces, one GPU not initialized"
Hi, using linux kernel 5.4.24, ROCm 2.10 OpenCL, RadeonVII, linux-firmware/eoan-updates,eoan-updates,now 1.183.4,

I see this in dmesg and one of the GPUs is not initialized. I would appreciate if somebody could give me some insights about the possible origin of the problem:

- is this a GPU hardware problem? (how could I confirm that?)
- could this be a motherboard or CPU hardware problem?
- coul

[2020-03-08 11:02] valeriob01 commented on #1038
This line:
5.872836] CPU: 0 PID: 275 Comm: kworker/0:3 Not tainted 5.4.24-050424-generic #20200

warns you about the kernel in use, this version is not good.

[2020-03-08 12:50] preda commented on #1038
It seems it was, most likely, a power cable issue. The GPU itself was fine, and the problem most likely was not caused by software.

[2020-03-08 12:50] #1038 closed

[2020-03-08 12:58] valeriob01 commented on #1038
BTW, the same Line shows up with wrong kernel version !!!

[2020-03-08 13:12] valeriob01 commented on #1038
What cables are you using?
SATA?

[2020-03-08 14:07] MichaelEssich commented on #1036
Perhaps you have to apply this patch (not sure if it is already fixed in current version, but the last time I built PyTorch I had to apply it): https://github.com/pytorch/pytorch/commit/3a7ecd32eb7418e18146fe09dc9301076b5f0f17
If that's not the issues, maybe this guide can help: https://github.com/ROCmSoftwarePlatform/pytorch/issues/581

[2020-03-08 16:23] seesturm commented on #1032
Had a look at the assembly output. Seems that making the "non-material" change prevents the code
[code]
being re-ordered before the "acquire" work_group_barrier by the compiler. If reordered, "carryShuttlePtr" data is read before `ready[gr-1]==1`. Looks to me like a bug in the CL compiler.

Interesting that you use "ready" for spin lock in your code. Guess that such a pattern is not used very ofte

[2020-03-08 19:56] bcllcb commented on #1033
Thanks alot. Using debian 4.19.0-6-amd64 kernel is perfect.

[2020-03-09 06:51] pramenku commented on #1020
Thanks for the confirmation.

[2020-03-09 06:52] streamhsa commented on #1020
As per preda, 3.1 doesn't exhibit this issue. so closing this issue.

[2020-03-09 06:52] #1020 closed

[2020-03-09 15:07] Roalkege commented on #1036
[pytorch/pytorch@3a7ecd3](https://github.com/pytorch/pytorch/commit/3a7ecd32eb7418e18146fe09dc9301076b5f0f17) worked for me but now I tried to check if everything is working with `PYTORCH_TEST_WITH_ROCM=1 python test/run_test.py --verbose` but I get this.
After the the compile process the script also copied a lot of files.
I also replaced `python` with `python3`
![grafik](https://user-images.githu

[2020-03-10 01:57] preda opened #1039 "ROCm 3.1 OpenCL bad compilation"
ROCm 3.1 OpenCL, Linux kernel 5.4.24, RadeonVII

This issue refers to this commit:
https://github.com/preda/gpuowl/commit/79ae868be3fa0f97eaa11a762d1a4bcf2926fb82

To repro, please create dump folders named e.g. "good" and "bad", and run:

./gpuowl -prp 94080289 -dump good
./gpuowl -prp 94080289 -dump bad -use ENABLE_ROCM_BUG

The only difference between the two is controlled by the define ENABLE_

[2020-03-10 12:32] preda commented on #1039
The above problem does not reproduce on ROCm 2.10

[2020-03-10 14:12] valeriob01 commented on #1031
apparently pestering here about quality has effects:
https://www.phoronix.com/scan.php?page=news_item&px=AMD-Linux-Hire-Lead-Kernel-Dev

[2020-03-10 15:15] b-sumner commented on #1039
@preda do you have a unit test for fftMiddleOut?  How were you able to localize the problem?

Printf has a pretty big impact on the IR.  Have you tried cutting back on the optimization to see if that has an effect?  E.g. -O1, -O1, -O2?

[2020-03-10 20:15] lrie commented on #887
There is no or no complete Navi support in ROCM 3.1 .
Tested with Radeon 5700XT, ROCM 3.1 and Tensorflow 2.1

gpu-user@gpu-server:~/benchmarks/scripts/tf_cnn_benchmarks$ python3 tf_cnn_benchmarks.py --num_gpus=1 --batch_size=64 --model=resnet50
WARNING:tensorflow:From /home/gpu-user/.local/lib/python3.6/site-packages/tensorflow_core/python/compat/v2_compat.py:88: disable_resource_variables (from t

[2020-03-10 22:09] preda commented on #1039
@b-sumner I don't have a unit test (that executes only this kernel in isolation), that role is played by executing the program as instructed above -- it automatically detects whether the computation is correct or not ("self-validating"). Running
./gpuowl -prp 94080289 -use ENABLE_ROCM_BUG
on ROCm 3.1 will stop with an error message, but will proceed correctly on ROCm 2.10 or when run without the d

[2020-03-12 18:46] emoon opened #1040 "clinfo returns clGetDeviceIDs(-1) on ROCm 3.1"
Hi,
When I run `/opt/rocm-3.1.0/opencl/bin/x86_64/clinfo` I get the following output

[code]
rocminfo gives

[code]
it was suggested at the end of https://github.com/RadeonOpenCompute/ROCm/issues/977 to open a new issue for 3.1 as things had changed.

I'm on Ubuntu 18.04

[2020-03-13 13:40] emoon commented on #1040
Here is an strace of clinfo if that his helpful https://www.dropbox.com/s/bsiafogvpvjhyyo/clinfo_strace.txt?dl=0

[2020-03-13 14:00] emoon commented on #1037
I don't think kernel 4.x is supported on 18.04 with ROCm

[2020-03-13 15:49] Burstaholic commented on #575
Their latest GPU core is based on OpenMM 7.4.1, which appears to be the latest, but I still cannot fold with my RX 580. My error message is much more generic (I forget exactly but can reproduce if helpful) but I still end up with `BAD_WORK_UNIT` with `rocm_dev 3.1.35` on Kubuntu 18.04.4 with the HWE `5.3.0-40` kernel.

[2020-03-13 18:50] gauravjain14 commented on #1037
I have edited the issue. It's 16.04 and not 18.04 I am running on.

[2020-03-14 00:41] onur-v opened #1041 "Long memory copy duration"
Hi,

I have a piece of code that had been working properly until ROCm 3.1 arrived. Currently the function hipMemCpy takes unnecessary long times to complete for arbitrary sizes of arrays that is, it takes approximately 2 seconds to complete for exactly 15000000000 bytes compared to almost 30 seconds for 2974320000 bytes, which is around 5 times smaller. It seems like the long duration happens on a

[2020-03-14 07:16] emoon commented on #1037
@gauravjain14 I'm not sure if it make any different but the requirement states `4.15` kernel and your seems to be `4.13`

[2020-03-14 07:33] valeriob01 commented on #1033
Second attempt. Installation of ROCm 3.1.1 succeeds but program unable to find devices.
clGetDeviceID fails

[2020-03-14 17:29] AndrewCarterUK opened #1042 "Using Keras MaxPooling2D - dnn PoolBackward launch failed"
## Introduction

I'm working through a command recognition problem, essentially porting the [TensorFlow audio recognition model](https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md) to Keras.

My model code is essentially:

[code]

## Error

[code]

If I remove the MaxPooling2D layer, the model trains without error.

[code]

I'm a bit new to using all

[2020-03-14 17:58] AndrewCarterUK commented on #1042
A bit more information from further investigation, one of the things I've been playing with is the batch size - and I've noticed that changing it changes the error.

With a batch size of 10, the error is what I've described above. With a batch size of 100, the error changes to:

[code]

Also, the full model runs fine on the CPU with the GPU disabled.

When I remove the pooling layer, the CPU runs

[2020-03-15 01:34] dundir commented on #1013
Received a brand new B450 Plus (same bios revision), and back to ye olde segment fault with clinfo. Seems it now no longer allows IGFX to be selected as the primary when IGFX Multimonitor is disabled in the BIOS (i.e. the setting that bricked the old one).

[2020-03-15 10:08] gwoltman opened #1043 "Minor code generation optimization"
I'm using rocm 2.10

Both
  int  f = (d & 0xFFF00FFF) | (e & 0x000FF000);
and
  int  f = (d & 0xFFF00FFF) + (e & 0x000FF000);

could generate a single V_BFI_B32 instruction rather than these 2 instructions:

	v_and_b32_e32 v3, 0xff000, v4
	v_and_or_b32 v2, v2, s4, v3

[2020-03-15 10:16] gwoltman commented on #1043
Also, I think

int f = (d & 0xFFF00FFF) | 0x000AB000;

could do a bit-field-insert as well

[2020-03-15 13:22] ashishchoure23 commented on #926
Why returning, use plaidML with Keras. It works like charm.

[2020-03-15 23:53] smoe opened #1044 "Ubuntu 18.04 install instruction on README clash with amdgpu driver"
Hello, following the instructions of this repository's README I ran into
[code]
Since the amdgpu-dkms is the way us users are guided to install starting out from the amd.com home page, I presume that this error message will be experienced by many others, too. Please kindly prepare your instructions for that - or (preferably) allow the two packagse to be coinstalled.

Otherwise, that far, the insta

[2020-03-16 08:45] FireCulex opened #1045 "Ubuntu 19.10 Segmentation Fault"
[code]
[code]

[code]

[2020-03-16 10:11] AndrewCarterUK commented on #1044
I think if you install the ROCm drivers you don't need the amd-gpu driver (as it is based off them).

Not 100% sure but I encountered something similar and now I just have the ROCm drivers installed.

[2020-03-16 14:58] zhangheng408 opened #1046 "How to get GPU utilization in C++ code"
except by read `/sys/class/drm/card0//device/gpu_busy_percent`.
I wonder whether rocm provided a library like nvml.

[2020-03-16 15:02] Ryderxz4224 opened #1047 "ROCm 3.1 HSA_STATUS_ERROR_OUT_OF_RESOURCES"
Hello! I have recently installed ROCm 3.1.0 on an Intel NUC machine and I am facing some trouble when trying to run `rocminfo`. The output I am getting is:
[code]
My Intel NUC specs:
[code]
From my own  research, this GPU model would fall into this category:
[https://www.techpowerup.com/gpu-specs/amd-polaris-23.g920](url)
Which would make me believe it does in fact support ROCm.

Also, maybe it's

[2020-03-16 16:33] soulhunter commented on #575
Hello,

Similar here with Vega10 card.  I get this in the logs:

[code]

I am on Ubuntu 18.04, 5.3.0-40 kernel as well.  Installed ROCM using this sources.list line:

`deb [arch=amd64] http://repo.radeon.com/rocm/apt/debian/ xenial main`

This is "folding" just fine using the CPU, but I have three GPUs that I should be able to use on this.

This is the system info as given by FAHClient:

[code]

I

[2020-03-16 20:29] smoe commented on #1044
Thank you, @AndrewCarterUK. I just tried it. It seems like the rock-dkms is upward-compatible with amdgpu-dkms.
sudo dpkg --purge amdgpu-dkms
followed by
sudo apt-get install rock-dkms
fixed this. I was running BOINC jobs of Einstein@Home who had failed when I remove the kernel module. With a reboot after the installation of rock-dkms they just ran again.

The Debian/Ubuntu package should possibly

[2020-03-17 10:04] preda commented on #989
Another real life example:
[code]

It seems as if the compiler is not aware of the existence of this instruction (v_bfi_b32) otherwise it makes no sense why it wouldn't use it.

[2020-03-17 14:10] kc2zgu commented on #992
I've noticed this same problem. ROCm and Mesa both use LLVM, but ROCm uses its own modified version that conflicts with the system version Mesa is linked against when both are loaded into the same process. As far as I can tell this effectively makes virtually any GUI-based program (at least OpenGL-based ones like Blender) unusable with ROCm. I haven't been able to find any kind of official fix or

[2020-03-17 14:19] athas commented on #992
That's also my diagnostic.  Interestingly, I have used ROCm 3.0 on NixOS 19.09, which has an older version of Mesa, where it works fine.

[2020-03-17 15:02] athas commented on #992
I can confirm that an otherwise-up-to-date NixOS, except with Mesa bumped down to 19.1.5 and compiled with LLVM 7, can have OpenGL and ROCm OpenCL co-exist in the same process.  Mesa 19.1.5 with LLVM 9 fails.  Next step for me is to try the newest NixOS Mesa (19.3.3) but with LLVM 7.

[2020-03-17 15:04] b-sumner commented on #989
v_bfi_b32 computes

  (src1 & src0) | (src2 & ~src0)

thus the HAS_ASM code is producing

    (u & mask) | (bits & ~mask)

Maybe you know that (bits & ~mask) == bits, but the compiler probably doesn't.

Also, FWIW, GFX10 adds a v_and_or_b32 which should be generated for this function.

[2020-03-17 16:39] avimanyu786 commented on #1040
I'm using a Radeon VII with Ubuntu 18.04. My `clinfo` reports fine but I get that error on Folding@home:

![image](https://user-images.githubusercontent.com/28894462/76878183-7a0ac580-689a-11ea-9996-28c0e03a2d56.png)

However, when I run `rocminfo`, it produces all info correctly but also reports:

My current user and future users were added to the video group when rocm was first installed. I'm al

[2020-03-17 21:39] ghost opened #1050 "[Kernel 5.5.X] drm/amdgpu: independent DMA-buf export/import breaks ROCm and AMDGPU-Pro OpenCL on Gentoo x64 w/ Vega 64"
I wanted to donate some GPU time to F@H due to COVID19, but even a simple clinfo is enough to cause a kernel panic. libdrm used is version 2.4.100, ocl-icd is 2.2.12. Mesa 20.0.1 was compiled without OpenCL support to rule out conflicts. amdgpu is compiled into the kernel and not a separate module. I'll attach a cut dmesg output and my /proc/config.gz. If more info is needed, I'll try to provide i

[2020-03-18 11:46] athas commented on #992
Mesa 19.3.3 with LLVM 8 seems to work as well.

[2020-03-18 12:22] akostadinov commented on #1011
@pramenku , huh busy days, I have installed 3.1. First I tried direct update and it all went into a mess. Then I removed all RPMs from repo, removed manually dkms modules, updated OS, rebooted and tried again.

Result was some errors even running `rocminfo`. But this time it was easy to track down to missing files. With `rpm -V` I figured out that perhaps half packages reported to be installed but

[2020-03-18 12:30] akostadinov commented on #1011
What I see as non-root is:
[code]

I figured out rw access to `/dev/kfd` is needed. But it was owned by `root.root` and permissions `600`. I needed to make it `660` and be owned by group `video` to get `rocminfo` working.

My assumption is some configuration is missing to make the file with proper permissions.

Anybody knows what in the RPMs needs to be fixed?

[2020-03-18 13:09] akostadinov commented on #1011
Needed to set `kfd` udev rules. I had this file from the past. Not sure if I created or was part of earlier ROCm versions. But it appeared to be slightly incorrect. Anyway, this fixed the issue with `kfd` file permissions. I don't know why RPMs do not set such rule by default.

[code]

[2020-03-18 13:28] kc2zgu commented on #992
So it theoretically can play nice with Mesa, just not if using LLVM 9? I have Mesa 20 with LLVM 9 (Gentoo) currently. I might see if I can build either that Mesa version or 19.3.5 against LLVM 8. The ebuild seems to depend on either 8 or 9, but I may have to modify it to be able to manually select which one to use without having to remove the llvm:9 slot.

[2020-03-18 13:36] athas commented on #992
Yes, in theory.  But there are so many moving parts here that it's hard to say whether what worked for me will also work for you.

[2020-03-18 14:03] valeriob01 opened #1051 "ROCm 2.10: rocm-smi --setsclk does not stick to passed value"
setting sclk does not stick to passed value, but frequency varies over time.

[2020-03-18 17:50] akostadinov commented on #1040
To make it work I need to do:
[code]
In addition using RHEL 7.7 I also have to run like:
[code]

See my `systemd` gist I wrote because I couldn't set the necessary configuration with the standard init.d file:
https://gist.github.com/akostadinov/a5acbb95c8142306f9c27597d16451db

But then receiving a work unit I am hitting:
[code]

There is an older issue #575 about folding. btw on RHEL 7.7 you may

[2020-03-18 18:28] akostadinov commented on #575
Hitting the same on 3.1 on RHEL 7.7

[2020-03-18 20:32] avimanyu786 commented on #1040
Thank you so much @akostadinov 🙏 !

[2020-03-18 20:57] Penguio commented on #1040
Hi
@avimanyu786 you are using Ubuntu and I'm using Debian so the solution should be comparable but I couldn't get it running with the infos from @akostadinov . Is it because rocm3.10 is installed to
`/opt/rocm-3.1.0/`
and the exported Library path is pointing to
`/opt/rocm/`
?

Additionally I could not find
`/opt/rocm-3.1.0/lib64` and
`/opt/rocm-3.1.0/hip/lib`
Do I have to install something else e

[2020-03-18 21:13] avimanyu786 commented on #1040
@Penguio I just tested following along similar lines but still getting the same issue on FAH control. `/opt/rocm` is being shown as symbolic link that points to `/opt/rocm-3.1.0/`. Like yours, I also cannot find `/opt/rocm-3.1.0/lib64/`. But `/opt/rocm-3.1.0/hip/lib/` is present.

![image](https://user-images.githubusercontent.com/28894462/77007366-19f34c80-698a-11ea-9abe-cd86e3b17ce5.png)

![imag

[2020-03-18 21:33] Penguio commented on #1040
I just installed `hip-hcc` than `/opt/rocm-3.1.0/hip/lib` is there too.

Then I exported the Library path like this:
`export LD_LIBRARY_PATH=/opt/rocm-3.1.0/lib:/opt/rocm-3.1.0/opencl/lib/x86_64:/opt/rocm-3.1.0/hsa/lib:/opt/rocm-3.1.0/hip/lib`

But this didn't solve the problem that `/opt/rocm-3.1.0/opencl/bin/x86_64/clinfo` finds the `clGetDeviceIDs() ` and Folding@Home doesn't find it.

[2020-03-18 22:51] akostadinov commented on #1040
I would recommend you to first get `FAHClient` working manually from command line and then see how to fix service. I had troubles making sure it runs with correct group and LD_LIBRARY_PATH.

[2020-03-18 23:09] Penguio commented on #1040
For me it is working from command line with only one CPU core.
The only missing part is that `FAHclient` doesn`t detect the GPU because `FAHclient` didn`t get the `clGetDeviceIDs` so it could only use the CPU.
`/dev/kfd` has the owner `root.video` and permissions `660`

[2020-03-19 02:23] smoe commented on #1044
The patch described on
https://github.com/RadeonOpenCompute/ROCm/pull/1048
I expect to help others who are up for the transition.

[2020-03-19 03:45] preda commented on #989
@b-sumner Thank you for the correction. I tried to write the correct equivalent to v_bfi_b32 in C, but it is still compiled to a pair of v_and_b32_e32 + v_or_b32_e32 instead of a single v_bfi_b32
[code]
Do you think the compiler ever generates v_bfi_b32? if so, in what situation?

[2020-03-19 04:32] LideDing opened #1052 "Is there any way to install ROCm on ARM64 based platform?"
I wonder if ROCm can be installed on ARM64 based platform,I tryed to complie ROCm source code, but there's too many errors. Can anyone help us?

[2020-03-19 05:36] kochd commented on #575
Same for me

[2020-03-19 05:42] kochd commented on #1040
For Debian (or alike) users:

[code]
Edit the old fashioned initd script /etc/init.d/FAHClient and add <pre>export LD_LIBRARY_PATH=/opt/rocm/lib:/opt/rocm/opencl/lib/x86_64:/opt/rocm/hsa/lib:/opt/rocm/hip/lib</pre> at the head of the file where USER,NAME,CONFIG,... is defined (make sure to add the **export** in front)

[code]

now reboot _(as I didn't find a way to make the group change live)_.

H

[2020-03-19 12:52] avimanyu786 commented on #1040
@kochd Thank you for your reply. I followed your instructions but still got the same issue: `OpenCL not detected: clGetDeviceIDs() returned -1` (on FAH control). `clinfo` reports fine on the terminal. I have a radeon 7 and an rx 550 with a ryzen 2700x cpu. FAHClient works fine from command line but with only cpu.

This is what `ls -l` reports on `/dev/` for `kfd`:

![image](https://user-images.git

[2020-03-19 15:20] preda opened #1053 "Order of registers in commutative instructions"
I'm looking at the ISA generated for some OpenCL kernel (ROCm 3.1, Vega20), and I see this as a diff between two compilations of slightly different (but equivalent) source code:
[code]

As you see, the difference consists only in the order of the two VGPRs into an add. I'd like to know, is there any difference *at all* between e.g. v_add_u32 v0, v0, v1 and v_add_u32_e32 v0, v1, v0 ? If there isn't

[2020-03-19 15:48] Ge0rges commented on #887
Any update on the status of this issue?

[2020-03-19 16:45] chavangorakh1999 commented on #980
I got an solution for that as i did not install tenserflow_cpu /tensorflow_gpu for my mac that was the problem where my mac was not able to take large image processing task

  I resolved it using this link https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html#tensorflow-models-installation

[2020-03-19 16:45] #980 closed

[2020-03-19 17:59] SlavMFM commented on #887
I'm not a **ROCm** user, but I tried installing it just to get **OpenCL** working because as I found somewhere that's how **ROCm** works on **AMD** devices: through **OpenCL** so it supposed to set **OpenCL** up, but failed in my case. Eventually, I got **OpenCL** working on **Ubuntu 18.04**, but I think it should work on any distro (the question is just kernel version): https://askubuntu.com/ques

[2020-03-19 18:07] lrie commented on #887
@SlavMFM
As mentioned, I was able to install ROCm 3.1 and thus OpenCL.
clinfo results look fine.
So there is Navi support, but it is not really functional.
Look at the error above:
" No device code available for function: "
This seems to point to some not fully implemented libraries or missing assembler snippets.
It bit like a car without engine.

[2020-03-19 18:09] patvdleer commented on #575
same here,

I added `fahclient` to the video group and created `/etc/profile.d/rocm.sh`
[code]

[2020-03-19 18:26] patvdleer commented on #1040
I still get the initial error of `clGetDeviceIDs(-1)` but I updated my config.xml as @avimanyu786 suggested, set the GPU to true and my VEGA64 does show up now...

![image](https://user-images.githubusercontent.com/1138136/77101371-7d778b80-6a17-11ea-9aea-18a35198dd57.png)

![image](https://user-images.githubusercontent.com/1138136/77101410-8cf6d480-6a17-11ea-870c-c6537494d3c4.png)

[2020-03-19 18:45] SlavMFM commented on #887
Interesting. Was you able to run some raw **OpenCL** examples to verify it's working properly? I once had "fake" **OpenCL** setup where `clinfo` was printing even GPU name (Radeon RX5700xt), but actual **opencl** functions from within **C++** wasn't working. I just can't imagine how **ROCm** could utilize AMD GPUs rather just through **OpenCL**, so it it's working, **ROCm** should work too, hmm...

[2020-03-19 18:51] jemzipx commented on #887
@SlavMFM As far as I know, AMD provides two seperate OpenCL 2.0 implementations. One in ROCm and another in AMDGPU PRO driver. I have tested the OpenCL 2.0 in AMDGPU PRO and can confirm it works fine (see my post above). Although, getting OpenCL to work does not guarantee that ROCm would work too.

[2020-03-19 19:26] SlavMFM commented on #887
@jemzipx cool! I'm surprised **amdgpu-pro** drivers can be actually installed ^^ - you just get **kernel 5.6** and install **amdgpu-pro** on top of it?
Btw, there is at least another *offician* support: **mesa** drivers where **AMD** devs directly implement their GPUs support, for example navi14 was implemented half-a-year before GPUs release: https://lists.freedesktop.org/archives/mesa-dev/2019-A

[2020-03-19 19:27] seesturm commented on #575
I'm also affected. dmesg output is:
[code]

[2020-03-20 04:56] gwoltman opened #1054 "Obscure __asm bug: "A" qualifier does not work"
__asm("v_bfe_u32 %0, %1, %2, 1" : "=v" (b1) : "v" (b2), "A" (i));

where b1 and b2 are variables and "i" is a constant, generates this error:

error: invalid input constraint 'A' in asm

The "A" constraint means a constant in the -16 to 64 range according to https://gcc.gnu.org/onlinedocs/gcc/Machine-Constraints.html#Machine-Constraints

[2020-03-20 06:53] jemzipx commented on #887
@SlavMFM that is right. I installed amdgpu-pro on top of kernel 5.6rc in Manjaro (should work in Arch too). I tried mesa before (actually that was the first thing I tried) but the OpenCL version was 1.2 which is quite old and kind of outdated. As far as I can tell, OpenCL 2.0 support for Navi can only be found in AMDGPU-PRO and ROCm.

[2020-03-20 07:17] selroc commented on #1051
setting sclk 6 never sticks to 1801 MHz but to a lower frequency. Suggestions?

[2020-03-20 08:36] valeriob01 commented on #1051
No luck with setting gpu by hand:
echo "vc 2 1801 950" > /sys/class/drm/card0/device/pp_od_clk_voltage
bash: /sys/class/drm/card0/device/pp_od_clk_voltage: Permission denied

[2020-03-20 09:03] valeriob01 commented on #1051
Conversely --setmclk always sticks to the passed value.

[2020-03-20 09:15] notokcomputerbadcomputer commented on #1051
TL;DR, it seems driver accounts for power dissipation and safe temperatures regardless of user setting.

I'm running different cards at manual with gpu and memory overrides. In a workroom with HVAC set to 18 degrees C. They do stick to override values. However when HVAC is off the gpu clock starts to fluctuate and if i want to work in comfortable 25 degree C, the gpu downclocks significantly, as l

[2020-03-20 09:40] avimanyu786 commented on #1040
@patvdleer Try editing `/etc/fahclient/config.xml` to:

[code]
Are you logging in as `fahclient` username into Linux? So far I've tested it as regular Linux user but root user set in the `/etc/init.d/FAHClient` script. Your GPU and OpenCL info is still not detected in your first screenshot. Please tally it with the last screenshot of my previous post.

[2020-03-20 09:47] SlavMFM commented on #887
@jemzipx you think it'll work only on **Manjaro** and **Arch** and won't work on other distros like **Ubuntu**? Would like to try it on **Ubuntu** later.
I'm currently having **mesa-19.3** and it [claims](https://paste.ubuntu.com/p/rF7B3VVgks/) 2.1 platform and 2.0 device; not sure if it's practically 2.0 though.

[2020-03-20 09:57] valeriob01 commented on #1051
Thank you for the explanation.

[2020-03-20 10:21] valeriob01 commented on #1051
however it is too early for me to turn on the HVAC, I have to continue without for some months.
Thank you again :-)

[2020-03-20 10:21] #1051 closed

[2020-03-20 11:22] patvdleer commented on #1040
I had already added that to the config. I did add `fahclient` to the video group but that doesn't seem to be enough, running fahclient as `root` does work.
Sadly I know run into:

[code]

![image](https://user-images.githubusercontent.com/1138136/77159172-228c7580-6aa5-11ea-8f55-5b2f30d5b1ba.png)

[2020-03-20 11:35] jemzipx commented on #887
@SlavMFM It should work on all distros. I have only tested Manjaro personally. I'm also curious to know how it plays on Ubuntu. BTW, have you tested Keras/PlaidML with your Mesa OpenCL on Ubuntu? Please give it a go and let us know the result.

[2020-03-20 12:21] patvdleer commented on #575
I managed to get it to at least load but sadly that's when the `BAD_WORK_UNIT` kicks in; https://github.com/RadeonOpenCompute/ROCm/issues/1040#issuecomment-601650755

[2020-03-21 09:22] zhiyuanzhai commented on #262
+1. We want Radeon Open Compute for Mac!
Now I have to install an Arch Linux system on my MacBook Pro, which means a huge amount of extra work to do.

[2020-03-21 12:26] Kiffmet commented on #1050
A very nice person on reddit helped me find the issue with AMDGPU-PRO OpenCL (it threw the same "failed to pin userptr" error). Turns out userspace isn't yet compatible with these two commits:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=6e6db2722c287122bfc4d51e685872fb5031cf18

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=a3941471

[2020-03-22 07:59] valeriob01 commented on #1046
There is the performance API: https://github.com/GPUOpen-Tools/gpu_performance_api

[2020-03-23 10:15] preda opened #1056 "redundant s_waitcnt lgkmcnt(0) with barrier"
ROCm 3.1, Radeon VII,
looking at the generated code I often see this block:
[code]
It seems that the second s_waitcnt is not needed, right?

[2020-03-23 10:31] preda commented on #1056
The above happens when using
barrier(CLK_LOCAL_MEM_FENCE);

If instead barrier(0) is used, the generated ISA is as expected:
[code]

So, IMO, something is wrong with barrier(CLK_LOCAL_MEM_FENCE) as an extra s_waitcnt lgkmcnt(0) is generated in that situation.

[2020-03-23 20:36] Frogging101 commented on #1040
@patvdleer I think I know why adding the `fahclient` user to the `video` group does not work. If it's being launched with the default init script that passes `--run-as fahclient`, the FAHClient process does not give itself the supplementary groups of the `run-as` user. It probably only does `setuid()`, which is not enough. You can see for yourself with `sudo cat /proc/[fahclient PID]/status | grep

[2020-03-23 21:19] akostadinov commented on #1011
Ok, there is some issue with the RPMs installation. Also mode and ownership of `kfd` needs to be manually setup. But I'd rather close this issue and see how future versions will come. Hopefully RHEL8 will be supported soon.

[2020-03-23 21:19] #1011 closed

[2020-03-23 21:38] siorenai opened #1057 "no information on second GPU"
Why do these warnings appear and how can I fix it? Thank you.

[2020-03-23 22:20] akostadinov commented on #1040
@Frogging101 , check my [earlier comment](https://github.com/RadeonOpenCompute/ROCm/issues/1040#issuecomment-600774465) :)
I guess you will need a little adaptation for ubuntu. Because on RHEL 7 i needed to use scl. You should not need such thing.

[2020-03-24 11:08] Dantali0n opened #1058 "Err:13 http://repo.radeon.com/rocm/apt/debian xenial InRelease The following signatures were invalid."
`: EXPKEYSIG 9386B48A1A693C5C James Adrian Edwards (ROCm Release Manager) <JamesAdrian.Edwards@amd.com>`

The key of the ROCm release manager is expired, this prevents any new user installing ROCm on Ubuntu.

[2020-03-24 11:51] BuzzBumbleBee commented on #1050
Can you try apply the following patch set to your Linux kernel. It should fix the DMA issues in 5.5 and 5.6.

https://lists.freedesktop.org/archives/dri-devel/2020-March/260116.html

[2020-03-25 15:07] mritunjaymusale commented on #887
[Update]
I was able to compile and install pytorch using the latest ROCm 3.1.1 using [this guide](https://github.com/ROCmSoftwarePlatform/pytorch/issues/581).
But I don't know how to install custom modules like DCNv2 that are C++ extensions of pytorch.
There was some prompt I kept getting everytime I used pytorch, I can't remember, neither can I test it since I'm afk.
All in all, things are lookin

[2020-03-26 11:44] preda opened #1059 "amdgpu kworker CPU usage growing in time"
With RadeonVII (but likely independent of the specific GPU model)
With Linux 2.4.x, 2.5.x, 2.6.x, with ROCm 2.10 and 3.1 (and likely earlier versions too),
when running an OpenCL process for a long time (tens of hours, days),

there are visible (e.g. in "top") root threads "kworker" that take up an amount of CPU that slowly increases over time until reaching 100% (i.e. one core) per kworker. The n

[2020-03-26 13:41] valeriob01 commented on #1059
I have noticed the same thing with Debian Buster and ROCm 2.10 and gpuowl.

[2020-03-26 15:05] fxkamd commented on #1059
Are there any messages in "dmesg" about hanging kernel worker threads?

Can you get more details about the code causing the CPU usage with "perf top"?

Which kernel and driver version are you using? The DKMS kernel module or the upstream one?

[2020-03-26 15:17] valeriob01 commented on #1059
Debian Buster kernel 4.19 - ROCm 2.10

![image](https://user-images.githubusercontent.com/25838910/77663388-49ebb280-6f7d-11ea-8d6b-aef9fcd745ba.png)

[2020-03-26 15:34] fxkamd commented on #1059
That "perf top" is not very helpful. It's showing the kernel CPU usage in a spin-lock. I'd need to know where it's called from. Does "perf top -g" work?

I fixed a similar problem recently that was caused by the code that frees memory at process termination. But your description of increasing CPU usage with a long running application sounds like a different issue, unless the application starts and

[2020-03-26 15:55] valeriob01 commented on #1059
That is out of question, the system is in production.

But here is per top -g
![image](https://user-images.githubusercontent.com/25838910/77667435-7bb34800-6f82-11ea-9419-946dd598c556.png)

[2020-03-26 16:07] fxkamd commented on #1059
OK.  I see TTM delayed BO cleanup functions in the list. That points to the same problem I fixed with that patch.

There are other patches coming that rework the delayed BO freeing and improve the handling of KFD fences in that situation. I believe this will address the issue you're seeing.

[2020-03-26 23:48] dundir commented on #1013
ping...

It looks like 3.1 gets a little bit further but OpenCL is still broken, and with multimonitor support enabled I was able to import pytorch and get a segmentation fault with in compute engine cpp.

[2020-03-27 07:59] alfabuster commented on #750
Unfortunately not. I delete my Ubuntu distro.

But, are you sure on Fedora Rocm is work properly?  If it is maybe possible to launch Davinci Resolve on Fedora now, because without it, I've got crash on start...

[2020-03-27 19:52] barolo commented on #575
Just tried it, same issues as above unfortunately

[2020-03-27 20:05] mohlondon opened #1060 "Linux version 5.3.0-kali3-amd64 support"
please any update information about the support of
Linux version 5.3.0-kali3-amd64 ?

[2020-03-28 01:56] omerferhatt opened #1061 "GFX10 (Navi) Support"
Hello, I asked when will Navi cards are going to be supported a couple of months ago (#926) and the answer was uncertain. Is there any update about Navi based cards? Thanks for your reply.

[2020-03-28 06:32] valeriob01 commented on #1061
Long ago (six months or more) I was able to get NAVI working, but I don't remember if it was ROCm or amdgpu-pro. Anyway the performance of RX 5700 XT was inferior to Vega64.

[2020-03-28 09:20] Raumss opened #1062 "MI50 doesn't work on my computer with ROCm"
I've installed ROCm on my computer as the offical guide told. R7 workes well ,but MI50 doesn't. I've googled the hardware and software support and don't find a result. Please help me to locate the question. Here is my system info:
`
# dmidecode 3.1
Getting SMBIOS data from sysfs.
SMBIOS 2.8 present.
130 structures occupying 4192 bytes.
Table at 0x000EA400.

Handle 0x0000, DMI type 0, 24 bytes
BIOS

[2020-03-28 14:22] robinchrist opened #1063 "rocminfo works, but clinfo does not -> ERROR: clGetDeviceIDs(-1)"
OS: Kubuntu 19.10, Kernel 5.3.0-42
Hardware: TR1950X + Vega FE

Installing rocm succeeds, but OpenCL does not work.

[code]

[code]

[2020-03-28 16:18] maxi831 opened #1064 "Installing ROCM on Ubuntu - hsa api call failure"
So I am trying to install ROCm on Ubuntu 18.04.3 which is supposedly supported. I have tried reinstalling ubuntu twice and spent quite a few hours trying to get it working. I sticked completely to the official instructions on this github page. One thing that might be relevant is that I ticked `Install third-party software for graphics and Wi-Fi hardware and additional media formats`. When I run `r

[2020-03-29 09:18] valeriob01 commented on #1059
Ok but I still use ROCm 2.10 as installing ver 3.1 failed for me multiple times. There is an issue with clGetDeviceId returning -1.

[2020-03-29 14:27] saitam757 commented on #1000
@Tzigamm Some time ago I tried packaging ROCM for Solus but I gave up. Some days ago was a post in the [Solus Forum](https://discuss.getsol.us/d/4167-i-built-rocm-for-solus-i-need-someone-to-test-it) that someone packaged ROCM up to OpenCl for Solus and needs Tester/Reviewer. I started yesterday the building of those packages and gave some feedback on the corresponding [respository](https://github

[2020-03-29 22:23] Rmalavally commented on #887
AMD ROCm is validated for GPU compute hardware such as AMD Radeon Instinct GPUs. Other AMD cards may work, however, they are not officially supported at this time. We appreciate your feedback and we will consider it for future versions of ROCm.

Regards,
Roopa

[2020-03-29 23:41] FiCacador commented on #887
I don't think anyone here is asking for validation or even official support. All that Navi owners and potential buyers would like is for it to somehow work, now several months after it's release, just like it would work for them from day zero if they have got, say, a RTX 2070 using CUDA.
People understand that the resources are limited, that it's open software, that it's a new architecture, that i

[2020-03-29 23:52] foolnotion commented on #887
let's just call it AMD on the compute market is a joke at the moment and the only option for the consumer is to go nvidia.

[2020-03-30 05:48] jemzipx commented on #887
@Rmalavally That is a very disappointing answer from an AMD's representative. The thing is that, Nvidia's success was due to the fact that every college gamer kid with their consumer-based GTX/RTX card could run deep learning algorithms as well. There are many of us that do not want to rely on Nvidia's propriety CUDA and would prefer to use open standards like OpenCL etc. This is a great business

[2020-03-30 06:50] valeriob01 commented on #887
This is not the first time we get disappointing answers from AMD, We ALL hope AMD change its approach to consumer-grade cards, and its approach to Radeon Instinct MI50 selling strategy for consumers too, not only for businesses.

[2020-03-30 09:16] lrie commented on #887
Well let's face it:
Jen-Hsun Huang said: "Nvidia is a Software Company,"
If you look at their stock chart, that may have been a wise decision.

If AMD decides to put all their effort on fancy 7nm tech, but does not want to spend the money for software developers, we just have to swallow that pill and move on.

[2020-03-30 09:20] lrie commented on #1061
https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-605711172

[2020-03-30 14:24] valeriob01 commented on #887
it would be a bitter pill to swallow however...

[2020-03-31 10:07] BuzzBumbleBee commented on #1050
Can someone confirm that kernel 5.6 has the above issue fixed ?

[2020-04-02 02:01] Sachinx0e commented on #1064
It seems to be fixed after I updated the system today using `sudo apt-get upgrade`.  I also noticed rocm updated from version 3.1 to 3.3.

[2020-04-02 06:10] huanzhang12 commented on #787
I have a AMD X470 motherboard with broken "Above 4G decoding" support. The BIOS maps GPU BAR memories below 4 GB (even "Above 4G decoding" is enabled) and there is no way to find sufficient space to resize the BARs, and p2p does not work on ROCm.

I was able to get P2P working by (1) booting the kernel with "pci=nocrs" option which reassign PCI root complex memory resource, and (2) patching and re

[2020-04-02 07:47] theedge456 commented on #1063
same symptoms with debian/buster.
 AMD Ryzen 7 2700U with Radeon Vega Mobile Gfx
 kernel 5.5.13
[code]

[2020-04-02 11:43] valeriob01 opened #1067 "need to install libncurses5 not documented"
https://github.com/preda/gpuowl/issues/133

[2020-04-02 11:43] omerferhatt commented on #1061
Thank you for your answers

[2020-04-02 11:44] preda commented on #1063
Try #1067

[2020-04-02 13:48] emerth commented on #787
Hi Huan,

Thanks! I will give this a try in the next few days.

[2020-04-02 15:31] csuji commented on #995
Update with 3.3: still fails BUT in a later tuning step with just a segmentation fault:

`
|   ID | total |                                             param |       compiles |         time | GFLOPS |            status |
x------x-------x---------------------------------------------------x----------------x--------------x--------x-------------------x
|  ref |     - |

[2020-04-02 17:03] theedge456 commented on #1063
strace showed that it could not find libtinfo.so.5, which I installed although libtinfo.so.6 is installed.
Now gdb shows a crash with libOpenCL.so.
[code]
I will try to use the github repo instead of the xenial one.

[2020-04-02 21:44] KristijanZic opened #1070 "ROCm hsa api call failure on Ubuntu"
CPU: AMD Threadripper 1900x
GPU: AMD Radeon RX Vega 64 Liquid

[code]

[code]

[code]

[code]
[code]
[code]

[code]

[2020-04-02 21:46] KristijanZic commented on #1064
I can confirm that the issue is present on v3.3

[code]

Now with sudo:

[code]

[2020-04-03 09:00] codecor-cn opened #1071 "Is there a schedule for support RHEL/CentOS 8.0?"

[2020-04-03 14:42] onur-v commented on #1041
The problem persists with ROCm version 3.3. Latest working version for me is 2.10.

[2020-04-04 08:58] TheBigJones commented on #1042
Hello I have the same issue:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package cxlactivitylogger

When I'm trying to import tensorflow I get the following error:
Python 3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last

[2020-04-04 09:11] ggghamd opened #1072 "ROCm-Opencl-runtime build is not clear."
The README.txt contains instruction to use cmake with several flags:
cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DLLVM_INCLUDES=<path-to-llvm-include> -DCMAKE_PREFIX_PATH=<path-to-amd_comgr> -DUSE_COMGR_LIBRARY=yes .

It is not clear what path to use for DLLVM_INCLUDES and DCMAKE_PREFIX_PATH as Rocm source seem to have many copies of same:
root@gg-desktop:~/ROCm/ROCm-OpenCL-Runtime/build# find ../../

[2020-04-04 11:46] jasontitus commented on #776
Did this ever work?  Curious if Hades Canyon NUCs will ever have ROCm support.

[2020-04-04 12:19] jemzipx commented on #887
They released ROCm 3.3.0 today but (as we all expected) there is no official support for Navi yet :( All it takes for them is to hire someone to work on this full-time for a few weeks but apparently AMD has more pressing issues at the moment. Thank you AMD for ignoring your loyal supporters.

[2020-04-04 13:38] patvdleer commented on #1040
Sadly is doesn't matter on what user I run it as long as it's cpu only, see https://github.com/RadeonOpenCompute/ROCm/issues/575

[2020-04-04 19:53] bimonsubio1984 opened #1073 "TensorFlow on RX 470 8GB"
Hello,

Please let me know:

Does RX 470 8GB card work fine with ROCm? Are there any differences compared to RX 580 except 25% drop in performance? Architectures of RX 470 and RX 580 look almost the same IMHO, though only RX 580 is mentioned as supported on ROCm page.

Except mining I would like to learn and experiment with TensorFlow on RX 470 8GB card, is it possible? Are there any limitations o

[2020-04-04 21:37] hrittich commented on #1070
I have the same issue. I have installed a fresh version ob Ubuntu 18.04 and followed [these](https://rocm-documentation.readthedocs.io/en/latest/Installation_Guide/Installation-Guide.html#ubuntu) instructions. I am running the `5.3.0-45-generic` kernel, DRM 3.36.0, on an Radeon RX 580.

    $ /opt/rocm/bin/rocminfo
    ROCk module is loaded
    hannah is member of video group
    hsa api call fail

[2020-04-04 21:43] hrittich commented on #1064
I have the same issue. I have installed a fresh version ob Ubuntu 18.04 and followed [these](https://rocm-documentation.readthedocs.io/en/latest/Installation_Guide/Installation-Guide.html#ubuntu) instructions. I am running the `5.3.0-45-generic` kernel, DRM 3.36.0, on an Radeon RX 580.

    $ /opt/rocm/bin/rocminfo
    ROCk module is loaded
    hannah is member of video group
    hsa api call fail

[2020-04-05 03:57] marcelocf commented on #887
PLEASE do complete navi10 support! I bought this card just because of opensource support (bought in release day). Not having it feels like I paid for the full price of the card, but I can only use half of it.

[2020-04-06 01:49] Bengt opened #1074 "Support Ubuntu 20.04 LTS"
ROCm should support Ubuntu 20.04 since it is the next release with long-term support (LTS) of this Linux distribution, following the currently-supported 16.04 and 18.04 LTS. The Ubuntu 20.04 Beta has just come out, so now is a good time to start testing with that version, before it gets released on April 23rd:

https://wiki.ubuntu.com/FocalFossa/ReleaseSchedule

[2020-04-06 01:57] Bengt commented on #1073
Hi, @bimonsubio1984!

You are probably looking for the tensorflow rocm issue tracker:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/

Your cards use the GFX803 ISA on which Tensorflow runs buggy at best, for more details see:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/479

Personally, I ended up buying Vega GPUs. Those work fine with tensorflow, so ma

[2020-04-06 06:48] bimonsubio1984 commented on #1073
Please suggest which models/manufacturers of Vega are the most problem free, cool, cold and quiet?

As for RX 4xx/5xx cards I guess it was Sapphire Nitro+ ?

[2020-04-06 08:46] #1058 closed

[2020-04-06 11:29] himanshugoel2797 commented on #887
Yes, I agree. Please support navi10. It's absurd and disappointing that the latest and current flagship hardware still doesn't support rocm 6+ months after release and doesn't even have a timeline for it. At this rate might just have to begrudgingly go with Nvidia next generation.

[2020-04-06 18:39] Bengt commented on #1073
Sorry, I don't know that much about the aftermarket cards. Please do your own research on that.

I trusted Buildzoid with his VRM analysis of the reference Vega 64/56. Since the VRM on those is quite over built, I got a Vega 64 and put it under custom water using a core-only water block as my primary card. the next two are Vega 64 Liquid, which is a bit more noisy and the fourth one is a stock Veg

[2020-04-06 20:48] jeffhammond commented on #776
I have nothing to report here.  I got busy and prioritized other things, so I can't say one way or the other if it works, although the information I was able to find made me pessimistic.

[2020-04-06 20:50] jeffhammond commented on #776
I have no idea what impact it could have on this topic, but https://www.tomshardware.com/news/intel-graphics-driver-update-hades-canyon-amd-12-month-delay may be relevant.

[2020-04-07 04:56] vvsteg opened #1075 "Infinity Fabric support in ROCm"
I wonder what is the status of the Infinity Fabric support in ROCm?

This capability of inter-GPU data exchanges is advertised for MI50. Unfortunately, I was not able to find any information about its software support.

[2020-04-07 09:07] ocert commented on #138
+1 as well. Any news? Regards.

[2020-04-07 11:47] patvdleer commented on #575
I just upgraded to ROCM 3.3 which now actually works, no more `BAD_WORK_UNIT`!

[2020-04-07 14:32] akostadinov commented on #1011
Just FYI no RPM issues I hit with 3.3. My custom `kfd.rules` has been removed though and default permissions for `/dev/kfd` are `666`. IMO they should be `660`. At least group is correct `video`.

[2020-04-07 15:23] akostadinov commented on #575
Same here, looks like issue finally fixed.

[2020-04-07 19:08] akostadinov commented on #1071
see #904, hope somebody get that done. RHEL 7 is very old and needs SCL packages which is a nuisance.

[2020-04-07 20:13] gwoltman opened #1076 "Rocm compiler -- improper warning"
Using rocm 3.1.

MIDDLE is a passed to the compiler using -D, as in -DMIDDLE=10
I assume the compiler would also barf if I used "#define MIDDLE 10"

Rocm is complaining about valid C code (messages at end of this message):

length = (MIDDLE <= 12 || MIDDLE == 15) ? 1 : 2;
and
if ((MIDDLE >= 6 && MIDDLE <= 8) || (MIDDLE >= 11 && MIDDLE <= 13) ...

It also seems that after warning several times, the

[2020-04-07 20:19] gwoltman commented on #1076
Correction:  The compiler aborting after several warnings was something else (mismatched paren).

[2020-04-07 23:06] huanzhang12 commented on #787
@emerth Sounds great! I was also able to get large BAR working on a B350 motherboard using this trick as well. If the trick also works for you, I will submit a patch to the kernel driver to get that `res->start > 0x100000000ull` condition removed, so that people can apply this trick more easily.

[2020-04-08 02:12] claudeha opened #1077 "clEnqueueWriteImage writes garbage for mmap'd file data"
I tried to use `mmap()` to load raw float32 image data but it didn't work.

Here is an excerpt from my OpenCL program.  Works fine on CPU (pocl) whether `USE_MMAP` is defined or not. On GPU (rocm) it works only when `USE_MMAP` is *not* defined.  On GPU with `USE_MMAP` defined, the image contains uninitialized garbage data, verified by comparing to CPU the 1x1 reduction level from later code (not s

[2020-04-08 03:04] wormwang opened #1078 "miss tag on hcc when repo sync roc-3.3.0 to roc-3.1.0"
I meet a error , when I run repo sync
#error: in `sync`: revision refs/tags/rocm-3.3.0 in hcc not found

root@k8snode:~/rocm3# ~/bin/repo init -u https://github.com/RadeonOpenCompute/ROCm.git -b roc-3.3.0
.repo/manifests/: discarding 1 commits

If you want to change this, please re-run 'repo init' with --config-name

Testing colorized output (for 'repo diff', 'repo status'):
  black    red      gr

[2020-04-08 11:30] vvsteg commented on #1075
I have found in ROCm Version History that RCCL2 uses Infinity Fabric since ROCm 2.6.

Hope to see more information in the future.

[2020-04-08 11:30] #1075 closed

[2020-04-08 18:08] DaDummy commented on #1040
For Ubuntu 19.10 at least, documentation needs an adjustment:

According to an strace `/dev/dri/renderD128` needs to be accessed for clGetDeviceIDs to succeed. Access to this file is controlled through membership in the `render` group as opposed to the `video` group here. So users will need to be added to that group, too, for ROCm OpenCL to be correctly detected.

[2020-04-09 12:01] Danny3 commented on #1074
This would be great and very much needed.
Also it would be amazing if the installer would not break if we manually update the kernel to the current one (5.6).

[2020-04-09 15:25] arsenm commented on #1053
They're equivalent, and there's no real advantage beyond reducing diffs to trying to provide a consistent order based on the register number. It's possible there are bugs where the compiler pointlessly commutes instructions, but in general it's probably not worth the compile time to reorder operands by register number once allocated.

[2020-04-11 12:39] Dantali0n commented on #887
Hello, I think the only reasonable way we could expect widespread adoption of ROCm if it is supported by all cards just like Nvidia's CUDA. The era of GPGPU compute is shifting more and more applications and developers are realizing when not gaming these cards can significantly improve the performance of many applications. ROCm can only be relied upon by developers if it is supported by all cards

[2020-04-11 13:27] ddobreff opened #1079 "ROCm 3.3.0 breaks support for Navi in kernel mode."
Hello,
I am fully aware that Navi ASICs aren't supported officially on ROCm but I was using 3.1.1 and it was working just fine in kernel mode while using 19.30/19.50 OpenCL drivers from amdgpu-pro.
With latest 3.3.0 that support has broken.

[code]
Using any firmware blobs does not fix the problem, it still fails here in hw_init of smu block.

[2020-04-11 13:59] ddobreff commented on #1079
Update:
Applying this fixed the problem.
https://www.spinics.net/lists/amd-gfx/msg45307.html
Still smu is resetting several times and I get this message:
[code]
But it works as expected.

[2020-04-12 00:56] MatPoliquin opened #1080 "rocminfo HSA_STATUS_ERROR_OUT_OF_RESOURCES"
Ubuntu 19.10
Kernel 5.3.0-46-generic
rocm-dkms 3.3.0-19
RX 580
E5 2680v2

When I run **rocminfo**, I get this error
ROCk module is loaded
xeon is member of video group
`hsa api call failure at: /data/jenkins-workspace/compute-rocm-rel-3.3/rocminfo/rocminfo.cc:1102
Call returned HSA_STATUS_ERROR_OUT_OF_RESOURCES: The runtime failed to allocate the necessary resources. This error may also occur when

[2020-04-12 00:59] MatPoliquin commented on #1070
Got same problem as you since the latest rocm, rolling back to the previous version would would work I guess

[2020-04-12 06:01] vvsteg commented on #1079
I am sorry for the off-topic. Is there a possibility that using ROCm with OpenCL drivers from amdgpu-pro could help running ROCm on Hawaii (see #1006 )?

[2020-04-12 21:30] massimotamos commented on #836
This ROCm project is a mega disaster. Nothing works despite trying out all the info on blogs and documentation. AMD website and documentation is not at the expected quality level.

[2020-04-13 00:03] ddobreff commented on #1079
This is different. You can sure use rocm kernel driver with amdgpu-pro opencl but reverse is not possible(tested it long time ago and it worked for one vega only). But why mixing while amdgpu-pro provides decent hawaii support? Hawaii problem is not in kernel driver AFAIK.

[2020-04-13 04:21] vvsteg commented on #1079
OK, now I see. Thanks!

[2020-04-13 07:07] dundir commented on #1013
Tested 3.3 with the same options. ROCM is still nonfunctional, problems with the unpinned compute engine.cpp at line 126, segmentation fault, or system hang depending on the various BIOS settings and tests run.

There has been no response or assignment in the past 2 months, at this point I'm moving on.
Its become clear to me that ROCM as a platform simply is not a priority or up and coming platfor

[2020-04-13 07:20] dundir commented on #1013
I've attached the CRAT table dump in the case someone comes along that would find it useful with following up on this issue. I saved a full ACPI dump to file; if its needed feel free to reach out. I'll keep it available for the next six months.

[acpi-crat.dump.txt](https://github.com/RadeonOpenCompute/ROCm/files/4468432/acpi-crat.dump.txt)

[2020-04-13 07:34] dundir commented on #1034
That error unfortunately could be any number of things. Some people have had OpenCL failing since v2.10. Additionally, you may be running into a firmware issue depending on the motherboard you are using. For the latter you can read more about it [here](#1013 1013).

[2020-04-13 08:27] akostadinov opened #1081 "card goes crazy under high load and ROCm 3.3"
At the moment I'm running Folding@Home. I figured running two GPU slots on same card bringd higher efficiency but after some time Fan goes to 100% and I see the following non-sense from `rocm-smi`:
[code]

To reproduce, one needs to run `FAHClient` first. Then using `FAHControl` add a second GPU slot and hardcode GPU and OpenCL index to `0`. btw there seems to be a configurator bug because FAHClie

[2020-04-13 10:39] seesturm commented on #1013
Maybe it does not help, but did you ever try to restrict the visible devices? There are some methods available. E.g. environment variable ROCR_VISIBLE_DEVICES=0 for if you want only the first device "visible".

[2020-04-13 12:16] pjones8404lml opened #1082 "/opt/rocm/opencl/bin/x86_64/clinfo Segmentation fault (core dumped)"
Ubuntu 18.04
The installation went smoothly with no bumps.  However, running CLinfo always ends up with a Core Dump.

My Name is in the vlog.  It is reading both the Ryzen and the RX580 card.

Here is the run from ~$ /opt/rocm/bin/rocminfo
ROCk module is loaded
philip is member of video group
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Time

[2020-04-13 20:39] dundir commented on #1013
@seesturm Thanks. I wasn't aware of those options and I'd been searching fairly regularly for the past several months. It would have been something additional I could have tried.

Unfortunately the BIOS settings bricked the replacement board, again, so it doesn't POST and I won't have anything to test on until the second RMA comes back if I end up going that route.

At this point, I'm thinking I p

[2020-04-15 06:29] leoniescape commented on #889
I had same problem too. And it works after I add myself into groups "video".

[2020-04-15 12:15] SimoSera opened #1083 "ROCm support for RX5700"
Does now RX 5700 series support ROCm? if not, is there a scheduled release date?

Thanks.

[2020-04-16 01:28] jackyin68 commented on #1080
this can not be solved?

[2020-04-16 03:44] huanzhang12 commented on #1083
No, and unfortunately there is even no official schedule for it. See https://github.com/RadeonOpenCompute/ROCm/issues/887

[2020-04-17 02:26] Bengt commented on #1074
The release candidate should have been out by now:

http://releases.ubuntu.com/20.04/

[2020-04-17 02:34] Bengt commented on #1083
So basically, ROCm support for the gfx10 instruction set architecture will likely come with the release of a server-oriented compute card using it. That may happen soon or not at all, depending on company and market politics.

[2020-04-17 02:39] Bengt commented on #1081
Interesting. Is running two slots in one gpu a supported use case by Folding@Home? Last time I checked, the workload would not even run on Vega. I would like to give that another try.

[2020-04-17 10:51] witeko commented on #1074
@Bengt I think since yesterday You can now install rocm in ubuntu 20.04

[2020-04-17 12:03] ernstp commented on #977
The install instructions mention that you should add yourself to the video group, but I also had to add myself to the "render" group because that owned /dev/dri/renderD128

[2020-04-17 14:00] hrittich commented on #1080
This issue might be related to #1070 and #1064.

[2020-04-17 14:01] hrittich commented on #1070
Do you know whether there is a way to get the Ubuntu packages of the previous version? I could not find them.

[2020-04-18 11:20] MatPoliquin commented on #1070
@hrittich The previous versions are here
[http://repo.radeon.com/rocm/apt/](url)

Add the version you want to the repo list in "Software & Updates" GUI in Ubuntu
Then with
`sudo apt show -a rocm-dkms`
you should see your version along with the current one 3.3.0

After you can install it with (using 3.1.1 as example)
`sudo apt install rocm-dkms=3.1.1`

[2020-04-18 23:45] Djip007 commented on #750
use it like with tensorflow like that:
podman run -it \
    --network=host \
    --device=/dev/kfd \
    --device=/dev/dri \
    --ipc=host \
    --shm-size 16G \
    -v $PWD:/root/home\
    rocm/tensorflow:latest

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/935

(with the patch: https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/issues/66#issuecomment-615980464 ...)

[2020-04-19 05:05] han-minhee commented on #1074
@witeko Are you positive on that? I'm asking as I'm going to try 20.04 out :)
It would be nice if I could know before I actually install one

[2020-04-19 05:55] witeko commented on #1074
@han-minhee you can install the rocm. Some things work (like rocm smi), some things don't (like tensorflow).

[2020-04-19 13:12] han-minhee commented on #1074
@witeko  Thank you!
That's enough for me! I mainly deal with openCL, and will see if it works.
Was it an ROCM related problem, or a tensorflow related one?
if it's former, I'll try to fix it (though I'm pretty much not sure if I can)

[2020-04-19 13:42] witeko commented on #1074
@han-minhee i dont know whats the root cause, tensorflow doesnt build, the whl package from pypi "crashes" (produces errors) when using.
If You can provide sth easy to check (if it works), I can check it for You. :)

[2020-04-19 20:52] han-minhee commented on #1074
@witeko  Thank you for the reply! :) I'll install 20.04 and check it myself! Again, thanks a lot!

[2020-04-20 09:43] hrittich commented on #1070
@MatPoliquin Thank you for the description. I was able to install 3.1.1. Unfortunately, this did not solve the issue for me.

[2020-04-20 10:16] Bengt commented on #1074
@witeko You can avoid building TensorFlow yourself by using a wheel package of tensorflow-rocm:

https://pypi.org/project/tensorflow-rocm/#files

To verify ROCm can run TensorFlow  as intended, please run a simple payload like this one:

https://gist.github.com/Bengt/c5d5c45506339f234f6d7a9a13d23ba3

[2020-04-20 10:31] akostadinov commented on #1081
@Bengt , F@H works since ROCm 3.3. Supported use case by who?

Standard user software shouldn't be able to cause card to behave in this way. Card should never show 511°C and should not block like this. This is default settings, no over/underclocking, fan control changes or anything.

Also issue is not that it doesn't work. Just after some time cooling management or something seems to become busted

[2020-04-20 11:37] Bengt commented on #1081
@akostadinov I can confirm that F@H works fine now. I have already completed several work units on my 4 Vegas, but I did not yet test running multiple slots per card. I did not observe the erroneous power and temperature readings and the fans did not go to full speed. I run into this issue, though:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/621

[2020-04-20 11:41] Bengt commented on #857
Folding at Home (F@H) can also trigger this behavior. Picture of the aftermath:

![IMG_20200420_133729](https://user-images.githubusercontent.com/11575/79747679-696fc400-830c-11ea-86ca-93e9dd4fb6da.jpg)

[2020-04-20 11:42] Bengt commented on #857
See https://github.com/RadeonOpenCompute/ROCm/issues/1081

[2020-04-20 12:47] FilipVaverka opened #1084 "Zypper (SLES 15 Service Pack 1) repository missing "repodata""
ROCm SLES 15 Service Pack 1 repository (zypper) at [http://repo.radeon.com/rocm/zyp/zypper/](http://repo.radeon.com/rocm/zyp/zypper/) seems to be missing repository metadata "[repodata](http://repo.radeon.com/rocm/zyp/zypper/repodata/)" used by zypper. This results in following error when update is attempted:

The "repodata" are present in version [3.1.1](http://repo.radeon.com/rocm/zyp/3.1.1/repo

[2020-04-20 23:01] witeko commented on #1074
@Bengt first you need to install libncurses5 (6 is not enough)
After that I get:
2020-04-21 00:50:14.817784: E tensorflow/stream_executor/rocm/rocm_driver.cc:975] could not retrieve ROCM device count: HIP_ERROR_NoDevice

rocm-smi seems to be working fine.

[2020-04-21 02:14] jackyin68 opened #1085 "whether ROCm Release Notes v3.3.0 can be deployed properly"
Whether AMD ROCm Release Notes v3.3.0 can be deployed in Ubuntu 18.04..04?
Very confused, cost a lot of time, HSA_STATUS_ERROR_OUT_OF_RESOURCES cannot be resolved.
Kindly person can give the answer or give up?

[2020-04-21 08:19] btspce commented on #981
Still broken in ROCm 3.3

[2020-04-21 09:47] btspce commented on #768
ROCm 3.3 is now working on Davinci with Raven Ridge 2700u and hsa-ext-rocr-dev-1.1.9-122-ge5c4efb1-Linux.rpm from ROCm 2.9 repo on Fedora 31

[2020-04-21 13:32] Bengt commented on #1074
@witeko Thanks for testing this. Interesting to know that the rocm driver does not recognise the GPUs, although rocm-smi has no issues with that.

[2020-04-21 18:49] MJaoune opened #1086 "Is there any chance of supporting Piledriver+Polaris combination on a PCIe 2.0?"
Currently Polaris GPUs such as AMD RX 580 and 590 do not work with ROCm when paired with AMD FX processors such as FX 8300, the kfd module shows an error regarding atomics.

I know it is not stated in the documentation that this combo is supported, but will it be supported in the future on a PCIe 2.0?

[2020-04-22 00:20] MatPoliquin commented on #1085
I got the same problem You can role back to 3.1.1 by setting the rocm repo to:
`http://repo.radeon.com/rocm/apt/3.1.1/`
reinstall and reboot

[2020-04-22 02:30] jackyin68 commented on #1085
thanks,ubuntu 18.04 Or ubuntu 18.03

[2020-04-22 09:36] dcolley commented on #1070
I followed the https://rocm-documentation.readthedocs.io/en/latest/Installation_Guide/Installation-Guide.html#hardware-support and I also get this error.

I tried downgrading... but 3.1.x
[code]

and then
[code]

[2020-04-22 11:15] JavascriptAddict commented on #1036
Try using python3.6 instead of python3

[2020-04-22 13:58] MatPoliquin commented on #1085
@jackyin68 I use Ubuntu 19.10

[2020-04-22 14:01] MatPoliquin commented on #1070
I would say next step is trying with a clean install (v 3.1.1)
What are your distros?
I use Ubuntu 19.10, also tried 20.04 beta

[2020-04-22 14:39] dcolley commented on #1070
I was on ubuntu 16.04. A simple upgrade to 18.04 seems to have worked for me.

[2020-04-22 16:53] amunozf commented on #1082
I too get a segmentation fault when I execute the command 'clinfo'. This is my rocminfo output:

[code]

[2020-04-23 01:32] jackyin68 commented on #1085
Great, I try again.  many compositions have been tried bot failed.

[2020-04-23 01:35] jackyin68 commented on #1085
@MatPoliquin do your system work well?

[2020-04-23 09:11] pqyptixa commented on #1063
@theedge456 were you able to fix/find a workaround for this issue?

[2020-04-23 09:23] MatPoliquin commented on #1085
@jackyin68 Ubuntu 19.10 with rocm 3.1.1 on a RX580 works ok

[2020-04-23 10:03] Anton-Kyrychek commented on #887
@jemzipx
Hey, I'm trying to make  my rx5700xt work  the same as you did(but on Ubuntu 18.04). I installed 5.7rc2 kernel,  I have a question  how did you install AMDGPU PRO? I find a lot of problems with dependencies when i tried to do it(which may or may not be connected to Ubuntu).

[2020-04-23 12:35] jemzipx commented on #887
@Anton-Kyrychek I installed AMDGPU PRO through AUR (which is more specific to Arch Linux and it's derivatives like Manjaro). The installation was quite easy and the dependencies were resolved by Makepkg and Pacman automatically (nothing special was done on my side). I tried it only on 5.6 though. Not sure how it plays on 5.7rc.

[2020-04-23 18:20] andrielc opened #1087 "[ROCm 3.3.0] clinfo in loop on sched_yield()"
I'm trying to install the latest ROCm driver (3.3.0) for my 2 Radeon RX290 graphic cards, in the Ubuntu 18.04 LTS with kernel 5.3.0-46, but the _clinfo_ gets in loop on sched_yield().
I followed the ROCm Ubuntu manual install in the documentation all times, and always the same problem.
Are there any solution or workaround to remediation it?

Follow below the full description about the system and g

[2020-04-23 19:09] emerth opened #1088 "One solution to rocminfo fails with HSA_STATUS_ERROR_OUT_OF_RESOURCES"
This is a demonstration of a way to debug a certain class of HSA_STATUS_ERROR_OUT_OF_RESOURCES error encountered when running some rocm tools.

My system is a fresh Ubuntu 18.04.4 LTS install with Ubuntu's upstream kernel "Linux 5.3.0-050300-generic #201909152230 SMP Sun Sep 15 22:32:54 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux" installed. Then rocm 3.3.0 installed via apt-get install rocm-dev. Then

[2020-04-23 22:41] Goddard commented on #1074
This will land in http://repo.radeon.com/rocm/apt/debian focal Release  soon?

[2020-04-24 18:14] btspce commented on #976
Still the same issue with 3.3. And I can no longer force the cpu clocks up again due to rocm-smi not working

$ sudo /opt/rocm-3.3.0/bin/rocm-smi --setprofile 3

========================ROCm System Management Interface========================
Traceback (most recent call last):
  File "/opt/rocm-3.3.0/bin/rocm-smi", line 2995, in <module>
    setProfile(deviceList, args.setprofile)
  File "/opt/roc

[2020-04-24 18:17] btspce opened #1089 "rocm-smi fails to set profile"
System: Raven Ridge 2700u
rocm-smi from ROCm 2.2 works.

$ sudo /opt/rocm-3.3.0/bin/rocm-smi --setprofile 3

========================ROCm System Management Interface========================
Traceback (most recent call last):
  File "/opt/rocm-3.3.0/bin/rocm-smi", line 2995, in <module>
    setProfile(deviceList, args.setprofile)
  File "/opt/rocm-3.3.0/bin/rocm-smi", line 2434, in setProfile
    i

[2020-04-24 20:07] witeko commented on #1074
Seems like you can run tensorflow using docker in 20.04
@Bengt

[2020-04-25 04:31] dchmelik commented on #138
I'd also love to see FreeBSD Unix ROCm (and ROCm for any main/other strictly Unix[-like] (i.e., non-systemd, etc.) OSes, like *BSD (three classic) & OpenSolaris/IllumOS Unixes, Slackware GNU/Linux.  I know ROCm builds on a newer non-systemd GNU/Linux.)  My only AMDGPU-pro option had been OSes I questioned were worth extreme emotional pain of systemd, and many other issues, just for newer Radeon.

[2020-04-25 05:20] clemej commented on #977
I can't believe this, but jcdutton's answer fixed the issue for me,  Fresh install of Ubuntu 20.04 on a new system, vega 56, and fresh install of rocm 3.3.0 from the repo.  rocminfo worked but clinfo segfaulted.  Installing `libncurses5` and `libncursesw5`solved the issue.

The clue is in the strace, which not long before the crash claims it can't find libtinfo.so.5.  But then it complains about c

[2020-04-25 07:21] preda commented on #1059
This issue seems fixed in Linux kernel 5.6.7 and 5.7.0-rc2 . @fxkamd thank you!

[2020-04-25 07:21] #1059 closed

[2020-04-25 07:46] preda commented on #977
#1067

[2020-04-25 07:49] preda commented on #1067
@AMD it seems this libncurses5 issue is affecting a lot of users. A pity to crash for such a petty and frankly unrelated lib.

[2020-04-25 07:58] jcdutton commented on #1082
You could try:
strace -f clinfo 2>strace.txt
and then post the strace.txt file.
It might give some indication on where it is failing.

[2020-04-25 15:38] jankaltoun commented on #1080
I had the same problem. Add yourself to both 'video' and 'render' groups and restart your computers so that the changes take effect.

[2020-04-25 16:59] emerth opened #1090 "What project/repo is the rocm-3.3.0/bin/clang-ocl script in, please?"
I wish to submit a pull request for some changes to the clang-ocl script.

But I can't find it in the various github RadeonOpenCompute projects.

What repo do I have to fork to get a copy that I can modify and then submit a pull request?

Thanks!

[2020-04-25 17:32] emerth commented on #1085
Check if your user account has R/W on /dev/kfd, and /dev/dri/*.
If not, change the permissions to allow R/W and try again.
Note your udev sysbysytem probably reset the permissions on reboot. For udev, see udev documentation.

[2020-04-25 18:07] rsbball11 commented on #1080
It seems that for me, there is no render group?
`usermod: group 'render' does not exist`
Is there a some extra set up I need to do?

[2020-04-25 18:23] jankaltoun commented on #1080
I'm on Ubuntu 20.04 but I'm not sure whether that has anything to do with it.
I basically had to (or at least I believe so) grant myself access to `/dev/kfd`.

In my case it looks like this:

`crw-rw---- 1 root render 236, 0 dub 25 17:34 /dev/kfd`

[2020-04-25 19:00] pty819 commented on #1080
thank you！

[2020-04-25 21:28] seesturm commented on #1090
Repository seems to be https://github.com/RadeonOpenCompute/clang-ocl

[2020-04-26 03:09] braiam commented on #977
Since many find this issue, tracing the clinfo strace seems to be the most generic solution to find out what's wrong:

[code]

Other errors described in this issue seems to be self-explanatory (missing kernel arguments).

[2020-04-26 07:47] preda opened #1091 "ROCm 3.3, clinfo not working under Linux kernel 5.7.0-rc2"
FYI, using ROCm 3.3 OpenCL-only with Linux kernel 5.7.0-rc2, clinfo does not work:
[code]

OTOH the GPUs (Radeon VII) are initialized correctly, and the gpuowl OpenCL application works correctly.

strace seems to suggest a problem with DRM_IOCTL_VERSION ioctl:

[code]

[2020-04-26 13:18] agners commented on #1074
Probably expected, but just wanted to note: Installing the xenial packages currently fails when trying to install `rocm-dkms`:

[code]

[2020-04-26 21:49] LucasCampos commented on #1082
Not the same person, but similar issue. Using Ubuntu 20.04, and ROCm 3.3.

Output of `rocminfo`

[code]

output of `strace /opt/rocm/opencl/bin/x86_64/clinfo`

[code]

[2020-04-26 21:53] LucasCampos commented on #1082
My `LD_LIBRARY_PATH` is `/opt/rocm/lib:/opt/rocm/opencl/lib/x86_64:/opt/rocm/hsa/lib:/opt/rocm/hip/lib`

Which interestingly does contain the library `libamd_comgr.so`,

[code]

[2020-04-26 22:10] LucasCampos commented on #1082
I think I have found the solution. There are two issues.  First, `rocm` does not install a dependency, `libtinfo5`. Second, there is the mistake in the path of `libamd_comgr.so`.

**TL;DR**

Thus, one needs to install the missing library as

[code]

Second, one needs to run the `clinfo` in the folder `/opt/rocm/lib`

** Long version **

In the line `openat(AT_FDCWD, "./libamd_comgr.so", O_RDONLY|O

[2020-04-26 22:16] LucasCampos commented on #1082
Using these workarounds, it was possible to make Blender detect the OpenCL driver. I ran Blender with

[code]

and both my CPU and GPU were shown in Blender

![Screenshot from 2020-04-27 00-15-35](https://user-images.githubusercontent.com/2735358/80321315-5da86400-881c-11ea-99e8-637285678b7a.png)

[2020-04-27 11:13] ableeker commented on #1088
Nice! This show why strace is useful indeed. We've used strace to find out why clinfo segfaulted. It showed that it's caused because it couldn't find libncurses5. Go figure... Anyway, I'm no expert, but I think you're right about the permission issue.

However, isn't the udev rule supposed to fix that in a safer way? In the installation guide it says in the section about Upstream Kernel Drivers th

[2020-04-27 14:20] pjones8404lml commented on #1082
JC

JC, when running it, I get :Number of platforms                               0

[2020-04-27 15:22] Dekken commented on #887
You may want to update the docs:
https://github.com/RadeonOpenCompute/ROCm

Or maybe update your knowledge.

[2020-04-27 15:24] Dekken commented on #887
You may want to update the docs:
https://github.com/RadeonOpenCompute/ROCm

It does not suggest Navi support, but Vega is fine.