[2021-03-02 10:22] Sotwi commented on #1398
Thank you for the quick answer @ROCmSupport. That's why I say it seems to
relate to what @Djip007 said on issue #750.

The Raven is part of the computer's APU. But the computer also has a
dedicate Radeon RX560X

Shouldn't it be possible to run ROCm on that one?

Thank you in advance once more!

On Tue, Mar 2, 2021, 07:45 ROCmSupport <notifications@github.com> wrote:

[2021-03-02 10:25] ROCmSupport commented on #1398
Hi @Sotwi
RX560X is also not a supported card. Check this: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)
Thank you.

[2021-03-02 13:30] darkbasic commented on #567
Me either, but I also wonder why ROCm isn't yet in the official repos. Is it still a packaging hell?
Most users believe clover will be usable before ROCm does.

[2021-03-02 14:00] KristijanZic commented on #1345
Well you fixed it alright..
What's with the fix?

I guess that doesn't really mean anything if you don't actually reopen the issue...

[2021-03-02 16:43] buraksarac commented on #567
I gave up long time ago but reading follow ups it is impressive what AMD has achieved with linux contributions, built a great team with lot of knowledge and failed to provide a proper,high performance,backward compatible low level SDK/language to its own hardware... If I am not getting most of it from your software where I should look, I had a feeling even your old AMD opencl sdks had better perfo

[2021-03-02 19:53] johnbridgman commented on #1345
Agreed, but IMO it would be even worse if I re-opened the issue and someone else closed it again. Want to get everyone aligned first.

[2021-03-02 20:07] KristijanZic commented on #1345
Touché.

[2021-03-03 05:55] ROCmSupport commented on #1116
Thanks @izixxxc for reaching out.
I will check this for you.

[2021-03-03 09:20] ROCmSupport commented on #1116
Hi @izixxxc
I am able to reproduce this issue with the latest ROCm 4.0 also.
Looks like SMI is showing wrong result. let me debug more and get back to you on this.
Thank you.

[2021-03-03 09:22] ROCmSupport commented on #1115
Hi All,
As I mentioned in other threads, we will come up with the support of Navi cards soon, but I can not comment on specific series of cards right now.
I hope you understand my point.
We request you to wait for few more days for official support and keep watching our documentation.
Thank you.

[2021-03-03 09:22] #1115 closed

[2021-03-03 09:30] ROCmSupport commented on #1113
Hi @piondeno
Thanks for reaching out.
Recommend you to check with the latest ROCm 4.0 or 4.1 and with Vega64 and update asap.
So that I will move it forward.
Thank you.

[2021-03-03 11:04] ROCmSupport commented on #1111
Hi @notokcomputerbadcomputer
Thanks for reaching out.
As of now, looks like there is no plan to add R7 pro into ROCm support.
Anyway I will try to get the latest information on this and update you asap.
Thank you.

[2021-03-03 11:05] ROCmSupport commented on #1109
Hi @Disidente
Can you please verify with the latest ROCm 4.0 and share an update asap.
So that I can move this issue to next level.
Thank you.

[2021-03-03 11:11] ROCmSupport commented on #1108
Hi @c0d3st0rm
Thanks for reaching out.
Request to try with the latest ROCm 4.0 and share an update asap.
Thank you.

[2021-03-03 11:16] ROCmSupport commented on #1107
Hi @chaoji90 and all,
Now ROCm 4.0 works well on Ubuntu 20.04 and ROCm 4.1 is coming with the latest kernel support also.
The current issue is not observed anymore.
I am closing this now.
Feel free to open any new issue for quick responses.
Thank you.

[2021-03-03 11:16] #1107 closed

[2021-03-03 14:48] gabrielziegler3 commented on #1265
Has anyone on Arch uploaded a working ROCm build yet? I've been struggling with this now.

[2021-03-04 09:42] ROCmSupport commented on #1105
Thanks @papadako for reaching out.
I will check this for you and get back asap.
Thank you.

[2021-03-04 09:45] ROCmSupport commented on #1104
Thanks @vanakool1001 for reaching out.
This issue is not reproduced anymore with ROCm 4.0 and hence request to try with ROCm 4.0.
I am closing this now.
Request to open a new issue, any, in future.

[2021-03-04 09:45] #1104 closed

[2021-03-04 09:59] ROCmSupport commented on #1103
Thanks all.
As per the latest comment, I am closing this issue.
Feel free to open a new issue, if any, for quick responses.
Thank you.

[2021-03-04 09:59] #1103 closed

[2021-03-04 21:06] paranoidfactoid commented on #1281
This call never got reopened, did it!

[2021-03-04 23:12] BloodyIron commented on #1281
Yeah what's going on?

[2021-03-04 23:22] paranoidfactoid commented on #1281
1345 is still closed too.

https://github.com/RadeonOpenCompute/ROCm/issues/1345#issuecomment-788373240

[2021-03-05 04:49] ROCmSupport commented on #1105
Got an update.
We are in process of making a good collection of models but it’s not at a stage to share.
We will share once ready but it will take some time.
Please stay tuned.
Thank you.

[2021-03-05 04:49] #1105 closed

[2021-03-05 10:40] dagmcr opened #1400 "Raven Ridge ROCm support: rocminfo and clinfo errors"
Hi,

## Error description

I have the following errors after installing ROCm in Ubuntu 20.04.1, kernel 5.4.0-66 in a Raven Ridge platform:

*  `rocminfo`:

[code]

With `strace`:

[code]

Context:

[code]

*  `clinfo`: Doesn't work either:

[code]

Is it Raven Ridge really supported? ROCm documentation describes this platform as 'Limited support'. What does it mean?

According to the ROCm document

[2021-03-05 11:30] ROCmSupport commented on #1400
Thanks @dagmcr for reaching out.
We do not have Ravens in testing with ROCm and we are not claiming official support with ROCm.
I will make sure that Documentation is updated accordingly so that no confusion will be there.
Thank you.

[2021-03-05 11:30] #1400 closed

[2021-03-05 15:00] scottkosty commented on #1399
@dshm note for the future that you can attach files to GitHub issues. When you are responding to a comment, you should see txt that says "Attach files by dragging & dropping, selecting or pasting them". Or if you prefer, just click on that text and it should open a file browser window for you to select the log.

By the way, thanks for reporting this issue. As a future ROCm user, I appreciate your

[2021-03-05 16:25] banderlog commented on #1376
Aha, it is still better to buy NVIDIA GPUs for ML then.

There is no way for the red team to even take decent participation in the whole ML/DL thing without ROCm support of the own **two** last GPU generations. For actual competition, ROCm should be no more buggy than CUDA. In how many years that will be achieved? I bet that no sooner than the next GPU generation arrives (another ~3 years).

That

[2021-03-05 16:35] banderlog commented on #887
It looks like the red team does not bother of ML/DL market at all. Like, formally, they tried, but it seems that the blue team will develop and produce GPU with all proper software sooner than AMD will add support for the **two** own last GPU generations to the already existing library.

I don't understand why this happens, but it's sad.

[2021-03-05 18:35] dagmcr commented on #1400
Thanks @ROCmSupport for the quick replay. I'm still a bit confused because of what the documentation was describing as 'limited support'  (I understand you will remove/clarify that part of the docs) but also because of this AMD layer content for yocto: [meta-amd](https://git.yoctoproject.org/cgit/cgit.cgi/meta-amd) which has (old) support for ROCm for the V1000 platform (which integrates the Raven

[2021-03-05 20:49] oleid commented on #887
There is support for newer hardware, it is only not released to this repo, yet. The latest amdgpu-pro OpenCL driver is fully ROCm based and supports RDNA 1 + 2.

[2021-03-06 00:26] banderlog commented on #887
@oleid and I can use it to run TF/pytorch using official documentation from rocmdocs? Like, everything works with the proprietary driver, just almost nobody knows that, and all dissatisfaction is about when opensource version will support the same features?

[2021-03-06 08:40] KristijanZic commented on #1281
How did the internal alignment go? Should we be worried again?

[2021-03-06 08:41] KristijanZic commented on #1345
How did the internal alignment go? Should we be worried again?

[2021-03-06 10:12] limapedro commented on #887
People forget that the technology that ROCm is competing is almost 15 years old, ROCm it's only getting close to what it should have been now. AMD has to make this work in the long-term, I'm looking forward to Windows support through WSL-2. Someone ran some Deep Learnig code on this card (RX 5700), but it doesn't run right yet.

https://www.youtube.com/watch?v=-iYwbnvV2w0

[2021-03-06 12:10] bugparty commented on #930
amd 1800x + amd470 and centos8.3 failed too

[2021-03-06 12:22] bugparty opened #1401 "rocminfo got kernel panic"
hello
my hardware is x370 chipset, amd 1800x cpu, amd 470 gpu.
uname -a
Linux rhel 4.18.0-240.15.1.el8_3.x86_64 #1 SMP Mon Mar 1 17:16:16 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

when I execute rocminfo

`/opt/rocm/bin/rocminfo
ROCk module is loaded
Able to open /dev/kfd read-write
hsa api call failure at: /data/jenkins_workspace/centos_pipeline_job_4.0/rocm-rel-4.0/rocm-4.0-23-20201214/7.7/rocmin

[2021-03-06 13:32] damora commented on #1274
Running into the same issue reported above with 4.0.0 on RHEL8.3.  is the fix recommended by @kentrussell the best remedy at this point?
i.e. edit local rsmiBindings.py

[2021-03-06 16:23] oleid commented on #887
I only know about ROCm based OpenCL in amdgpu-pro. For the machine learning things more is needed. AFAIK MiOpen (which is used within tensorflow for the machine learning things) has an OpenCL based implementation as well as a HSA based implementation. It *could* be possible that the OpenCL bits from amdgpu-pro are already enough, but I don't really know. And I cannot test it.

It seems to be possi

[2021-03-06 21:21] johnbridgman commented on #1345
It's making progress, although going slowly because everyone now understands that these are shared components and so the simple "we don't support GUI apps" statement is not workable. Now we're getting into more complicated questions like whether the ROCm stack is "the datacenter stack" or "the upstream for our shared compute components" or both.

Saying that the datacenter stack does not support G

[2021-03-06 21:46] BloodyIron commented on #1345
Not supporting GUI for datacenter, I can get that. I'm glad this distinction is being more realised, and that the ROCm stack messaging is being corrected to seemingly clearly show that GUI is supported for workstation/consumer/embedded.

When you say that the solution is conceptually separating, do you more mean, developer efforts, or are we talking about a forking of code and having a ROCm versio

[2021-03-06 21:54] johnbridgman commented on #1345
I see the changes as being more semantic and symbolic than anything else - we have some teams that focus on datacenter and we don't want to stick them with issues related to graphical apps that they never use, but fixing that is more a matter of getting the tickets to the right people than anything else. Might mean we add more problem reporting buckets, for example.

I don't see anything like fork

[2021-03-06 21:59] BloodyIron commented on #1345
@johnbridgman That's really good info, but you appear to be skirting my inquiry about stability. So perhaps a rephrase of my question might help us both.

The changes that are being described here, semantic, symbolic, as well as helping improve the flow of where tickets/issues go to (the right people, with higher accuracy rates of who the "right people" are). Do you see that addressing the issues

[2021-03-06 22:03] johnbridgman commented on #1345
Sorry, I thought that was implicit in my answer. I don't expect any of the changes to have any impact on stability except to the extent that clarification of uses and issue communication might help make investigation of problems and ongoing tweaking of QA test plans a bit more efficient. Not promising any of that right now though, top priority is getting back to things being no worse than they wer

[2021-03-06 22:06] BloodyIron commented on #1345
@johnbridgman thanks for the clarification! I really like the direction this is headed. Thanks for your help with this and thanks to your team working to turn this whole situation around! I really hope ROCm can get ROCm' solid! haha XD

[2021-03-07 02:24] banderlog commented on #887
So, "no"

[2021-03-07 03:53] beatboxa commented on #1345
@johnbridgman I just want to point out that if DaVinci Resolve is not one of the apps you include in your workstation QA test plans, then AMD may want to avoid marketing its products as such:
https://www.amd.com/system/files/documents/davinci-resolve-solution-brief-radeon-pro-vii.pdf

While I appreciate the honest & candid response, AMD's financial situation and lack of support through now (which,

[2021-03-07 04:07] johnbridgman commented on #1345
Hah - I hadn't seen that, thanks. Guessing it is referring to Windows (which has a lot more QA coverage) but will find out. It may turn out that this is a Linux-only issue, which should make it easier to address.

I don't really understand the rest of your post - my comment about resource constraints was in the past tense and I explicitly mentioned our financial position improving and being able t

[2021-03-07 04:36] BloodyIron commented on #1345
In this case, Resolve uses OpenCL, at least so far as I am aware for AMD acceleration. (my case?)

[2021-03-07 04:38] johnbridgman commented on #1345
Thanks... I was thinking more about display APIs though. Until the 20.45 release the OpenCL code was common between Linux and Windows, so if it was running well on Windows but failing most of the time on Linux that suggested a display- or interop-related issue rather than compute-related at first glance.

[2021-03-07 05:34] BloodyIron commented on #1345
Without being a subject matter expert in the finer points of how my DE/GUI are rendered, I am sceptical it is OpenGL for the non-OpenCL components. I'm on Ubuntu 20.04, RX 580, Gnome.

[2021-03-07 06:03] johnbridgman commented on #1345
I don't know either - all I can say is that based on a bunch of years dealing with issues like this it seems unlikely that OpenCL problems on their own would cause the symptoms I'm seeing reported against Linux when Windows & Linux have been using pretty much the same code, at least in the AMDGPU-PRO drivers. That is only triage-level analysis though.

The ROCm stack is a bit of a different case b

[2021-03-07 17:27] kulichbulich opened #1402 "TensorFlow error"
Hello,
I have problem with training CNN in tensorflow-rocm-2.4.0. The error occurs randomly, sometimes after several iterations of learning CNN and sometimes it appears immediately. This error (complete error log in file **tensor-flow-rocm-error.txt**):

_Fit:
2021-03-07 17:54:13.140698: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enable

[2021-03-08 02:29] beatboxa commented on #1345
There are several threads on this topic elsewhere.  They may have useful information.

For example, there's a whole thread on Blackmagic's (Davinci Resolve's) forums about this topic:
https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=56878&hilit=amdgpu+pro&start=1850#p722813

Including one from Blackmagic's own engineer:
https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=56878&hilit=amd

[2021-03-08 02:31] angimenez commented on #1353
Hello! I have the same problem. I purchased a rx580x for machine learning, but I can't use it for this. Can you help me with any workaround? Thank you, I don't have money for purchase nvidia GPU for now.
I need to use Tensorflow and pytorch :)

[2021-03-08 02:36] xuhuisheng commented on #1353
@angimenez ROCm-3.5.1 is OK.

[2021-03-08 05:43] ROCmSupport commented on #1400
Hi @dagmcr
As per process, when new cards are added into support section, its not possible to support old cards in parallel.
I can not comment on future plans right now. Request you to follow our documentation.
Thank you.

[2021-03-08 11:55] elukey commented on #1391
Hi @ROCmSupport, any news? :)

[2021-03-08 12:44] kentrussell commented on #1274
4.1 will have this fix included, so the edit above is the quickest way to get around things until that new drop occurs.

[2021-03-08 13:06] develancer commented on #1383
@ROCmSupport Any news on this one?

[2021-03-08 15:19] angimenez commented on #1353
@xuhuisheng thank you for reply. Can I execute apt install rocm-dev3.5.1 and works well?

[2021-03-08 15:19] ROCmSupport commented on #1391
Hi @elukey
We are going to discuss on this today, I hope I will share an update on this soon.
Thank you.

[2021-03-08 15:21] ROCmSupport commented on #1383
Hi @develancer
I am working with dev, let me share an update very soon.
Thank you.

[2021-03-08 20:14] angimenez commented on #1353
How I can install rocm 3.5.1 on Ubuntu 20.04?

[2021-03-08 21:09] aliPMPAINT commented on #1353
@angimenez I think this might help:
https://github.com/boriswinner/RX580-rocM-tensorflow-ubuntu20.4-guide

[2021-03-09 08:07] ROCmSupport commented on #1348
Hi @darjankrijan
We can not fulfill this requirement as we are not owning/making rocm on arch, hence I cannot comment on "seeking all the flags for building rocm-arch".
Hope it clarifies.
Thank you.

[2021-03-09 08:07] #1348 closed

[2021-03-09 08:13] ROCmSupport commented on #1111
Hi @notokcomputerbadcomputer
We are supporting Radeon 7 Pro officially for couple of months.
You can try the same with the latest ROCm 4.0 or 4.1
I will make sure that documentation is updated accordingly for ROCm 4.1
Thank you.

[2021-03-09 08:13] #1111 closed

[2021-03-09 08:13] darjankrijan commented on #1348
Uhm, I asked about flags used for building rocm for Ubuntu/CentOS (AMD provides repositories for these) so these can be synchronized with the community build for Arch Linux.

[2021-03-09 08:34] ROCmSupport commented on #1401
Thanks @bugparty for reaching out.
We are not supporting gfx8 devices officially. Request you to check our docs and supported hardware sections @ [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url)
Thank you.

[2021-03-09 08:34] #1401 closed

[2021-03-09 10:11] ROCmSupport commented on #1399
Thanks @dshm for the logs.
I tried it on my Vega10 machine and not able to reproduce this issue.
I am not able to reproduce it on Vega20 also.

_My card:_
43:00.0 VGA compatible controller [0300]: Advanced Micro Devices, Inc. [AMD/ATI] Vega 10 XL/XT [Radeon RX Vega 56/64] [1002:687f] (rev c1)

root@taccuser-X399-DESIGNARE-EX:/var/lib/jenkins/pytorch/HIP-Examples# ./test_all.sh

==== vectorAdd ====

[2021-03-09 11:55] ROCmSupport commented on #1134
Hi @baryluk, wish to update you on this.

1. We have plans to have only a single set of packages (all versioned), working on this currently. Might take some time to release, Stay tuned for the updates via rocm docs.
2. Our packaging is not just for Debian, supporting this concern would require an alignment of behaviors between rpm and debian.
3. "Provides" would be very difficult to support as sid

[2021-03-09 12:08] KristijanZic commented on #1345
Since we keep discussing this on a closed issue I suggest reopening it @johnbridgman

[2021-03-09 12:08] ROCmSupport commented on #1345
We are going to rephrase the text about GUI apps in our rocm documentation.
We have come up with some plans to handle GUI apps in a way.
I am reopening this ticket.
Thank you.

[2021-03-09 12:09] ROCmSupport commented on #1281
We are going to rephrase the text about GUI apps in our rocm documentation.
We have come up with some plans to handle GUI apps in a way.
But I am marking this as duplicate of #1345 and hence not reopening for now.
All progress can be seen at #1345
Thank you.

[2021-03-09 12:09] ROCmSupport commented on #1256
We are going to rephrase the text about GUI apps in our rocm documentation.
We have come up with some plans to handle GUI apps in a way.
But I am marking this as duplicate of #1345 and hence not reopening for now.
All progress can be seen at #1345
Thank you.

[2021-03-09 12:10] ROCmSupport commented on #1106
We are going to rephrase the text about GUI apps in our rocm documentation.
We have come up with some plans to handle GUI apps in a way.
I am reopening it now.
Thank you.

[2021-03-09 12:10] ROCmSupport commented on #1210
We are going to rephrase the text about GUI apps in our rocm documentation.
We have come up with some plans to handle GUI apps in a way.
But I am marking this as duplicate of #1106 and hence not reopening for now.
All progress can be seen at #1106
Thank you.

[2021-03-09 12:11] ROCmSupport commented on #1145
We are going to rephrase the text about GUI apps in our rocm documentation.
We have come up with some plans to handle GUI apps in a way.
I am reopening it now.
Thank you.

[2021-03-09 12:12] KristijanZic commented on #1345
What a coincidence, we commented almost at the same second. I almost thought you were a bot @ROCmSupport.
Nice to see this reopened. Hopefully it won't be ignored and will be worked on.

[2021-03-09 15:42] scottkosty commented on #1399
@ROCmSupport @dshm it will be easier to follow GitHub issues if you either attach files, or do something like the following:

    <details>
    long text
    </details>

The above produces the following:

<details>
long text
</details>

I promise I will not make any other pedantic formatting comment now :)

[2021-03-09 16:41] BloodyIron commented on #1345
Yay! Progress!

[2021-03-09 16:41] paranoidfactoid commented on #1345
A QA person from AMD or ROCm project should be following this thread at Blackmagic Design for issues with Resolve:

https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=56878&start=1850

20.45 has a bug which makes it impossible to edit audio in DaVinci Resolve. Also, the GL driver is ancient and broken in numerous ways. People are stripping out your CL and GL libs into special directories and

[2021-03-09 16:43] BloodyIron commented on #1345
@paranoidfactoid I myself am staying with Resolve 16.x to avoid the issues I've heard with 17.x, until it's.... resolved hahaha XD

[2021-03-09 16:53] paranoidfactoid commented on #1345
@BloodyIron Resolve 16 has the same problem in Fairlight with the 20.45 driver. It's a driver bug. See here:

https://forum.blackmagicdesign.com/viewtopic.php?f=36&t=133739&p=726946

[2021-03-09 16:54] BloodyIron commented on #1345
Not entirely sure which driver you mean by 20.45, I'm using Mesa myself, not AMDGPU-Pro.

[2021-03-09 17:07] paranoidfactoid commented on #1345
I mean AMDGPU-Pro 20.45. Which includes both the OpenCL component and the GL component. You're not using Mesa OpenCL because that's CL-1.2 and doesn't support Resolve, which requires 2.0+. Some folks have split AMDGPU-20.40 or 20.45 OpenCL components and are using that with current FOSS Mesa GL. And some folks are copying the AMDGPU-Pro GL component libs, and using that with special LD_LIBRARY_PAT

[2021-03-09 17:40] BloodyIron commented on #1345
I'm on ROCm 3.3, yes, which provides the OpenCL API (so far as I can tell), and AMDGPU (non -pro) from Mesa (20.2?) for OpenGL/Vulkan/etc.

I'm sticking to Mesa/AMDGPU because I get better gaming performance, and that's the content that is important to me (take that, use Resolve to edit it, etc).

[2021-03-11 02:12] dshm commented on #1399
@ROCmSupport Thank you a lot for reply! What are the steps of operation you tried? Could you please give the commands and environment you use in detail? Could it be possible that the problem is graph card related? Though it is vega10, we don’t have Radeon RX Vega 56/64. Did you test the code on Radeon PRO WX 8100?

[2021-03-11 06:23] abdouplayz commented on #1323
Hey this happened for me after i installed rocm
`3 for kernel 5.8.0-44-generic (x86_64)
10 مارس, 2021 +01 18:59:38
make: Entering directory '/usr/src/linux-headers-5.8.0-44-generic'
/var/lib/dkms/amdgpu/4.0-23/build/Makefile:20: "Local GCC version 90303 does not match kernel compiler GCC version 90300"
/var/lib/dkms/amdgpu/4.0-23/build/Makefile:21: "This may cause unexpected and hard-to-isolate co

[2021-03-11 06:48] xuhuisheng commented on #1323
You could install linux-5.4 and uninstall linux-5.8 manually. Reboot and re-install rocm-dkms.

Like this:

[code]

[2021-03-11 15:08] arfio commented on #1386
Hi @ROCmSupport

I tested each GPU separately, and they all work. We have the latest BIOS update, latest ROCm installation. We have also tested different slots, but they are all working correctly when we only have one GPU.

We keep having the same issue. We will receive XGMi connectors, and it will maybe solve the issue, but I wanted to let you know that it still isn't working correctly without th

[2021-03-12 05:03] gggh000 commented on #1379
I installed libbz2-dev and error disappeared. Now I see following error. pls REmember it is fresh Ubuntu 20.04 installation

root@guyen-Standard-PC-i440FX-PIIX-1996:~/ROCm/MIOpen/build# cmake -DMIOPEN_BACKEND=OpenCL ..
hip compiler: /opt/rocm/llvm/bin/clang++
-- Build with HIP 4.0.20496
-- Hip compiler flags:  -xhip    -D__HIP_ROCclr__=1 -isystem /opt/rocm-4.0.0/hip/../include -isystem /opt/rocm/l

[2021-03-12 05:39] ROCmSupport commented on #1399
Hi @dshm
I don't have Radeon Pro WX8100 with us. It is most likely due to problem with the card, i.e, ROCm on specific card(your card).
Recommend you to try with any other ROCm supported card and let me know.

[2021-03-12 05:52] ROCmSupport commented on #1379
"apt install half" solves the problem.

[2021-03-12 07:15] gggh000 opened #1403 "MIOpenGEMM make examples failing"
user libraru *so builds ok and test (smallgeometrytest) ran ok, however make examples seems to be failing
Ubuntu 2004 / ROCm4.0
:

root@Standard-PC-i440FX-PIIX-1996:~/ROCm/MIOpenGEMM/build# make examples
[ 58%] Built target miopengemm
Scanning dependencies of target apiexample1
[ 59%] Building CXX object examples/CMakeFiles/apiexample1.dir/apiexample1.cpp.o
In file included from /usr/local/include

[2021-03-12 07:37] ROCmSupport commented on #1403
Hi @gggh000
Thanks fr reaching out.
I am not sure why you have shared log as lines with strike-through.
Can you please share the steps to reproduce the problem and clear log.
Thank you.

[2021-03-12 08:33] dshm opened #1404 "ROCk module is NOT loaded, possibly no GPU devices"
I tried to install rocm packages in my machine，which is Ubuntu18.04.5LTS and has four 6900XT card. Why I do this is to handle the previous issue I proposed, which encountered when I try to run pytorch examples using rocm/pytorch. the link to previous issue is https://github.com/RadeonOpenCompute/ROCm/issues/1399

The steps I try this time is shown below, which follows the instructions in link http

[2021-03-12 08:34] dshm commented on #1399
@ROCmSupport
1. Could you please give the steps of command you use to test in your machine in detail?
2. And could you please give the test environment in your machine in detail?
3. I have tried another machine with 6900xt card but fails for other errors. The link to the new issue is https://github.com/RadeonOpenCompute/ROCm/issues/1404
Could you please give me some adivice? Thank you a lot for yo

[2021-03-12 08:34] dshm commented on #1399
@ROCmSupport
1. Could you please give the steps of command you use to test in your machine in detail?
2. And could you please give the test environment in your machine in detail?
3. I have tried another machine with 6900xt card but fails for other errors. The link to the new issue is https://github.com/RadeonOpenCompute/ROCm/issues/1404
Could you please give me some adivice? Thank you a lot for yo

[2021-03-12 08:44] ROCmSupport commented on #1402
Thanks @kulichbulich for reaching out.
Can you please share the exact steps(step by step) to reproduce the problem.
Thank you.

[2021-03-12 08:55] xuhuisheng commented on #1404
run `dmesg | grep kfd` and `dmesg | grep amd`, see if there is warning or error message.

[2021-03-12 09:03] ROCmSupport commented on #1404
Thanks @dshm for reaching out.
Yes Navi is not supported with ROCm right now.
Yes, as requested in above comment, share the outputs of _dmesg | grep kfd_ and _dmesg | grep amd_ for initial understanding.
Thank you.

[2021-03-12 09:14] dshm commented on #1404
@xuhuisheng @ROCmSupport
dmesg | grep kfd shows nothing
dmesg | grep amd shows below
[    0.000000] Linux version 4.15.0-136-generic (buildd@lcy01-amd64-029) (gcc version 7.5.0 (Ubuntu 7.5.0-3
ubuntu1~18.04)) #140-Ubuntu SMP Thu Jan 28 05:20:47 UTC 2021 (Ubuntu 4.15.0-136.140-generic 4.15.18)

[2021-03-12 09:16] xuhuisheng commented on #1404
I didn't use Ubuntu-18.04 for a while.
But AMD said it should use linux-5.4 kernel. Could you try to upgrade linux kernel to 5.4?

[2021-03-12 10:10] aman190202 commented on #1402
Try filtering the dataset for any missing or invalid values. My model resulted in nan loss value whenever there was an invalid value in my dataset.

[2021-03-12 11:26] ROCmSupport commented on #1399
I followed the below steps(given by you) on My Vega10-64 card.
Base OS is Ubuntu 18.04 with 5.4 kernel + ROCm 4.0 installed in it.

Launched docker: rocm/pytorch:rocm4.0_ubuntu18.04_py3.6_pytorch_1.7.0.
I run the test using the following command
git clone https://github.com/ROCm-Developer-Tools/HIP-Examples.git
cd HIP-Examples
git submodule init
git submodule update
./test_all.sh 2>&1 | tee testlo

[2021-03-12 11:28] ROCmSupport commented on #1404
Hi @dshm
Its very old kernel. Recommend to try with 5.4 kernels.
You can install linux-5.4 , reboot and re-install rocm-dkms.

Like this:
sudo apt install linux-modules-extra-5.4.0-64-generic linux-headers-5.4.0-64-generic

[2021-03-12 11:30] ROCmSupport commented on #1404
Looks like you have not installed rock-dkms, Request to install rocm kernel packages(rock-dkms, rock-dkms-firmware) or install rocm-dkms which installs everything.

[2021-03-12 15:53] ChrisAi89 commented on #1307
Is there already an approximate date of release? I try to get my Radeon RX570 to work on a 5.8.0-44 kernel with ROCM 4.0, but for already well described reasons this task remains unaccomplished. Using older kernels with ROCM 3.5 caused unforeseen system instability and I really do not want to switch, for several reasons, the brand of my GPU.

[2021-03-12 16:36] valeriob01 commented on #1196
Does the comgr package been corrected?

[2021-03-12 16:56] Zipdox commented on #1236
You can create a fake dummy package that satisfies the requirement https://eric.lubow.org/2010/creating-dummy-packages-on-debian/

[2021-03-13 08:11] preda opened #1405 "FR: generate MUL:2, MUL:4, DIV:2 for VOP3 instructions (OpenCL performance)"
A function such as:
double sum2(double x, double y) { return 2 * (x + y); }
could be compiled to a single VOP3 GCN instructions such as:
[code]

But this efficient code is not generated because MUL:2 and the like only function correctly with denormals disabled and non-IEEE mode. (denormals and IEEE mode can be set thus:
[code]

Feature request: please provide an OpenCL compilation flag that enable

[2021-03-13 08:28] preda commented on #1196
The bug concerns the LLVM GCN code generation and the related register allocation. There has been at least one regression among the LLVM changes; that regression was not detected at the time because of a lack of proper performance regression testing.

[2021-03-13 12:11] valeriob01 commented on #1196
@ROCmSupport What is the current status of development on this topic ?

[2021-03-13 17:03] da-phil commented on #1397
Wow, after using ROCm (now at version 4.0.0) on my RX 5700XT for the past 5 months everything (GUI apps) except machine learning frameworks have been working for me, namely gimp and darktable with OpenCL acceleration turned on and considerable speed boost.

Only yesterday I noticed that using OpenCL with both gimp and darktable started to freeze my PC immediately and sometimes I see weird graphics

[2021-03-13 21:46] kulichbulich commented on #1402
Thank you All, for response.
I am creating Simple project here on [OneDriveStorage](https://1drv.ms/u/s!AhZEc7wU8vsTiDAV4iNffOHbn6ti?e=BH7ilQ) with a simple project (run: _python3 RoadTestUnet.py_).
To **aman190202** - I don't thing the problem is in dataset, because the same project was worked before update Rocm and tensorflow-cpu train network without problem, but is very slow.

[2021-03-14 22:30] OliverSmeeton opened #1406 "Support for RDNA and RDNA 2?"
As far as I can tell ROCm doesn't support RDNA or RDNA 2 could this be added? As I would like to use opencl on my rx 5600 xt without using the proprietary drivers.

[2021-03-14 23:17] xuhuisheng commented on #1406
Just like metioned in https://github.com/RadeonOpenCompute/ROCm/issues/887, AMD said RDNA will get offcial support in 2021. No more details.

It is appreciated that AMD could support some docs like WIKI to show the plan for RDNA. Otherwise there will be new issues created for RDNA.
@ROCmSupport Please consider my advice.

[2021-03-15 06:23] ROCmSupport commented on #1307
Hi @ChrisAi89
It will be released anytime in this month. Please stay tuned.
Thank you.

[2021-03-15 06:29] xuhuisheng commented on #1307
@ChrisAi89
If you can downgrade linux kernel to 5.4.0, rocm-dkms from ROCm-4.0 can install successfully.

But since RX570, aka gfx803, had been removed from offcial support. It will be some issues when you use it on ROCm-4.0. Please refer here : https://github.com/xuhuisheng/rocm-build/tree/develop/gfx803

[2021-03-15 09:00] ROCmSupport commented on #1406
Thanks @OliverSmeeton for reaching us.

Hi @xuhuisheng, thanks for passing the details.
Yes, we have plans to add support in this year. Please stay tuned.
We can not add details of future plans in our wiki/docs as per the process.
Hope you got it.
Thank you.

[2021-03-15 09:00] #1406 closed

[2021-03-15 09:02] ROCmSupport commented on #1405
Thanks @preda for reaching out.
I will pass this information to compiler team to share some inputs.
Thank you.

[2021-03-15 09:28] ROCmSupport commented on #1196
Hi @valeriob01
I will check with dev and get back to you with an update soon

[2021-03-16 13:25] staticdev opened #1407 "apt-key is deprecated for Ubuntu (and Debian based distros)"
When you follow the installation instructions you get:

[code]

Helpful documentation:
https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html

Instructions should be changed to something like:

[code]

[2021-03-17 05:04] ROCmSupport commented on #1407
Thanks @staticdev for reaching out.
I have not seen this issue(below error) anytime before.
_Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8))._

Can you please share your configuration details and steps you followed for better understanding.
Thank you.

[2021-03-17 06:07] ROCmSupport commented on #1404
Hi @dshm
Can you please follow the above comment and respond accordingly.
Thank you.

[2021-03-17 06:08] ROCmSupport commented on #1403
Hi @gggh000
Can you please share the steps to reproduce the problem and clear log.
Thank you.

[2021-03-17 06:10] ROCmSupport commented on #1402
Hi @kulichbulich
Can you please share the exact steps to understand the problem clearly.
Thank you

[2021-03-17 06:15] ROCmSupport commented on #1393
Hi @zjin-lcf
Please update us to move this issue to next level.
Else request you to close this ticket, if you are not seeing/required anymore.
Thank you.

[2021-03-17 06:19] ROCmSupport commented on #1382
All hcc code is removed in our HIP staging/internal builds.
The expectation is that the changes are going to merged into release branches soon and so we can expect all hcc based code will be removed and so expect this issue will be not observed anymore from ROCm 4.2/4.3.
Request you to stay tuned for the updates.
Thank you.

[2021-03-17 06:31] ROCmSupport commented on #1093
Hi @mrcsguy
Thanks for reaching out.
I hope this solves your question: [https://github.com/RadeonOpenCompute/ROCm-CompilerSupport](url)
Feel free to reach me for any other information too.
Thank you.

[2021-03-17 06:31] ROCmSupport commented on #1093
Request you to close this ticket if my response satisfies your need.
Thank you.

[2021-03-17 06:49] ROCmSupport commented on #1089
Thanks @btspce for reaching out.
I will check this for you asap.
Thank you.

[2021-03-17 06:55] ROCmSupport commented on #1089
Hi @btspce
I have verified with the latest ROCm 4.0 and found that issue is not observed anymore.
Request you to try with the same.

============================= End of ROCm SMI Log ==============================
taccuser@taccuser-X399-DESIGNARE-EX:/opt$ /opt/rocm-4.0.0/bin/rocm-smi --setprofile 2

======================= ROCm System Management Interface =======================
==================

[2021-03-17 06:55] #1089 closed

[2021-03-17 07:05] ROCmSupport commented on #1085
Thanks @jackyin68 for reaching out.
I will take a look at this request.

[2021-03-17 07:06] ROCmSupport commented on #1085
Hi @jackyin68
As this issue is related to 3.3 and as we do not see any issues with ROCm 4.0 and 4.0 supports Ubuntu 20.04.1/18.04.5, I will close this issue.
Feel free to open a new issue if any.
Thank you.

[2021-03-17 07:06] #1085 closed

[2021-03-17 07:23] ROCmSupport commented on #1084
Hi @FilipVaverka
Thanks for reaching out.
This issue is fixed and no more observed with the latest ROCm 4.0 and so request you to try the same.
Thank you.

[2021-03-17 07:23] #1084 closed

[2021-03-17 07:27] ROCmSupport commented on #1083
Hi @SimoSera and all,
ROCm does not support Navi series of cards right now. But the support of some Navi cards will come in this year(2021).
Please stay tuned for the updates via our ROCm documentation.
Thank yo.

[2021-03-17 07:27] #1083 closed

[2021-03-17 07:33] ROCmSupport commented on #1082
Thanks @pjones8404lml and all for reaching us with this issue.
This issue is fixed and no more observed with the latest ROCm 4.0.
Request you to try with the same.
Thank you.

[2021-03-17 07:33] #1082 closed

[2021-03-17 07:40] ROCmSupport commented on #1081
Thanks @akostadinov for reaching out.
Can you please try with the latest ROCm 4.0 or 4.1 and share an update.
Thank you.

[2021-03-17 07:45] ROCmSupport commented on #1080
Thank you all for the responses.
I understood that issue is resolved already.
For the best experience, request you to try with the latest ROCm 4.0.
Thank you.

[2021-03-17 07:45] #1080 closed

[2021-03-17 07:52] ROCmSupport commented on #1079
Thanks @ddobreff and all for reaching out via this defect/issue.
We can not comment on Navi/hawaii as we do not support them.
Thank you.

[2021-03-17 07:52] #1079 closed

[2021-03-17 08:03] ROCmSupport commented on #1078
Hi @wormwang
Thanks for reaching out.
As hcc is removed from ROCm 3.3 onwards, and as it was there before and in ROCm 3.1, repo sync might have thrown this error.
Recommend to clean your system and sync with the latest ROCm 4.0, issue will be gone.
Hope this helps.
Thank you.

[2021-03-17 08:03] #1078 closed

[2021-03-17 08:08] ROCmSupport commented on #1077
Thanks @claudeha for reaching out.
We can not comment on this as RX 580 is non supported card.
Request you to try on ROCm supported config and reach us for quick responses.
Thank you.

[2021-03-17 08:08] #1077 closed

[2021-03-17 08:13] ROCmSupport commented on #1076
Thanks @gwoltman for reaching out.
Can you please verify with ROCm 4.0 and share an update asap for moving this ticket to next level in a faster manner.
Thank you.

[2021-03-17 08:49] staticdev commented on #1407
@ROCmSupport it will happen in all Debian based OS from now on: https://manpages.debian.org/testing/apt/apt-key.8.en.html

I am not sure I understood what you want me to do? I tested this on up-to-date Ubuntu 20.04 (supported) and also on 20.10 (not officially-supported).

[2021-03-17 14:30] btatar13 commented on #1404
Dear all,

I tried to install my Radeon 6800 under Ubuntu 20.04.1, however I obtained the same error. After trying to downgrade the kernel, install Ubuntu 18.04 etc. I received the same error. I wonder whether the 6000 series is supported at all? @ROCmSupport:  @dshm is using a 6900xt, is this GPU supported at all? If so, why is the Radeon 6800 not supported, or is it? I am slightly bit confused..

[2021-03-17 19:30] LinAGKar commented on #959
Same on OpenSUSE Tumbleweed with the same APU.

[2021-03-17 20:55] kulichbulich commented on #1402
Please download 4files from  [OneDriveStorage](https://1drv.ms/u/s!AhZEc7wU8vsTiDAV4iNffOHbn6ti?e=BH7ilQ) to one directory and run training script _python3 RoadTestUnet.py_ . This script create model and load training file. During training error described on the top of page should appears.

[2021-03-18 00:36] zjin-lcf commented on #1393
Thank you.

[2021-03-18 00:36] #1393 closed

[2021-03-18 02:54] ROCmSupport commented on #1404
Hi @dshm
Navi series of cards are currently not supported, some set of navi cards will be added into supported list in this year.
Please stay tuned for updates.
Thank you.

[2021-03-19 03:34] #826 closed

[2021-03-19 03:55] dshm commented on #1404
@ROCmSupport
Sorry for answering you late. These days I can't access github for network error. Currently I can't try 5.4 kernel because the machine is not used by me only. I will try to communicate with others who use the machine and reply you in the issue if I can use 5.4 kernel.
Thanks a lot!

[2021-03-19 11:06] pjgeorg opened #1408 "Versionless RPM repositories not pointing to current release"
Both https://repo.radeon.com/rocm/yum/rpm/ and https://repo.radeon.com/rocm/centos8/rpm/ point to version 4.0.0. However the current release is 4.0.1.

Users probably expect the versionless repository link to always point to the current release. This is actually not the first time this happened. The same happened with previous micro (x.x.1) releases. For major and minor releases the versionless re

[2021-03-19 11:27] ROCmSupport commented on #1408
Hi @pjgeorg
Thanks for reaching out.
**Actually this is not an issue, is the new process.**
We do not wish to change/update repos with every point release as point release is with some specific changes and we do not expect all users to try for the same and its not required too.

https://repo.radeon.com/rocm/yum/rpm/ --> Refers to the major release only
https://repo.radeon.com/rocm/yum/4.0.x/ --> R

[2021-03-19 11:42] pjgeorg commented on #1408
Thanks for your reply.

This actually makes no sense to me as users of https://repo.radeon.com/rocm/yum/rpm/ will be hit by unexpected major releases anyway. Hence users who do not want the version to be changed should rely on specifiying a particular version, e.g. https://repo.radeon.com/rocm/yum/4.0.0/
With your new process using https://repo.radeon.com/rocm/yum/rpm/ is now neither suitable for

[2021-03-19 11:42] #1408 closed

[2021-03-19 12:01] ROCmSupport commented on #1408
Thanks @pjgeorg for the feedback.
The concept of point releases are redefined now.
These point releases are only special builds, generated only in case of any specific issue/changes. So major release builds will serve all f the things mostly.
Anyways, I will make sure to update this point in our docs.
Thank you much.

[2021-03-19 12:44] ROCmSupport commented on #1402
Thanks @kulichbulich .
Let me take a look.

[2021-03-19 14:49] staticdev opened #1409 "Incomplete installation downgrading rocm from 4 to 3.9.1?"
I tried deleting the folder /opt/rocm-4.0.1 and then installing rocm-3.9.1 (since I realized it does not support Radeon RX580 anymore). But when I try to run tensorflow I get:

[code]

Is there a way to fix that?

[2021-03-19 16:01] #1409 closed

[2021-03-19 16:02] staticdev opened #1410 "apt repo does not exist for 3.10.0"
Since you dropped support for many boards from 4.0.0 on, it would be very nice if you added the apt repo for 3.10.0 that is missing:

https://repo.radeon.com/rocm/apt/3.10.0

[2021-03-19 16:45] staticdev commented on #1269
@xuhuisheng your link in the description is broken, correct is https://github.com/xuhuisheng/rocm-build/blob/master/docs/gfx803.md

[2021-03-19 23:01] avidov opened #1411 "OpenCL driver requires root privilege on AWS ROCm installation"
I am working to port cuDNN code to MiOpen on AWS AMD GPU clusters.
ROCm is not officially supported on AWS clusters AMD GPUs since they are gfx1011.
However, lots of functionality is working but only with root privileges. For example:
`$> /opt/rocm/opencl/bin/clinfo`

`ERROR: clGetPlatformIDs(-1001)`

But it works with sudo:
`$> sudo /opt/rocm/opencl/bin/clinfo`

When I run my application in GDB i

[2021-03-20 03:08] Wedge009 commented on #1044
Hello @smoe, were you able to get ROCm running with BOINC? I'm a fellow E@H contributor and since amdgpu-pro 20.45 onwards has switched from PAL-based OpenCL to ROCr, _all_ BOINC GPU processing now fails (looks like cannot compile any OpenCL kernels despite OpenCL being detected.

I did try ROCm v3.x some time ago but never managed to get BOINC to recognise OpenCL from it, so I gave up and reverte

[2021-03-20 08:02] facorazza opened #1412 "Unsuccessful installation on Ubuntu 20.04 RX 580"
Followed the installation process: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu
When I run:
[code]
I get:
[code]

Kernel: 5.4.0-42-generic

[2021-03-20 08:10] xuhuisheng commented on #1412
Seems some deb didn't install correctly. libamd_comgr.so should be in /opt/rocm/lib/.

BTW: AMD drop RX580 offical support on ROCm-4.0.
https://github.com/xuhuisheng/rocm-build/tree/develop/gfx803

[2021-03-20 08:29] facorazza commented on #1412
Well that's unfortunate

[2021-03-20 08:31] facorazza commented on #1412
Does that mean that the installation won't work at all or that it might work but it's not guaranteed?

[2021-03-20 08:50] xuhuisheng commented on #1412
Actually, we can install ROCm-4.0 successfully. But there are some NaN loss situation when running tensorflow/pytorch.

[2021-03-20 08:52] facorazza commented on #1412
I'm actually planning on using openmp but some tf would be nice. Should I try to install it again and check for errors before rebooting?

[2021-03-20 12:31] smoe commented on #1044
Hello @Wedge009, yes, https://einsteinathome.org/de/host/12784717 crunches happily with ROCm on RX580s. At least so I thought it was. This is what I have installed:

[code]
I tried to get some info on it. rocminfo apparently only finds the (Intel) CPU !?:
[code]
This is what "sudo clinfo" gives me:
[code]
Hm.

When I have a bit more time at my hands again I want to help those folks who are currenl

[2021-03-20 21:46] Wedge009 commented on #1044
Thanks for the update. Some context: I have trouble with ROCr-based OpenCL with amdgpu-pro. amdgpu-pro uses PAL or, more recently, ROCr-based OpenCL for Vega GPUs and newer. Your Polaris-based RX 580s would run on 'legacy' OpenCL (at least under amdgpu-pro) and thus has no current issues running under BOINC. I suspect my previous attempts to run ROCm as an alternative to amdgpu-pro might be relate

[2021-03-21 08:51] drajarshi opened #1413 "clang not available in rocm-4.0.0 as part of rocm-dev"
Hello

I installed rocm-dev  as below:

_$ sudo yum install rocm-dev_

The install was successful.
_[ec2-user@ip-172-31-35-60 llvm]$ sudo yum list installed | grep rocm-dev
rocm-dev.x86_64                 4.0.0.40000-23.el7             @ROCm
rocm-device-libs.x86_64         1.0.0.637_rocm_rel_4.0_23_db8c0c3-1_

I want to build and run the veccopy example program.
However, clang which is required fo

[2021-03-21 11:51] incardon opened #1414 "Ubuntu 20.04 clean installation ... (Not working)."
I open this ticket hoping could help me and somebody in the same situation. Trying to install RocM 4.0 on ubuntu 20.04 (Clean) simply it does not works.
I have AMD Ryzen 5 on Asus B350M + RX Vega 64 on Ubuntu 20.04. (According to documentation this configuration should be more than supported)

I followed exactly

https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu

[2021-03-21 18:00] elukey commented on #1391
@ROCmSupport gentle ping :)

[2021-03-22 03:52] ROCmSupport commented on #1407
Hi @staticdev
We are not able to reproduce this issue anytime with Ubuntu 18.04.x and 20.04.x configs(which are ROCm supported OSes as of today) and so we wish to know the exact OS or config to reproduce this problem.
Request you to share your config details for better understanding.

[2021-03-22 04:05] ROCmSupport commented on #1396
Hi @klausman
I got an update for you.

We only support Ubuntu 18.04 and 20.4 officially. This python3.8 is one of the reason we cannot support 16.04 because it does not have python3.8. Supporting other OS/versions are expensive in the sense that development teams need to come up with different package dependency list, and we need to have that environment to develop and test. Even though Debian is

[2021-03-22 04:05] #1396 closed

[2021-03-22 04:07] ROCmSupport commented on #1409
Hi @staticdev
Hope your issue resolved.
Thank you.

[2021-03-22 04:17] ROCmSupport commented on #1410
Thanks @staticdev for reaching out.
Request you to use https://repo.radeon.com/rocm/apt/3.10/ for 3.10 space.
Thank you.

[2021-03-22 04:17] #1410 closed

[2021-03-22 06:36] ROCmSupport commented on #1391
Thanks @elukey for the ping.
As per out last discussion, this will be seen as a P2 item. Anyway I am going to get some update by today/tomorrow, will reach you asap.
Thank you.

[2021-03-22 06:54] xuhuisheng commented on #1396
@ROCmSupport
I think there is only one close-source component - hsa-amd-aqlprofile. But even I didn't install it, ROCm can run properly.
Does ROCm have a plan to open-source it?

[2021-03-22 06:59] elukey commented on #1396
@ROCmSupport if possible there should be a clear list of non open source packages that are optional, the power of ROCm is being open source and some clarity would really be great :)

[2021-03-22 07:14] ROCmSupport commented on #1396
Agree with you @elukey.
But we can't provide deb-src package as of now which depends on every component team, which needs some discussion and plans.
Anyway, let me talk to our BU team for their inputs.
Thank you.

[2021-03-22 07:22] Biu-G opened #1415 "Centos 7.9 based on kernel 5.4 shows no message about amdkfd"
my amdgpu module boots greatly, while there isn't any message about amdkfd in dmesg. Which leads to rocminfo shows "Unable to open /dev/kfd read-write: No such file or directory". Don't know how to continue.

[2021-03-22 07:23] Biu-G commented on #1415
Linux localhost.localdomain 5.4.105-1.el7.elrepo.x86_64 #1 SMP Thu Mar 11 08:28:06 EST 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-03-22 08:28] ROCmSupport commented on #1411
Hi @avidov
Thanks for reaching out.
Looks like you are trying it on gfx10 device, which we are not officially supporting.
So can not comment on this right now.
Thank you.

[2021-03-22 08:34] ROCmSupport commented on #1412
Hi @facorazza
Thanks for reaching out.
We are not officially supporting gfx8 devices now.
But some things might work. In your case, looks like installation did not go well.
Request you to clean the system from rocm and reinstall freshly.
Thank you.

[2021-03-22 08:34] #1412 closed

[2021-03-22 08:42] ROCmSupport commented on #1413
Thanks @drajarshi for reaching out.
Let me check and get back to you soon.
Thank you.

[2021-03-22 08:47] ROCmSupport commented on #1413
Hi @drajarshi
clang is part of llvm package and so you can check under /opt/rocm/llvm/bin
Hope this helps.
Thank you.

taccuser@taccuser-All-Series:/opt/rocm/llvm/bin$ ls
aompcc                    clang-include-fixer    flang2              llvm-cfi-verify  llvm-gsymutil           llvm-objcopy     llvm-symbolizer
bugpoint                  clang-move             git-clang-format    llvm-config

[2021-03-22 08:47] #1413 closed

[2021-03-22 09:21] ROCmSupport commented on #1414
Thanks @incardon for reaching out.
As mentioned in rocm documentation, ROCm 4.0 does not work with 5.8 kernel.
Within 2 days, ROCm 4.1 is going to be released and then you can try ROCm 4.1 with 5.8 kernel, should work.
Thank you.

[2021-03-22 09:24] ROCmSupport commented on #1414
Meanwhile if you wish to try with ROCm 4., follow the below way.

You can install linux-5.4 or 5.6 kernel and uninstall linux-5.8 manually. Reboot and re-install rocm-dkms.
Like this:
_sudo apt install linux-image-5.4.0-67-generic linux-modules-extra-5.4.0-67-generic linux-headers-5.4.0-67-generic_
_sudo apt remove linux-image-5.8.0-44-generic linux-modules-extra-5.8.0-44-generic linux-headers-5.8

[2021-03-22 09:24] #1414 closed

[2021-03-22 09:43] ROCmSupport commented on #1415
Hi @Biu-G
Thanks for reaching out.
As per our ROCm documentation, ROCm 4.0 validated and supports 3.10.0-x kernel officially.
Request you to follow our docs: [https://github.com/RadeonOpenCompute/ROCm#list-of-supported-operating-systems](url)
Hope it clarifies.
Thank you.

[2021-03-22 09:43] #1415 closed

[2021-03-22 09:44] ROCmSupport commented on #1415
ROCm 4.1 is going to be released very soon and request you to try with ROCm 4.1 once.
Thank you.

[2021-03-22 10:00] incardon commented on #1414
Thanks. For the fast answer. Installing linux-modules-extra-5.4.0-67-generic, removing 5.8 using the instruction above and reinstalling dkms made it works. To assemble a set of instruction for ROCM 4.0

`sudo apt install linux-image-5.4.0-67-generic linux-modules-extra-5.4.0-67-generic linux-headers-5.4.0-67-generic
sudo apt remove linux-image-5.8.0-44-generic linux-modules-extra-5.8.0-44-generic

[2021-03-22 10:50] ROCmSupport commented on #1414
Thanks for the confirmation @incardon
Thank you.

[2021-03-22 10:50] staticdev commented on #1407
@ROCmSupport you are correct this comes in 20.10+, but you can make the instructions "future proof" with that change, since that work also on the versions you mentioned.

[2021-03-22 10:56] ROCmSupport commented on #1402
Hi @kulichbulich
Please share the above details so that I will start working on it asap.
Thank you.

[2021-03-22 11:18] ROCmSupport commented on #1407
Hi @staticdev
ROCm does not support any non LTS versions like 20.10 officially and so we are not going to make changes for now.
If the same issue comes with any upcoming LTS version like 22.04, we will take care accordingly, but its more than a year to go.
Hope this helps.
Thank you.

[2021-03-22 11:18] #1407 closed

[2021-03-22 17:41] ivanmlerner opened #1416 "OpenCL does not detect second RX5500 gpu"
Hello, I have two rx5500xt and only the one from the motherboards main slot is properly detected in opencl.
I have rocm-smi and rocm-opencl-runtime installed and I am using arch linux with amdgpu. The problem also happens with opencl-amd.
rocm-smi detects both GPU properly, but I can only control the fans for a GPU that is in use (either connected to a monitor or mining for example).

[2021-03-22 17:42] ivanmlerner commented on #1416
**clinfo output**

Number of platforms                               3
  Platform Name                                   AMD Accelerated Parallel Processing
  Platform Vendor                                 Advanced Micro Devices, Inc.
  Platform Version                                OpenCL 2.0 AMD-APP.dbg (3212.0)
  Platform Profile                                FULL_PROFILE
  Platform Extensio

[2021-03-22 17:43] ivanmlerner commented on #1416
**lspci -v output**

00:00.0 Host bridge: Advanced Micro Devices, Inc. [AMD] Starship/Matisse Root Complex
    Subsystem: ASUSTeK Computer Inc. Device 87c0
    Flags: fast devsel

00:00.2 IOMMU: Advanced Micro Devices, Inc. [AMD] Starship/Matisse IOMMU
    Subsystem: ASUSTeK Computer Inc. Device 87c0
    Flags: fast devsel
    Capabilities: <access denied>

00:01.0 Host bridge: Advanced Micro Devi

[2021-03-22 19:55] ivanmlerner commented on #1416
**rocminfo output**

ROCk module is loaded
Able to open /dev/kfd read-write
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (0xFFFFFFFFFFFFFFFF) (timestamp count)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******

[2021-03-23 02:49] ROCmSupport commented on #1416
Thanks @ivanmlerner for reaching out.
Have 2 points, Navi14 is not a supported card with ROCm and also ROCm does not officially supported for arch linux.

But still I will try to help from my side.
Request you to do below things.
1. Can you please unplug both cards and keep one card at a time and check whether card is detected(do the same for other card also).
2. Keep both cards now and check agai

[2021-03-23 03:21] beatboxa commented on #1345
Just adding that I was able to get DaVinci Resolve 17.1 working, with ROCm 3.3.
(The initial previews from 16.x was very slow for me as well, as I'm guessing Resolve had to rebuild its database, and likely regenerated caches).

I'll also point out that this was a hassle. Because I only upgrade to 17.1 after my 16.x installation stopped launching.  After much debugging, I found that I had updated m

[2021-03-23 07:53] gggh000 commented on #1379
I re-tested today and built fine, however prerequisites in the readme remains obscure.

[2021-03-23 08:24] ROCmSupport commented on #1379
Thanks @gggh000 for confirming that issue is gone.
Prerequisites for MIOpen: [https://github.com/ROCmSoftwarePlatform/MIOpen#prerequisites](url)
I am working with MIOpen team on this via internal ticket, docs will be updated very soon.
Thank you.

[2021-03-23 08:25] ROCmSupport commented on #1379
Sorry for the closure.
I will close this ticket once the docs are updated. I will keep you posted.
Thank you.

[2021-03-23 14:32] valeriob01 commented on #1196
Hello @ROCmSupport not sure what you mean by "soon" however 8 days seems a more than reasonable slice of time for the task.

[2021-03-23 14:34] valeriob01 commented on #1196
-Hello @ROCmSupport I don't know what you mean with "soon" however 8 days seems a more than reasonable slice of time for the task.

[2021-03-23 17:06] paranoidfactoid commented on #1345
Beatbox, would you do me a favor please? Could you go to the Fairlight tab and check to see if waveforms are displayed for each audio channel? AMDGPU-Pro and whatever ROCm version they use for that has this bug where they are not displayed, making it almost impossible to do a proper audio mix down, and it's driving me nuts.

[2021-03-23 17:16] ivanmlerner commented on #1416
I know, sorry for the inconvenience. And I am really grateful for your help.
I did the steps as asked, and here is the attached [dmesg.txt](https://github.com/RadeonOpenCompute/ROCm/files/6191538/dmesg.txt)
With both cards installed opencl only detects the one from the main slot of the motherboard (PCI entry containing 0000:0c... on the double GPU setup)

[2021-03-23 17:18] gggh000 commented on #1403
not sure why it crossed out. I just pasted and github is converting the format. I will post the repro steps.

[2021-03-23 17:21] shunonymous commented on #1416
I met same issue, but RX 5700XT + RX 5500XT.
I used debugger, and found infinity loop on [here](https://github.com/RadeonOpenCompute/ROCR-Runtime/blob/ceae52f3e9d58ff71bfff0956ea8d53686eb09b5/src/core/runtime/amd_aql_queue.cpp#L1019) if using 2nd GPU, but issue not resolved yet.

How about on other GPUs(like vega)?

[2021-03-23 19:47] beatboxa commented on #1345
@paranoidfactoid might be the various levels.  Try vertically zooming out.  At first, mine didn't show up; but then I deleted my cache (just in case) and also zoomed out vertically--this got the waveforms showing on Fairlight.

[2021-03-23 21:50] lanking520 opened #1417 "Is that possible to install ROCm on AWS EC2 instance"
Hi,

question as title, is that possible to use ROCm on EC2 instance like g4ad? If so, which OS image should I pick that works the best? And just follow the normal instructions?

[2021-03-24 02:34] valeriob01 commented on #1196
Good news !
Installed ROCm 4.1.0 ... net gain of ~ -30 us/it

[2021-03-24 03:40] tim77 opened #1423 "4.1.0 version stopped working on Fedora 33"
Hello. After today update from 4.0.0 -> 4.1.0 OpenCL not working anymore:

[code]

Previous 4.0.0 version work without any issues.

- OS: Fedora 33
- Kernel: 5.11.8
- GPU: Radeon VII
- Mesa: 20.3.4

[2021-03-24 03:45] xuhuisheng commented on #1423
AMD said it is an already known issue : https://github.com/RadeonOpenCompute/ROCm#bare-metal
Seems upstream kernels cannot compatible with ROCm-4.1.

Could you try install rock-dkms?
Someone said rock-dkms-4.1 based on kernel-5.9.

[2021-03-24 03:59] tim77 commented on #1423
@xuhuisheng thanks, but unfortunately still the same error after installing `rock-dkms-4.1-26.el7.noarch.rpm`:

[code]

[2021-03-24 04:23] ROCmSupport commented on #1196
Thanks @valeriob01 for the update.
But still drop is there right?
Dev is working on further fix and so please expect further improvements in future releases.
I will keep sharing the updates.
Thank you.

[2021-03-24 04:30] ROCmSupport commented on #1416
Hi @shunonymous and @ivanmlerner
Looks like its a strange issue.
No issues observed so far with 2 or 4 or 8 Vega10/20.

[2021-03-24 04:31] ROCmSupport commented on #1417
Hi @lanking520
ROCm with AWS support is coming soon on specific variant of cards. Pease stay tuned for the updates.
Thank you.

[2021-03-24 04:31] #1417 closed

[2021-03-24 04:50] xuhuisheng commented on #1423
@tim77
Do you reboot after installing rock-dkms-4.1?

You can check whether dkms had installed successfully.

[code]

[2021-03-24 04:57] ROCmSupport commented on #1423
Hi @tim77
Thanks for reaching out.
I am unable to reproduce the same issue in my Radeon7 + Ubuntu 18.04.5 when I installed rocm-dkms.

Looks like you have only installed rocm-dev and rock-dkms and missed to install rock-dkms-firmware(firmware component).
Hence I request you to install rock-dkms-firmware also, then reboot and check. It should work well.
Thank you

[2021-03-24 05:19] ROCmSupport commented on #1423
And also as we mentioned clearly @[https://github.com/RadeonOpenCompute/ROCm#driver-compatibility-issue-in-this-release](url), the ROCm 4.1 run-time and userspace environment are not compatible with ROCm v4.0 and older driver implementations for 7nm-based (Vega 20) hardware (MI50 and MI60).

So request you to clean ROCm rom your machine and install ROCm 4.1 freshly, which solves the problem.
Thank

[2021-03-24 05:20] ajboni opened #1424 "V4.1 - XMRIG throws SIGSEGV (Address boundary error)"
**Describe the bug**
It was all wotking great before ROCm v4.1 now it gives me the following error:

[code]

[code]

I really don't know how to troubleshoot this.
Thanks

[2021-03-24 06:29] gggh000 commented on #1403
To repro, you just do a "make examples" from build directory:

root@guest:~/ROCm/MIOpenGEMM/build# cmake ..

There is an error however I tried with " 'cmake -DCMAKE_CXX_FLAGS=" -std=c++11 -Wall -Wextra -pedantic" but failed as well.

*******************************************************************************
*----------------------------------- ERROR -----------------------------------*
* The

[2021-03-24 07:32] ROCmSupport commented on #1403
Thanks @gggh000
I am able to reproduce the problem.
I will try to help you or else I will reach MIOpen team for further help if needed.
Thank you.

[2021-03-24 08:28] develancer commented on #1383
@ROCmSupport Feel free to share an update ;-)

[2021-03-24 08:36] preda commented on #1423
Could the documentation please specify which minimal Linux kernel version is required for a ROCm 4.1 install *without* dkms?

[2021-03-24 08:52] edurenye commented on #1061
Shouldn't this issue be open until the Navi support is added so we can be updated here?
Do you have any more precise date? 2021 is a full year

[2021-03-24 08:59] preda commented on #1423
With Linux kernel 5.12-rc4, the most recent released ATM, I still get the "upgrade amdgpu" error. It seems not any Linux kernel is fresh enough, i.e. the required amdgpu has not been merged upstream yet?

[code]

[2021-03-24 09:03] omerferhatt commented on #1061
They may be waiting for it to rust. It is very sad that people are waiting for support for the previous one despite the new architecture emerging. It's my fault to buy that card even though AMD says no support. So I sold it out. For a long time I'm not thinking of buying an AMD graphics card if I don't need it specifically. I am leaving this issue and I wish success to the entire ROCm family. 👍🏻

[2021-03-24 09:49] edurenye commented on #1061
I think they should add support for a graphic card in their software before they sell it, otherwise you are buying a product that is not finished. And if it lacks support of something it should be told in the box of the graphic card that you will not be able to use it with some of their software. You should not have to spend time to investigate with all their software if is compatible with the gra

[2021-03-24 12:58] valeriob01 opened #1425 "How to install RDC client on the management console"
This isn't clear to me by reading the PDF guide. I can install the RDC daemon on the compute nodes, but I'm stuck there.

[2021-03-24 13:01] ROCmSupport commented on #1424
Thanks @ajboni for reaching out.
I can not comment on gfx8 device as we are not supporting it officially.
But I will try to reproduce this on gfx9 device like Vega10 and share an update.
Before that, I need the exact steps to reproduce the problem.
Thank you.

[2021-03-24 13:02] ROCmSupport commented on #1425
Hi @valeriob01
Thanks for reaching out.
Can you please share the exact steps you followed and the pdf guide/doc you used.
Thank you.

[2021-03-24 13:06] valeriob01 commented on #1425
I follow the steps in the latest version 4.1 , just `apt install rdc`

[2021-03-24 13:10] valeriob01 commented on #1425
BTW, the installation shows a warning:
`useradd: Warning: missing or non-executable shell '/bin/nologin'`

I have `/bin/false` which substitutes it on Ubuntu.

[2021-03-24 13:39] kentrussell commented on #1416
Can you confirm that both PCIe slots work independently? What wattage PSU have you got, and what model of motherboard? There's nothing in dmesg that shows anything to indicate that it's kernel-driver related, so I am hoping to see if it's possibly a HW config issue.

[2021-03-24 14:38] darkbasic commented on #1423
It works for me, but please notice that I had to manually force upgrade several packages because I was left with a mix of old and new packages.

[2021-03-24 14:41] murilo commented on #1336
please 🙏

[2021-03-24 15:08] tim77 commented on #1423
Sorry for some delay here.

Yes. Installed and rebooted.

[code]

Hence I request you to install rock-dkms-firmware also, then reboot and check. It should work well.

I've double-checked and all this components installed: `rocm-dev`, `rock-dkms`, `rock-dkms-firmware`. I've also tried to clean everything and install again as it described in official ROCm docs. Seems like problem come due dkms faile

[2021-03-24 18:08] ajboni commented on #1424
Thanks! here are the steps:

1. (uninstall old rocm version)
2. Install latest rocm
3. `wget https://github.com/xmrig/xmrig/releases/download/v6.10.0/xmrig-6.10.0-linux-x64.tar.gz`
4. `tar -xf xmrig-6.10.0-linux-x64.tar.gz`
5. `cd xmrig-6.10.0/`
6. edit `config.json` and set `opencl` to `true`
7. run `./xmrig`

[2021-03-24 18:32] evilbulgarian commented on #1274
same issue with 4.1:
vladi@vladi-TB250-BTC:~$ rocm-smi
Failed to get "domain" properity from properties files for kfd node 1.
rsmi_init() failed
ERROR:root:ROCm SMI returned 8 (the expected value is 0)
vladi@vladi-TB250-BTC:~$ sudo ldconfig  -p | grep rocm | grep smi
[sudo] password for vladi:
        librocm_smi64.so.3 (libc6,x86-64) => /opt/rocm/lib/librocm_smi64.so.3
        librocm_smi64.so.3

[2021-03-24 18:33] ivanmlerner commented on #1416
The only configuration I haven't tested is the one with only the second slop occupied. In all the other configurations, apart from opencl on the second slot, everything works fine on both. I can't test it right now because opencl is throwing errors when run after the update to 4.1.0 (looks like an error in the packaging on AUR). I can revert to 4.0.0 or package it myself to test with the new versi

[2021-03-24 20:00] ivanmlerner commented on #1416
Now using only one GPU on the secondary slot, and it is not detected by opencl. Video is fine and mesa's opencl detects the card, but rocm's opencl doesn't.

[2021-03-24 20:06] ivanmlerner opened #1426 "[OpenCL] Warning: Use of non-host signal in host signal wait API (4.1.0)"
Hello, after the update to 4.1.0 I am getting a lot of this warning when running opencl applications:

`Warning: (!g_use_interrupt_wait || isIPC()) && "Use of non-host signal in host signal wait API." in virtual hsa_signal_value_t rocr::core::BusyWaitSignal::WaitRelaxed(hsa_signal_condition_t, hsa_signal_value_t, uint64_t, hsa_wait_state_t), <<private builds directory>>/hsa-rocr/src/ROCR-Runtime-r

[2021-03-24 21:49] xuhuisheng commented on #1423
@tim77
`added` means not install successfully. You can try `sudo dkms build -m amdgpu -v 4.1-26.el7` and watch if there is any compiling errors.

[2021-03-24 21:49] xuhuisheng commented on #1423
@tim77
`added` means not install successfully. You can try `sudo dkms build -m amdgpu -v 4.1-26.el7` and watch if there is any compiling errors.

[2021-03-25 02:43] ROCmSupport commented on #1274
As this thread is closed, recommend to open a new issue and discuss there for fast response.
Thank you.

[2021-03-25 02:45] ROCmSupport commented on #1426
Thanks @ivanmlerner for reaching out.
Can you please share your config like OS, Asic and all details of ROCm and also exact steps to reproduce the problem.
Thank you.

[2021-03-25 02:56] ivanmlerner commented on #1426
Hello, I am running Arch Linux with a Ryzen 3600X and an RX5500XT GPU. I know they are not supported, so if it has anything to do with that I am sorry for the trouble.
I am using amdgpu with rocm-opencl-runtime and rocm-smi installed from the AUR and packaged [here](https://github.com/rocm-arch/rocm-arch).
I'll get more information and post them here.

[2021-03-25 08:29] ROCmSupport commented on #1423
Hi @tim77, you are referring to ROCm 4.0 works with same 5.11 kernel? **I dont think so.**
Please specify the kernel version you used with ROCm 4.0.

[2021-03-25 08:36] ROCmSupport commented on #1423
Hi @preda and @tim77
I would assume that since we're using a 5.9-based kernel, it should work with 5.9 kernel and lower, without dkms.
I tested with 5.8 kernel and it worked well.
As you are using 5.11 and 5.12 kernels, things might not work. Recommend to check with 5.9 and lower versions of kernels.
We clearly mentioned in the docs also that ROCm 4.1 validation is done on 5.4 and 5.6 kernels with

[2021-03-25 10:47] ddobreff commented on #1416
Hi @ivanmlerner, make sure you have PCIe atomics supported on your secondary slot, Navi[10/12/14/21/22/23] require PCIe atomics and must be on PCIe 3.0 x4 at least to get recognized by OpenCL.

[2021-03-25 10:54] ROCmSupport commented on #1424
After changing opencl to "true" also, its no detecting in my case.

taccuser@taccuser-X399-DESIGNARE-EX:~/xmrig-6.10.0$ ./xmrig
 * ABOUT        XMRig/6.10.0 gcc/5.4.0
 * LIBS         libuv/1.41.0 OpenSSL/1.1.1j hwloc/2.4.1
 * HUGE PAGES   supported
 * 1GB PAGES    disabled
 * CPU          AMD Ryzen Threadripper 2990WX 32-Core Processor (1) 64-bit AES
                L2:16.0 MB L3:64.0 MB 32C/64T N

[2021-03-25 11:12] ROCmSupport commented on #1425
Thanks @valeriob01
I am able to reproduce this warning.
Other than that, I am able to install rdc well.

[2021-03-25 11:14] ROCmSupport commented on #1426
Hi @ivanmlerner
I am not able to reproduce this here locally. I can not comment on arch linux, as we are not supporting it.
Thank you.

[2021-03-25 11:14] #1426 closed

[2021-03-25 11:27] valeriob01 commented on #1425
How do you install it? I cannot find rdc daemon after installation.

[2021-03-25 11:27] preda commented on #1423
@ROCmSupport I have tried ROCm 3.3 and ROCm 4.0 on Linux kernels 5.10, 5.11 and 5.12 and they all work.

OTOH ROCm 4.1 does not work on any of the Linux kernels 5.10, 5.11, 5.12. The error message "Upgrade amdgpu", as I understand now, is also misleading -- as what is required is a *downgrade* of amdgpu to Linux kernel 5.8.

And, given this regression from ROCm 4.0 to ROCm 4.1, and the misleading

[2021-03-25 11:29] valeriob01 commented on #1425
My original question was how to install rdc client on the management console, however this becomes second class question now, lets first install the daemon correctly.

[2021-03-25 11:43] kentrussell commented on #1416
@ivanmlerner Could you put a card just in the secondary slot, then get a full dmesg from that? I want to see what it ends up doing when we just have the one card in there, in case dmesg shows anything more useful. I was wondering about PCIe atomics being enabled on there. It's still a PCIe 4.0 x4, so it SHOULD be recognized. Thanks!

[2021-03-25 11:44] xuhuisheng opened #1428 "Ask add hipFFT to ROCm-4.1 default.xml"
There is one component - hipFFT, missing in default.xml.
Please add hipFFT to default.xml, so we can download related sources using repo.
Thank you.

https://github.com/RadeonOpenCompute/ROCm/pull/1427

[2021-03-25 11:54] xuhuisheng commented on #1416
@ddobreff
Oh, NO. Why navi required atomic after vega didn't.
I must say atomic is totally a disaster. It leads too many troubles on gfx8. We have to explain to person why this cpu didn't support PCIe atomic, why this motherboard didn't support, why the second slot of PCIe didn't support, why the switch didn't support.

https://github.com/torvalds/linux/commit/6cc980e3f52e2e8db6d0d3bad076b495bd492

[2021-03-25 12:03] ROCmSupport commented on #1425
sudo apt install rdc --> installs rdc under /opt/rocm
/opt/rocm/rdc/bin will have both rdcd(daemon) and rdci(client interfact).

[2021-03-25 12:14] darkbasic commented on #1423
OpenCL with ROCm 4.1 works fine with my RX 570 on kernel 5.11 (Fedora 33) and no DKMS whatsoever. Here is the proof: https://openbenchmarking.org/result/2103244-AS-ROCM41DAR27

[2021-03-25 12:31] valeriob01 commented on #1425
Ok that's done, and generated the certs. In which directories shall I copy the certs?

[2021-03-25 12:41] ROCmSupport commented on #1425
Request you to follow the rdc docs for all of the information.

[2021-03-25 13:35] ivanmlerner commented on #1416
@kentrussell here is the dmesg output:
[dmesg.txt](https://github.com/RadeonOpenCompute/ROCm/files/6205015/dmesg.txt)

[2021-03-25 14:08] kentrussell commented on #1416
The atomics issue is it:
[    1.101433] kfd kfd: skipped device 1002:7340, PCI rejects atomics
We saw this in https://github.com/RadeonOpenCompute/ROCm/issues/910 as well. Looks like its a restriction with the board. Can you try to contact ASUS to see if there is a BIOS update or a BIOS setting that can enable this?

[2021-03-25 14:22] ivanmlerner commented on #1416
Will sure do, thanks a lot for the help.
If you need any testing when preparing to support arch or navi just hit me up.

[2021-03-25 14:37] acowley commented on #1423
As usual, we also have the lower level pieces (OpenCL and HIP) working in NixOS with newer kernels and no dkms. I'm using an RX 580 with kernel 5.10. Binaries are not yet in the main NixOS cache, but are available with the nixos-rocm overlay.

[2021-03-25 17:09] valeriob01 commented on #1425
Some modifications are necessary:

1. System: Ubuntu 20.04
2. Still need to build gRPC from source;
2. gRPC branch 1.28.1 is not found in the repository;
3. Compiled and installed gRPC;
4. `rdci stats` fails with error: `ERROR RdcLibraryLoader.cc(43): Fail to open librdc_client.so: libgrpc.so.9: cannot open shared object file: No such file or directory`

[2021-03-25 18:10] darkbasic commented on #1423
I've tried tensorflow and it doesn't work: https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1305
I have no idea if it works with other combinations of ROCm/kernel because it's the first time I try it.

[2021-03-25 22:24] ekondis opened #1429 "Fiji as 2nd GPU application freezes with ROCm v4.1"
There are 2 GPUs on my system, RX 5500XT & R9 Nano Fiji. With ROCm 4.1, HIP applications seem to freeze on the R9 Nano, by having a CPU thread stack at 100% CPU usage. Looks like a deadlock (gdb stack trace reports execution at `do_futex_wait`). Ironically, the Navi card seems to work properly. Both cards worked with ROCm 4.0, though Navi not perfectly.

rocminfo output follows, in case it could h

[2021-03-26 02:17] ROCmSupport commented on #1429
Hi @ekondis
Thanks for reaching out.
We are not supporting Navi and Fiji right now and so can not comment on this.
Thank you.

[2021-03-26 02:17] #1429 closed

[2021-03-26 02:23] ROCmSupport commented on #1425
Once you install rdc as apt install rdc, you will find /opt/rocm/rdc.
In that, you can see grpc also as a folder, so no need to compile/install explicitly.
If some library loading problem is there, recommend to export explicitly something like
_export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/rocm-4.1.0/rdc/lib/:/opt/rocm-4.1.0/rdc/grpc/lib/:/opt/rocm-4.1.0/rdc/grpc/lib64:/opt/rocm-4.1.0/rocm_smi/lib/

[2021-03-26 02:27] ROCmSupport commented on #1428
Thanks @xuhuisheng for reaching out.
I will check this for you and get an update soon.
Thank you.

[2021-03-26 06:07] xuhuisheng commented on #1428
PR had merged. Close issue.

[2021-03-26 06:07] #1428 closed

[2021-03-26 06:10] ekondis commented on #1429
Thank you.
I'm aware of the officially dropped support. Nevertheless, was hoping if there was a workaround I could try.

[2021-03-26 06:30] ROCmSupport commented on #1428
I worked with Packaging team on this and asked them to merge hipFFT also.
They did it. Thanks for confirming that.
Thank you.

[2021-03-26 09:29] valeriob01 commented on #1425
better but still:

`rdci stats --host localhost:50051 -s 2442 -g 1`
failed to connect to all addresses. Error code:14
rdci Error: RDC Client error

[2021-03-26 10:34] tim77 commented on #1423
@ROCmSupport

Please specify the kernel version you used with ROCm 4.0.

- kernel 5.11.9 (most recent and up to date kernel).
- `dkms` even not installed.
- OpenCL in ROCm v4.0.1 (`rocm-opencl` package, version `3.6Beta_17_g875c1f8_rocm_rel_4.0_26`) works absolutely fine and stable (except Cycles render in Blender which doesn't work but this is well known issue).

[code]
Full `clinfo` output: [cli

[2021-03-26 11:13] ROCmSupport commented on #1423
Great to know @tim77, good to know that 4.0 works perfect with 5.11 kernel.
This point made me think little more and allowing me to gather more information.
Let me gather more information and share some update if any.
Thank you.

[2021-03-26 11:20] preda commented on #1423
@ROCmSupport should maybe the issue be reopened during the investigation.

[2021-03-26 11:58] ROCmSupport commented on #1423
Looks like we are talking about 2 different issues here.
I request to talk about only one issue for now here and recommend to talk about second issue in a different/new ticket.

ROCm 4.1 + 5.11 kernel + without dkms --> first issue
ROCm 4.1 + 5.11 kernel + with dkms --> second issue
ROCm 4.0 + 5.11 kernel + without dkms --> no issues observed
ROCm 4.0 + 5.11 kernel + with dkms --> no issues observ

[2021-03-26 12:08] ROCmSupport commented on #1423
I got some update on "HSA Error:  Incompatible kernel and userspace, Vega 20 [Radeon VII] disabled. Upgrade amdgpu." error:

"Yes, that's the error. Upstream needs the patches to properly report ECC. They can use ROCm 4.1, or build their own custom kernel with the 2 patches included". This issue comes only on VG20 variant cards.
Hence we updated our documentation also with the same.

[2021-03-26 12:24] ROCmSupport commented on #1423
The patches are in 4.1. No idea when they will make it to upstream. Looks like it will take sometime. So users can't use upstream kernel on Radeon VII with ROCm 4.1. That's the only limitation for now.
Well, we also can't use 4.0 rock-dkms with 4.1 rocm-dev on Radeon VII either too.
So only way for now is: can use rock-dkms + rocm-dev both from 4.1.
And remember one point that its only on Radeon V

[2021-03-26 12:24] #1423 closed

[2021-03-26 13:10] preda commented on #1423
@ROCmSupport thank you for the clarification!

Please do put out an announcement when the ROCm-4.1 required patches make it into upstream, enabling RadeonVII to be used again with a stock Linux kernel as before.

[2021-03-26 13:29] ROCmSupport commented on #1423
Sure @preda
We will update the docs accordingly.
Thank you.

[2021-03-26 21:32] amartincolby opened #1430 "OpenCL installation not working on Ubuntu 20"
Coming over from https://github.com/RadeonOpenCompute/ROCm/issues/1411 but I am opening a new ticket because that issue is trying to use an unsupported card. Long story short, the OpenCL installation on Ubuntu 20 does not appear to be working correctly. I am running a Vega Frontier Edition Air, so my card is supported. I uninstalled everything before starting the ROCm installation and it all went

[2021-03-26 22:54] FilipVaverka opened #1431 "ROCm 4.1 - Vega 20 (Radeon VII) with upstream amdgpu"
As documentation of ROCm 4.1 release mentions Vega20 based devices seem to be temporarily disabled when upstream AMDGPU kernel module is used. As expected, after upgrading ROCm 4.0 to 4.1 `rocminfo` reports:

(OpenSUSE Tumbleweed with kernel 5.11.6-1)

What version of kernel/amdgpu is required to re-enable Vega20 with ROCm 4.1?

[2021-03-27 05:50] preda commented on #1431
Please see #1423 for some context.

[2021-03-27 15:23] ableeker commented on #1430
I'm running only OpenCL on Ubuntu 20.10, and it's working well. clinfo is working too, running without, as well as running with sudo. I didn't have rocminfo, but when I install it, it's running well without sudo too. It's also running Folding@Home, Blender, Luxmark, darktable, and some apps, all of them recognising, and using OpenCL.

I've only installed OpenCL, which is all I need from RoC, using

[2021-03-27 18:46] ajboni commented on #1424
I tried blender and its showing no compatible GPU
also cliinfo ends with `ERROR: clBuildProgram(-11)`
I've read RX580 is no longer supported on v4, is there any way to go back to previous version?

Thanks!

[code]

[2021-03-27 20:15] FilipVaverka commented on #1431
Thanks for the context. Is there bug report to follow on [https://gitlab.freedesktop.org/drm/amd](https://gitlab.freedesktop.org/drm/amd) or elsewhere?

[2021-03-27 21:20] briansp2020 commented on #1424
I think you can point to the previous version of repo directly (see https://github.com/RadeonOpenCompute/ROCm/issues/768#issuecomment-483283444)

So, instead of

Do

[2021-03-28 00:28] amartincolby commented on #1430
I am not sure what was happening. Linux logs had basically no information. But after another uninstall, reboot, reinstall, reboot, then another reboot for good measure, the two test commands now work as expected. Unfortunately, I am now left with even less information than before since both LuxMark and Blender still do not recognize the OpenCL device. I did some testing in _0 A.D._ to confirm good

[2021-03-28 03:11] ajboni commented on #1424
Thanks!
Tried to get back, but I face a lot of dependencies issues and couldnt even got clinfo to work.
I finally gave up and went with standard amdgpu-pro
`./amdgpu-pro-install --opencl=legacy,pal --headless --no-dkms`

[2021-03-28 03:11] #1424 closed

[2021-03-28 21:11] amartincolby commented on #1430
I have been experimenting and can get the OpenCL device to be recognized by Blender and Luxmark if I use the `amdgpu-install` script from the official driver package with the `--opencl=rocr` flag.

I opened a ticket on the ROCr issue list (https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/119) but the long and the short of it is that the only piece of logging that provides any insight for b

[2021-03-29 04:56] ROCmSupport commented on #1430
Hi @amartincolby
Thanks for reaching out.
I will check this for you and get back asap.
Thank you.

[2021-03-29 04:59] ROCmSupport commented on #1430
If clinfo commands shows the information properly, it means OpenCL finds the devices well. So Blender, Luxmark or any other app should detect GPU at-least.
Can you please help me with the outputs of /opt/rocm/opencl/bin/clinfo and /opt/rocm/bin/rocminfo.
Thank you.

[2021-03-29 05:00] ROCmSupport commented on #1431
Hi @FilipVaverka for reaching out.
Hope you got the context from #1423
If yes, request you to close this ticket.
Thank you.

[2021-03-29 08:10] bugparty commented on #1129
I tried in rocm4.1, `sudo apt reinstall hsakmt-roct` works

[2021-03-29 09:56] baryluk commented on #1129
Still broken in rocm 4.1, same way as before.

[2021-03-29 15:46] imaginary-person opened #1432 "[PyTorch] [ROCm 4.0.1] torch.pow produces incorrect results for the int8 dtype"
Hello,

PyTorch with ROCm 4.0.1 produces incorrect results for `torch.pow` for the `int8` dtype on MI25 or MI50.
This issue does not manifest with CUDA.

In [PyTorch PR 50999](https://github.com/pytorch/pytorch/pull/50999), [`test_int_and_float_pow_cuda`](https://github.com/pytorch/pytorch/blob/17bce70b569fa348e0b9d34c63c12c29a629d6f9/test/test_binary_ufuncs.py#L660-695) compares the results of `t

[2021-03-30 01:38] mvlp opened #1433 "clinfo returns zero devices detected on ubuntu 20"
I followed the installation guide and everything apparently went smoothly. However, the clinfo command reports that the GPU was not found. My configuration is as follows:

- OS: Ubuntu 20.04.2 LTS
- Kernel: Linux 5.8.0-48-generic
- Package: rocm-dkms Version: 4.1.0.40100-26
- Hardware info:
-[0000:00]-+-00.0  Intel Corporation Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Registers

[2021-03-30 05:02] amartincolby commented on #1430
Log dumps attached
<details closed>
<summary>/opt/rocm/opencl/bin/clinfo</summary>
Number of platforms:				 1
  Platform Profile:				 FULL_PROFILE
  Platform Version:				 OpenCL 2.0 AMD-APP (3241.0)
  Platform Name:				 AMD Accelerated Parallel Processing
  Platform Vendor:				 Advanced Micro Devices, Inc.
  Platform Extensions:				 cl_khr_icd cl_amd_event_callback

  Platform Name:				 AMD Accele

[2021-03-30 05:05] amartincolby commented on #1433
I encountered the exact same problem. I don't know what exactly happened, whether it was terminal permissions or whatnot, but if you run those commands as `sudo`, they should return the correct response. Try rebooting your system again after successful installation to see if the two commands function as expected.

[2021-03-30 05:49] ROCmSupport commented on #1432
Thanks @imaginary-person for reaching out.
Can you please share the exact steps(step by step procedure) to reproduce the problem, so that we will understand better and works on the issue.
Thank you.

[2021-03-30 05:52] ROCmSupport commented on #1433
Thanks @mvlp for reaching out.
We are not officially supporting "Lexa PRO" and so things might break.
Request you to follow our hardware support section in our documentation @ [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)
Thank you.

[2021-03-30 05:52] #1433 closed

[2021-03-30 06:12] imaginary-person commented on #1432
Hello @ROCmSupport, can you please test [this function](https://github.com/pytorch/pytorch/blob/17bce70b569fa348e0b9d34c63c12c29a629d6f9/test/test_binary_ufuncs.py#L660-695) with your local ROCm PyTorch build with an Nvidia Tesla microarchitecture GPU? Please replace `test/test_binary_ufuncs.py` on your system with the one in the given link.

You can run this test with the command `python test_bin

[2021-03-30 06:32] ROCmSupport commented on #1432
Hi @imaginary-person
I do not have NVidia GPU with me and ROCm is mainly for AMD GPUs.
Thank you

[2021-03-30 06:42] ROCmSupport commented on #1430
Strange to see this error with Luxmark.
Can you please export below env before launching Luxmark and share an update.
export LD_LIBRARY_PATH=/opt/rocm/opencl/lib

Thank you.

[2021-03-30 06:44] imaginary-person commented on #1432
Hello @jeffdaily, is it possible for you to have this issue tested on an Nvidia Tesla microarchitecture GPU, since CircleCI only has Nvidia Tesla T4 GPUs. @ROCmSupport doesn't have access to one. Thank you!

[2021-03-30 10:42] ROCmSupport commented on #1300
No issue with 4.1, am closing this.
Thank you.

[2021-03-30 10:42] #1300 closed

[2021-03-30 10:46] ROCmSupport commented on #1355
Hi @nlgranger
Can you please validate this issue with recently released ROCm version: 4.1 and share an update asap.
Thank you.

[2021-03-30 13:27] mvlp commented on #1433
@amartincolby , including 'sudo' command generates the same output.

@ROCmSupport, can you suggest a non official workaround?

[2021-03-30 18:43] valeriob01 opened #1434 "rocm-smi --showmemvendor fails"
On both my computers it shows "Unable to get GPU memory vendor." ...

[2021-03-30 23:13] jeffdaily commented on #1432
Does torch.pow produce incorrect results for ROCm hardware, or just the Tesla T4 GPU?

[2021-03-30 23:59] imaginary-person commented on #1432
@jeffdaily, can you please confirm if you know whether the PyTorch CircleCI tests for ROCm run on ATI hardware?
Based on what I can see on CircleCI's website, it only seems to have Nvidia Tesla T4 GPUs.
So I assumed that that the test only fails on Tesla T4 GPUs.
I don't have access to ROCm hardware, so I don't know if ROCm hardware produces correct results.

[2021-03-31 00:01] jeffdaily commented on #1432
PyTorch CI for ROCm runs on MI25 or MI50.  It uses Jenkins CI, not CircleCI.  The test failure is from our Jenkins CI logs; so the failure you're seeing is for AMD GPUs.

[2021-03-31 00:07] imaginary-person commented on #1432
Thanks for the info! That makes sense. I had been wondering why ROCm builds weren't tested on ROCm hardware,
as I had wrongly assumed that PyTorch Jenkins was also hosted by CircleCI.

So, I guess, debugging would be a breeze for @ROCmSupport now.

[2021-03-31 04:32] gggh000 opened #1435 "ROCm-OpenCL build fails in 4.1"
**used to build in previous version but appears to have broken in 4.1:

root@guest:~/ROCm/ROCm-OpenCL-Runtime# nano -w README.md
root@guest:~/ROCm/ROCm-OpenCL-Runtime# cd build
root@guest:~/ROCm/ROCm-OpenCL-Runtime/build# make
[  9%] Built target OpenCL
[ 12%] Built target IcdLog
[ 21%] Built target OpenCLDriverStub
Scanning dependencies of target icd_loader_test
[ 25%] Building C object khronos/i

[2021-03-31 04:37] gggh000 commented on #1435
Looking back at 4.0, I can see ROCm-opencl-runtime builds OK. From readme, it requires ROCclr installation first.
In 4.0, ROCclr build OK, however, the ROCclr build fails on 4.1 with following(  below ). Therefore, it may be possible, ROCclr is the one that is broken:

root@guest:~/ROCm/ROCclr/build# !206
cmake -DOPENCL_DIR="$OPENCL_DIR" -DCMAKE_INSTALL_PREFIX=/opt/rocm/rocclr ..
-- Code Object Ma

[2021-03-31 05:03] ROCmSupport commented on #1434
Hi @valeriob01
Thanks for reaching out.
Can you please share the details of asic, os, kernel and all other information for better understanding.
Thank you.

[2021-03-31 05:03] ROCmSupport commented on #1434
I tried on MI25 card and not seeing the problem.

======================= ROCm System Management Interface =======================
================================ Memory Vendor =================================
GPU[0]          : GPU memory vendor: samsung
================================================================================
============================= End of ROCm SMI Log ============

[2021-03-31 05:34] valeriob01 commented on #1434
This is Radeon VII, Ubuntu 20.04, kernel 5.4.0-70-generic
https://github.com/preda/gpuowl/discussions/221

[2021-03-31 06:21] ROCmSupport commented on #1434
Looks like you are using very very old ROCm version.
We are currently with ROCm 4.1 and issue is not reproduced anymore.
Recommend to try with the latest ROCm 4.1.
Thank you.

[2021-03-31 06:47] #1434 closed

[2021-03-31 07:23] ROCmSupport commented on #1435
Hi @gggh000
Thanks for reaching out.
I am not able to reproduce the problem with ROCm 4.1.

_Exact steps I followed:_
Installed rocm-dkms.
git clone https://github.com/ROCm-Developer-Tools/ROCclr.git
git clone -b master-next https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime.git
export ROCclr_DIR="$(readlink -f ROCclr)"
export OPENCL_DIR="$(readlink -f ROCm-OpenCL-Runtime)"
cd "$ROCclr_DIR"

[2021-03-31 16:28] imaginary-person commented on #1432
@ROCmSupport, please use an AMD GPU to debug.
BTW, ROCm is supposed to be an open standard & does support Nvidia GPUs, but that's irrelevant now, as I was mistaken about what GPU the test failed on.

[2021-03-31 16:52] gggh000 commented on #1435
I followd your steps and it is same, failing. What is your output of "git branch -r" from rocclr directory?

[  8%] Building CXX object device/rocm/CMakeFiles/oclrocm.dir/rocmemory.cpp.o
In file included from /root/ROCm/ROCclr/device/rocm/roccounters.hpp:24:0,
                 from /root/ROCm/ROCclr/device/rocm/roccounters.cpp:21:
/root/ROCm/ROCclr/include/top.hpp:36:10: fatal error: CL/opencl.h:

[2021-03-31 16:54] gggh000 commented on #1435
remember, you want to do this on clean system, if you did extra steps prior to this day on machine and being used a while as a build machine, steps could be omitted.

[2021-03-31 22:04] amartincolby commented on #1430
SUCCESS! And Luxmark successfully ran! I am now validating behaviors. I am encountering a problem with getting the Blender viewport render to work on the GPU, but I suspect that that problem is associated with Blender since it involves a split kernel failure.

[2021-04-01 05:07] ROCmSupport commented on #1430
Thanks @amartincolby for the confirmation. Good to know that issue is gone with the workaround.
I am closing it now.
Feel free to open a new issue, if any.
Thank you.

[2021-04-01 05:07] #1430 closed

[2021-04-01 05:20] ROCmSupport commented on #1435
Hi @gggh000
OpenCL headers are not detected and I feel the paths are wrong.

Can you please do both of the below steps in the same directory path.
For example:
cd ~
git clone https://github.com/ROCm-Developer-Tools/ROCclr.git
git clone -b master-next https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime.git

Looks like you might have pulled _ROCm-OpenCL-Runtime_ inside _ROCclr_, which is wrong.

[2021-04-01 13:22] ROCmSupport commented on #1093
Am closing this considering that issue is resolved and no response from user.
Thank you.

[2021-04-01 13:22] #1093 closed

[2021-04-01 20:29] jar opened #1436 "Warning: Use of non-host signal in host signal wait API (version 4.1.0)"
I've built the ROCm 4.1.0 toolchain from source similar to #1426, but on Ubuntu 20.04 with AMD Threadripper 1950x and AMD Radeon Vega 64 Frontier Edition.  I get multiple warnings like this when running simple hipified code:

```Warning: (!g_use_interrupt_wait || isIPC()) && "Use of non-host signal in host signal wait API." in virtual hsa_signal_value_t rocr::core::BusyWaitSignal::WaitRelaxed(hsa_

[2021-04-02 02:44] SomnusMistletoe opened #1437 "ROCclr cmake failed 4.1.0"
I have built rocm-dkms，HIP-Clang and ROCm device library successfully, howerver, when I build ROCclr as follows：

git clone https://github.com/ROCm-Developer-Tools/ROCclr.git
git clone -b master-next https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime.git
export ROCclr_DIR="$(readlink -f ROCclr)"
export OPENCL_DIR="$(readlink -f ROCm-OpenCL-Runtime)"
cd "$ROCclr_DIR"
mkdir -p build; cd build

[2021-04-02 02:58] xuhuisheng commented on #1437
Need install https://github.com/RadeonOpenCompute/ROCm-CompilerSupport

[2021-04-02 03:35] SomnusMistletoe opened #1438 "install rocm-dkms 4.1.0 failed"
My Os is Ubuntu18.04, and old-verison is rocm-4.0.0,
I have removed rock-dkms before the upgrade, and install rock-dkms as https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html, howerver, when I execute

`sudo apt install rocm-dkms`

I encountered the following errors：

[code]

when I execute /opt/rocm/bin/rocminfo, an error is prompted：
`-bash: /opt/rocm/bin/rocminfo: No s

[2021-04-02 05:08] xuhuisheng commented on #1438
The rocm-dkms and rock-dkms is different packages.

The rock-dkms is only a linux drm driver. The rocm-dkms is a meta package which includes rock-dkms and rocm-dev. And the error messages seems about opencl cannot find roct-thunk-interface.

My advise is re-install rocm-dkms from a clear enironment.

[2021-04-02 05:25] SomnusMistletoe commented on #1437
I have git clone ROCm-CompilerSupport, and try to build it in lib/comgr, I have cmake successfully, when I make, it prompt:

[code]

[2021-04-02 05:27] xuhuisheng commented on #1437
I suggest you following my build scripts order. 11 to 19
https://github.com/xuhuisheng/rocm-build

[2021-04-02 05:48] SomnusMistletoe commented on #1438
I would like to ask if it is possible that my amd architecture is gfx803. It seems that ROCM 4.0 will not provide support for gfx803.

[2021-04-02 05:56] xuhuisheng commented on #1438
For gfx803, installing is fine. But GEMM had broken since ROCm-3.7, we will get random wrong results when run tensorflow/pytorch.
https://github.com/xuhuisheng/rocm-build/tree/master/gfx803

[2021-04-05 04:30] Randall-Coding commented on #473
I'm getting this error on Ubuntu 18.04, kernel 4.15, but the other user said 4.15 should work?

` error: implicit declaration of function ‘vga_switcheroo_set_dynamic_switch’; did you mean ‘vga_switcheroo_process_delayed_switch’`

[2021-04-05 07:57] ROCmSupport commented on #473
Hi @Randall-Coding
4.15 kernel is very old, recommend to use 5.4 or bigger one.
Thank you.

[2021-04-05 07:58] ROCmSupport commented on #1436
Hi @jar
Thanks for reaching out.
Can you please share the exact steps to reproduce the problem.
Also share OS, Kernel, rocminfo, clinfo outputs.
Thank you.

[2021-04-05 08:01] ROCmSupport commented on #1437
Thanks @SomnusMistletoe for reaching out.
Can you please try installing comgr via "sudo apt install comgr" and give a try.
And also we are enhancing build steps for ROCm, it will take some time. Meanwhile you can try building rocm from above comment also.
Thank you.

[2021-04-05 08:03] ROCmSupport commented on #1438
Hi @SomnusMistletoe
Thanks for reaching out.
Looks like installation did not go well and so many things are missed.
Recommend to uninstall everything related to ROCm and try to do a fresh/clean install.
Thank you.

[2021-04-05 10:04] ROCmSupport commented on #1073
Thanks @bimonsubio1984 for reaching out.
ROCm does not support gfx8 devices anymore. Please follow our documentation for more details.
Thank you.

[2021-04-05 10:04] #1073 closed

[2021-04-05 10:07] ROCmSupport commented on #1072
Hi @ggghamd
Hope this issue is resolved, closing it right now.
Feel free to open a new issue if any for quick resolution.
Thank you.

[2021-04-05 10:07] #1072 closed

[2021-04-05 10:08] ROCmSupport commented on #1071
H @codecor-cn
Thanks for reaching out.
ROCm 4.0 and 4.1 supports RHEL 8.2, 8.3 respectively, request you to try for the same.
Thank you.

[2021-04-05 10:08] #1071 closed

[2021-04-05 10:10] ROCmSupport commented on #1070
Hi @KristijanZic
Thanks for reaching out.
Request you to try with the latest ROCm 4.1 as this issue is no more observed there.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-05 10:10] #1070 closed

[2021-04-05 10:11] ROCmSupport commented on #1067
Hi @valeriob01
Thanks for reaching out.
This issue is fixed and no more observed now with the latest ROCm 4.1, request you to try with the same.
Thank you.

[2021-04-05 10:11] #1067 closed

[2021-04-05 10:12] ROCmSupport commented on #1064
Thanks @maxi831 for reaching out.
This issue is fixed and no more observed with the latest ROCm 4.1, request you to try the same.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 10:12] #1064 closed

[2021-04-05 10:14] ROCmSupport commented on #1063
Thanks @robinchrist for reaching out.
This issue is fixed and no more observed with the latest ROCm 4.1, request you try with the same.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 10:14] #1063 closed

[2021-04-05 10:15] ROCmSupport commented on #1062
Hi @Raumss
Thanks for reaching out
MI50 is supported hardware which is Vega20 variant but with server capabilities.
I just tested with latest ROCm 4.1 and it works perfect. Request you to try with the same.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 10:15] #1062 closed

[2021-04-05 10:16] ROCmSupport commented on #1060
Hi @mohlondon
Thanks for reaching out.
Latest ROCm 4.1 supports 5.8 and 5.6 kernels officially and request you to try the same.
Thank you.

[2021-04-05 10:16] #1060 closed

[2021-04-05 10:17] ROCmSupport commented on #1057
Hi @siorenai
Thanks for reaching out.
Until there is no hardware issue, this issue is no more observed with ROCm 4.1, I just tried with 4.1 locally and able to detect 2nd GPU also.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 10:17] #1057 closed

[2021-04-05 10:18] ROCmSupport commented on #1056
Thanks @preda
Can you please share me the exact steps for better understanding and reproducing the problem.
Thank you.

[2021-04-05 10:19] ROCmSupport commented on #1054
Thanks @gwoltman for reaching out.
As per the update from our dev(@arsenm), I am closing this ticket now.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 10:19] #1054 closed

[2021-04-05 10:20] ROCmSupport commented on #1053
Thanks @preda for reaching out.
As per the update from our dev(@arsenm), I am closing this ticket now.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 10:20] #1053 closed

[2021-04-05 10:21] ROCmSupport commented on #1052
Thanks @LideDing for reaching out.
We do not support ROCm on ARM64 officially.
Thank you.

[2021-04-05 10:21] #1052 closed

[2021-04-05 10:28] daniele777 opened #1439 "Switch from CUDA to rocm and pytorch"
Guys i uninstall CUDA toolkit and Torch because i have AMD video card but now i Discover can i use my and video card ..
Reboot After i install pip3 install Torch -f .../whl/rocm4.0/torch_stable download start ...but failed install.. help

[2021-04-05 11:43] ROCmSupport commented on #1050
Hi @ghost
Thanks for reaching out.
This issue is fixed and no more observed now. I recommend to try with the latest ROCm 4.1.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 11:43] #1050 closed

[2021-04-05 11:45] ROCmSupport commented on #1047
Thanks @Ryderxz4224 for reaching out.
This issue is no more observed with ROCm 4.1, which is the latest version. I recommend to try with the same.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 11:45] #1047 closed

[2021-04-05 11:46] ROCmSupport commented on #1045
Thanks @FireCulex for reaching out.
This issue is no more observed with ROCm 4.1, which is the latest version. I recommend to try with the same.
And also always recommend to try with the official supported OS versions like Ubuntu 18.04.5 or 20.04.2 etc.,.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 11:46] #1045 closed

[2021-04-05 11:51] ROCmSupport commented on #1044
Thanks @smoe for reaching out.
From the above thread, I can always suggest that both amdgpu-pro driver and rocm driver can not exists in parallel and so request you to install one at a time.

And also, please let me know if you are still facing any issues, so that I can quickly check for you.
Request you to to share the exact steps to reproduce the problem along with the details of hardware, os et

[2021-04-05 11:52] ROCmSupport commented on #1043
Thanks @gwoltman for reaching out.
As you tried it on old ROCm version: 2.10, recommend you to try with the latest ROCm 4.1 and file a new issue, if any, for quick response.
Thank you.

[2021-04-05 11:52] #1043 closed

[2021-04-05 11:53] ROCmSupport commented on #1042
Thanks @AndrewCarterUK for reaching out.
Can you please try with the latest ROCm 4.1 and share me an update.
Thank you.

[2021-04-05 11:55] ROCmSupport commented on #1040
Thanks @emoon for reaching out.
This issue is fixed long back and no more observed with the latest ROCm builds, I tried with the same on the latest ROCm 4.1, issue is no more seen. Request you to try the same.
Feel free to open a new issue, if any, for quick resolution.
Thank you.

[2021-04-05 11:55] #1040 closed

[2021-04-05 13:32] nolta opened #1440 "C++ OpenMP offloading example fails to compile on Centos7"
I'm trying to compile and run all of the examples in `/opt/rocm-4.1.0/llvm/examples` on our new AMD GPU cluster. The OS is Centos7.

All of the C & Fortran examples work, but the sole C++ example fails:

[code]

[code]

[2021-04-05 17:08] DTolm commented on #1380
@ROCmSupport
Thanks! I have checked ROCm 4.1 and it works. I also understood the issue myself - it was related to the fact that hipDeviceAttributeMaxThreadsPerBlock was reporting 1024 even when the ROCm was configured with 256 max threads. It seems that you have increased that value to 1024 in the last update, but this reduced the number of registers a thread can use before spilling to global memo

[2021-04-05 19:22] gggh000 commented on #1435
I did not pulled ROCm-OpenCL-Runtime inside ROCclr, not reason to,
On 4.1, I am consistently getting this error.

[2021-04-06 02:57] windstamp opened #1441 "atomicMax(double) crashes"
Due to there is no atomicMax(double *address, const double val) api in hip, so implements it based on atomicCAS as follow:

[code]

But it will crashes as follow:
[code]

It seems the AtomicDouble() is no problem, but after it will crashes.

The source code is https://github.com/PaddlePaddle/Paddle/pull/32049,

and
[code]

[2021-04-06 06:23] SomnusMistletoe commented on #1438
@ROCmSupport
Hi，I see this sentence in the document:

Should I uninstall amdgpu and what should I do to uninstall it?

In addition, if I want to go back to ROCM 4.0，it seems that executing the following statement doesn't work.

`sudo apt install rocm-dkms=4.0`

So what should I do? Thank you.

[2021-04-06 06:26] ROCmSupport commented on #1435
Hi @gggh000
OpenCL headers are not detected in your machine.

Can you please try the below steps, exactly, on the same and different machine and share me an update.

Install ROCm 4.1 as _sudo apt install rocm-dkms_
git clone https://github.com/ROCm-Developer-Tools/ROCclr.git
git clone -b master-next https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime.git
export ROCclr_DIR="$(readlink -f ROCcl

[2021-04-06 06:29] ROCmSupport commented on #1380
Thanks @DTolm for the update.
I am closing this as the issue is fixed as per your confirmation too.
Thank you.

[2021-04-06 06:29] #1380 closed

[2021-04-06 07:04] ROCmSupport commented on #1438
Hi @SomnusMistletoe
Yes, at a time, you should have amdgpu-pro driver or ROCm.
So I recommend to uninstall rocm and amdgpu-pro both once and install rocm and then check whether things are working or now.
Do a reboot after every uninstall or install.

Command for uninstaling amdgpu-pro driver:
_amdgpu-pro-uninstall_

or _sudo apt autoremove amdgpu-core_

[2021-04-06 07:06] ROCmSupport commented on #1439
Hi @daniele777
Thanks for reaching out.
Can you please share the exact steps to reproduce the problem.
And also request you to share the GPU name, OS, kernel version, ROCm version, outputs of /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo.
Thank you.

[2021-04-06 07:06] ROCmSupport commented on #1440
Thanks @nolta for reaching out.
I will check this for you and get back with an update.
Thank you.

[2021-04-06 07:07] ROCmSupport commented on #1441
Thanks @windstamp for reaching out.
Request you to share the GPU name, OS, kernel version, ROCm version, outputs of /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo.
Thank you.

[2021-04-06 07:22] daniele777 commented on #1439
Letme check today thanks for reply

[2021-04-06 09:38] DTolm commented on #1380
@ROCmSupport can you please comment on the other part of my response? Thank you!

[2021-04-06 09:59] ROCmSupport commented on #1380
Hi @DTolm
I recommend to open a new issue to discuss on that separately.
Thank you.

[2021-04-06 10:17] DTolm opened #1442 "reduced number of registers per thread in ROCm 4.1"
from https://github.com/RadeonOpenCompute/ROCm/issues/1380

ROCm 4.0 had an issue - hipDeviceAttributeMaxThreadsPerBlock was reporting 1024 even when the ROCm was configured with 256 max threads. It seems that in ROCm 4.1 it was also increased to 1024, but this reduced the number of registers a thread can use before spilling to global memory (https://rocmdocs.amd.com/en/latest/Current_Release_Note

[2021-04-06 12:15] YuaJuan commented on #1438
Hi @ROCmSupport
I have uninstall amdgpu-core, and reinstall rocm, but it doesn't seem to work.
What should I do to go back to ROCM 4.0, Thank you.

[2021-04-06 12:20] SomnusMistletoe commented on #1438
Hi @ROCmSupport
I have uninstall amdgpu-core, and reinstall rocm, but it doesn't seem to work.
I have an urgent project to use ROCM environment, and I need to go back to ROCM 4.0, what should I do?
Best regards,
Thank you.

[2021-04-06 12:28] ROCmSupport commented on #1438
Hi @SomnusMistletoe
Looks like your uninstallation did not go well or some parts are still left.
OK, just uninstall everything now and reboot once.
You can install ROCm 4.0 from [https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu](url)
But instead of _https://repo.radeon.com/rocm/apt/debian/_, you need to map to https://repo.radeon.com/rocm/apt/4.0
Thank you.

[2021-04-06 12:57] SomnusMistletoe commented on #1438
Hi @ROCmSupport
Do you mean
[code]
instead of
[code]
I do as the first way, and uninstall, and reinstall, but get the following error:
[code]
Best regards,
Thank you.

[2021-04-06 13:03] ROCmSupport commented on #1442
Thanks @DTolm for reaching out.
I will check with HIP team and share an update on this.
Thank you.

[2021-04-06 13:22] ROCmSupport commented on #1438
Yes @SomnusMistletoe
I did not see any problem with ROCm 4.0 installation.
I tried just now and its working perfect for me.
Please check the steps below.

Before mapping, I installed gnupg2 as _**apt install gnupg2**_

root@taccuser-X399-DESIGNARE-EX:/# **wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -**
OK
root@taccuser-X399-DESIGNARE-EX:/# **echo 'deb [arch=amd64] htt

[2021-04-06 13:25] ROCmSupport commented on #1440
Can you please share the exact steps you followed, to reproduce the problem.
Thank you.

[2021-04-06 13:57] SomnusMistletoe commented on #1438
Hi @ROCmSupport
it doesn't seem to work.
Is it possible that my kernel version is too low?
[code]
but, I have successfully installed rocm4.0 before.

[2021-04-06 14:31] nolta commented on #1440
[code]

[2021-04-06 14:46] sunway513 commented on #1438
@SomnusMistletoe Yes, you'll need minimum 4.18 in order to install ROCm4.1 kernel driver.. The following instructions would do:
[code]

[2021-04-06 15:59] #1365 closed

[2021-04-06 19:54] gggh000 commented on #1435
I think I might have set the path wrong, I can build ok now, I thought I closed this issue yesterday.

[2021-04-06 19:54] #1435 closed

[2021-04-07 02:03] cmdrogogov commented on #1202
@ROCMSupport -

You should reconsider this, now that CentOS is effectively dead.

[2021-04-07 05:07] daniele777 commented on #1439
Guys help to understand  i follow your project and this

https://github.com/LearnedVector/A-Hackers-AI-Voice-Assistant

I setting up ambient and all ok when i train neural network based pytorch  i use this Command :

python3 train.py --sample_rate 8000 --epochs 100 --batch_size 32 --eval_batch_size 32 --lr 0.0001 --model_name ./new_wakeword_v0 --save_checkpoint_path neuralnet/checkpoints --train_d

[2021-04-07 06:27] ROCmSupport commented on #1438
Hi @SomnusMistletoe
4.15 kernel is very old, recommend to use the latest kernels, atleast 4.18 and above.
In our documentation also, we clearly mentioned to use 5.4 and 5.6 kernels as recommended ones.
Thank you.

[2021-04-07 06:32] ROCmSupport commented on #1365
Thanks @pjgeorg for closure. Hope you got a fix with 4.1. Thank you.

[2021-04-07 06:40] ROCmSupport commented on #1435
Thanks @gggh000 for the closure.
Happy to see that issue is fixed at your end.
Thank you.

[2021-04-07 08:20] windstamp commented on #1441
Add `return` will solve this proble.

[code]

If not add `return`, the `AtomicDouble(double)` itself is no proble, but it will cause problem for others hip rumtime api, for example, `hipFree()`.

It will hang as follow:
[code]

[code]

[2021-04-07 08:22] windstamp commented on #1441
[code]

[2021-04-07 08:22] windstamp commented on #1441
[code]

[2021-04-07 08:30] windstamp commented on #1441
Add `return` does solve this problem.
[code]

If no `return`，the function `AtomicDouble()` itself is no problem, but it will hang others hip runtime api, for example, `hipFree()`, the stack sush as:
[code]

[2021-04-07 08:30] #1441 closed

[2021-04-07 12:13] ROCmSupport commented on #1441
Thanks for the update @windstamp
Thank you much.

[2021-04-07 12:31] ROCmSupport commented on #1440
Hi @nolta
I tried the same sample and am able to see output executable like "vmul_template".
I tried just now on CentOS 8. Let me check with CentOS 7 and update you asap.

/opt/rocm-4.1.0/llvm/bin/clang++ -O3   -fopenmp   -fopenmp-targets=amdgcn-amd-amdhsa   -Xopenmp-target=amdgcn-amd-amdhsa   -march=gfx906   -o vmul_template   /opt/rocm-4.1.0/llvm/examples/openmp/vmul_template/vmul_template.cpp

[2021-04-07 12:47] ROCmSupport commented on #1439
Hi @daniele777, sorry for the repeated question.
Can I know the exact steps to reproduce the problem? Do you want me to follow https://github.com/LearnedVector/A-Hackers-AI-Voice-Assistant?
Can I try it on MI50 + ROCm 4.0.1? Please share more details if any.
If the steps are very clear, I can try and update asap.
Thanks for understanding.

[2021-04-07 14:05] yxsamliu commented on #1442
launch bounds should work with hipRTC. I tried it with a simple test https://github.com/ROCm-Developer-Tools/HIP/blob/main/tests/src/hiprtc/saxpy.cpp by adding `__launch_bounds__(256)` at line 49 before `__global__`. I dumped the code object generated by hipRTC and saw .max_flat_workgroup_size changed from 1024 to 256.

You may use env var

export AMD_COMGR_EMIT_VERBOSE_LOGS=1
export AMD_COMGR_RED

[2021-04-08 09:23] ROCmSupport commented on #1056
Request you to try with the latest ROCm 4.1 or 4.1.1 and hope issue is fixed now as its more like an old issue.
Feel free to open a new issue, if any, for quick resolution.

[2021-04-08 10:07] ROCmSupport commented on #1440
Hi @nolta
I am able to reproduce the problem with CentOS 7 docker.
Strange that test compiler and PASSED with ROCm 4.1 + CentOS 8.2.
But compilation failed with ROCm 4.1 + CentOS 7 docker.
Trying to find out the difference. Will keep you posted.

[2021-04-08 11:07] ROCmSupport commented on #1222
Hi @sameershende
Can you please check this with the latest ROCm 4.1 and update.
Thank you.

[2021-04-08 11:38] ROCmSupport commented on #1377
Cloning both ROCclr and ROCm-OpenCL-Runtime in the same directory path makes issue go away.

[2021-04-08 11:38] #1377 closed

[2021-04-08 11:43] ROCmSupport commented on #1181
Verified and fixed with 4.1.
Thank you.

[2021-04-08 11:43] #1181 closed

[2021-04-08 11:48] ROCmSupport commented on #1182
Verified and issue is fixed with 4.1.
Thank you.

[2021-04-08 11:48] #1182 closed

[2021-04-08 11:50] ROCmSupport commented on #1245
Hi @baryluk
Issue is fixed with 4.1 code. Can you please check and update asap.
Thank you.

[2021-04-08 14:17] baryluk commented on #1245
Fixed. Thank you.

[2021-04-08 14:17] #1245 closed

[2021-04-09 01:00] jaglinux commented on #1432
@imaginary-person on ROCm 4.1 , I re-enabled the test and the output is pasted below.  There is a runtime warning.
Pytorch CI is moved to ROCm4.1 for AMD GPU's.  If the results are good, then you may want to submit PR with the tests enabled.

/home/pytorch-1/test# python test_binary_ufuncs.py -v TestBinaryUfuncsCUDA.test_int_and_float_pow_cuda
test_int_and_float_pow_cuda (__main__.TestBinaryUfuncs

[2021-04-09 01:05] imaginary-person commented on #1432
@jaglinux, thank you for the update!
IIRC, the warning is intended, so from your update, it seems like the issue has been fixed on ROCm 4.1.

[2021-04-09 01:24] gggh000 opened #1444 "AMDMIGraphX build failing on 4.1"
Both cmake .. and rbuild to install dependency is showing following error about can not find 2 cmake files:

root@guest:~/ROCm-4.1/AMDMIGraphX/build# rbuild build -d depend --cxx=/opt/rocm/llvm/bin/clang++
cget -p depend clean -y
cget -p depend init --cxx /opt/rocm/llvm/bin/clang++
cget -p depend ignore danmar/cppcheck
Ignore package danmar/cppcheck
cget -p depend ignore RadeonOpenCompute/clang-oc

[2021-04-09 01:25] gggh000 commented on #1444
Culd not find those files anywhere?

root@guest:~/ROCm-4.1/AMDMIGraphX/build# find /opt/ -name nlohmann_jsonConfig.cmake
amdgpu/     amdgpu-pro/ rocm/       rocm-4.1.0/
root@guest:~/ROCm-4.1/AMDMIGraphX/build# find /opt/rocm-4.1.0/ -name nlohmann_jsonConfig.cmake
root@guest:~/ROCm-4.1/AMDMIGraphX/build#

[2021-04-09 01:56] gggh000 opened #1445 "rdc build is missing "rdc.grpc.pb.h""
I downloaded, built and isntalled grpc OK onto default path however rdc build is complaining about this missing file. Seached in source code, /usr/local location but nowehere to be found:

~/ROCm-4.1/rdc/build# cmake -DROCM_DIR=/opt/rocm  -DGRPC_ROOT="$GRPC_PROTOC_ROOT" ..
Package version:
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Check for wo

[2021-04-09 02:37] perestoronin opened #1446 "rocm-smi 4.1 returns error"
[code]

but rocminfo work perfect

[2021-04-09 02:47] valeriob01 opened #1447 "ROCm 4.1.0 and Navi 10 (Radeon RX 5700 XT)"
**Gpuowl cannot run:**

https://github.com/preda/gpuowl/issues/223

[2021-04-09 05:33] ROCmSupport commented on #1432
Thanks @imaginary-person for the update.
Hi @imaginary-person, feel free to close this ticket now.
Thank you.

[2021-04-09 05:44] ROCmSupport commented on #1446
Hi @perestoronin
Thanks for reaching out.
In my case, rocm-smi shows information properly.
Can you please share us with below information.
Asic, OS, Kernel, ROCm# version and dmesg output.

[2021-04-09 05:47] ROCmSupport commented on #1447
Hi @valeriob01
Thanks for reaching out.
Navi10 is not supported with ROCm 4.1 and so can not comment on this.
Thank you.

[2021-04-09 05:47] #1447 closed

[2021-04-09 06:05] #1432 closed

[2021-04-09 06:05] ROCmSupport commented on #1245
Thanks @baryluk for the closure.

[2021-04-09 07:20] ROCmSupport commented on #1444
Thanks @gggh000 for reaching out.
I am checking this for you.
Thank you.

[2021-04-09 07:22] ROCmSupport commented on #1444
Looks like I have not seen any issue like yours.

**-- Found nlohmann_json: /home/master/AMDMIGraphX/depend/lib/cmake/nlohmann_json/nlohmann_jsonConfig.cmake (found suitable version "3.8.0", minimum required is "3.8.0")**

My config is: MI25 + ROCm 4.1 + Ubuntu 18.04.5 + 5.4.0-70-generic

[2021-04-09 07:30] ROCmSupport commented on #1444
I followed below steps and I have not seen any issues.

#install rocm
1. Install ROCm 4.1 + rocm-libs etc.,.

#install rbuild
2. sudo apt install python3-pip
3. pip3 install https://github.com/RadeonOpenCompute/rbuild/archive/master.tar.gz
4. git clone https://github.com/ROCmSoftwarePlatform/AMDMIGraphX -b rocm-4.1.x && cd AMDMIGraphx
5. export PATH=$HOME/.local/bin:$PATH
6. rbuild build -d depend

[2021-04-09 07:46] ROCmSupport commented on #1445
Thanks @gggh000 for reaching out.
I will check this for you and update asap.
Thank you.

[2021-04-09 08:19] ROCmSupport commented on #1445
I am able to reproduce this issue locally with ROCm 4.1 + Ubuntu 18.04.5 + MI25.
Looks like "rdc.grpc.pb.h" is not packagged, kind of missed.
Working with RDC team on this and will share an update asap.
Thank you.

[2021-04-09 09:33] perestoronin commented on #1446
[code]
[code]

[code]
[code]
[code]

[2021-04-09 09:50] ROCmSupport commented on #1437
Hi @SomnusMistletoe
Please share an update so that we will work and provide resolution asap.
Thank you.

[2021-04-09 09:51] ROCmSupport commented on #1438
Hi @SomnusMistletoe
Please share an update or else close the issue, if the issue is resolved.
So that we can work for you and will update with resolution.
Thank you.

[2021-04-09 09:52] ROCmSupport commented on #1439
Hi @daniele777
Please share an update so that we can work for you and will update with resolution.
Thank you.

[2021-04-09 10:02] SomnusMistletoe commented on #1437
Hi @ROCmSupport
I have a question：in this document   https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP-Installation.html
In order to build rocclr, we need to execute
`git clone -b rocm-4.1.x https://github.com/ROCm-Developer-Tools/ROCclr.git`

howerver，the latest release version of ROCclr is 4.0.0 in https://github.com/ROCm-Developer-Tools/ROCclr.
So which version should I git clone?

[2021-04-09 10:08] ROCmSupport commented on #1437
Hi @SomnusMistletoe
4.1 branch is there and so request you to use: [https://github.com/ROCm-Developer-Tools/ROCclr/tree/rocm-4.1.x](url)
Thank you.

[2021-04-09 10:20] ROCmSupport commented on #1446
Thanks for more information @perestoronin
I looked at the device properties and found that "domain" property is missed and so its throwing error.

But in my case, "domain 0" and so no issue observed.
Working more to gather more information.

[2021-04-09 10:31] daniele777 commented on #1439
i setting up ambient please wainting...

[2021-04-09 11:14] xuhuisheng commented on #1437
@SomnusMistletoe
Github only display release on the homepage of repo.
Actually there is a rocm-4.1.0 tag after rocm-4.0.0 release.
https://github.com/ROCm-Developer-Tools/ROCclr/releases/tag/rocm-4.1.0

[2021-04-09 15:02] pjgeorg opened #1448 "Missing dependency perl-URI-Encode not in CentOS PowerTools"
The ROCm 4.1.1 release notes mention new the the "hip-base package has a dependency on Perl modules that some operating systems may not have in their default package repositories."
According to the release notes it should be enough to enable the Power Tools repository for CentOS. (CoreReady Builder for RHEL). However the Power Tools repository does **not** contain the (all?) newly added dependenci

[2021-04-09 16:01] perestoronin commented on #1446
I investigate, that domain introduced since kernel version 5.8.

@ROCmSupport  what version of kernel compiance with rocm 4.1.1 ?

[2021-04-09 17:40] perestoronin commented on #1446
/opt/rocm/bin # python rocm_smi.py
GPU  Temp   AvgPwr  SCLK    MCLK    Fan    Perf  PwrCap  VRAM%  GPU%
0    39.0c  7.0W    852Mhz  167Mhz  14.9%  auto  220.0W    1%   6%

/opt/rocm/bin # uname -a
Linux 5.10.28-gentoo-rt36 #1 SMP PREEMPT_RT x86_64 AMD Phenom(tm) II X6 1100T

Аfter update kernel from deprecated 5.4 to actual for rocm-4.1.1 kernel-5.10 issue is resolved.

[2021-04-09 17:40] #1446 closed

[2021-04-09 18:13] ye-luo commented on #1328
Ping. Still broken in 4.1.

[2021-04-09 22:30] gggh000 commented on #1445
ij thanks,

[2021-04-09 23:43] perestoronin opened #1449 "fclk clock is unsupported ... Aborted (core dumped)"
[code]

same text error on other case: https://github.com/RadeonOpenCompute/rocm_smi_lib/issues/81

may be reason this case: pp_dpm_fclk interface is only available for Vega20 and later ASICs.

but I have case with this error on GPU Vega 10 Frontier Edition Air

[2021-04-09 23:55] perestoronin commented on #1449
uname -a
Linux rst 5.10.28-gentoo-rt36 #1 SMP PREEMPT_RT

[2021-04-10 08:37] gggh000 opened #1450 "rocPRIM build failing due to requirement 'hcc' or 'clang' must be compiler"
=~=~=~=~=~=~=~=~=~=~=~= MobaXterm log 2021.04.09 22:46:10 =~=~=~=~=~=~=~=~=~=~=~=
na[CXX=hipcc] cmake -DBUILD_BENCHMARK=ON ../.CXX=hipcc;..
root@guest:~/ROCm-4.1/rocPRIM# ehich       which hipcc
/usr/bin/hipcc
root@guest:~/ROCm-4.1/rocPRIM# which hipccCXX=`which hipcc`
root@guest:~/ROCm-4.1/rocPRIM# [CXX=hipcc] cmake -DBUILD_BENCHMARK=ON ../.Xccm
CMake Error: The source directory "/root/ROCm-4.1"

[2021-04-10 12:09] daniele777 commented on #1439
First of all i can use ROMc use GPU ti train Ai with pytorch ?

[2021-04-10 12:11] daniele777 commented on #1439
I follow read me installation instead a https://github.com/LearnedVector/A-Hackers-AI-Voice-Assistant but i replace Torch with rocm

[2021-04-10 12:12] daniele777 commented on #1439
But Is i install opencl next CUDA use video card during training .?

[2021-04-10 15:30] kulichbulich commented on #1402
After update to tensorflow-rocm-2.4.1 and ROCm 4.1, problem disappeared and training is working again now.
Thank you

[2021-04-11 14:37] gggh000 commented on #1450
hip-config exists however apparently it is not finding it /opt/rocm-4.1.0/hip/lib/cmake/hip/hip-config.cmake

[2021-04-11 15:33] gggh000 commented on #1450
I found this is due to disrepancy in path which I corrected and now, I see it is unable to find hipcc compiler and giving off following error:

cmake -DBUILD_BENCHMARK=ON CXX=/opt/rocm/bin/hipcc ../.
-- The CXX compiler identification is GNU 7.5.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting

[2021-04-12 01:36] jar commented on #1436
[code]
[code]
[code]
The last error here is a bit concerning. Do I need OpenCL?  I get build errors when building 4.1.x ROCm-OpenCL-Runtime because it appears some headers weren't copied or properly referenced from ROCclr.

Is there an updated build script for the entire ROCm stack?  It would be helpful rather than referring to multiple build instructions, possibly dated, across several source rep

[2021-04-12 07:07] ROCmSupport commented on #1448
Thanks @pjgeorg for reaching out.
I will check this for you.

[2021-04-12 07:12] ROCmSupport commented on #1402
Great to know that TF is working with ROCm 4.1 + TF2.4
Thank you

[2021-04-12 07:12] #1402 closed

[2021-04-12 07:26] ROCmSupport commented on #1436
Hi @jar
We are working on ROCm build instructions and request to follow #1188.
Thank you.

[2021-04-12 07:28] ROCmSupport commented on #1448
Hi @pjgeorg
Recommend to install epel-release, which serves many dependencies.
Thank you.

[2021-04-12 07:29] ROCmSupport commented on #1328
Hi @ye-luo, yes, its broken in 4.1 too, which we know.
I just informed developer for the status on this. Let me share an update once I get any.
Thank you.

[2021-04-12 07:32] ROCmSupport commented on #1446
Thanks for upgrading kernel and closing this issue.
Thank you.

[2021-04-12 08:02] ROCmSupport commented on #1449
Thanks @perestoronin for reaching out.
Can you please help me with few details like ROCm version, OS, /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo.
Thank you.

[2021-04-12 08:10] ROCmSupport commented on #1450
Thanks @gggh000 for reaching out.
Request you to modify the title for calling exact issue.
Request you to share the exact steps to reproduce the problem.
Thank you.

[2021-04-12 09:11] ROCmSupport commented on #1449
I am not able to reproduce the issue locally with vega10 + ROCm 4.1

taccuser@taccuser-X399-DESIGNARE-EX:~$ /opt/rocm-4.1.0/bin/rocm-smi -a

======================= ROCm System Management Interface =======================
========================= Version of System Component ==========================
Driver version: 5.9.15
==========================================================================

[2021-04-12 09:40] Dantali0n opened #1451 "Rocm 4.1 libamd_comgr.so.1 missing"
OpenCL fails for 4.1.0 due to clinfo being entirely missing. Similarly, libamd_comgr.so.1 is now missing from the install.

[2021-04-12 09:43] Dantali0n commented on #1451
`Reinstallation of rocm-opencl is not possible, it cannot be downloaded.`

[2021-04-12 09:45] Dantali0n commented on #1451
Packages for rocm-opencl, and rocm-opencl-dev still report version 3.6 on Ubuntu Xenial based systems, fucking slow clap well done!

[code]

[2021-04-12 09:48] ROCmSupport commented on #1450
Hi @gggh000
I am not able to reproduce the problem when I followed below steps.

taccuser@taccuser-X399-DESIGNARE-EX:~$ git clone https://github.com/rocmsoftwareplatform/rocprim -b rocm-4.1.x
Cloning into 'rocprim'...
remote: Enumerating objects: 1133, done.
remote: Counting objects: 100% (1133/1133), done.
remote: Compressing objects: 100% (463/463), done.
remote: Total 10231 (delta 699), reused

[2021-04-12 09:50] ROCmSupport commented on #1451
Thanks @Dantali0n for reaching out.
Can you please share the exact steps you followed, to reproduce the problem.
And also share kernel version, ROCm version, OS, clinfo and rocminfo outputs.
Thank you.

[2021-04-12 09:55] Dantali0n commented on #1451
Steps:

[code]

Kernel: 5.4.0
OS: Ubuntu 18.04
ROCm version: 4.1.0 (Partial your opencl packages for 4.1.0 are MISSSING!!!)
clinfo: not installed missing due to broken update!
rocminfo: error can not open shared library, missing

[2021-04-12 10:11] ROCmSupport commented on #1451
Thanks @Dantali0n for the steps.
Upgrade does not work now and so we recommend to not to upgrade.
Request you to uninstall old rocm and install new rocm, which works well.
Thank you.

[2021-04-12 10:13] Dantali0n commented on #1451
This is bonkers, you can't just say we are incapable of properly making .deb packages so everyone using ROCm can't use `apt upgrade` anymore. Fix your packages properly!

[2021-04-12 10:18] ROCmSupport commented on #1451
Hi @Dantali0n
We are stabilizing the upgrade process and it will be available very soon.
Until then recommend to do a clean uninstall and install.
Thank you.

[2021-04-12 12:42] jar commented on #1436
I cut code from the square.cu example:
[code]
Compile:
[code]
Run:
[code]
Warnings are related to the `[cuda|hip]Memcpy` calls.

[2021-04-12 15:39] #1451 closed

[2021-04-12 18:28] gggh000 commented on #1450
Can you let me know why cmake log printing /usr/bin/c++ as compiler even though i specified compiler to hipcc?
I tried several different ways all same:

cmake -DBUILD_BENCHMARK=ON DCXX=/opt/rocm/bin/hipcc ../.
cmake -DBUILD_BENCHMARK=ON CXX=/opt/rocm/bin/hipcc ../.
cmake -DBUILD_BENCHMARK=ON DCMAKE_CXX_COMPILER=/opt/rocm/bin/hipcc ../.
cmake -DBUILD_BENCHMARK=ON CMAKE_CXX_COMPILER=/opt/rocm/bin/hi

[2021-04-12 18:31] gggh000 commented on #1450
On readme.md, it only says following about cxx compiler which does not work when followed:

# ! IMPORTANT !
# Set C++ compiler to HIP-clang. You can do it by adding 'CXX=<path-to-compiler>'
# before 'cmake' or setting cmake option 'CMAKE_CXX_COMPILER' to path to the compiler.
# Using HIP-clang:
[CXX=hipcc] cmake -DBUILD_BENCHMARK=ON ../.

[2021-04-12 18:32] gggh000 commented on #1450
I dont see which branch you are using.

[2021-04-12 18:33] gggh000 commented on #1450
OK, following works as posted by you:
CXX=/opt/rocm/hip/bin/hipcc cmake -DBUILD_BENCHMARK=ON ../.

However, the readme.md does not convery this information correctly as mentioned above.

[2021-04-12 19:57] gggh000 opened #1452 "missing hip_ostream_ops.h during roctracer build however file exists."
Used usual instruction instruction in readme.md however hip header file below is missing. rocm-dkms + HIP was installed ok previously. File exists in /opt/rocm.

root@guest:~/ROCm-4.1/roctracer/build# find ../.. -name hip_ostream_ops.h
root@guest:~/ROCm-4.1/roctracer/build# find /opt -name hip_ostream_ops.h
/opt/rocm-4.1.0/roctracer/include/hip_ostream_ops.h
/opt/rocm-4.1.0/include/roctracer/hip_o

[2021-04-13 01:32] xuhuisheng commented on #1452
this header is generated by CppHeaderParser, we could install using pip

[2021-04-13 02:35] perestoronin commented on #1449
Rocm-smi (deprecated) 4.0 work excellent with rocm stack 4.1
Thank you, i will retry with rocm-smi 4.1, may by my troubles in ld.so.conf.d for rsmi libs...

[2021-04-13 07:26] AGenchev commented on #1439
@daniele777 if you have: Radeon RX Vega 64, AMD Radeon VII **AND** Ubuntu version 18.04 or 20.04 you can make it work.
(I assume you **don't have** Radeon Instinct). Read "Supported GPUs" section.
Beware the project you read has mixed tensorflow 2.3 and pytorch 1.7.1 in requirements.txt, so it might fail for other reasons.

[2021-04-13 07:40] AGenchev commented on #1016
I wonder is there a *political* reason Debian to be not supported despite the name "Debian" is cited thousand times in the documentation ?

[2021-04-13 08:00] AGenchev commented on #1406
I hope you have planned to support APUs as well, because you're losing money in the niche of products like Nvidia Jetson in the last 4 years.

[2021-04-13 12:01] DTolm commented on #1442
I have checked the generated code with provided variables (big thanks for them actually) and it seems you are correct. Then performance drops happen due to some other reason. I will keep looking and will open another issue if I find something. Thank you!

[2021-04-13 12:01] #1442 closed

[2021-04-13 16:13] develancer commented on #1383
Hi @ROCmSupport, just wanted to remind you it's been a month since the last update.

[2021-04-13 16:37] gggh000 commented on #1444
I followed your steps but running into issue. There has to be something else breaking that preinstalled on your system.

[2021-04-13 19:26] perestoronin commented on #1449
@ROCmSupport  I added more logs
deprecated old rocm-smi work without errors and asserts
# rocm-smi -a
https://gist.github.com/raw/173c94bf44992adbf1ca6153f323e553

but new rocm-smi raised assert and output errors
# /opt/rocm/bin/clinfo -a
https://gist.github.com/raw/f7166b0e253d3ceb7675f45a37570679

In my case error in this results:
[code]

[2021-04-13 20:07] perestoronin commented on #1449
error on type 13 = kDevPCIEClk

[2021-04-13 20:28] perestoronin commented on #1449
On these data new rocm-smi failed:
[code]

[2021-04-13 20:31] perestoronin commented on #1449
error in driver amdgpu, but rocm-smi as I expected
#not must asserted on this illegal data from driver
# not nessery type ERROR on non exists for card new types of fclk and so on.

[2021-04-13 20:32] pfultz2 commented on #1444
Its missing nlohmann_json, but rbuild should install it. You can see a list of dependencies that rbuild installed by doing `cget -p depend ls`. It would be useful to see the output you see when rbuild tries to build nlohmann_json, this may give insights into why it was skipped or not found.

[2021-04-14 04:58] perestoronin commented on #1449
about logick in rocm-kernel-driver and logick in kernel drivers 5.10 https://i.imgur.com/yMiQxZi.png

[2021-04-14 05:18] perestoronin commented on #1449
this new commit to new kernel linux will raise failed to work rocm-smi  http://git.yoctoproject.org/cgit/cgit.cgi/linux-yocto-dev/commit/?id=040afa09ef066fa9b525b790f05ae03022ed7954

Please sync with kernel command to fix this.

[2021-04-14 05:52] perestoronin commented on #1449
solution to new kernel mainline driver  vega10_hwmgr.c.patch  https://gist.github.com/raw/32685450353b72f99ec11acba4e6b9bc

[2021-04-14 05:53] #1449 closed

[2021-04-14 07:52] NightHammer1000 commented on #1376
ROCm Support should be one of the TOP Priorities at AMD atm.
The most powerfull Card cant be used in a field where it would be immensly usefull?
Thats just sad.

[2021-04-14 09:18] perestoronin opened #1453 "Please implement logic of new rocm-smi without noisy "ERROR" and with pretty formatted messages."
[code]
Please implement logic of rocm-smi without noisy "ERROR" and with pretty formatted messages.

[2021-04-14 15:46] snackfart opened #1454 "ROCm 4.1.1 + PyTorch 1.8.1 + Ubuntu 20.04.2 Installation fails"
Hardware:
RX 480, 8GB

Software/OS:
Kernel: 5.4.0-71-generic
Ubuntu 20.04.2

Hello,

i installed ROCm 4.1.1 successfully, but the pyTorch Installation fails when following the official guide (last step):
![image](https://user-images.githubusercontent.com/33380141/114738967-c1d37900-9d48-11eb-9a9f-dc7a915fbd68.png)

console input:
`pip3 install ninja && pip3 install 'git+https://github.com/pytorch/

[2021-04-14 16:13] unexploredtest commented on #1454
Check this:
https://github.com/xuhuisheng/rocm-build/tree/master/gfx803

[2021-04-14 16:40] snackfart commented on #1454
Checked it still the same error.

[2021-04-14 19:14] sunway513 commented on #1454
@pruthvistony can you help here?

[2021-04-14 23:17] pruthvistony commented on #1454
RX 480 is Polaris GPU. This GPU is NOT supported by ROCm

[2021-04-15 03:59] duwangthefirst opened #1455 "personal opinon: Unless mac and windows is supported, this ROCm project will never be as popular as CUDA"
personal opinon: Unless mac and windows is supported, this ROCm project will never be as popular as CUDA.

If One is willing to build a ubuntu server, nvidia gpu is obviously a better choice for CUDA comes with a lot of learning resource.

However latest MacOS  device only provide AMD gpus, so why doesn't ROCm support MacOS ? More developer will be attracted once this feature comes true.

[2021-04-15 05:04] snackfart commented on #1454
Correct me if i´m wrong, but werent there versions of ROCm for Polaris 10? Also where is the difference between Polaris 10 and 11?

[2021-04-15 05:10] xuhuisheng commented on #1454
We can use ROCm-3.5.1 with gfx803 - Polaris - RX480,RX580, etc.
Here is a documents for ROCm-3.5 <https://github.com/boriswinner/RX580-rocM-tensorflow-ubuntu20.4-guide>

BTW, tensorflow_rocm-2.4.2 still can run successfully on ROCm-4.1 and gfx803, don't need to compile by ourselves.

[2021-04-15 05:18] snackfart commented on #1454
Thanks for your help, will try.
Need pyTorch unfortunately.

[2021-04-15 07:45] SomnusMistletoe commented on #1438
Hi @ROCmSupport
I reinstalled the os, and install rocm-dkms 4.1.0 and llvm-project successfully.
when I continue to make ROCm-Device-Libs, I get the following error:
[code]
Best regards,
Thank you.

[2021-04-15 09:26] SomnusMistletoe commented on #1438
Hi @ROCmSupport
I reinstalled the os, and install rocm-dkms 4.1.0 and llvm-project, ROCm-Device-Libs, ROCclr successfully.
when I
`git clone -b rocm-4.1.x https://github.com/ROCm-Developer-Tools/HIP.git`
and continue to make HIP, I get the following error:
[code]
Best regards,
Thank you.

[2021-04-15 13:16] snackfart commented on #1454
fyi solution:
https://github.com/xuhuisheng/rocm-build/issues/8

[2021-04-15 13:16] #1454 closed

[2021-04-16 06:14] Degerz commented on #1455
AMD GPUs won't be included or supported anymore on future Mac systems ...

[2021-04-16 10:26] ROCmSupport commented on #1436
Thanks @jar
I executed it on Vega20 + ROCm 4.1 --> Issue is NOT observed.

taccuser@taccuser-All-Series:~$ ./square.out
**info: running on device Vega 20 [Radeon VII]**

Let me check on Vega10 and share an update.
Thank you.

[2021-04-16 10:32] ROCmSupport commented on #1436
Hi @jar
I checked it on Vega10 also and issue is NOT observed with ROCm 4.1-26 + 20.04.2 with kernel 5.8.0-48.

**taccuser@taccuser-X399-DESIGNARE-EX:~$ ./square.out
info: running on device Vega 10 XL/XT [Radeon RX Vega 56/64]**
taccuser@taccuser-X399-DESIGNARE-EX:~$

Thank you.

[2021-04-16 10:41] ROCmSupport commented on #1450
Thanks @gggh000
You need to use exactly same as "CXX=/opt/rocm/hip/bin/hipcc cmake -DBUILD_BENCHMARK=ON ../.".
Changing the flags before and after do not work.

I followed documentation only. Doc says: [CXX=hipcc] cmake -DBUILD_BENCHMARK=ON ../., which is the same.
I just replaced CXX with full path.

[2021-04-16 10:41] ROCmSupport commented on #1450
Thanks @gggh000  for following the above step exactly and confirming that issue is not reproduced.
Thank you.

[2021-04-16 10:41] #1450 closed

[2021-04-16 10:49] ROCmSupport commented on #1449
Hi @perestoronin
Request to open a new task for the latest issue as a separate ticket so that I will work with kernel team for the fixes.
Thank you.

[2021-04-16 11:00] ROCmSupport commented on #1439
Hi @daniele777
Yes, you can use ROCm + Supported GPU to train AI with pytorch.
Request you to close this ticket if you do now have any more issues.
Thank you.

[2021-04-16 11:10] ROCmSupport commented on #1438
Hi @SomnusMistletoe
Looks like your installation went well after clean installation. Thanks for the update
Hence I am closing this ticket now.

Request you to open a new issue for HIP installation with all exact steps you followed.
Thank you.

[2021-04-16 11:10] #1438 closed

[2021-04-16 11:44] daniele777 commented on #1439
Ok thx

[2021-04-16 11:44] #1439 closed

[2021-04-16 11:49] ROCmSupport commented on #1383
I pinged developer and waiting for the update
Most probably issue will be fixed in ROCm 4.3.
Thank you.

[2021-04-16 11:52] ROCmSupport commented on #1383
I pinged developer and waiting for the update
Most probably issue will be fixed in ROCm 4.3.
Thank you.

[2021-04-16 12:10] ROCmSupport commented on #1383
I have pinged the developer and waiting for the update.
Most likely issue will be fixed by ROCm 4.3, anyway I will confirm soon.
Thank you.

[2021-04-16 16:56] MichaelYang2004 commented on #887
Well, almost two months has passed, how soon is "very soon"?

[2021-04-16 17:04] unexploredtest commented on #887
Yes, any news? Why is it taking so long?

[2021-04-16 23:19] AGenchev commented on #1455
@duwangthefirst most of us use Linux, but yes, users want painless experience, which still does not happen. Nvidia has a CUDA version working on every card and APU (Jetsons) they make, ROCm works only on few selected cards even the newest (6800) are not supported...
The excuse for Vega 10 APUs is that MB manufacturers messed with BIOS and did not properly adjust certain tables, but if AMD gave the

[2021-04-18 04:49] kemaliu opened #1456 "what is the key issue for GCNs"
now i am try to optimize OCL code on GCN GPU, and want to know some VRAM detail.
I cannot understand the GCN's memory archietecture.
nomally,MMU wont affect the memory IO bandwidth if memory  address is page aligned.
but according to the description in https://github.com/RadeonOpenCompute/ROCm/issues/147
2MB fragments  will enhance bandwidth will enhance vega's bandwidth from 260GB/s to 400+GB/s
I

[2021-04-19 06:59] ROCmSupport commented on #887
Internal validation is in progress.
We need to stabilize it w.r.to ROCm, which it takes more time.
I can not comment on exact timelines as of today, but, roughly, will be available in next 2 to 4 months.
Thank you.

[2021-04-19 07:01] PeterNjeim commented on #887
Thank you. The ETA is all that I wanted to know, now I feel a lot better.

[2021-04-19 07:01] ROCmSupport commented on #1455
Hi @duwangthefirst
Thanks for reaching out.
We do not have plans to support mac and windows as of now.
We will share via our docs, once we have plans in future.
Thank you.

[2021-04-19 07:01] #1455 closed

[2021-04-19 07:06] ROCmSupport commented on #1456
Thanks @kemaliu for reaching out.
I will check and get back asap.
Thank you.

[2021-04-19 07:06] artyom-beilis commented on #887
Thanks,

Does it include MIOpen? Winograd convolution kernels update?

[2021-04-19 08:11] bernharl commented on #887
Does this include Navi and Navi 2?

[2021-04-19 09:03] ROCmSupport commented on #1452
import CppHeaderParser
ModuleNotFoundError: No module named 'CppHeaderParser'

is the real issue.
Not sure why its missing in your machine. I have it in my machine.
I recommend you to install it explicitly and proceed.

And also I suggest you to share the exact steps while filing a ticket here. Thank you.

[2021-04-19 09:06] ROCmSupport commented on #1452
Suggest to share the exact steps you followed from starting for better understanding so that we can help you out clearly.
Thank you.

[2021-04-19 09:11] ROCmSupport commented on #1453
Thanks @perestoronin for reaching us out.
I will check and getback asap.
Thank you.

[2021-04-19 12:28] ROCmSupport commented on #1044
Issue is fixed and no more observed with clean rocm 4.1 and request you try with the same.
Thank you.

[2021-04-19 12:28] #1044 closed

[2021-04-19 12:31] ROCmSupport commented on #1042
No update for a long time and hope issue is no more observed with 4.1.
Feel free to open a new issue for quick response.
Thank you.

[2021-04-19 12:31] #1042 closed

[2021-04-19 12:46] ROCmSupport commented on #1039
Hi @preda
Thanks for reaching out.
Can you please check on ROCm 4.1 and share an update asap.
Thank you.

[2021-04-19 12:46] ROCmSupport commented on #1037
This issue is fixed and no more observed with the latest ROCm 4.1.
Recommend to try with the same.
Thank you.

[2021-04-19 12:46] #1037 closed

[2021-04-19 12:47] ROCmSupport commented on #1035
This issue is fixed and no more observed with the latest ROCm 4.1.
Recommend to try with the same.
Thank you.

[2021-04-19 12:47] #1035 closed

[2021-04-19 12:47] ROCmSupport commented on #1034
This issue is fixed and no more observed with the latest ROCm 4.1.
Recommend to try with the same.
More over Raven is not a supported config with ROCm.
Thank you.

[2021-04-19 12:47] #1034 closed

[2021-04-19 12:48] ROCmSupport commented on #1032
Thanks @preda for reaching out.
Can you please check on ROCm 4.1 and share an update asap.
Thank you.

[2021-04-19 12:49] ROCmSupport commented on #1030
Request to track Davinci issue @ https://github.com/RadeonOpenCompute/ROCm/issues/1345
Request to track Blender issue @ https://github.com/RadeonOpenCompute/ROCm/issues/1106

[2021-04-19 12:49] #1030 closed

[2021-04-19 12:50] ROCmSupport commented on #1022
Thanks @Moading for the information.
Thank you.

[2021-04-19 12:50] #1022 closed

[2021-04-19 12:51] ROCmSupport commented on #1021
Hi @preda
Thanks for reaching out.
Can you please check and update on this with ROCm 4.1.
Feel free to share an update or close this issue, if no more relevant.
Thank you.

[2021-04-19 12:52] ROCmSupport commented on #1019
Hi @ScarFez
Thanks for reaching out.
There will not be any install script.
Installation of rocm on a clean system can be done by "sudo apt install rocm-dkms".
Thank you.

[2021-04-19 12:52] #1019 closed

[2021-04-19 12:53] ROCmSupport commented on #1017
Thanks @PhilipDeegan
This issue is fixed and not observed with the latest ROCm 4.1.
Hence recommend you to try with the same.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-19 12:53] #1017 closed

[2021-04-19 12:54] ROCmSupport commented on #1016
Hi @nuu9323226
Thanks for reaching out.
We are not officially supporting debian OS. But you can tweak things on ubuntu debs and sue accordingly.
Thank you.

[2021-04-19 12:54] #1016 closed

[2021-04-19 12:54] ROCmSupport commented on #1014
Thanks @happycube
This issue is fixed and not observed with the latest ROCm 4.1.
Hence recommend you to try with the same.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-19 12:54] #1014 closed

[2021-04-19 12:55] ROCmSupport commented on #1013
Hi @dundir
Thanks for reaching out.
Can you please check and share the latest status on ROCm 4.1
Thank you.

[2021-04-19 12:56] ROCmSupport commented on #1012
Thanks @pfotouhi for reaching out.
Request you to share an update like whether you are still looking for the same query.
Thank you.

[2021-04-19 12:57] ROCmSupport commented on #1009
Thanks @ohms-law
This issue is fixed and not observed with the latest ROCm 4.1.
Hence recommend you to try with the same.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-19 12:57] #1009 closed

[2021-04-19 12:57] ROCmSupport commented on #1008
Thanks for reaching out.
This issue is fixed and not observed with the latest ROCm 4.1.
Hence recommend you to try with the same.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-19 12:57] #1008 closed

[2021-04-19 12:57] ROCmSupport commented on #1007
Thanks for reaching out.
This issue is fixed and not observed with the latest ROCm 4.1.
Hence recommend you to try with the same.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-19 12:57] #1007 closed

[2021-04-19 12:58] ROCmSupport commented on #1003
Hi @smartbitcoin
Thanks for reaching out.
Navi is in internal testing phase.
Once complete work is done, it will be added officially.
Thank you.

[2021-04-19 12:58] #1003 closed

[2021-04-19 12:59] ROCmSupport commented on #1002
Hi @preda
Thanks for reaching out.
Request you to share an update on ROCm 4.1.
Thank you.

[2021-04-19 12:59] ROCmSupport commented on #1001
Thanks for reaching out.
This issue is fixed and not observed with the latest ROCm 4.1.
Hence recommend you to try with the same.
Feel free to open a new issue, for any, for quick resolution.
Thank you.

[2021-04-19 12:59] #1001 closed

[2021-04-19 13:06] mritunjaymusale commented on #887
If Navi1 is being considered then I believe it's safe to assume Navi 2 will be supported aswell

(Tin foil hat theory)
AMD is doing this right now after so much time because, Intel made their oneAPI public (including support for their entire gpu stack which is coming soon), NVIDIA dumped huge amount of AI based SAAS and IAAS services and now AMD wants to step in as well.

[2021-04-19 13:38] preda commented on #1021
@ROCmSupport I can not try out ROCm 4.1 because it does not recognize my GPU (Radeon VII) anymore with the standard linux kernel (I can use any kernel between 5.4.x and 5.12.x, but apparently none works); this setup was working with earlier ROCm releases and was broken in 4.1. I'm waiting for a new ROCm release that works with the mainline amdgpu driver.

But coming back to the issue here, why do

[2021-04-19 13:40] preda commented on #1002
@ROCmSupport ROCm 4.1 is not working for me on Radeon VII with the upstream amdgpu driver.

[2021-04-19 14:16] AGenchev opened #1457 ""broken packages" failure on "Option 3: Install using minimal ROCm docker file" in the Rocmdocs site"
I'm performing step 3 of the manual: https://rocmdocs.amd.com/en/latest/Deep_learning/Deep-learning.html#pytorch
and during command "`sudo docker build .`"
I get:
[code]

[2021-04-19 14:29] valeriob01 commented on #1002
@preda not sure I am using the upstream driver but I have upgraded to ROCm 4.1 and it detects my Radeon VIIs.

[2021-04-19 14:30] valeriob01 commented on #1021
@preda I am using kernel 5.4 and it works, not sure if upstream driver ...

[2021-04-19 15:20] preda commented on #1002
@valeriob01 did you install rocm-dkms?

[2021-04-19 15:41] valeriob01 commented on #1002
Yes.

[2021-04-19 17:21] jlgreathouse commented on #1456
I believe in the issue described in #147 is related to TLB reach. Your description of "translation from virtual to physical address handled by software, not HW like CPU's MMU" is incorrect. GCN and CDNA GPUs have a hardware TLB system, with hardware page-table walker, very much like you would find on a CPU. Each compute unit has a separate L1 TLB for the Scalar L1 Data cache, Instruction Cache, an

[2021-04-19 17:21] valeriob01 commented on #1002
Did you do a fresh install from scratch ?
upgrade is not working for 4.1

[2021-04-19 17:58] preda commented on #1002
@valeriob01 the fact that you installed rocm-dkms means that you are using the "custom" amdgpu driver that comes with ROCm. In my case I want to use the amdgpu driver that is part of the official Linux kernel. My goal should be aligned with AMD's position, as they activelly open-source and merge amdgpu to the Linux kernel. Thus the situation here, that ROCm contains a driver that is not merged to

[2021-04-19 20:32] jar commented on #1436
I'm running kernel 5.4.0-54-generic and amdgpu 20.45.  Does this matter?  I don't understand how AMD drivers and kernel relate to the ROCm stack.  It looks like the 20.45 drivers don't support the 5.4 kernel, so I'll have to upgrade to 20.50 and 5.8?  It's still not clear that is the issue.  Without spending a hours digging through the ROCR-Runtime source, is it possible to say whether this warnin

[2021-04-20 05:14] ROCmSupport commented on #1002
Hi @preda
As we mentioned, rocm 4.1 does not work without dkms for now, which is a temporary situation.
Hence I recommend you to roll back to old rocm like 4.0 or rocm4.1 with dkms.
Thank you.

[2021-04-20 05:23] ROCmSupport commented on #1436
Hi @jar
I recommend to install plain rocm (which will have amdgpu connected to it anyways) and try.
Looks like as you have amdgpu already installed, there might be some clash.
I do not have amdgpu installed in my machine and installed plain/clean rocm-dkms which does not throw any warnings/errors.
Thank you.

[2021-04-20 05:25] ROCmSupport commented on #1021
Hi @preda
Many changes went into ROCm 4.x code and found that many issues resolved too, hence I asked.

Thank you.

[2021-04-20 05:27] ROCmSupport commented on #1456
Thanks @jlgreathouse for the information shared.
@kemaliu , request you to close this issue if you are OK and do not have any more doubts.
Thank you.

[2021-04-20 06:20] ROCmSupport commented on #1457
Thanks @AGenchev for reaching out.
I am able to reproduce the problem.
I will share an update very soon.
Thank you.

[2021-04-20 07:30] ROCmSupport commented on #1012
Hi @pfotouhi
Feel free to close this issue, if you do not have any open query.
Thank you.

[2021-04-20 13:53] jar commented on #1436
I have rock-dkms rock-dkms-firmware installed. The amdgpu-dkms is removed.  There are other \*amdgpu\* and \*amdgpu-pro\* packages.  It's not clear to me how any of these packages are related, which are required, and which may cause conflicts.  Is it possible to run both a graphics stack and compute stack?

[code]

[2021-04-20 17:48] dundir commented on #1013
Thank you for the update.

It may be about a week before I can test this as the system is currently running a series of batches on Nvidia hardware. I'll provide an update once I have had a chance to replace the AMD hardware and run the tests on the latest version. I'll reach out once I have an update.

[2021-04-20 18:07] kemaliu commented on #1456
thanks for the responce
I have another 2 question about the wavefronts dispatching pattern.

I wrote some testing code.  enqueue single workgroup, localsize=256 globalsize=256
it seem that one workgroup(local size 256)  run on single SIMD,
because the 4 wavefront, 16x16workitem of the workgroup run in certain order.
and the running order will be disturbed when  globalsize > 256.

question 1.
how m

[2021-04-21 09:52] AGenchev commented on #1455
@duwangthefirst: There is a new development on Microsoft side if you want to go this route - they are enabling TensorFlow over DirectX acceleration for any GPU - be it AMD, Intel, Nv. For me it is bad idea - they should implement it over Vulkan or OpenCL to be portable to Linux, but they're playing their ****!# game.

[2021-04-21 14:03] k1ag3n opened #1458 "Need Rocm install instruction on Arch/Manajaro"
Now i try build whole rocm framework via AUR Now i success to install rocm (except rccl !!!!) So I can't install tensorflow-rocm and can't dev any nueral or AI

[2021-04-21 14:58] jlgreathouse commented on #1456
While our current GCN and CDNA GPUs allows up 40 wavefronts in any particular CU, we have a limitation that we can only have (32 compute wavefronts * ${number_of_physical_cus}) wavefronts in flight at once. So a CU with 40 waves on it will necessarily mean that some CUs have fewer waves on them. (It's slightly more complex than this due to our multi-shader-engine design, but hopefully this makes t

[2021-04-22 05:43] ROCmSupport commented on #1436
Hi @jar
Its not recommended to use both graphics stack and compute stack in a single machine.
So my suggestion is to follow below steps.

If you wish to install rocm, do the below.
1. Prepare a clean system(Uninstall amdgpu-pro drivers, uninstall old rocm etc.,.), should be clean. Reboot for every uninstall.
2. On a clean system, map the latest ROCm 4.1 repository and install it using "sudo apt in

[2021-04-22 05:45] ROCmSupport commented on #1457
Assigned to dev for modification of steps in the documentation.
I will update you once I receive.

[2021-04-22 05:47] ROCmSupport commented on #1458
Hi @k1ag3n
Thanks for reaching out.
We do not support ROCm-on-Arch officially.
But I browsed and found some doc related to it, you can give a try: [https://github.com/rocm-arch/rocm-arch](url)
Hope it helps.
Thank you.

[2021-04-22 05:47] #1458 closed

[2021-04-24 09:07] SomnusMistletoe opened #1459 "HIP4.1 make filed"
Hi @ROCmSupport
I have install rocm-dkms 4.1.0 and llvm-project, ROCm-Device-Libs, ROCclr successfully.
when I
git clone -b rocm-4.1.x https://github.com/ROCm-Developer-Tools/HIP.git
and continue to make HIP, I get the following error:

[code]
Best regards,
Thank you.

[2021-04-24 16:22] schoonovernumerics commented on #1236
Late to the game, but since the dependency in Debian 10 that causes the break in libpython3.8, you can the people.debian.org unofficial backports to expose libpython3.8 to apt. To install rocm-dev on Debian 10, run the following as a root user
[code]

[2021-04-25 12:53] commandline-be commented on #1185
mount -o remount,exec /dev

should fix read-write issue with /dev/kfd

https://github.com/RadeonOpenCompute/rocminfo/issues/40

[2021-04-25 14:08] ianferreira commented on #942
Hello @ROCmSupport , any ETA when in 2021 we will see support for Navi?

[2021-04-25 15:49] d1saster commented on #567
Not sure whether it is still useful for anybody here, but I am also an owner of a 5700XT card and a while ago I thought I'll give it a try and self-compile ROCm for Fedora 33, not knowing what obstacles would wait for me. However, I managed to compile a huge part and packaged it for COPR. It is available [here](https://copr.fedorainfracloud.org/coprs/knechtges/rocm-hip/). It is just Fedora 33 and

[2021-04-25 16:04] xuhuisheng commented on #942
@ianferreira
As AMD mentioned, maybe 2 or 4 month.
https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-822222885

[2021-04-25 17:02] Bengt opened #1460 "Support Ubuntu 21.04 (Hirsute Hippo)"
The version [21.04 (Hirsute Hippo) of Ubuntu is now current](https://lists.ubuntu.com/archives/ubuntu-announce/2021-April/000268.html) and should therefore be supported.

[2021-04-25 17:03] Bengt commented on #1460
... but it won't:

Source: https://github.com/RadeonOpenCompute/ROCm/issues/1263#issuecomment-720264016

[2021-04-25 17:05] #1460 closed

[2021-04-25 17:56] DTolm commented on #1456
@jlgreathouse @kemaliu
I believe I have a related issue (L2 cache bank conflicts) in my VkFFT code. I can describe it as the following: bandwidth drops when I try to do distant, but coalesced memory accesses, i.e. data are still grouped in 128b transactions but target addresses with > 2^18 bytes between them (and the bigger the distance - the bigger the drop). This has the biggest impact when dist

[2021-04-26 02:39] ROCmSupport commented on #1460
Thanks @Bengt for reaching out.
Yes, ROCm officially supports LTS versions of Ubuntu only.
Thank you.

[2021-04-26 02:41] ROCmSupport commented on #1459
Thanks @SomnusMistletoe for reaching out.
I will check this for you and get back asap.
Thank you.

[2021-04-26 05:25] ROCmSupport commented on #1459
Thanks @SomnusMistletoe for reaching out.
Can you please share your config details like OS, asic, outputs of rocminfo, clinfo etc.,.
Thank you.

[2021-04-26 06:03] SomnusMistletoe commented on #1459
Hi @ROCmSupport，
I solve this problem by changing a
git version and modifying some parameters in the CMakeLists，I'll close the problem soon.
Best regards,
Thank you.

[2021-04-26 06:19] ROCmSupport commented on #1459
Thanks @SomnusMistletoe
I am NOT able to reproduce the problem locally.
Thanks for confirming that issue is resolved by changing git version and modifying some parameters in the CMakeLists.
Thank you.

[2021-04-26 06:30] commandline-be commented on #631
the reason rocm does not install on Debian 10/Buster is a dependency on libpython3.8. I manually installed python3.8 but apt does not check /usr/local/lib to find the dependency exists there already for libpython3.8

[2021-04-26 08:39] preda opened #1461 "ROCm 4.1.1 OpenCL slowdown vs. ROCm 3.3.0 in gpuowl"
Using gpuowl, on Linux 20.04 kernel 5.4.0, Radeon VII,

I have prepared ISA dumps compiled with rocm-opencl3.3.0 vs. rocm-opencl4.1.1, and a summary delta. The conclusion is that a 3% - 4% slowdown is observed in ROCm4.1.1. The occupancy of the critical kernels (carryFused, tailFusedSquare) is decreased, due to the number of VGPRs used.

In the delta below, left is 3.3.0 and right is 4.1.1

[delta

[2021-04-26 08:50] preda opened #1462 "Trouble installing rock-dkms with multiple kernel versions"
On Linux 20.04 I have two Linux kernels installed, 5.4.0 and 5.12.0. Using Radeon VII.
When I attempt to install rock-dkms (the requirement to use rock-dkms being a regression in ROCm 4.1.x, as previous versions of ROCm did work with upstream amdgpu thus no requiring dkms),
amdgpu-dkms compiles correctly for 5.4.0, but fails for 5.12.0 (normal), but the error on 5.12.0 leaves amdgpu-dkms not-worki

[2021-04-26 09:16] ROCmSupport commented on #1461
Hi @preda
Thanks for reaching out.
There is an active ticket already logged #1196 and its a regression between 3.3 and 3.5 and the same is there with 4.0 and 4.1 also.
So I wish to mark this as duplicate of #1196
Hope it helps.
Thank you.

[2021-04-26 09:19] ROCmSupport commented on #1462
Thanks @preda for reaching out.
As there is a non-supported kernel in your machine, kernel modules will be failed to compile.
Only way is to disable compiling for non-supported kernels and need to remove specific kernels.
Thank you.

[2021-04-26 09:19] #1462 closed

[2021-04-26 09:21] #1459 closed

[2021-04-26 09:33] #1461 closed

[2021-04-26 09:43] preda commented on #1462
Is there a way to disable compiling for non-supported kernels?

Is the only "solution" to remove all non-supported kernels -- otherwise the system is left without a working GPU driver on the next boot, not great right? but not a problem?

Where is documented the requirement that "non-suported kernels" must be removed before installing dkms?

[2021-04-26 09:45] preda commented on #1461
Yep dup is appropriate.

[2021-04-26 11:04] Bengt commented on #1460
Thanks, @ROCmSupport for confirming the status quo of the support. I hope this issue helps others in searching for this information.

[2021-04-26 11:20] ROCmSupport commented on #1462
I got further clarity on kernel part. Sorry for my previous comment.

Normally dkms only installs on the booted kernel. You can manually tell it to install on all kernels, but that's not the normal workflow. Installing the rock-dkms package via apt/yum/dpkg/rpm will just install it on the booted kernel, and ignore all others. That's why we do not tell to remove non supported kernels before install

[2021-04-26 12:36] kentrussell commented on #1462
Just for a bit of clarity, here are some options that you can do:
1) Boot into the supported kernel to install rock-dkms (rock-dkms installation should only install on the booted kernel by default)
2) Use "dkms" to force installation/removal from various kernels (dkms remove amdgpu/$amdgpuver -k $kernelver; dkms install amdgpu/$amdgpuver -k $kernelver)

Just make sure that if you do a "dkms remove

[2021-04-26 13:59] Dev380 commented on #1125
Hi, I have this issue too, the fakegcc worked for me but there's still one broken dependency: libython3.8. I checked and  my python version is 3.9  and for some reason it can't install the older version. Does anyone know how to create a fakepython.deb file or something like that?

[2021-04-26 14:27] preda commented on #1462
@kentrussell thank you for the explanation (on how to use dkms).

Interesting, in my case I did "sudo apt install rock-dkms", and while it did compile *first* on the booted kernel (5.4, which succeeded), it continued to compile on the other kernels that I have installed (such as 5.12, 5.11, 5.10) and it failed on the first of those. I suspect that the needed update-initramfs did not happen anymore

[2021-04-26 17:03] preda commented on #477
Update: the issue is still present on ROCm 3.3 and ROCm 4.1.1 .

Some more detail/clarification:
The carry idiom is correctly recognized for uint (32bit), but it is not recognized for ulong (64bit).
Consider this kernel:
[code]
It is compiled correctly to:
[code]

Now the same operation on 64bit:
[code]
And it is compiled to:
[code]
Expected:
[code]

[2021-04-26 17:09] preda commented on #478
I think this should be merged (dup) into #477 as they likely have the same undelying cause.

[2021-04-26 17:10] #478 closed

[2021-04-26 17:27] preda commented on #477
Another manifestation of the same issue is in such code being generated:
[code]
where the last line (v_cmp) is perfectly un-necessary, as it produces the same value in VCC as it already had, and this should be obvious to the optimizer.

[2021-04-26 17:30] preda commented on #477
Also, while fixing this for 64bits, probably it makes sense to keep an eye on 128bits as well (long long, unsigned long long in clang OpenCL).

[2021-04-27 03:43] clapbr commented on #1345
Are you using upstream mesa OpenGL or AMDGPU-PRO's OpenGL?

[2021-04-27 10:01] preda commented on #1021
@b-sumner did the team enable OMOD with -cl-fast-relaxed-math and -cl-denorms-are-zero? if you confirm that yes (i.e. that some work was done in that direction), I'll check and confirm on 4.1. Otherwise, @ROCmSupport for sure it didn't "fix itself" on ROCm 4.1 simply because there were many changes in ROCm 4.1

[2021-04-27 16:16] baryluk commented on #1125
@Dev380 This bug is about the `libstdc++` and `libgcc-dev`. Open a new bug about libpython3.8. Or actually look at the existing issue about this: https://github.com/RadeonOpenCompute/ROCm/issues/1236

[2021-04-27 16:53] b-sumner commented on #1021
We have a review out for an option to disable IEEE mode that would likely need to be accompanied by -fno-honor-nans to get the desired effect, but it is currently stalled.

[2021-04-28 17:10] stefano2734 opened #1463 "Information table of supported features for several Hardware like in mesamatrix or better"
Information table of supported OpenCL features for several Hardware like in mesamatrix or better

See OpenCL tables at the end of website

https://mesamatrix.net/

[2021-04-29 05:15] ROCmSupport commented on #1463
Hi @stefano2734
Thanks for reaching out.
I did not understand your point well. Are you sharing information or are you looking for some information?
Please clarify.
Thank you.

[2021-04-29 09:03] stefano2734 commented on #1463
I want see same or better information tables in rocM also.
Mesamatrix with his tables shows not perfect but good the status of their development.
This tables can help users and developers.
Most functions are not used in software by asymmetrical information.
Internal  status of a software is complex.
Quality of code, performance, bugs, Features, todo list and much more.
And this all under permanent

[2021-04-30 09:42] ROCmSupport commented on #1403
Hi @gggh000
Got an update for you.
Issue is resolved with below steps now, can you please follow the same.

git clone https://github.com/ROCmSoftwarePlatform/MIOpenGEMM -b rocm-4.1.x && cd MIOpenGEMM/
mkdir build && cd build/
cmake ..
make miopengemm
sudo make install

Thank you.

[2021-04-30 09:42] #1403 closed

[2021-04-30 11:12] stefano2734 commented on #1463
And see slides: FAST development and their problems with OpenCL features and OpenCL support in drivers
https://www.iwocl.org/wp-content/uploads/17-iwocl-syclcon-2021-smistad-slides.pdf
Gromacs goes to SYCL
https://www.iwocl.org/wp-content/uploads/22-iwocl-syclcon-2021-alekseenko-slides.pdf

[2021-04-30 20:59] Shreyashwaghe commented on #750
@Djip007 did you tried the new rocm 4.0 or 4.1 release, rocm got official (beta) support from pytorch.
I have acer nitro 5 ryzen 2500u, radeon rx vega 8 and radeon rx560x. I am trying on ubuntu 20.04, not able to get it work.
I dont mind switching distros, or other things, i just want this rocm to get it work on rx560x, so i can use the beta supported pytorch

[2021-04-30 21:09] Shreyashwaghe commented on #930
Any luck with the recent rocm 4.1 or 4.0 with your rx560x card, i am facing few problems too

[2021-04-30 21:28] Djip007 commented on #750
Hello All...
Sorry didn't see last comment... I need some time to test with the APU+rx560X with resent rocm release...
I had some sucess with a old RX480 (other POLARIS) + Ryzen 9 3900X and rocm-4.0...
In that case I use Fedora with default kernel and rocm create with centos8+rocm4.0+jupyterlab&tensorflow-rocm...

Trie to have some times to test and report result...

(For the APU+RX560X need to pa

[2021-04-30 21:54] Shreyashwaghe opened #1464 "Make ROCm work with acer nitro 5 ryzen(2018) model"
I am using a "acer nitro 5 ryzen 5 AN515-42" (2018 model) which has ryzen 2500u ( AMD Raven Ridge (Ryzen 2000 APU)
 series APU) + integrated Radeon RX Vega 8 + discrete radeon rx560x

I have a freshly installed ubuntu 20.04.2 with kernel 5.8.0-48, ( i also tried the base 5.4.0-26-generic kernel too, but no luck) and followed the installation of ROCm v4.1

opt/rocm/bin/rocminfo
ROCk module is loade

[2021-05-01 15:15] cmpute commented on #794
Also looking forward to any update of support on WSL2. I tried installed AMD Adrenalin driver for WSL and installed the precompiled package of pytorch 1.8.0 supporting ROCm, but I still cannot get the GPU utilized. It will be awesome if there's some clarification on the current status, or some tutorials about this

[2021-05-02 07:53] MathiasMagnus commented on #794
FWIW AMD seems to have most things in place to get ROCm acceleration in WSL. Microsoft's Antares already uses the undocumented Windows HIP runtime shipping with drivers (amdhip64.dll or whatever), it's only hipcc that's missing. Compiling a kernel on Linux, extracting it and feeding through the runtime layer (not the single-source way) should work.

At this point if AMD made a similar relay runtim

[2021-05-02 20:06] waltherwj opened #1465 "ROCm Navi 10 Support in 2021"
Hello,

Pytorch just recently (1 month ago) officially started supporting ROCm as an option. I've seen dozens of threads asking for ROCm support, or at least a decent workaround for the Navi 10, and I found  this [closed issue](https://github.com/RadeonOpenCompute/ROCm/issues/1061) with information that support for Navi would be added in 2021.

Is there any new information about when that would be

[2021-05-03 06:17] ROCmSupport commented on #1431
ROCm 4.0 and lower versions perfectly work with 5.10, 5.11 and 5.12 kernels.
ROCm 4.1 does not work on any of the Linux kernels 5.10, 5.11, 5.12. The error message "Upgrade amdgpu" as per the docs.
Fix will be available soon.

[2021-05-03 06:18] #1431 closed

[2021-05-03 06:46] ROCmSupport commented on #1464
Thanks @Shreyashwaghe for reaching out.
We are not officially supporting gfx8 IP devices anymore.
We are also not supporting integrated GPUs with ROCm.
Request you to look at [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url)
Hope this helps.
Thank you.

[2021-05-03 06:46] #1464 closed

[2021-05-03 07:02] ROCmSupport commented on #1465
Thanks @waltherwj for reaching out.
As we mentioned in the previous threads, Navi support will come very soon.
But I can not comment/say like specific series of Navi right now as I do not have much information due to security reasons connected. But some series of Navi will come asap.
I know that internal validation is happening right now.
Thank you.

[2021-05-03 07:02] #1465 closed

[2021-05-03 13:59] SakiiCode commented on #1302
For future reference, I had the same problem after several dirty up/downgrades. Managed to fix it with
[code]

[2021-05-04 10:22] Zakhrov opened #1466 "RX 5600M ramps down to 300MHz while mining etherum"
## Brief summary of the problem:
  When I try to mine ethereum using the RX5600M on my Dell G5 15 SE the GPU clock ramps down to its lowest P-state (300MHz)

## Hardware description:
 - CPU: Ryzen 5 4600H
 - GPU: RX 5600M
 - System Memory: 8+16GB
 - Display(s): Laptop screen
 - Type of Diplay Connection: eDP

## System information:
 - Distro name and Version: openSUSE Tumbleweed 20210429
 - Kernel

[2021-05-04 17:26] b-sumner commented on #1405
clang/LLVM changes to enable this are now upstream.  The compiler options -mno-amdgpu-ieee and -fno-honor-nans are both required to enable such folding.

[2021-05-04 20:53] preda commented on #1405
@b-sumner This is great news, thank you. What is the way to enable this with OpenCL? -- will OpenCL accept those flags directly, or some other OpenCL flags that will be translated to clang -mno-amdgpu-ieee and -fno-honor-nans?

[2021-05-05 10:09] ROCmSupport commented on #1466
Thanks @Zakhrov for reaching out.
Navi series of cards are not supported right now with ROCm. Please check our documentation for supported hardware.
Thank you.

[2021-05-05 10:09] #1466 closed

[2021-05-05 10:41] FilipVaverka commented on #1431
Well, I'm looking forward to the fix as ROCm 4.0.1 doesn't seem to work with 5.12.0 kernel anymore. Even simple "rocm-bandwidth-test" leads to display corruption and crash.

I get only repeated sequence of

May 05 12:31:52 Filip kernel: amdgpu 0000:0d:00.0: amdgpu:          MAPPING_ERROR: 0x0
May 05 12:31:52 Filip kernel: amdgpu 0000:0d:00.0: amdgpu:          PERMISSION_FAULTS: 0x5
May 05 12:31:52

[2021-05-05 13:00] ROCmSupport commented on #1431
We do not support ROCm 4.0.1 with the latest 5.12 kernels.
Request you to check the supported kernel section.
Thank you.

[2021-05-06 02:17] kemaliu commented on #1456
I read your issue. It seems you have the same quesion about the TLB and address pins' management .
but if you use the large stride like 2^18 and small data transaction(128bit/16Bytes), this accessing mode must  causing the low memory bandwidth in all platform. normally the memory hardware interleaving mode is col:channel:bank:row or col_low:chan:bank:col_high:row. but all the modes can handle smal

[2021-05-06 13:46] FilipVaverka commented on #1431
This is really confusing. I was unable to find any comprehensive list of compatible kernels when upstream amdgpu is used. Documentation mentions few supported Linux OS, where majority has kernels around 5.4, which is way too old (my assumption is this is the case for DKMS module distributed with ROCm).
On top of that your last message explicitly lists ROCm 4.0 and kernel 5.12 as compatible:

ROCm

[2021-05-06 14:14] xuhuisheng commented on #1431
Simply, ROCm-4.1 hadn't merged to upstream, so kernels-5.10, 11, 12 cannot use with ROCm-4.1 and Radeon VII.
ROCm-4.0 had merged to upstream, so kernel-5.10, 11, 12 can use with ROCm-4.0 and Radeon VII.

And ROCm-4.1 just meet a bug on supportting Radeon VII, which didn't merged to upstream, yet.
Maybe kernel-5.13 can merge ROCm-4.1 changes.

So Radeon VII + ROCm-4.0 + upstream kernel.
Or Radeon V

[2021-05-06 14:27] FilipVaverka commented on #1431
Thanks! So then, I must be hitting some other issue as I can't run even bandwidth test with ROCm 4.0.1 and 5.12.0 kernel (see above). It may have something to do with having both RX Vega 64 and Radeon VII in the machine.

[2021-05-06 17:08] nlgranger commented on #1355
Sorry for the delay we cannot upgrade servers very frequently.
After updating to Centos 8.3 and rocm 4.1.0 (clean install), I can still reproduce the bug.

[2021-05-06 20:38] DTolm commented on #1456
Hello,
On Nvidia GPUs, this issue is less impactful - the only needed change to restore full bandwidth after 2^18 strides was to go from 32b to 128b coalescing, so it seems there is a way around this.
The drop at 2^12 is happening due to the fact that I start transfer 2x more memory there, so it is not related to the issue. The question is only about strides >  2^18. Having padding is not really a

[2021-05-07 04:41] ROCmSupport commented on #1355
Thanks @nlgranger for the update.

[2021-05-07 07:27] ROCmSupport commented on #1452
Got an update:
Able to reproduce this issue on a machine. Logged an internal ticket and assigned to developer.
Thank you.

[2021-05-07 09:58] ROCmSupport commented on #1222
Hi @sameershende
As the changes are merged, request you to check on the latest 4.2 code.
Thank you.

[2021-05-07 10:05] ROCmSupport commented on #1359
Hi @baryluk
Good news. Issue is fixed and the changed are merged into ROCm 4.2 code.
Have verified internally and issue is fixed.

master@test:/opt/rocm-4.2.0/share/man/man1$ ls
rocgdb.1  rvs.1

[2021-05-07 10:05] #1359 closed

[2021-05-07 10:35] ROCmSupport commented on #1382
Hi @baryluk
got an update.
The issue is resolved now as the cleaning of hcc is done and all hcc content is erased now.
I verified with the internal 4.2 code and issue is fixed now. 4.2 will be released in a day or two and so you can also try the same.

master@prj47-rack-43:/opt/rocm-4.2.0$ /opt/rocm-4.2.0/bin/hipconfig
HIP version  : 4.2.21155-37cb3a34

== hipconfig
HIP_PATH     : /opt/rocm-4.2.0/

[2021-05-07 10:35] #1382 closed

[2021-05-07 10:44] ROCmSupport commented on #1135
Hi @baryluk
Got an update on this.
We have updated HIP programming guide to a better level now.
Still working more and more and more changes will be pushed slowly. Please stay tuned for more and more updates.
Thank you.

[2021-05-07 11:16] ROCmSupport commented on #1404
Hi @dshm
Can you please share an update on this.
Or else request to close it as its open for a long time.
Thank you.

[2021-05-07 11:48] ROCmSupport commented on #1416
Am closing this now as the resolution is provided from @kentrussell
Thank you.

[2021-05-07 11:48] #1416 closed

[2021-05-07 11:55] ROCmSupport commented on #1448
Solution provided and so closing this now.
Feel free to open a new issue, if any.
Thank you.

[2021-05-07 12:01] ROCmSupport commented on #1444
Hi @gggh000
nlohmann_json is a third party package and its mostly available in all of the machines.
I recommend you to try on a clean/different system.
I tried in 4 machines and no installation issues observed as per the above steps mentioned.
Thank you.

[2021-05-07 12:01] #1444 closed

[2021-05-07 12:07] pjgeorg commented on #1448
FYI: Actually no solution has been provided, nor has the reported documentation error been fixed.

Two possible solutions:
1. Remove the `perl-URI-Encode` dependency
2. At least fix the README and Installation Code: It currently states to enable the Power Tools repository for CentOS to fulfill the `perl-URI-Encode` dependency. This is simply wrong.

[2021-05-07 12:10] ROCmSupport commented on #1437
Hi @SomnusMistletoe
Hope you tried 4.1.0 now. As its open for more than 14 days, I am closing this right now.
I tried the same and as I said no issue is observed, compilation of rocclr is perfect.
Feel free to open a new issue, if any.
Thank you.

[2021-05-07 12:10] #1437 closed

[2021-05-07 12:20] ROCmSupport commented on #1436
Hi @jar
Hope this issue is fixed and no more observed now.
We are not able to reproduce with 5.4 and 5.8 kernels on Vega10 and Vega20.
Feel free to file a new issue, if any, for the solutions.
Thank you.

[2021-05-07 12:20] #1436 closed

[2021-05-07 12:31] ROCmSupport commented on #1448
Hi @pjgeorg
Removing dependency is not possible now.
Only way is to install epel-release to proceed with all dependencies.
I will work with documentation team to have the fix.
Thank you.

[2021-05-07 12:47] ROCmSupport commented on #1425
Hi @valeriob01
Can you please confirm whether issue is still observed and also more information is really helpful to understand the problem better.
Thank you.

[2021-05-07 12:58] valeriob01 commented on #1425
Yes, still present. Sorry I gave up using rdc for the moment and am using a different software to monitor gpus, however the error code should be clear to you as you programmed it :-)

[2021-05-07 13:01] ROCmSupport commented on #1411
I tried the same steps/environment like you have on MI50/Vega20 and all things went well.
No issues observed. clinfo rocminfo and everything work well.

[2021-05-07 13:01] #1411 closed

[2021-05-07 13:07] ROCmSupport commented on #1399
Hi @dshm
Can you please share an update. Else request to close this issue as its open for more than 14 days.
Thanks for understanding.

[2021-05-09 19:48] preda commented on #907
Closing as old, didn't check recently.

[2021-05-09 19:48] #907 closed

[2021-05-09 19:50] preda commented on #963
Closing as old, presumably fixed in the meantime.

[2021-05-09 19:50] #963 closed

[2021-05-09 19:54] preda commented on #1021
Merge into #1405

[2021-05-09 19:54] #1021 closed

[2021-05-09 19:57] preda commented on #477
@b-sumner please have a look, looks like a missed LLVM optimization, a pretty basic one they may want to fix. Added new data and verified present in ROCm 4.1.1.

[2021-05-09 20:00] preda commented on #654
@ROCmSupport feel free to document if any information becomes available, otherwise the issues can be closed.

[2021-05-09 20:03] preda commented on #1039
@ROCmSupport maybe fixed, feel free to close as it concerns a rather old ROCm version.

[2021-05-09 20:05] preda commented on #1405
see also #967 related.

[2021-05-09 20:07] preda commented on #655
Closing as old. Better information/documentation on SVM in ROCm OpenCL would be nice though.

[2021-05-09 20:07] #655 closed

[2021-05-09 20:08] preda commented on #766
Closing as old.

[2021-05-09 20:08] #766 closed

[2021-05-10 04:17] ROCmSupport commented on #654
Thanks @preda

[2021-05-10 04:17] #654 closed

[2021-05-10 04:17] ROCmSupport commented on #1039
Thanks @preda
Closing this as the issue is fixed and no more observed with the latest ROCm 4.1 hopefully.
Thank you.

[2021-05-10 04:17] #1039 closed

[2021-05-10 08:00] WyldeCat opened #1467 "Build OpenCL kernels using multiple threads failed"
I'm trying to read multiple *.cl files and write pre-built *.bin files with multiple threads.
So I made a simple compiler and it works like this `./my_opencl_compiler foo.cl -o foo.bin`
It just create `clContext` with 1 AMD GPU and call `clBuildProgram()`, `clGetProgramInfo(..., CL_PROGRAM_BINARIES, ...)` to get the byte sequences.

But when I put compile command in Makefile and do `make -j`, it f

[2021-05-10 14:32] b-sumner commented on #1467
Are you Release'ing the Program after you are done with it (and any other unneeded objects)?

[2021-05-10 22:50] cloudishBenne commented on #1311
@yahia20 can this solution be permanent for limiting the package to a specific kernel? so when i run `apt update && apt upgrade` this will only install to the kernel versions i want? and when there is a new version of rocm which has support for a newer kernel i can simply edit the dkms.conf file to match this new condition? is it possible to store the dkms.conf file in a nice place where it will b

[2021-05-10 22:59] cloudishBenne commented on #1462
@preda this is the behaviour i also observed. i am now searching the www for about 4 hours. the only solution i found so far is: https://github.com/RadeonOpenCompute/ROCm/issues/1311#issuecomment-741904198
but i don't understand if this is a real solution until rocm gets support for newer kernels and don't will break apt.

[2021-05-11 03:14] #1404 closed

[2021-05-11 03:14] #1399 closed

[2021-05-11 04:41] WyldeCat commented on #1467
Is there any way to build a OCL kernel with command line interface like `rocm++ foo.cl -o foo.bin -march=gfx1010`?

[2021-05-11 04:51] ROCmSupport commented on #1404
Thanks @dshm for the closure of this issue Hope this issue is fixed.
Feel free to open a new issue for quick & fast resolution.
Thank you.

[2021-05-11 04:51] ROCmSupport commented on #1399
Thanks @dshm for the closure of this issue Hope this issue is fixed.
Feel free to open a new issue for quick & fast resolution.
Thank you.

[2021-05-11 12:58] athas opened #1468 "MI100 never cools down properly"
* RHEL 8.3
* [Installed ROCM 4.1 via these instructions](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#centos-rhel)
* Machine is an HPE server with two Epyc CPUs.  An identitical system contains an NVIDIA A100 with no issues (all temperatures low).

Just after boot, the MI100 GPU has these temperatures:

[code]

If I then run an OpenCL program that hammers memory (i

[2021-05-12 06:48] ROCmSupport commented on #1468
Thanks @athas for reaching out.
Can you please share the OpenCL code/program that you used(share me the steps too to run the program), so that I will try here locally and will try to reproduce the problem.
Thank you.

[2021-05-12 08:09] athas commented on #1468
My reproducer is a generated (so impractically large) program: https://sigkill.dk/junk/sum.c

Compile with `gcc sum.c -o sum -lOpenCL -lm` and run as `echo 1000 1000000000 | ./sum`.  The first number is the count of runs, and the second the number of `f32` floats that are summed.  I can try to write a smaller program if that would be useful.

[2021-05-12 08:27] ROCmSupport commented on #1468
Thanks @athas for the details. They are helpful.
I tried on MI25 +ROCm 4.1.1 now and please find the results here.

Before running the OpenCL program, temperatures were low like 47, 47 and 47 degrees for edge. junction and memory.
While program is running, temperatures increased to 54, 68 and 68 respectively.
Once after program is finished, temperatures again down to 43, 43 and 43 respectively.
So

[2021-05-12 08:59] ROCmSupport commented on #1468
Hi @athas
I tried it on MI100*2 cards now with the latest ROCm 4.2 GA.
Please find the results below.

Below program runs, the temperature values are: 32, 34 and 32 degrees of edge, junction and memory values respectively.
While the program is running, temperature values increased to: 39, 52 and 55 respectively
Once program completed, again temperature values came down to 34, 36 and 32 respectivel

[2021-05-12 09:23] athas commented on #1468
I'll try with ROCm 4.2 once it percolates its way to the RPM repositories (which I think is now/soon).  How do I try the lastest VBIOS?  Is it part of ROCm itself?

[2021-05-12 09:44] yahia20 commented on #1311
@cloudishBenne probably not but I have given up on it as it caused me more bugs the more I try to make resolve work.

[2021-05-12 13:20] X-ailsa opened #1471 "/data/jenkins_workspace/centos_pipeline_job_4.0/rocm-rel-4.0/rocm-4.0-26-20210119/7.7/external/hip-on-vdi/rocclr/hip_code_object.cpp:120: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binary for current devices!")"

[2021-05-12 14:15] xuhuisheng commented on #1471
I suggest to check if there is a gfx03 - RX580 issue.
https://github.com/xuhuisheng/rocm-build/tree/master/gfx803

Please execute `/opt/rocm/bin/rocminfo` to confirm GPU ASIC. Only a few GPU are supported by ROCm.

[2021-05-12 22:02] gggh000 commented on #1452
thanks any update? I installed the cppheaderparser  through pip3 as instructed and rebuilt but getting following error now: (previous error disappeared after pip3 installation):
oot@guest:~/ROCm-4.1/roctracer/build# make -j`nproc`
/usr/local/bin/cmake -S/root/ROCm-4.1/roctracer -B/root/ROCm-4.1/roctracer/build --check-build-system CMakeFiles/Makefile.cmake 0
/usr/local/bin/cmake -E cmake_progress_

[2021-05-12 22:03] gggh000 commented on #1452
not sure why github is inserting crossed lines, please see if it can be ignored.

[2021-05-13 06:13] WyldeCat commented on #1467
@b-sumner Thanks for the info

[2021-05-13 06:13] #1467 closed

[2021-05-13 13:43] dsahni commented on #1341
Hi @ROCmSupport , do you have any estimates on when ROCm support for AWS G4ad will be available?

[2021-05-13 20:27] jedbrown commented on #1431
ROCm-4.2 with Linux 5.10 (Debian) also fails. In the future, could you please put this information in the release notes?

Could you share an ETA? Maybe this issue should stay open until a fix has been released?

[2021-05-13 21:00] FilipVaverka commented on #1431
Its buried deep down in [AMD ROCm™ Release Notes v4.2](https://rocmdocs.amd.com/en/latest/Current_Release_Notes/Current-Release-Notes.html#driver-compability-issue-in-rocm-v4-1) as

Considering that the issue persists with ROCm 4.2 with kernel 5.12.0 it seems to me like there is no way to update "amdgpu" kernel module in upstream sooner than with 5.13 release in about two months. Having one of two

[2021-05-15 09:43] X-ailsa commented on #1471
GPU: Radeon RX 580 Series
The version of pytorch installed on my computer: torch==1.8.1+rocm4.0.1
Thank you very much. I tried the solution you provided, but I couldn't find the file: torch-1.8.0a0+56b43f4-cp38-cp38-linux_x86_64.whl

[2021-05-16 02:27] xuhuisheng commented on #1471
@X-ailsa
You need compile pytorch from source by yourself.
Or you can try this : https://github.com/xuhuisheng/rocm-gfx803

[2021-05-16 09:55] gggh000 opened #1472 "rccl -r switch caused build failure"
[code]

[2021-05-17 12:34] develancer commented on #1383
Hi @ROCmSupport, another month has passed, so I wonder whether we have any timeframe for this fix?

Just wanted to emphasize that since the compiler generates invalid code in this case, it may as well do so in many different scenarios, most of which may slip undetected in various professional or scientific applications.

[2021-05-17 15:54] Dan-RAI commented on #1460
Did someone manage to get it running under 21.04 ?

I tried using the Kernel drivers and rocm-dev + rock-dkms-firmware only and had some initial success. However, after another update and reboot it is not working anymore, and so far I did not succeed in getting it back into working order:

[    1.426118] [drm] amdgpu kernel modesetting enabled.
[    1.427051] amdgpu: Ignoring ACPI CRAT on non-APU

[2021-05-17 22:29] gggh000 commented on #1379
I think this can be closed once doc is updated. For now, I am maintaining personal prereq list.

[2021-05-18 00:43] brad-mengchi opened #1473 "Is the separate compilation possible for hip?"
Hi all,

I did not find it in the HIP programming guide but is the separate compilation possible for hip?

And is that possible for link-time optimization?

For example, we have a function file a.c and main file main.c:
--a.c
extern __device__ foo() {
...
}

---a.h
extern __device__ foo();

--main.c
#include "a.h"

__global__ kernel() {
...
fool();
...
}

I tried to compile:

The command line will

[2021-05-18 08:37] staticdev opened #1474 "Official support to Kernel 5.10"
ROCm is always updated with latest graphics cards (also phased out not so old ones like RX 580). It would be very nice to keep the pace with the kernel. Latest versions of Ubuntu/Debian and all other Linux are coming with kernel 5.10.

Kernel 5.4 is now very outdated. Shouldn't ROCm 4.2 officially support the new ones instead?

[2021-05-18 12:38] scchan commented on #1473
You have to add the -fgpu-rdc flag if a kernel calls a device function in a difference source file.

[2021-05-18 16:26] brad-mengchi commented on #1473
HI @scchan! Thanks for your answer. So we can compile the device function file with -fgpu-rdc -c and then at link time, which option do we need to use to link up the relocatable device code?

[2021-05-18 16:31] brad-mengchi commented on #1473
Oh I found the solution for the link option. Thanks @scchan !
https://github.com/ROCm-Developer-Tools/HIP/issues/2203

[2021-05-18 16:31] #1473 closed

[2021-05-19 03:55] gggh000 commented on #1472
4.2 failed as well
./install.sh -r

..
[ 76%] Building CXX object test/CMakeFiles/UnitTestsMultiProcess.dir/test_CombinedCallsMultiProcess.cpp.o
[ 77%] Building CXX object test/CMakeFiles/UnitTestsMultiProcess.dir/test_ReduceScatterMultiProcess.cpp.o
[ 78%] Building CXX object test/CMakeFiles/UnitTestsMultiProcess.dir/test_ScatterMultiProcess.cpp.o
[ 80%] Building CXX object test/CMakeFiles/UnitTe

[2021-05-19 06:51] #793 closed

[2021-05-19 06:55] #781 closed

[2021-05-19 10:58] Dan-RAI commented on #1460
Ok, I found the problem:

SR-IOV support needs to be disabled in BIOS.

After this the Kernel amdgpu driver works together with rocm-dev under Ubuntu 21.04

[2021-05-19 14:10] UweSauter opened #1475 "Unable to install versioned ROCm-4.2 on CentOS 7.9 (3.10.0-1160.25.1.el7.x86_64)"
Used wrong repo…
Please ignore and close the issue.

[2021-05-19 14:58] #1475 closed

[2021-05-19 17:51] nolta opened #1476 "`error: .amdhsa_reserve_xnack_mask does not match target id` when building gcc-11 w/ rocm-4.2"
I'm trying to build gcc v11.1.0 with [offload support for AMD GPUs](https://gcc.gnu.org/wiki/Offloading#For_AMD_GCN:), using the LLVM that comes with ROCm.

I can successfully build using ROCm v4.0.1, [after patching gcc  for an issue in LLVM 11](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=97827).

However, with v4.2.0 i see the following error in `gfx900/libgcc/config.log`:

[code]

Here's a bas

[2021-05-20 03:20] dreifachstein opened #1477 "A clean install of rocm-opencl on debian unstable does not work because of missing libtinfo5"
libamd_comgr.so depends on libtinfo.so.5 but the package "comgr" does not list "libtinfo5" as a dependency.

[2021-05-20 08:38] Leo7654 commented on #1220
https://github.com/RadeonOpenCompute/ROCm/pull/1226/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R173

[2021-05-20 12:24] aqxa1 commented on #629
I'm not sure if it's exactly the same issue, but this affects the RX 6800 as well (which doesn't have the reset bug), albeit with slightly different symptoms. Rocminfo:

[code]
The issue only occurs after using the GPU in a VM. Affects both 5.11.21 and 5.12.4 kernels. And ROCM is the only part of the GPU that fails to work; normal GPU operations (gaming/videos/etc) work perfectly after returning f

[2021-05-20 19:03] jleni commented on #1367
any news on this? Are you going to support ubuntu 20.04?

[2021-05-20 19:12] preda opened #1478 "When is Radeon VII going to work with stock Linux kernel (i.e. withouth rock-dkms)"
On ROCm 3.x, Radeon VII is working fine with a variety of stock Linux kernels, such as: 5.10, 5.11, 5.12. That means that Radeon VII can be used without installing rock-dkms.

Starting with ROCm 4.1, Radeon VII does not work anymore with *any* stock Linux kernel, and requires the installation of rocm-dkms. This fact is noted in the release notes: https://rocmdocs.amd.com/en/latest/Current_Release_

[2021-05-21 10:22] preda commented on #1478
Please see also, more-or-less the same problem:
#1423
#1431

While those issues have been closed, the underlying problem is not fixed in ROCm 4.2: the fact remains that Radeon VII can not be used with a standard Linux kernel anymore, something that was possible with earlier ROCm versions. And, the fact that the problem is now documented in the release notes, does not mean that it's fixed.

[2021-05-23 01:00] mathmax12 commented on #1339
I am facing the same issue recently. when I check the peer2peer I got:
`/opt/rocm/hip/bin/hipcc -g   -c -o peer2peer.o peer2peer.cpp
make: /opt/rocm/hip/bin/hipcc: Command not found
<builtin>: recipe for target 'peer2peer.o' failed
make: *** [peer2peer.o] Error 127`

I wonder how to enable it?
Thanks

[2021-05-23 01:11] ctaylor389 opened #1479 "HIP equivalent to CUDA int_as_float and float_as_int device functions."
Hello, I am working on porting my CUDA code to HIP and ran into an issue with porting over two device functions: int_as_float and float_as_int. The Hipify tools state that they are unsupported. If this is the case, is there any way to implement these functions?

Specifically, they are used in a trick to implement floating point atomicMax using atomicCAS.

Any help is appreciated and thank you.

[2021-05-23 07:23] yra-wtag commented on #887
Wow AMD, no surprise that nVidia GPUs sell a lot more. It is 2 years since Navi 1 release still no proper support for 5700 let alone the newly released Navi 2 (6000 series).

I am going to buy nVidia makes no sense to buy AMD with this kind of support.

[2021-05-23 14:12] PeterNjeim commented on #887
If you have nothing useful to say, don't say anything at all. The timeframe has already been given, either wait for it or buy something else, no need to state your frankly useless opinion that's already been repeated here a million times

[2021-05-23 14:48] valeriob01 commented on #887
Actually I find his opinion very useful, it made me think on support behavior of AMD ROCm folks, when the open source driver is not in shape for usage with some new hardware they just say that the hardware is not supported and close the issue. I find this behavior incorrect from a professional stand point. Instead, as a multi-year AMD client, I would appreciate more collaboration with the user and

[2021-05-23 15:14] PeterNjeim commented on #887
Not only has this opinion been shared several times, it doesn't add anything to this discussion. The timeframe for support has already been stated. If you can't wait, then go buy another product, no need to needlessly vent on this issue. ROCm closed this issue as it was no longer an "issue", as it has already begun development to support these GPUs. Repeating the same opinions over and over again

[2021-05-23 15:21] valeriob01 commented on #887
But you should admit that your last two comments are somehow impolite, and if I was you I would apologize.

[2021-05-23 15:31] sagehane commented on #887
I was going to stay out of this (mostly not to notify everyone subscribed for something useless) but I figured 6 notifs isn't too different from 5. _sigh_

Please stop this. I don't care for anybody apologizing to anybody else. I agree with everything PeterNjeim said, and I think "apologizing" is a waste of time for everyone who's subscribed that would rather not be notified.

1. The timeframe has

[2021-05-23 15:50] Ryandry1st commented on #887
Has the timeframe for support been stated **with any confidence**? For example:
In Jan.

Then in April (_three months later_),

If you have confidence in the time frame (and only a passing interest in ROCm) then you could just as easily mute the notifications for the next two months, or longer, and just check in then. If you don't have confidence but still want to know when things happen, just get

[2021-05-23 16:10] valeriob01 commented on #887
Just to remember to everybody discussing here: if you are not a ROCm developer or github admin, it is not your task to reprimand people here on whatever you might disagree with. Let the admins do their work, and stay at your place. If you don't want to be notified it is as simple as to mute notifications or change your notification preferences to something less invasive.

[2021-05-23 16:13] PeterNjeim commented on #887
So you have a 3090, claimed to have "never looked back", yet you are here in this thread, which is the definition of looking back. All these passive aggressive remarks need to stop. This opinion has been shared **numerous** times. It adds **zero** substance to this thread. Stop notifying people if there are no updates. An update to your opinion is not an update to the state of this thread. I am su

[2021-05-23 16:15] valeriob01 commented on #887
Repeating:

Just to remember to everybody discussing here: if you are not a ROCm developer or github admin, it is not your task to reprimand people here on whatever you might disagree with. Let the admins do their work, and stay at your place. If you don't want to be notified it is as simple as to mute notifications or change your notification preferences to something less invasive.

[2021-05-23 16:17] PeterNjeim commented on #887
I wrote my message before you sent yours, that's why it looks like I ignored you. No need to repeat

[2021-05-23 16:36] sagehane commented on #887
This statement has confused me so much that I'm implored to ask: So, are you a dev/admin and making this statement from the position as such? (I honestly can't tell, as I fail to see why somebody not in the position would make such a comment)

If so, sure, agreed. If not, I do still agree but that sounds oddly hypocritical. Especially from a person who recommended another person to apologize. (Is