[2021-05-23 17:37] valeriob01 commented on #887
No I am not a dev/admin, only a long time ROCm user and app contributor. My reply was in defense of free speaking and personal liberty to express opinion. The alleged recommendation to apologize, was merely given as suggestion (would and not must) for the sake of community respect. I didn't start this flame and my attempt to help make peace failed miserably. For penitence I will skip dinner.

[2021-05-23 18:08] Rmalavally commented on #1479
Thank you for reaching out. Have you referred to our latest version of the CUDA to HIP Reference Guide? You can access it at:

https://github.com/RadeonOpenCompute/ROCm/blob/master/HIP_Supported_CUDA_API_Reference_Guide_v4.2.pdf

Please let us know if you are unable to find the information you need.

AMD ROCm Documentation

[2021-05-24 09:13] yra-wtag commented on #887
@PeterNjeim You wrong in saying that complaining does not work and it does not add to the conversation. It works very very well if there is enough numbers. AMD is completely ignorant on `GPGPU` tasks that so many of us need to use from a professional perspective. I tried to find a channel that has direct connection with AMD higher ups for a long time to understand their viewpoint on this topic. Th

[2021-05-24 10:40] valeriob01 commented on #887
I agree with this, AMD timelines have been optimistic for at least 3 years now, often they release software past the timeline where the issues are not yet resolved, and they push a subsequent extension to timeline. This gives the impression of, at best, poor estimation of workload to do, or excessive estimation of developer capacity. Professionally this makes a loss to credibility of AMD estimatio

[2021-05-24 15:21] PeterNjeim commented on #887
What a disgustingly condescending message and downright malicious. Several people have already said to stop talking about this subject (including the person right above this message, ironically).

I hate to repeat myself, but I will again: I never said you couldn't complain. Want me to say it again? I will: I never said you could complain. Again?

The point is simple yet you and others complicate

[2021-05-24 15:33] banderlog commented on #887
Guys, it is very simple: do not buy AMD GPUs at least this year if you need GPU for work. If you do have an opportunity to buy a GPU these days)

[2021-05-24 16:19] valeriob01 commented on #887
I still cannot understand why you think that it is your right to decide that one opinion is not useful, you are only one voice in the whole, and I think after all to conclude this unfortunate thread, this should be put to vote for a democratic exit.
In other words you are only one brick in the wall, let the wall speak...

[2021-05-24 16:25] PeterNjeim commented on #887
That would be an appeal to popularity logical fallacy. It is extremely strange the way you're acting here. You don't respond to anything I have said, you just make remakes telling me to shut up. I won't. I will logically argue against those who fallaciously misrepresent me. I have a right to defend myself, and they have a right to defend themselves. There are several people in this discussion, you

[2021-05-24 16:55] dppattison commented on #887
I can't speak for the person you replied to, but I suspect a lot of people subscribed to this issue have a checklist of priorities where AMD is the preferred GPU choice in all metrics except for the "it works" metric. There's nothing wrong with keeping an eye on things from that perspective.

[2021-05-24 17:30] valeriob01 commented on #887
It is obvious that you have misinterpreted my words all along. I am not against anybody speak, but as  yra-wtag said, you gave the impression to be trying to educate someone else in this context about when and how often to express their opinion, which is something that I truly disagree with, and it isn't with insults that you will resolve this issue.
That said, I have some questions for you:
1) ca

[2021-05-24 17:47] PeterNjeim commented on #887
In my last message to you, I listed all the instances in which you were insulting, disrespectful, fallacious, and malicious. In this reply, you baselessly claim that I insulted you (which I did not, it is you who is insulting me).

I asked for someone to reply to the specific claim I have made, as not a single person in this thread has replied to it. One person, Sage, is the only one who even ment

[2021-05-24 17:54] valeriob01 commented on #887
You are being verbose, a lot in my view, and uselessly, and I think the only way to end this is to block you. Thus I block you. Stay well.

[2021-05-24 17:56] PeterNjeim commented on #887
We can now confirm that @valeriob01 is a troll! Imagine being a troll in a thread which people are subscribed to. This is not social media, I hope we all agree. Good riddance.

[2021-05-24 17:59] valeriob01 commented on #887
this is your hypocritical and malevolent behavior that you translate on others, how dishonest you are exceptionally gifted

[2021-05-24 18:14] PeterNjeim commented on #887
Excuse me? I refrained from calling out your sheer hypocrisy in your message, and instead just called you a troll. Now that you have come back, as a hypocrite once again, I will indeed reply to your other message properly.

You said I was "uselessly being verbose". Isn't this hypocritcal of you? You said that I cannot tell others when an opinion can be useless, yet you are here calling mine useles

[2021-05-24 18:32] valeriob01 commented on #887
Going back to origin of this issue thread.
If you absolutely need to use 5700 XT right now, I have tested it and confirm that it works with the AMD proprietary driver `amdgrpu-pro`.

[2021-05-24 19:19] oleid commented on #887
This is the officially supported way for OpenCL since 2019. Why bring it up now?

[2021-05-24 19:21] #1479 closed

[2021-05-24 22:51] ivanmlerner opened #1480 "OpenCL freezes on second GPU"
Hello, I have two RX5500 and opencl seems to hang/freeze when using the second motherboard slot.
Even clinfo freezes when getting information from the second gpu. I have swapped the cards and the issue remains. Both cards are detected properly by opencl, both are run by the processor in this motherboard, and the power supply has plenty of power for both cards. I am running arch linux and I know th

[2021-05-25 03:58] SlausB commented on #887
How did you manage to install `amdgpu-pro`? [I wasn't able to install it on Ubuntu](https://askubuntu.com/questions/1209725/how-to-get-opencl-support-for-navi10-gpus-from-amd). Had to switch to mesa open-source drivers.

[2021-05-25 04:52] valeriob01 commented on #887
Mesa is not needed, amdgpu-pro installs without problems, versions needed Ubuntu 20.04 and amdgpu-pro 20.10 .
Install with `./amdgpu-pro-install -y --opencl=rocr,legacy --headless`

[2021-05-25 19:25] preda commented on #1480
If you do a "sudo dmesg" after the freeze, do you see anything interesting towards the end of it?

[2021-05-25 20:30] ivanmlerner commented on #1480
I do, here is the output:

[dmesg_output.txt](https://github.com/RadeonOpenCompute/ROCm/files/6542190/dmesg_output.txt)

[2021-05-26 02:06] gggh000 opened #1481 "amdgcn-amd-amdhsa target compile error with missing file."
I have very simple opencl kernel and wanted to compile it using amdgpu as target:
https://llvm.org/docs/AMDGPUUsage.html#target-triples

system:
Ubuntu180405
rocm 4.1 installed including llvm.

file: p25k.c

#include <CL/cl.h>
#include <stdio.h>

kernel void kernelfcn(      global uint *dev_c,   global uint * dev_a,  global uint * dev_b)
{
  uint tid = get__id(0);
 *dev_c = 100;
 *dev_a = 200;
}
B

[2021-05-26 07:51] Mushoz commented on #157
Would it be possible to get OpenCL support without AtomicOps on 6xxx hardware as well? Currently, only the GPU connected to the CPU is being used for mining, and the GPU connected via the chipset (b550) is completely ignored. I don't think see why this should be a hard requirement given with how little bandwidth mining actually uses.

[2021-05-26 20:46] athas commented on #1468
Sadly ROCm 4.2 made no difference.  I guess the card or sensor must be defective.

[2021-05-27 07:12] simonschuang opened #1482 "ROCm docker doesn't work with some MI100 GPUs sets"
Problems description:
--------------------------
Follow the rocm-docker [guide](https://rocmdocs.amd.com/en/latest/ROCm_Virtualization_Containers/ROCm-Virtualization-&-Containers.html#rocm-docker) to pass through GPUs into containers
It works well with all four GPUs passthrough into a docker container, but it doesn't works when specify some sets of GPUs into a conatiner. rocm-smi shows GPUs, but r

[2021-05-28 05:32] gggh000 opened #1483 "hipHostMalloc or hipHostRegister is causing out of memory error."
On MI-25, hipMalloc is OK, but I see hipHostRegister returns 2 which by definition appears to be:
hipErrorOutOfMemory

looking at /root/ROCm-4.2/HIP/build/include/hip/hip_runtime_api.h
typedef enum __HIP_NODISCARD hipError_t {
    hipSuccess = 0,  ///< Successful completion.
    hipErrorInvalidValue = 1,  ///< One or more of the parameters passed to the API call is NULL

[2021-05-29 11:08] Mushoz commented on #910
@smunaut I see that you closed this issue more than half a year later. Did you ever manage to figure this out? I am running into the same issue with a B550 board, where the second PCI-E slot doesn't allow for PCI-E atomic support, and therefor cannot be used for ROCm.

[2021-05-29 11:45] smunaut commented on #910
I closed it because I gave up.
In some other thread it was made pretty clear that they will not bother implementing RoCM without atomics for old GPUs.

[2021-05-30 08:28] davewang opened #1484 "install 4.2 fail in Ubuntu 20.04"
system info.
[code]
install gpupg2

[code]

install rocm-dev
[code]

is not rocminfo
[code]

[2021-05-30 18:18] preda opened #1485 "AMDGPU LLVM number-of-VGPRs wrong with inline assembly with explicit register allocation"
Using ROCm 3.3.0, Ubuntu 20.04, Linux kernel 5.12.7, GPU Radeon VII, OpenCL.

This seems to be an LLVM/AMDGPU bug, that I'm reporting here because I don't know a better location (please let me know if there's a better place to report such issues).

It seems the counting of #VGPRs used is wrong when using inline assembly with explicit VGPR allocation, as in the example below:
[code]
Generates the I

[2021-05-31 01:05] #1484 closed

[2021-05-31 05:31] preda commented on #1478
Good news: it seems this problem is fixed in the 5.13 Linux kernel. I tried with 5.13-rc4 and ROCm 4.2.0 works with the stock kernel (i.e. without installing rock-dkms).

[2021-05-31 05:31] #1478 closed

[2021-05-31 05:49] preda opened #1486 "Segfault in clBuildProgram in ROCm 4.2.0 with stock Linux kernel"
Using Linux kernel 5.13-rc4, ROCm 4.2.0 OpenCL only (without dkms), Radeon VII, I see this segfault when compiling with ROCm 4.2.0. Everything works correctly with ROCm 3.3.0.
[code]

The program was started with LD_LIBRARY_PATH pointing to ROCm 4.2:
[code]

[2021-05-31 09:37] ROCmSupport commented on #1471
Thanks @X-ailsa
Thanks for reaching out.
As we are NOT officially supporting gfx8 devices with ROCm anymore, I will close this issue.
@xuhuisheng, Thanks for your help.
Feel free to open a new issue, if any, in future.

[2021-05-31 09:42] #1471 closed

[2021-05-31 09:52] ROCmSupport commented on #1367
Hi @jleni
ROCm supports Ubuntu 20.04 now so you can start using it
Thank you

[2021-05-31 10:01] ROCmSupport commented on #1341
Hi @dsahni
Internal testing is happening and so can not comment on exact estimates right now.

[2021-05-31 10:22] jleni commented on #1367
The information in the documentation indicates that:

Reference: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#prerequisites

Unless this has not been updated, it seems that rocm still does not support a standard Ubuntu 20.04 LTS deployment without having to downgrade the kernel to something that is not standard.

Has this changed? Are you planning to support the de

[2021-05-31 10:52] xuhuisheng commented on #1367
The kernel-5.8.0-53 on ubuntu-20.04.2 could support ROCm-4.1 properly.
The document needs update.

[2021-05-31 10:53] ROCmSupport commented on #1472
Thanks @gggh000
I am able to reproduce this problem and assigned to developer.
Thank you.

[2021-05-31 10:55] ROCmSupport commented on #1457
Got update:
Stpes updated @ https://rocmdocs.amd.com/en/latest/Deep_learning/Deep-learning.html#pytorch
Please review and update. Thank you.

[2021-05-31 11:11] ROCmSupport commented on #1383
Hi @develancer
Most likely it will be fixed with/before ROCm 4.4.

[2021-05-31 11:16] ROCmSupport commented on #1379
Hi @gggh000
Docs updated now. You can check the latest docs at @ https://github.com/ROCmSoftwarePlatform/MIOpen
Thank you.

[2021-05-31 11:16] #1379 closed

[2021-05-31 12:20] preda opened #1487 "Help needed: GCN asm question"
Hi, I see a strange situation where this bit of code works correctly
[code]
But the below fails non-deterministically (i.e. after a while, and not always at the same spot)
[code]
In my oppinion the two pieces should be equivalent. I'm running this on RadeonVII. I checked multiple times the ISA docs about "manually inserted wait states", and it does not appear I have any missing wait-states.

These

[2021-05-31 12:36] preda commented on #1487
(the source in its entirety is here:
https://github.com/preda/gpuowl/blob/d8c6b122122dbab7527d6a23f7ef915642519fd2/gpuowl.cl#L146
)

[2021-05-31 14:16] ThomasA commented on #1480
I am experiencing issues that sound very similar to this on 2 Instinct MI100 GPUs.

[2021-05-31 15:16] b-sumner commented on #1487
Would you describe what "fails" means?  The while application, or are you testing just that function and getting incorrect results?

[2021-05-31 15:49] seesturm commented on #1487
I guess the problem is with
`v_addc_co_u32 v6, s[0:1], 0, v6, vcc`
which accesses two scalar operands (s[0:1] and VCC) with a vector instruction. According to "6.2.1. Instruction Inputs"

"3.9. Vector Compares: VCC and VCCZ" states

sources VCC, that counts against the limit on the total number of SGPRs that
can be sourced for a given instruction. VCC physically resides in the highest
two user SGP

[2021-05-31 17:53] Rmalavally commented on #1367
Thank you for reaching out. We are working with our internal teams to resolve the documentation issue.

Please continue to send us your feedback.

AMD ROCm Documentation Team

[2021-05-31 18:01] preda commented on #1487
@b-sumner I am testing the whole application that uses this function. The function does not fail every time, but only from time to time. When using the "good" version everything works reliably correctly, when swapping with the "bad" version it fails after a [long] while.

[2021-05-31 18:02] seesturm commented on #1487
I was wrong. s[0:1] is a destination so it should not count as "read register".

[2021-05-31 18:07] preda commented on #1487
Yes. Also, I'd expect the assembler to detect the not-allowed situations (like reading too many SGPRs) and report an error instead of accepting it and fail at runtime.

[2021-06-01 01:06] nvmnghia commented on #1306
I'm too lazy to read all of this, but are you telling me that some old GPUs are (partially) supported, while the new ones are not? Except for the new & pricey ones?

[2021-06-01 06:45] preda commented on #1486
This also reproduces on Linux kernel 5.4.0-73, Ubuntu 20.04, Radeon VII, ROCm 4.2.0 with rock-dkms.
[code]

[2021-06-01 08:57] ROCmSupport commented on #1474
Hi @staticdev
Thanks for reaching out.
Agree with your point.
Let me get some information from the team and share you soon.
Thank you.

[2021-06-01 10:19] ROCmSupport commented on #1482
Thanks @simonschuang for reaching out.
We have seen this issue locally and ready with the fix.
Fix will be available in next release.
Thank you.

[2021-06-01 10:33] ROCmSupport commented on #1476
Thanks @nolta for reaching out.
I will check and get back asap.
Thank you.

[2021-06-01 10:55] ROCmSupport commented on #1476
Hi @nolta
I am observing below error.

checking whether ln -s works... yes
checking for amdgcn-amdhsa-gcc... /tmp/tmp.i7Ti5PFAyn/build-offload/./gcc/xgcc -B/tmp/tmp.i7Ti5PFAyn/build-offload/./gcc/ -nostdinc -B/tmp/tmp.i7Ti5PFAyn/build-offload/amdgcn-amdhsa/gfx900/newlib/ -isystem /tmp/tmp.i7Ti5PFAyn/build-offload/amdgcn-amdhsa/gfx900/newlib/targ-include -isystem /tmp/tmp.i7Ti5PFAyn/gcc-11.1.0/newl

[2021-06-01 11:03] ROCmSupport commented on #1477
Thanks @dreifachstein for reaching out.
We are already aware of this issue and team is working on the fix.
I will share an update once is merged into release branch.
Thank you.

[2021-06-01 12:00] ROCmSupport commented on #1480
Hi @ivanmlerner
Thanks for reaching out.
We are not officially supporting Navi series of cards right now and also arch linux. So can not share official help.
But have few suggestions.
Can you please pull out card first card(so called working card) and try to boot with one card only(card in second slot) and update.
Thank you.

[2021-06-01 12:01] #1480 closed

[2021-06-01 12:24] preda commented on #1486
I forgot to mention, the same compilation works correctly on ROCm 3.3.0.

[2021-06-01 16:25] arsenm commented on #1487
The best advice for inline asm I can give is to never use it. It really does more harm than good and I 1000% advise against ever using it. It's only for the most desperate situations. Why are you trying to use it for this? This looks like a basic sub with overflow.

I do see you are missing an implicit exec read on your constraints which may or may not be relevant

[2021-06-01 17:04] preda commented on #1487
@arsenm could you please explain me a bit more about the missing exec read constrain? (why do I need it?)

That code is not a "basic sub with overflow". Instead, it implements this C function:
[code]
which LLVM compiles to:
[code]
and at this it becomes visible how this is a sub-optimal ("wasteful") compilation: not only in the number of vectorial instructions (7 vs. 4), but also most importantly

[2021-06-01 17:25] arsenm commented on #1487
Nearly all VALU instructions have an implicit exec register read. It's a special register, but still a register that needs a read constraint (e.g. after the second : you need "exec"). If you only had SALU instructions in your asm, it wouldn't be necessary.

I suspect you could also work around the optimizer by using the add/sub with overflow builtins which would be preferable to the asm

[2021-06-01 17:27] preda commented on #1487
I would very much prefer to not have to use inline assembly, ever. Simply enjoy the compiler instead of suspecting it, fighting it, coercing it in order to get not-terrible code. But optimizing GCN is not an easy task, and the compiler is not there yet.

[2021-06-01 17:34] preda commented on #1487
Ok, thanks, I'll try that.

Thanks I was not aware of those builtins. Found them here https://clang.llvm.org/docs/LanguageExtensions.html#checked-arithmetic-builtins and I'll look into using them.

[2021-06-01 17:54] b-sumner commented on #1487
@preda you have probably seen that there is a hazard when VALU writes SGPR and VMEM reads that SGPR.  That hazard is hanging off the end of the inline asm and compiler doesn't know about it and may be scheduling a VMEM too early.

[2021-06-01 18:18] preda commented on #1487
@b-sumner but there's no SGPR output from that assembly block. "stmp" is named in the output list only to be used as a temporary SGPR, it's value is not used after the block (you see, it's not used in the return value of the sum() function). Do you think the hazard you mention still applies?

[2021-06-01 19:33] b-sumner commented on #1487
@preda, yes sorry I'm trying to do too many things at once.

[2021-06-01 19:50] preda commented on #1487
@arsenm thanks for pointing out the read-exec dependency!
so is this the correct way to write it:
[code]
i.e. I have to use a dummy variable explicitly mapped to the exec register (the compiler won't accept just "exec" or "{exec}"). It seems the size mismatch (exec being 64-bit, dummy in the example 32-bit) doesn't matter either.

[2021-06-01 22:56] b-sumner commented on #1487
@preda, a unhandled hazard still seems like a possibility.  Can you test that bad sub function by itself and see if it ever produces an incorrect result, randomly or not?

[2021-06-01 23:51] ivanmlerner commented on #1480
Hello, I understand, thanks a lot to try and help help me.
I did as instructed and the computer booted properly. OpenCL was also working normally without any output to dmesg.

[2021-06-02 04:10] ROCmSupport commented on #1480
Thanks.
So request you to do the below experiments for better understating of the problem.
1. Keeping one card in first slot only --> clinfo output and dmesg
2. Keeping one card in second slot only --> You already shared info that it working. clinfo output and dmesg needed
3. Keeping one card in first slot and one card in second slot --> clinfo output and dmesg

Thank you.

[2021-06-02 09:50] ROCmSupport commented on #1474
Hi @staticdev
We started validating the latest kernels like 5.8+ and we will update the docs with the same in the future releases.
Thank you.

[2021-06-02 09:50] #1474 closed

[2021-06-02 10:02] ROCmSupport commented on #1222
As there is no response for more than a month, considering that issue is fixed.
Am closing this now as the changes are already pushed.
Thank you.

[2021-06-02 10:02] #1222 closed

[2021-06-02 11:53] ROCmSupport commented on #1468
Thanks @athas.
So I will close this issue as its no longer related to ROCm.
Thank you.

[2021-06-02 11:53] #1468 closed

[2021-06-02 11:55] ROCmSupport commented on #1457
Issue resolved by updating the docs.
This ticket can be closed now.
Thank you.

[2021-06-02 11:55] #1457 closed

[2021-06-02 11:58] ROCmSupport commented on #1456
Hi all,
I hope this issue can be closed if we do not have any more points to discuss.
Thank you.

[2021-06-02 12:00] ROCmSupport commented on #1076
Closing this as there is no response from the user.
Thank you.

[2021-06-02 12:00] #1076 closed

[2021-06-02 12:07] preda commented on #1487
I found a bug in my code: s_orn2_b64 sets SCC, so I need to add "scc" to clobbered list. I'm validating now.

[2021-06-02 12:15] ROCmSupport commented on #1081
Am closing this as there is no update for > 1 month.
Thank you.

[2021-06-02 12:15] #1081 closed

[2021-06-02 12:22] ROCmSupport commented on #1116
Hi @izixxxc
Got update.
I debugged it and found that issue is not with SMI.
Actual problem is with kernel. Without SMI also, issue is observed.
And the issue is specific to Radeon7 only.

[2021-06-02 12:23] ROCmSupport commented on #1116
Assigned to dev and fix ready, which is good news.
Most likely it will be part of ROCm 4.4, please stay tuned.
Thank you.

[2021-06-02 12:25] ROCmSupport commented on #1113
Closing this as there is no update/response from user for more than a month.
Feel free to open a new issue if any.
Thank you.

[2021-06-02 12:25] #1113 closed

[2021-06-02 12:52] #1487 closed

[2021-06-02 20:06] preda commented on #1487
@arsenm looking at the LLVM [carry builtins](https://clang.llvm.org/docs/LanguageExtensions.html#multiprecision-arithmetic-builtins), I don't see any good match to represent the GCN v_mad_u64_u32, i.e. a multiplication with 32-bit multiplicands but a 64-bit carry-in. (plus a 1-bit carry-out).

[2021-06-02 22:02] ivanmlerner commented on #1480
Hello, I did as instructed and here are the outputs:

[dmesg_output_both.txt](https://github.com/RadeonOpenCompute/ROCm/files/6587616/dmesg_output_both.txt)
[clinfo_output_both.txt](https://github.com/RadeonOpenCompute/ROCm/files/6587615/clinfo_output_both.txt)
[dmesg_output_first_only.txt](https://github.com/RadeonOpenCompute/ROCm/files/6587617/dmesg_output_first_only.txt)
[clinfo_output_first_on

[2021-06-03 04:37] ROCmSupport commented on #1480
Hi @ivanmlerner
No useful information captured from dmesg in all cases.
But in 2 GPU case, IO_PAGE_FAULTs observed and I dont think its related to ROCm. Anyway, I am trying to get more information.
clinfo outputs are similar in all cases and clinfo output is not complete, means clinfo did not run completely(Might be due to the non-support of ROCm right now).

[2021-06-03 04:52] ROCmSupport commented on #1455
Hi @gwc4github
ROCm + Linux is the highlighted combination.
If you change Linux to Mac in the PS section, ROCm will be disabled, so its confirm that ROCm+MacOS is not a supported combination right now.
You can check this image too.
![image](https://user-images.githubusercontent.com/74597123/120588892-9c641100-c455-11eb-84d4-fe4ed2473d91.png)

[2021-06-03 08:36] ROCmSupport commented on #1128
Hi @baryluk
Most likely it will be fixed in 4.3.
I will keep you posted.
Thank you.

[2021-06-03 08:40] ROCmSupport commented on #1139
Latest update:
Changes will be part of ROCm 4.3.
Thank you.

[2021-06-03 09:23] ROCmSupport commented on #1129
Update:
Assigned to dev and he is looking into it.
I will keep you posted.
Thank you.

[2021-06-03 09:36] ROCmSupport commented on #1108
I am closing this as there is no response for more than 2 months.
Feel free to open a new issue, if any.
Thank you.

[2021-06-03 09:36] #1108 closed

[2021-06-03 09:37] ROCmSupport commented on #1109
I am closing this as there is no response for more than 2 months.
Feel free to open a new issue, if any.
Thank you.

[2021-06-03 09:37] #1109 closed

[2021-06-03 09:44] ROCmSupport commented on #1355
Hi @nlgranger
Got an update for you.
The issue should be addressed with MIOpen find mode 5.
Can you rerun the workload using ROCm4.2, with MIOPEN_FIND_MODE=5 env var?

[2021-06-03 09:46] ROCmSupport commented on #1476
Hi @nolta
Request you to check my previous comment and help me with more information.
Thank you.

[2021-06-03 10:56] ROCmSupport commented on #1480
More update:
I can confirm that issue is caused by amdgpu, I decoded and found further that's the module that threw it.
But as the issue is related to amdgpu/ROCm, I can not help further as we are not supporting this card officially.
Hope you got it.
Thank you.

[2021-06-03 11:43] ROCmSupport commented on #1481
Hi @gggh000
Thanks for reaching out.
Let me check this for you quickly.

[2021-06-03 12:28] BahramianArmin opened #1488 "I can not install ROCm on ubuntu 18.04LTSM"
I do this way :
sudo apt update
sudo apt dist-upgrade
sudo apt install libnuma-dev
sudo reboot
wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -
echo 'deb [arch=amd64] https://repo.radeon.com/rocm/apt/debian/ xenial main' | sudo tee /etc/apt/sources.list.d/rocm.list
sudo apt install rocm-dkms
      Reading package lists... Done
      Building dependency tree
      Reading

[2021-06-03 12:36] ROCmSupport commented on #1481
Looks like the file is missed in your system.
Its no where related to ROCm.
Request you to check your machine/environment for the same.

I am able to find the header properly in my machine(which I newly installed ROCm 4.2 on a clean system).

taccuser@taccuser-X399-DESIGNARE-EX:~$ locate libc-header-start.h
**/usr/include/x86_64-linux-gnu/bits/libc-header-start.h**

[2021-06-03 12:38] xuhuisheng commented on #1488
should run 'sudo apt update' again

[2021-06-03 14:55] nolta commented on #1476
Yes, if you look in `/tmp/tmp.i7Ti5PFAyn/build-offload/amdgcn-amdhsa/gfx900/libgcc/config.log`, you'll see the error message.

[2021-06-03 18:35] ivanmlerner commented on #1480
Thanks a lot for the effort, I do get it.
Does that mean I need to look for amdgpu support or just wait until the card becomes supported?

[2021-06-03 20:20] stanleytsang-amd commented on #1472
Hi @gggh000,

I'm one of the developers for RCCL.

Taking a quick look at this issue, I think I know what's wrong with the install script.  Passing just the "-r" option should not trigger a rebuild of the tests, but it does.  This can be fixed.

In the meantime, you can completely avoid this issue by installing dependencies (-d), building unit tests (-t) and running the unit tests (-r) in one step

[2021-06-04 01:50] ROCmSupport commented on #1480
Hi @ivanmlerner
Its your call, I can not comment on this :).

[2021-06-04 04:26] ROCmSupport commented on #1456
Thanks all.
I am closing this as there is no more questions/update from anyone.
Feel free to file a new issue, if any.
Thank you.

[2021-06-04 04:26] #1456 closed

[2021-06-04 06:53] ROCmSupport commented on #1483
Thanks @gggh000 for reaching out.
I will take a quick look and update you.
Thank you.

[2021-06-04 07:00] ROCmSupport commented on #1483
Hi @gggh000
Can you please share the exact steps you followed to replicate the same.
Thank you.

[2021-06-04 07:12] ROCmSupport commented on #1484
Thanks @davewang for the info.
Hope the issue if resolved for now.
Thank you.

[2021-06-04 07:41] ROCmSupport commented on #1485
Thanks @preda for reaching out.
I will take a look at this and update you asap.
Thank you.

[2021-06-04 07:41] ROCmSupport commented on #1486
Thanks @preda for reaching out.
I will take a look at this and update you asap.
Thank you.

[2021-06-04 07:44] ROCmSupport commented on #1488
Thanks @BahramianArmin for reaching out.
Before installing rocm (I mean after mapping repo), you need to give "sudo apt update".
So request you to follow like below.

_wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -
echo 'deb [arch=amd64] https://repo.radeon.com/rocm/apt/debian/ ubuntu main' | sudo tee /etc/apt/sources.list.d/rocm.list
sudo apt update
sudo apt install r

[2021-06-04 08:18] BahramianArmin commented on #1488
Thank for your attention to this issue
I do your option but
it dose not wrok again
same error...

[2021-06-04 08:20] BahramianArmin commented on #1488
Thank for your Professional professional behavior
I run all of thing you say an again i have a same problems:
I copy below the here entirely:

wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -
echo 'deb [arch=amd64] https://repo.radeon.com/rocm/apt/debian/ ubuntu main' | sudo tee /etc/apt/sources.list.d/rocm.list
[sudo] password for armin:
OK
deb [arch=amd64] https://repo

[2021-06-04 08:29] BahramianArmin commented on #1488
my kernel version is :
Linux 5.4.0-74-generic x86_64
Thanks for  your attentions

[2021-06-04 08:45] ROCmSupport commented on #1488
Hi @BahramianArmin
Thanks.
Looks like update did not go well.
I found from your log that you are trying it on "Kubuntu" OS.
The way you network is configured to the harddisc/system is also doubtful as its showing "connection failed" error.
**Can you please check your environment once.**

Connection failed [IP: 151.101.14.217 80]
Reading package lists... Done
E: The repository 'cdrom://Kubuntu 18.0

[2021-06-04 09:19] BahramianArmin commented on #1488
thanks a again:
i fix it all of them ....
and run the below sequence agaain:
  wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -
  echo 'deb [arch=amd64] https://repo.radeon.com/rocm/apt/debian/ ubuntu main' | sudo tee /etc/apt/sources.list.d/rocm.list
  sudo apt update
  sudo apt install rocm-dkms

and this happend:
 wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key

[2021-06-04 12:03] ROCmSupport commented on #1486
hI @preda
I am able to compile application on ROCm 4.2(rocm-dkms).
But unable to run the application as it throws "DEVICE_NOT_FOUND error

taccuser@taccuser-GA-990FXA-UD5:~/gpuowl$ ./gpuowl -prp 107000009 -time
20210604 17:05:49 GpuOwl VERSION v7.2-107-gbf1e617
20210604 17:05:49 GpuOwl VERSION v7.2-107-gbf1e617
20210604 17:05:49 Note: not found 'config.txt'
20210604 17:05:49 config: -prp 107000009

[2021-06-04 12:42] ROCmSupport commented on #1488
Very strange to see that. Can you please the config details like OS and Asic etc.,.

I am able to install ROCm 4.2 on **Ubuntu 18.04.5 LTS (GNU/Linux 5.4.0-73-generic x86_64)** like below.

master@prj47-rack-43:/opt$ wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -
OK
master@prj47-rack-43:/opt$
master@prj47-rack-43:/opt$ echo 'deb [arch=amd64] https://repo.radeon.com/roc

[2021-06-04 14:53] BahramianArmin commented on #1488
I do all of thing that may important
But it still not work....

[2021-06-04 16:33] seesturm commented on #1488
Based on the messages it is hard to tell why apt does not attempt install of rocm-dev. Maybe you get more hints if you explicitly ask apt to install rocm-dev like so
`sudo apt install rocm-dkms rocm-dev`

[2021-06-04 18:21] gggh000 commented on #1483
it is pretty simple. with rocm4.2 installed and hipcc build and installed (also 4.2), I built the small benchmark utility above:
hipcc <filename>; ./a.out

[2021-06-04 18:45] gggh000 commented on #1452
I had to install python module: "pip3 install CppHeaderParser" and it works. However cmake .. command additinoally throws gpu target not found error now:

[code]

[2021-06-04 18:47] gggh000 opened #1489 "roctracer build fails due to target not found"
Ubuntu1804 ROCM4.2
It appears it set target as follows and then throws following error:

[code]

Full log below based on README.md build steps:

[code]

[2021-06-04 18:50] #1452 closed

[2021-06-04 18:50] gggh000 commented on #1452
I will close this one and open new  ticket.

[2021-06-04 19:00] gggh000 commented on #1489
Build is OK after:

[code]

Can it be included in the readme.md? Otherwise it could be tricky to find this prereq steps.

[2021-06-04 19:02] gggh000 commented on #1472
ok, I will retry.

[2021-06-04 21:23] gggh000 opened #1490 "roctracer's example MatrixTranspose_test is not building"
roctracer/test/MatrixTranspose_test:
ubuntu 1804
rocm 4.2 (also tried 4.1)
from roctracer/test/MatrixTranspose_test:
issue "make" and it outputs following errors:

[code]

There appears to be another similar MatrixTranspose folder but without test suffix in roctracer/test/MatrixTranspose.
this one builds OK.
Comparing these two, files I imagine the MatrixTranspose_test is the one that leverages th

[2021-06-04 21:49] #1472 closed

[2021-06-04 22:06] gggh000 commented on #1490
I had to add include path in the Makefile in MatrixTranspose_test folder as follows:

[code]
Build succeeded afterward but run is still failed:

[code]

[2021-06-04 22:09] gggh000 commented on #1490
make test solved the runtime problem. Perhaps add above comment to Makefile??

[2021-06-05 04:00] preda commented on #1486
@ROCmSupport apparently you don't have the OpenCL environment correctly set up. Does "clinfo" work?

[2021-06-05 05:24] ROCmSupport commented on #1486
Hi @preda
rocm installed well, clinfo is working perfect. Everything went well.
But the gpuowl app is throwing the above error.
Thank you.

[2021-06-05 14:59] preda commented on #1486
Can you please attach the output of "gpuowl -h", which if it detects any devices would print the list of devices at the end.
And maybe the output of clinfo?
Are you running gpuowl with the correct LD_LIBRARY_PATH pointing to the proper ROCm installation folder, such as:
/opt/rocm-x.y.0/opencl/lib
Otherwise, I'm out of ideas here.

[2021-06-05 15:00] preda commented on #1486
BTW, were you able to run gpuowl in the past? what changed?

[2021-06-06 01:47] thesyntaxinator commented on #943
What is the answer to this?

[2021-06-06 07:50] BahramianArmin commented on #1488
I do also this way But still not work!

[2021-06-06 07:52] BahramianArmin commented on #1488
I do lots of things and finally I use 'aptitude' to install and it works!! :D
Thanks a lot from every one for helping !

[2021-06-06 07:52] #1488 closed

[2021-06-06 10:26] ROCmSupport commented on #1488
Good to know that your issue is resolved.
I hope aptitude is needed by Kubuntu, anyway thanks for the closure.

[2021-06-06 11:31] justxi opened #1491 "ROCm 4.2: building llvm/clang - undefined reference to llvm::object::getELFSectionTypeName"
Hi,

building llvm/clang from ROCm 4.2 for Gentoo Linux results in this error:
[code]

I tried to add "libLLVMBinaryFormat" but it didn´t help.

Do you have a hint how to solve this?

[2021-06-07 05:19] ROCmSupport commented on #1486
Hi @preda
Looks like the problem is with my environment and so tried on a different machine(Ubuntu 20.04.2 + Vega10).
I am able to reproduce this problem in that machine.
Will update more details.
Thank you.

[2021-06-07 09:40] ROCmSupport commented on #1486
Seg fault is observed even with ROCm 4.1 too. Is it the same for you too?
Please confirm.

**ROCm 4.1 result:**
taccuser@taccuser-X399-DESIGNARE-EX:~/gpuowl$ ./gpuowl -prp 107000009 -time
20210607 15:08:34 GpuOwl VERSION v7.2-112-g44877a8-dirty
20210607 15:08:34 GpuOwl VERSION v7.2-112-g44877a8-dirty
20210607 15:08:34 Note: not found 'config.txt'
20210607 15:08:34 config: -prp 107000009 -time
2021

[2021-06-07 09:45] ROCmSupport commented on #1489
Thanks @gggh000 for reaching out.
Actually roctracer shows the prerequisites explicitly like below @ https://github.com/ROCm-Developer-Tools/roctracer#to-build-and-run-test

 _- ROCm is required

 - **Python modules requirements: CppHeaderParser, argparse**.
  To install:
  sudo pip install CppHeaderParser argparse_

Hope its clear.
Thank you.

[2021-06-07 09:45] #1489 closed

[2021-06-07 10:02] ROCmSupport commented on #1490
Thanks @gggh000 for reaching out.
I am able to reproduce the problem and assigned to dev.
Thank you.

[2021-06-07 10:04] ROCmSupport commented on #1491
Hi @justxi
Thanks for reaching out.
We do not support Gentoo Linux officially and so can not comment on this.
Thank you.

[2021-06-07 10:04] #1491 closed

[2021-06-07 10:13] preda commented on #1486
@ROCmSupport I don't know, quite possibly (I don't have ROCm 4.1 installed).

[2021-06-07 13:00] daoxian commented on #1455
Lazy boys who are losing the AI competition...

[2021-06-08 03:57] ivanmlerner commented on #1480
Hello, I have managed to get it to work. Disabling IOMMU in the BIOS solved the issue.

[2021-06-08 11:21] ROCmSupport commented on #1452
Thanks @gggh000 for the closure.
I too verified and the issue is no more observed now.

[2021-06-09 08:29] ROCmSupport commented on #1486
Hi @preda
I tried on a different machine ro reproduce the problem but always throws below error.
I changed to experimental/filesystem in main.cpp but still no luck.

master@master:~/gpuowl$ make
echo \"`git describe --tags --long --dirty --always`\" > version.new
diff -q -N version.new version.inc >/dev/null || mv version.new version.inc
echo Version: `cat version.inc`
Version: "v7.2-112-g44877a8-

[2021-06-09 10:08] preda commented on #1486
@ROCmSupport probably you're using an old version of the gcc compiler (g++ --version).
Probably the easiest fix would be to upgrade the compiler.
If you want to try with experimental/filesystem, you need to edit the include in ProofCache.h (line 8) as well.

[2021-06-09 10:12] avimanyu786 commented on #1433
Hi @mvlp ,

I think you can fix it by installing the `mesa-opencl-icd` package:

[code]
I'd suggest you also double check whether you are running ROCm's own `clinfo` rather than the clinfo package provided by Ubuntu's package manager(apt). To do that you can directly run `/opt/rocm/opencl/bin/clinfo` on a terminal and later make an alias via `.bashrc`. To avoid any future confusions, I have uninst

[2021-06-09 20:41] ekondis commented on #1480
I faced the same problem (see [issue 1429](https://github.com/RadeonOpenCompute/ROCm/issues/1429)), with different GPU configuration, but the workaround actually worked! Thank you, @ivanmlerner!

[2021-06-10 04:00] BahramianArmin opened #1492 "ROCm dose not detect my GPU ( AMD Radeon R7 M265)"
enter in terminal 'rocm-smi' and says No AMD GPUs specified
-->rocm-smi

======================= ROCm System Management Interface =======================
WARNING: No AMD GPUs specified
================================= Concise Info =================================
GPU  Temp  AvgPwr  SCLK  MCLK  Fan  Perf  PwrCap  VRAM%  GPU%
========================================================================

[2021-06-10 07:37] ROCmSupport commented on #1492
Thanks @BahramianArmin for reaching us out.
Can you please share the output of "lspci -nn | grep AMD/ATI" command.
Thank you.

[2021-06-10 07:40] BahramianArmin commented on #1492
lspci -nn | grep AMD/ATI
05:00.0 Display controller [0380]: Advanced Micro Devices, Inc. [AMD/ATI] Opal XT [Radeon R7 M265/M365X/M465] [1002:6604]

[2021-06-10 07:50] ROCmSupport commented on #1492
Thanks @BahramianArmin
Opal XT is not a ROCm supported card and so ROCm does not work with specific hardware.
Thank you.

[2021-06-10 07:50] #1492 closed

[2021-06-11 06:18] preda commented on #1486
The segfault may be related to some degree to the inline assembly, because when compiling with inline assembly disabled (which can be done by adding "-use NO_ASM" to the gpuowl command line), the segfault does not happen anymore.

[2021-06-11 06:28] ROCmSupport commented on #1486
Hi @preda
I am able to reproduce the exact crash mentioned in the description.
It will be good if you share some passing build information, if its handy.

[2021-06-11 19:30] preda commented on #1486
@ROCmSupport I don't understand, what information would you find helpful?

When running gpuowl, try adding to the end of the command line "-use NO_ASM", e.g.:
[code]

[2021-06-11 20:20] zocker-160 commented on #1376
Now think about why that might be, surely not because the demand is so high because everybody wants them.....

[2021-06-11 21:00] b-sumner commented on #1486
@preda if you could compile with "-save-temps[=<path>/<to>/<prefix>]" and atttach/point to the specific preprocessed "*.i" source file that the compiler is faulting on, it might save us some time.

BTW, I thought we were testing gpuowl at one time, but likely using only one fixed command line.  If you have suggestions on a set of tests that would cover most of the code but not take a long time to

[2021-06-12 05:34] preda commented on #1486
@b-sumner yes, gpuowl also supports dump with the command line option "-dump \<folder\>", so obtaining those files is easy. I attach them here for convenience, based on the version at this commit
https://github.com/preda/gpuowl/tree/d2f0bb3a53be5ad33b642b7b5c4e32779e22541f
which ATM is the tip of the NTT2 branch.

About testing gpuowl, the segfault I report here is new code from the branch "NTT2".

[2021-06-13 09:20] preda commented on #1486
@b-sumner if it's any help, the ".i" below contains a single __asm() that triggers the segfault.

[4M_0_gfx906_sramecc-_xnack-.i.txt](https://github.com/RadeonOpenCompute/ROCm/files/6643612/4M_0_gfx906_sramecc-_xnack-.i.txt)

[2021-06-13 19:19] TByte007 commented on #1171
Just a quick question. Are you insane ? Currently the ONLY affordable GPUs are GFX7 and GFX8 ... and GFX8 is NOT REALLY. I'm not buying another AMD card ever. How come nVidia is able to support their older cards and you cant ?!?

[2021-06-13 19:19] TByte007 commented on #871
ust a quick question. Are you insane ? Currently the ONLY affordable GPUs are GFX7 and GFX8 ... and GFX8 is NOT REALLY. I'm not buying another AMD card ever. How come nVidia is able to support their older cards and you cant ?!?

[2021-06-13 20:41] moriel5 commented on #493
Are there any thoughts on expanding the experimental support to Bonaire? Or are there blockers to that which do not exist on Hawaii?

[2021-06-13 21:40] Bengt commented on #871
@TByte007

-   Your tone is very out of place here. This is a public forum where you are talking to/amongst professionals. Please reconsider.
-   Yes, Nvidia does have more broad compute support. They but also have like 10 times the financial and personnel power. So, give AMD a break, please. I think asking to support a feature in GPUs that were most recently released over a year prior to said fea

[2021-06-13 21:52] TByte007 commented on #871
No I will not and I'm saying what EVERYBODY is thinking. And I don't think u need a ton of money to support a single driver. And heaving in mind that they are pretty find on the money side given the prices of ... everything currently it is a deserved criticism. Oh and I have like 6-7 GPU7/8 cards that are useless now. So "buying nVidia" at the current prices is not really a solution.

[2021-06-14 01:58] illwieckz commented on #871
Tone apart, yes OpenCL is the shame of AMD. Now AMD GPUs are so good on kernel and distribution integration, Nvidia is decade late on that topic. Now AMD GPUs are so good on graphical side that Nvidia can't keep up anymore: as a game developer, I can testimony we face weird kind of bugs we never seen on AMD, like [this](https://github.com/DaemonEngine/Daemon/issues/368), [this](https://github.com/

[2021-06-14 05:39] ROCmSupport commented on #493
Hi @moriel5
We do not have plans right now to support cards specific to gfx8 and below.
Thank you.

[2021-06-14 05:49] moriel5 commented on #493
@ROCmSupport Pretty much as expected, I was just wondering whether there are any technical hurdles for Bonaire in addition to what was required for Hawaii.

[2021-06-14 13:53] preda commented on #1486
I tried a fresh build of LLVM and comgr, and hit this assert:
[code]

with this stack:

[code]

[2021-06-14 14:00] preda commented on #1486
When closing this issue (when fixed), it would be nice to leave a link here to the LLVM commit with the fix, thanks!

[2021-06-15 06:31] ROCmSupport commented on #1476
I found below errors from config.log. Rest all looks good for me.

xgcc: error: unrecognized command-line option '-V'
xgcc: fatal error: no input files
compilation terminated.
configure:3546: $? = 1
configure:3535: /tmp/tmp.tEy6eB7xw3/build-offload/./gcc/xgcc -B/tmp/tmp.tEy6eB7xw3/build-offload/./gcc/ -nostdinc -B/tmp/tmp.tEy6eB7xw3/build-offload/amdgcn-amdhsa/newlib/ -isystem /tmp/tmp.tEy6eB7xw3/

[2021-06-15 06:36] ROCmSupport commented on #1483
Hi @gggh000
Not able to generate properly.
Do we need to add any flags? Can you please share your exact command line to generate the executable to run the program, which is helpful for me.
Thank you.

[2021-06-15 07:15] sjjamsa opened #1493 "Dell R7525 with 3xMI100 clinfo kills machine with multiGPU PCIe"
Hi!

I have a Dell R7525 with 3xMI100 installed. No Infinity fabric, only PCIe connection. I have had the below issues from the very first install of the machine. They happen with Centos7.9 and latest Ubuntu LTS server HWE. They also occur with ROCm 4.1.1 and 4.2. The problem goes away if I disable any two of the three MI100 cards.

After following [the installation instructions](https://rocmdocs.

[2021-06-15 08:53] ROCmSupport commented on #1493
Hi @sjjamsa
Thanks for reaching out.
Let me check this for you and get back asap.
Thank you.

[2021-06-15 08:56] ROCmSupport commented on #1493
Got that with single MI100 card, things are working well.
But with 3 MI100 cards, clinfo is broken.

When I see the dmesg, found that a few MI100 cards are not working well, which is hardware issue.
dmesg clearly shows the same.
I recommend to do the things in below way.
1. Keep only one MI100 card and run clinfo
2. Add one card to the system and run clinfo again
3. Add the third card now and run

[2021-06-15 09:25] athas commented on #1468
In case anyone comes across this issue later, we mitigated it by setting the fans in the chassis to maximum.  I don't know whether the machine as a whole was misconfigured in the first place, or whether the MI100 just requires more airflow than the A100 we have in an otherwise identical machine, but it seems stable now.

[2021-06-15 10:44] sjjamsa commented on #1493
Thank you for looking into this!

My first guess also was a broken card.

Thus, I already tried all the 7 non-empty combinations of cards:
* c0
* c1
* c2
* c0 & c1
* c0 & c2
* c1 & c2
* c0 & c1 & c2

But only the first three (single card) worked; in all other cases clinfo crashes the machine.

Best regards,
 - Simppa -

[2021-06-15 10:52] ROCmSupport commented on #1493
Thanks @sjjamsa
Then I guess its the PCI slot problem.
As first slot is working, any card in that slot works.
So I feel the problem is with second slot.
_[drm] PCI error: detected callback, state(2)!!_

As you said, for example: C0 & C1 --> clinfo crashed, remove C0 from the placeholder and try to run clinfo after reboot.
clinfo might not work. Please give a try.

Thank you.

[2021-06-15 11:29] sjjamsa commented on #1493
Thank you for the advice!

Let me see if I understand you correctly:
You propose that one or more of the PCI slots is broken. You specifically suggest that is the slot for card c0. And this somehow causes problems regardless of which card is enabled in BIOS. How would this happen?

I don't quite understand what you propose me to test. Should I disable C2 and physically remove C1? This combination

[2021-06-15 11:37] sjjamsa commented on #1493
Just to make everything clear, each card is in a separate PCIe slot; in a separate riser.

You can have a look at the [Technical Guide](https://i.dell.com/sites/csdocuments/Product_Docs/en/dell-emc-poweredge-r7525-technical-guide.pdf) pages 12-13 and pages 21-22.

Best regards,
 - Simppa -

[2021-06-15 11:54] ROCmSupport commented on #1493
I mean c0 slot is good, c1 slot is bad.
So I recommend to keep a card in c1 and remove all other cards. Try to check whether clinfo crashes or not.
Thank you.

[2021-06-15 12:06] sjjamsa commented on #1493
To be precise, the three cards are in PCIe slots 2, 5, and 7.

`dmidecode -t slot:`
- Designation: PCIe Slot 2 ; Bus Address: 0000:21:00.0
- Designation: PCIe Slot 3 ; Bus Address: 0000:41:00.0
- Designation: PCIe Slot 5 ; Bus Address: 0000:81:00.0
- Designation: PCIe Slot 6 ; Bus Address: 0000:a1:00.0
- Designation: PCIe Slot 7 ; Bus Address: 0000:e2:00.0

`lspci  -tvb `
[code]

I now interpret y

[2021-06-15 12:31] ROCmSupport commented on #1493
Its pointing to the below card/slot.

[  340.644125] {1}[Hardware Error]:   **device_id: 0000:83:00.0** --> Slot
[  340.650549] {1}[Hardware Error]:   slot: 0
[  340.655567] {1}[Hardware Error]:   secondary_bus: 0x00
[  340.661619] {1}[Hardware Error]:   **vendor_id: 0x1002, device_id: 0x738c** --> MI100 card

[2021-06-15 13:40] nolta commented on #1476
Yes, i see those messages too.

Maybe it will help if you add the following line to the end of my original script:

[code]

[2021-06-15 13:53] nolta commented on #1476
You'll also need to add the line `set +e` before calling `make`.

[2021-06-15 15:21] sanjtrip commented on #1493
Disable IOMMU and test - it is currently enabled.

[2021-06-16 04:45] ROCmSupport commented on #1493
Yes, Its also good suggestion.
Hi @sjjamsa
Can you please **disable IOMMU** and check, things might work.
Thank you.

[2021-06-16 05:47] reed259 commented on #1493
When IOMMU is enabled in Dell Sesto BIOS, please add the "iommu=pt" kernel parameter:

sudo bash -c 'echo GRUB_CMDLINE_LINUX=\"amd_iommu=on iommu=pt\" >> /etc/default/grub'
sudo grub2-mkconfig -o /boot/efi/EFI/centos/grub.cfg
sudo reboot

Alternatively, you can disable IOMMU completely via OS and also will not hit this issue.

sudo bash -c 'echo GRUB_CMDLINE_LINUX=\"amd_iommu=off\" >> /etc/default

[2021-06-16 06:28] sjjamsa commented on #1493
The kernel parameters:

`GRUB_CMDLINE_LINUX="amd_iommu=on iommu=pt"`

Did the trick!  At least `/opt/rocm/opencl/bin/clinfo` finishes nicely! :-)

Thank you very much!

Btw, was this documented somewhere? Which document should I have read, please?

Best regards,
 - Simppa -

[2021-06-16 09:55] ROCmSupport commented on #1493
Thanks @sjjamsa for confirmation.
So issue is resolved after disabling IOMMU. I am closing this now.
Let me work with documentation team on the information part.
Thank you.

[2021-06-16 09:55] #1493 closed

[2021-06-16 15:36] gggh000 opened #1494 "unable to download repo source"
worked on earlier versions 4.1, 4.2 but not 4.3:
[code]
Result:
[code]

[2021-06-16 23:07] xuhuisheng commented on #1494
The ROCm-4.3 haven't released yet. Please use roc-4.2.x right now.

[2021-06-17 02:00] 9Tito commented on #1265
I resolved this problem using this: https://githubmemory.com/repo/xuhuisheng/rocm-gfx803

but i have to add this: tf.compat.v1.disable_eager_execution()

HOWEBER, my routine without using the graphics card (with an AMD® Ryzen 5 2600 six-core processor × 12) is 2 times faster than using my graphics card :(. Is it normal? Is it because it is not the best graphics card for ML?

PD: not underground my

[2021-06-17 04:47] ROCmSupport commented on #1494
Thanks @gggh000 for reaching us out.
ROCm 4.3 is not released yet, it is expected to be released by end of this month. Please stay tuned.
Until then recommend to use 4.2 sources.
Thank you.

[2021-06-17 04:47] #1494 closed

[2021-06-17 04:49] gggh000 commented on #1445
any update?

[2021-06-17 04:49] gggh000 commented on #1445
any update?

[2021-06-17 06:55] ROCmSupport commented on #1445
Hi @gggh000
Can you please help me with below information.

Can you please confirm on the version of the grpc you used?
Because RDC requires below.
_git clone -b v1.28.1 https://github.com/grpc/grpc_

From your error log, looks like "either grpc not built properly or it does not have the right version installed".
As /bin/grpc_cpp_plugin is missing, the protoc cannot generate the rdc.grpc.pb.h, whi

[2021-06-17 21:52] gggh000 commented on #1490
Hi, "make test" worked. so this can be closed.

[2021-06-18 00:43] sanjtrip commented on #1493
Use of rocm-techsupport script (available at https://github.com/amddcgpuce/rocmtechsupport) helps to identify these issues quicker. Use it, as appropriate.

[2021-06-18 04:37] ROCmSupport commented on #1490
Thanks @gggh000
Good to know that "make test" solves the problem.
Let me try to work on updating the same in our docs. Thank you.

[2021-06-18 04:37] #1490 closed

[2021-06-18 05:09] ROCmSupport commented on #1483
Hi @gggh000
I resolved local issue and am able to compile the code successfully now.
Executed it and able to reproduce the issue like you.

taccuser@taccuser-GA-990FXA-UD5:~$ ./sample
main: entered.
Time using hipMalloc: 3420.7 ms.
        MB/s during copy up: 1169.3.
Time using hipMalloc: 1736.7 ms.
        MB/s during copy down: 2303.2.
**Err: hipHostRegister failed with code: 2.Returned 0...
Er

[2021-06-18 10:38] ROCmSupport commented on #1483
I am able to reproduce with 4.0 and 4.1 also.

So when I run the application with log level, feels like **its mostly an application issue.**
Please check the source once.

:3:hip_event.cpp            :249 : 0853955870 us: 3463 : [7fd907a1e880] hipEventElapsedTime: Returned hipSuccess : Elapsed Time = , 1143.34
Time using hipMalloc: 1143.3 ms.
        MB/s during copy down: 3498.5.
:3:hip_event.cpp

[2021-06-18 17:19] gggh000 commented on #1483
after rocm 4.3 installed it appears to working. at least not crashing.

[2021-06-19 12:40] AGenchev commented on #799
I also read about this BIOS dependency and I wonder why even when GPU is **physically** inside the CPU, the motherboard manufacturer can mess up the things ?
Also, provided that in the common case the manufacturer does not have this knowledge and relies on few AMD reference designs, doesn't AMD provide reference BIOSes with correctly set-up CRAT tables ? Because these unsolved relations AMD-Manufa

[2021-06-19 13:11] FilipVaverka opened #1495 "GPU Peer-to-Peer (ROCm 4.2 with upstream amdgpu in kernel 5.13-X)"
ROCm 4.2 reports P2P as available for my machine with RX Vega 64 and Radeon VII in it. `rocm-bandwidth-test` therefore tries to measure the bandwidth between the GPUs, which causes immediate display corruption due to page faults and following GPU reset (see system log below).

Is P2P supposed to function in this configuration? Is any special configuration necessary to make it work?

While I hope P

[2021-06-21 01:03] timgws commented on #1306
@nvmnghia

https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-822222885

[2021-06-21 13:04] question12345 opened #1496 "Bridge for AMD MI100 Accelerator"
Hello,

I have a Server with two MI100 Accelerator and they are connected through the AMD bridge.

The OS installed is Centos 7.9. I am able to see the 2 GPUs with these two commands:
/opt/rocm/bin/rocminfo
/opt/rocm/opencl/bin/clinfo

but I don't know how to see if the bridge is working or not. Is there a specific command I should execute to check if the bridge is working?

thank you

[2021-06-21 13:13] question12345 opened #1497 "Stress utility for MI100 Accelerator"
Hello

Is there any utility I can use on centos 7.9 to stress test a MI100 accelerator?

thanks

[2021-06-21 14:28] jlgreathouse commented on #493
There is technical tasks required to get ROCm reliably running on Bonaire that AMD does not plan on working on at this time, yes.

[2021-06-21 15:54] moriel5 commented on #493
Thanks, while slightly disappointing, this certainly makes sense.
I guess the only recourse is searching for something that only has a UEFI, which means I'll have to wait until I have the budget to do so (and then something from the RX 400 or RX 500 series will make more sense).

[2021-06-21 18:21] FilipVaverka commented on #1496
I think (without having any experience with this configuration) you should be able to see P2P in `clinfo` output:

Now, this should be there even if only PCI-E P2P is available. So next I would try `rocm-bandwidth-test` ([hopefully with better results that me](https://github.com/RadeonOpenCompute/ROCm/issues/1495)) which does P2P bandwidth tests, so you should see high bandwidth between GPUs conne

[2021-06-22 10:52] preda commented on #1497
you could try gpuowl https://github.com/preda/gpuowl

[2021-06-22 11:51] Abhishek262 opened #1498 "rocminfo and rocm-smi failing in azure NVv4as systems"
Hey

I've installed ROCm pn the system, however running basic ROCm commands give me errors as shown below.

System details :
Ubuntu 18.04 LTS
kernel : 5.4
Azure size : Standard NV4as_v4 (4 vcpus, 14 GiB memory)

azureuser@mi25:/proc$ rocminfo
ROCk module is NOT loaded, possibly no GPU devices
azureuser@mi25:/proc$ rocm-smi
ERROR:root:Driver not initialized (amdgpu not found in modules)

The Output

[2021-06-22 17:26] clapbr commented on #1345
@ROCmSupport any progress on this?

[2021-06-23 04:56] ROCmSupport commented on #1483
Thanks @gggh000 for the latest observations.
But ROCm 4.3 is not released yet and did you try with 4.2 or some other rocm version?
Please confirm.

And also can you please clarify whether you have made any changes to the source code so that app starts working?
Please share.

Thank you.

[2021-06-23 04:59] ROCmSupport commented on #1495
Thanks @FilipVaverka for reaching out.
Let me take a look at this.

[2021-06-23 05:03] ROCmSupport commented on #1496
Thanks @question12345 for reaching out.
Let me take a look.

[2021-06-23 05:06] ROCmSupport commented on #1496
Hi @question12345
I got your problem. You wish to check whether XGMI card is detected properly or not.
You can check this in dmesg, a simple command **dmesg | grep hive** shows the correct result.

For example:
I have a machine with 4GPUs connected to XGMI bridge.
[taccuser@rocm-qa-lr ~]$ **dmesg | grep hive**
[    5.955582] amdgpu 0000:3f:00.0: XGMI: Add node 3, hive 0x847de836f311c61a.
[    6.20

[2021-06-23 05:16] ROCmSupport commented on #1497
Thanks @question12345 for reaching us.
Let me take a look.

[2021-06-23 07:21] rkothako commented on #1233
Hi @baryluk
Hope the issue is resolved.
Please confirm.

[2021-06-23 07:32] ROCmSupport commented on #1497
I recommend to use/run using rocm-validation-suite and pick **rvs stress tests**.
Steps to do:
1. Install rocm using **sudo apt install rocm-dkms**
2. Install rvs(rocm-validation-suite) using **sudo apt install rvs**
3. cd /opt/rocm/rvs && sudo cp -rf /opt/rocm/rvs/testscripts/* /opt/rocm/rvs/
4. Run the script, for examples, take stress module: **sudo ./rvs-stress-long.sh**

Hope this helps.
Than

[2021-06-23 07:43] #1496 closed

[2021-06-23 08:06] #1497 closed

[2021-06-23 08:13] ROCmSupport commented on #1498
Hi @Abhishek262
Thanks for reaching out.
Let me check this for you.

[2021-06-23 09:15] ROCmSupport commented on #1498
Hi @Abhishek262
**ROCm is not officially supporting Azure environment right now.**
So I can not comment much on this.
Thank you.

[2021-06-23 09:15] #1498 closed

[2021-06-23 09:28] ROCmSupport commented on #1345
Hi @clapbr
We are taking time to unify ROCm with graphics support.
We already started working to deliver this solution.
We hope this solution solves all of graphical issues with ROCm stack.
Please stay tuned for updates.
Thank you.

[2021-06-23 12:32] preda opened #1499 ".AMDGPU.csdata codeLenInByte is wrong with inline assembly"
Using ROCm 3.3.0 OpenCL, Linux kernel 5.12.12, Radeon VII.

When computing the value of codeLenInByte that is present in the ISA dump, in the presence of inline assembly, it seems every instruction in counted as 8-bytes in size. This produces a wrong codeLenInByte, as in reality some instructions are encoded on 4 bytes.

I'm not sure whether codeLenInByte is actually used for anything or acts just

[2021-06-23 12:58] preda opened #1500 "FR: OpenCL global memory single-pass read or write: bypass the L1 cache"
In OpenCL, when accessing global memory, I see two distinct cases: in one case, a large region of data is sequentially read once, or sequentially wrote once. In another case, a smaller block of data is accessed repeteadly.

In the first case (let's call it "single pass sequential"), going through the L1 cache provides no speed benefit AFAIK, but it does pollute the L1 cache with data that is not g

[2021-06-23 14:16] TxMat opened #1501 "amdgpu-dkms failed to build on kali linux"
Hello,
I tried to install the ROCm on my system recently but it appears that the installer is constantly failing the build.
I tried to find solutions online but i seems nobody had this issue on Kali.

the fix often proposed for Ubuntu is to downgrade with

`sudo apt-get install linux-image-5.4.0-42-generic linux-modules-5.4.0-42-generic linux-modules-extra-5.4.0-42-generic linux-headers-5.4.0-42-g

[2021-06-23 17:00] torehl opened #1502 "rocprism4.2.0 and rocprism conflicts"
Hi,

   got a conflict that I can't seem to resolve.  Maybe I misinterpret the versioning. I can install rocprim fine, but installing rocprim4.2.0 gives me the below conflicts. After that, there is no way of working around it.

    Why this conflict between the latest and the specific version?

    I'd really would like to just install the kernel modules rocm-dkms on the nodes and let the rest be

[2021-06-24 04:26] ROCmSupport commented on #1501
Thanks @TxMat for reaching out.
We do not support Kali linux officially and so can not comment.
Thank you.

[2021-06-24 04:26] #1501 closed

[2021-06-24 04:27] ROCmSupport commented on #1502
Thanks @torehl for reaching out.
Can you please share the exact steps you followed(one by one), so that I will understand better and help you with resolution.
Thank you.

[2021-06-24 07:59] ROCmSupport commented on #1499
Thanks @preda for reaching out.
I am not an expert in understanding the logic behind this code.
I have assigned to compiler team to have a look.
Thank you.

[2021-06-24 08:01] ROCmSupport commented on #1500
Thanks @preda for reaching out.
I have assigned to compiler team to have a look.
Thank you.

[2021-06-24 08:21] erkinalp commented on #1460
Precompiled packages fail due to dependency on missing Python 3.8.

[2021-06-24 09:49] Bengt commented on #1460
@erkinalp That sounds interesting. Please file a new issue about that.

[2021-06-24 09:59] erkinalp commented on #1460
@Bengt That issue is specific to 21.04, which is unsupported.

[2021-06-24 10:17] question12345 commented on #1496
Thanks for the asnwer.

So, here is my problem:

The 2 MI100 without the bridge are seen by the system:

========================== Link Type between two GPUs ==========================
            GPU0 GPU1
GPU0  0         PCIE
GPU1 PCIE     0

******************

Instead, If I connect them with the bridge then the system doesn't see them anymore at all.

The bridge is a 4 slots bridge, but I hav

[2021-06-24 10:17] Bengt commented on #1460
Still, a documentation of the issue you are having would be nice to have for debugging and discussing workarounds. So, in any case, please provide details either here or in a separate issue.

[2021-06-24 10:21] xuhuisheng commented on #1460
@erkinalp
Which package report python3.8 error? I think I can try investigating.

[2021-06-24 10:28] question12345 opened #1503 "AMD Infinity Fabri Link not working"
Hi everybody,

here is my problem:

I have 2 gpu MI100 in my server and they are seen by the system:

========================== Link Type between two GPUs ==========================
GPU0 GPU1
GPU0 0 PCIE
GPU1 PCIE 0

*******************************

Instead, If I connect them with through a bridge (AMD Infinity Fabri Link) then the system doesn't see them anymore at all.

The bridge is a 4 slots

[2021-06-24 11:06] erkinalp commented on #1460
@xuhuisheng `rocm-gdb` depends on `libpython3.8`, which does not exist on 21.04. The earliest Python 3 version available on Ubuntu 21.04 is Python 3.9.

[2021-06-24 14:24] b-sumner commented on #1500
@preda AMD is not in control of the OpenCL specification, although it does participate in the working group.  So if you want to raise issues with them, I would try an issue at https://github.com/KhronosGroup/OpenCL-Docs .

Also, FWIW, clang does __builtin_nontemporal_load and __builtin_nontemporal_store if you want to go nonstandard and nonportable.

[2021-06-24 14:57] ROCmSupport commented on #1503
Hi @question12345
Thanks for reaching out.

Its not architect-ed to work like that.
The bridge tells the firmware that its a 4p hive.

The routing on the bridge is static. It expects to find a GPU in every slot. The PSP firmwares of all GPUs need to coordinate during boot-up. There is some HW topology ID that the firmwares get from the bridge. If you have a 4P bridge, they expect to fine 3 peer GP

[2021-06-24 14:57] #1503 closed

[2021-06-24 15:49] Dan-RAI commented on #1460
just compile and install python3.8 by hand ...

[2021-06-24 16:31] erkinalp commented on #1460
I would rather port `rocm-gdb` to Python 3.9 instead. Because Python 3.8 will is not going to exist in 22.04 anyway.

[2021-06-24 16:45] xuhuisheng commented on #1460
The rocm-gdb is not a key component. Actually we can run pytorch / tensorflow without it. But the rocm-devs contains a dependency to rocm-gdb.
It didn't provide a cmakefiles.txt, so I didn't know how to create a deb package from source.
Should we build the source codes with configure/make, and make deb manually?

[2021-06-24 20:01] preda commented on #1500
@b-sumner thank you for pointing to the LLVM nontemporal load/store builtins, I wasn't aware of them.

About OpenCL, I may consider raising issues there, though I'm not too optimistic about results.

[2021-06-24 20:02] #1500 closed

[2021-06-24 20:56] bigtrak opened #1504 "ROCm 4.2.0 and update to centos-8.4.2105 system panic when GPU or DKMS accessed"
We have been running ROCm 4.2.0 on our centos-8.3 system.   Early this month, through the normal yum update chain, centos-8.4 was installed on our system.

Everything worked great until we tried to use the GPU -- the kernel crashes, and the GPU appears unresponsive.  The
centos-8.3 kernel version was  4.18.0-240.22.1, and the centos-8.4 version is 4.18.0-305.3.1

Debugging this, I noticed that the

[2021-06-25 04:34] ROCmSupport commented on #1499
Hi @preda
Can you please help me with the exact steps to reproduce problem on my own?
And also I request you to check with the latest ROCm 4.2 and share the results.
Thank you.

[2021-06-25 04:42] ROCmSupport commented on #1496
Hi @question12345
The latest question in the previous comment was already answered by me @ https://github.com/RadeonOpenCompute/ROCm/issues/1503
Please take a look and hope it helps.
Thank you.

[2021-06-25 04:46] preda commented on #1499
@ROCmSupport
Put the above bit of source code in an OpenCL file (.cl) and compile it, dumping the result of the compilation using the OpenCL -save-temps= command line option. One of the dumped files contains the disassembly (.s), and in there you can see the value of codeLenInByte, and observer whether correct or wrong.

You can also compare with the disassembly of an equivalent kernel that does n

[2021-06-25 04:56] ROCmSupport commented on #1504
Hi @bigtrak
Thanks for reaching out.
I certainly understood your problem, I am happy to help you.

ROCm does not support CentOS 8.4 right now and so the specific kernel does not work with ROCm and hence crashes and etc.
As you did **yum update**, it tried to OS upgrade/update along with rocm upgrade from 4.1 to 4.2, which is true.
But as we do not support CentOS 8.4 officially yet, things might/do

[2021-06-25 04:56] #1504 closed

[2021-06-25 06:53] zwl773993221 opened #1505 "ROCk module is NOT loaded, possibly no GPU devices"
1.
zwl@ubuntu:~$ cat /proc/version
Linux version 5.4.0-77-generic (buildd@lgw01-amd64-021) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #86~18.04.1-Ubuntu SMP Fri Jun 18 01:23:22 UTC 2021
2.
use TechPowerUp GPU-Z check result is AMD Radeon(TM) Graphics
3.
zwl@ubuntu:~$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:

[2021-06-25 08:23] ROCmSupport commented on #1505
Hi @zwl773993221
Thanks for reaching out.
Can you please help me with the GPU that you use, you can get that information from the below command.
**lspci nn | grep AMG/ATI**

[2021-06-25 08:49] zwl773993221 commented on #1505
HI @ROCmSupport
Thanks for you reply.
the order I give nothing ,but I use other order get information, hope this message have useful

zwl@ubuntu:~$ lspci nn | grep AMD/ATI
Usage: lspci [<switches>]

Basic display modes:
-mm		Produce machine-readable output (single -m for an obsolete format)
-t		Show bus tree

Display options:
-v		Be verbose (-vv for very verbose)
-k		Show kernel drivers handling e

[2021-06-25 09:11] zwl773993221 commented on #1505
Hi @ROCmSupport
Thanks you

I find System -Details , this show:
Ubuntu 18.04.5 LTS
Memory:3.8GiB
Processor:AMD Ryzen 7 4800u with radeon graphics * 2
Graphics:SVGA3D;build;RELEASE;LLVM;

[2021-06-25 09:14] ROCmSupport commented on #1505
Thanks @zwl773993221
Looks like you are using very old radeon graphics. I am still not sure about the graphic card name.
Can you please share the output of **lspci -nn | rep AMD/ATI**

[2021-06-25 09:18] zwl773993221 commented on #1505
@ROCmSupport
Thanks for you reply

It’s a pity, this is a new machine I bought this year, and there is no output from this command.

output nothins

 zwl@ubuntu:~$ lspci -nn | grep AMD/ATI
zwl@ubuntu:~$

If my machine doesn’t support it, please let me know, thank you very much

[2021-06-25 09:22] ROCmSupport commented on #1505
In my case, its showing that my machine is holding Vega10 card.

taccuser@taccuser-X399-DESIGNARE-EX:~$ _lspci -nn | grep AMD/ATI_
43:00.0 VGA compatible controller [0300]: Advanced Micro Devices, Inc. [AMD/ATI] **Vega 10 XL/XT [Radeon RX Vega 56/64]** [1002:687f] (rev c1)
43:00.1 Audio device [0403]: Advanced Micro Devices, Inc. [AMD/ATI] Vega 10 HDMI Audio [Radeon Vega 56/64] [1002:aaf8]

[2021-06-25 09:23] ROCmSupport commented on #1505
Atleast try to share **lspci -nn** output

[2021-06-25 09:24] zwl773993221 commented on #1505
@ROCmSupport

zwl@ubuntu:~$ lspci -nn
00:00.0 Host bridge [0600]: Intel Corporation 440BX/ZX/DX - 82443BX/ZX/DX Host bridge [8086:7190] (rev 01)
00:01.0 PCI bridge [0604]: Intel Corporation 440BX/ZX/DX - 82443BX/ZX/DX AGP bridge [8086:7191] (rev 01)
00:07.0 ISA bridge [0601]: Intel Corporation 82371AB/EB/MB PIIX4 ISA [8086:7110] (rev 08)
00:07.1 IDE interface [0101]: Intel Corporation 82371AB/EB/M

[2021-06-25 09:26] ROCmSupport commented on #1505
Looks like you do not have a physical GPU in the system(as per the lspci output).
Can you please check your system physically that it has a discrete GPU or not?
Thank you.

[2021-06-25 09:39] zwl773993221 commented on #1505
Thank you very much, I just found some information on the Internet, saying that this machine is an integrated graphics card, CPU and GPU in one chip, AMD Ryzen 7 4800U, if this is the case, can my machine pass VMware+ubuntu18.04, come Complete the installation of ROCM for deep learning or machine learning

[2021-06-25 09:45] ROCmSupport commented on #1505
Yes, I got that you are using Ryzen. But I am worrying about discrete GPU.
Thanks for confirming that you do not have a discrete GPU in the system.
ROCm does not support integrated GPUs, it only supports discrete GPUs. Please check [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url) for more information
Thank you.

[2021-06-25 09:45] #1505 closed

[2021-06-25 18:47] psairam369 opened #1506 "ROCk module is NOT loaded, possibly no GPU devices"
I have tried to install ROCm in my pc which has AMD Radeon (TM)RX Vega 10 Graphics as my GPU using steps provided in
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu website
sudo apt update
sudo apt dist-upgrade
sudo apt install libnuma-dev
sudo reboot

wget -qO - http://repo.radeon.com/rocm/apt/debian/rocm.gpg.key | sudo apt-key add -
echo 'deb [arch=amd64] htt

[2021-06-25 19:53] Rmalavally commented on #1506
Thank you for reaching out. Please check the FAQ on ROCm installation at the following location, and let us know if you are unable to resolve the issue.

https://community.amd.com/t5/knowledge-base/frequently-asked-questions-about-rocm-installation/ta-p/475760

[2021-06-28 02:32] ROCmSupport commented on #1506
Hi @psairam369
Can you please help us with the system's environment, to help you better, like OS version, ROCm version, GPU(I got that its Vega10) and share the output of dmesg also.
Thank you.

[2021-06-28 02:49] ROCmSupport commented on #1502
Hi @torehl
Looks like you are trying to install versioned rocprim package on top of nonversioned rocm, which is not allowed right now.
At a time, its recommended to install versioned or nonversioned rocm & its dependent packages. Both versioned and nonversioned can be installed at the same time, which creates problems.
So I recommend to uninstall all rocm components(both versioned and nonversioned

[2021-06-28 05:30] preda commented on #1499
@ROCmSupport I confirm the bug manifests itself in exactly the same way, on ROCm 4.2.0, Linux kernel 5.13.0, without rock-dkms.

[2021-06-28 14:13] psairam369 commented on #1506
I am using Ubuntu 20.04 and I am facing these error
![Screenshot from 2021-06-28 19-41-10](https://user-images.githubusercontent.com/70476269/123651228-ed92d500-d848-11eb-83cb-206d5e49b593.png)

[2021-06-28 19:46] preda opened #1507 "Lots of amdgpu: SDMA gets an Register Write SRBM_WRITE command in non-privilege command buffer with kernel 5.13"
Using ROCm 3.3.0, Linux kernel 5.13.0, Radeon VII, OpenCL without rock-dkms, I get a lot of such messages in dmesg (about one per second) when running gpuowl

[code]

[2021-06-28 19:47] preda commented on #1507
Everything works fine otherwise.

[2021-06-29 03:50] Felix-Petersen opened #1508 "ROCm miopenStatusInternalError /MIOpen/src/sqlite_db.cpp:109: open memvfs: unable to open database file"
## 🐛 Bug

On ROCm 4.2, with PyTorch 1.9.0 installed via

[code]

Running https://github.com/pytorch/examples/tree/master/mnist crashes oftentimes with the error below.
I use an MI50 GPU.
The error sometimes occurs at the very beginning of training, sometimes after the first epoch, sometimes within an epoch and sometimes not at all.

My impression is, that it might have to do with latency or data a

[2021-06-29 04:30] ROCmSupport commented on #1506
Hi @psairam369
Found that installation did not go well and so /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo executables are missed.
Can you please share the content of /opt

And also, as I asked in the previous comment, help me with the system's environment, to help you better, like **OS version, ROCm version, GPU**(I got that its Vega10) and **share the output of dmesg also**.
Thank you.

[2021-06-29 04:42] ROCmSupport commented on #1507
Hi @preda
Thanks for reaching out.
We have not upgraded to 5.13 kernels yet and so can not comment right now.
Is the same is observed with 5.8 and lower versions also? Please confirm.
Thank you.

[2021-06-29 06:38] torehl commented on #1502
I understand. Isn't clearly stated in the installation guide. - From an HPC perspective; I'd like to have a minimum number of packages on the AMD GPGPU enabled nodes, the rest as modules (module environment or lmod). I.e. maybe just driver rocm-dkms plus the minimum required installed. Rest as modules.

Q1: Could you make packages relocatable?    Such that one efficiently could set up environment

[2021-06-29 09:52] preda commented on #1507
@ROCmSupport I don't remember seeing this with any previous Linux kernels -- 5.12, 5.11, 5.8. It clearly looks like something new in 5.13.

[2021-06-29 10:02] ROCmSupport commented on #1507
Thanks for the confirmation @preda
As we are not observing with 5.8 & 5.10 and its confirmed by you also, we both are on the same page.
We are not supporting 5.13 kernels with ROCm 4.2 officially and so I can not comment on this.
Thank you.

[2021-06-29 10:02] #1507 closed

[2021-06-30 05:56] hongbilu opened #1509 "cannot install rocm 2.10 on ubuntu 16.04.7"
hi,
   we're trying install rocm 2.10.14 on ubuntu 16.04.6, but there 're no 64bit ubuntu version
   does it support ubuntu 16.04.7(kernel 4.15.0-142)?,  we've tried but there is compiling issue,plz see logs below, is that possible to fix it?

 DKMS make.log for amdgpu-2.10-14 for kernel 4.15.0-142-generic (x86_64)
make: Entering directory '/usr/src/linux-headers-4.15.0-142-generic'
  CC [M]  /var

[2021-06-30 06:11] ROCmSupport commented on #1509
Hi @hongbilu
Thanks for reaching out.
We are NOT supporting Ubuntu 16.04 officially and also ROCm 2.10 is much old, which is around 2 years old.
I am not sure why are you trying the old code and with old Ubuntu version too.
Recommend to try with the latest ROCm 4.2 + Ubuntu 20.04.2(or Ubuntu 18.04.5).
Thank you.

[2021-06-30 06:18] hongbilu commented on #1509
by the way, i tried to modify /var/lib/dkms/amdgpu/2.10-14/build/amd/amdgpu/amdgpu_bios.c

#if 0
static bool amdgpu_read_platform_bios(struct amdgpu_device *adev)
{
        uint8_t __iomem *bios;
        size_t size;

        adev->bios = NULL;

        bios = pci_platform_rom(adev->pdev, &size);
        if (!bios) {
                return false;
        }

        adev->bios = kzalloc(size, GFP_K

[2021-06-30 06:21] hongbilu commented on #1509
because we  want to use rocSHMEM which only have been verified on rocm 2.10, so we need to install rocm 2.10

[2021-06-30 07:06] ROCmSupport commented on #1509
Hi @hongbilu
[https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/issues/62](url) might help you on the bar resizing problem.

[2021-06-30 08:20] ROCmSupport commented on #1508
Thanks @Felix-Petersen for reaching out.
Can you please share me the exact steps(step by step) to reproduce the problem.
Thank you.

[2021-06-30 11:37] #1509 closed

[2021-07-01 05:38] ROCmSupport commented on #1483
I am closing this now as the issue is fixed with the latest ROCm 4.2
Thank you.

[2021-07-01 05:38] #1483 closed

[2021-07-01 06:31] ROCmSupport commented on #1481
As its specific to your machine, request you to flash with a clean OS and check.
I checked in 3 machines and able to find the file in all machines.
Thank you.

[2021-07-01 06:31] #1481 closed

[2021-07-01 12:54] ROCmSupport commented on #1506
Hi @psairam369
Can you please follow as suggested in the previous comment and help us with information, so that we will provide faster resolution.
Thank you.

[2021-07-01 13:50] psairam369 commented on #1506
Hi my system configuration are
OS version : Ubuntu 20.04
Thank you

[2021-07-01 14:53] psairam369 commented on #1506
![Screenshot from 2021-07-01 20-20-48](https://user-images.githubusercontent.com/70476269/124144860-f6361600-daa9-11eb-8ee9-f4c871ca2a5c.png)

[2021-07-01 15:21] sanjtrip commented on #1506
ROCM-TechSupport-Log script can be used to collect system info. It's at : https://github.com/amddcgpuce/rocmtechsupport

[2021-07-03 14:29] flowpoint commented on #1188
if you or anyone is still hitting this, like me, the solution seems to be setting
cmake ... -DBITCODE_DIR=path_to_rocm/ROCm/ROCm-Device-Libs/build/dist/amdgcn/bitcode ...

[2021-07-03 17:16] preda opened #1510 "LLVM's __builtin_nontemporal_store() assertion failure"
Using ROCm 4.2.0, LLVM head build, Linux kernel 5.13.0, Radeon VII,

I tried to use  __bultin_nontemporal_store() as per https://github.com/RadeonOpenCompute/ROCm/issues/1500#issuecomment-867679552

And I hit this LLVM assert:
[code]

To repro:
- checkout gpuowl at this commit: https://github.com/preda/gpuowl/tree/b1656272cc9160fdaebf04b2719619b534f3456c (i.e. the NTT2 branch)
- compile, and run w

[2021-07-03 18:32] b-sumner commented on #1510
@preda since it appears to be an assert, could you post a minimal plain OpenCL C source kernel source right here?  And the message printed by the assert?

[2021-07-03 18:49] preda commented on #1510
[code]

[code]

[2021-07-03 18:55] preda commented on #1510
This triggers it too, and it doesn't get much simpler than that:
[code]

[2021-07-04 02:49] b-sumner commented on #1510
Thank you very much!  This is quite a surprise.

[2021-07-04 13:20] poohzaza166 opened #1511 "is rocm gpg file expired"
~ wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | sudo apt-key add -
Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
gpg: invalid key resource URL '/tmp/apt-key-gpghome.cxQTQYrmSe/home:manuelschneid3r.asc.gpg'
gpg: keyblock resource '(null)': General error
gpg: key 1488EB46E192A257: 1 signature not checked due to a missing key
gpg: key 1488E

[2021-07-04 17:28] Spacefish commented on #887
https://gitlab.freedesktop.org/agd5f/linux/-/commit/78d62bd72a18891e0851f95c7ed19fc317c9d02a <- might be a fix that hints at upcoming ROCm Support for Navi 10 :D but not sure.

[2021-07-06 02:53] ROCmSupport commented on #1511
Thanks @poohzaza166 for closing this issue.
Hope issue is resolved for you.
More information on this: ROCm supports LTS versions of OS officially right now, pop os is not supported.
Thank you.

[2021-07-06 03:41] poohzaza166 commented on #1511
yea it turn out that there is a another gpg key that is causing the trouble

[2021-07-06 05:53] ROCmSupport commented on #1476
Hi @nolta
I am still observing the same issue after above checks.
Can you please share more information to proceed further.
Thank you.

[2021-07-06 07:26] ROCmSupport commented on #1506
Hi @psairam369
Can you please share output of dmesg.
Looks like GPU is not detected or ROCm installation did not go well.

[2021-07-06 15:55] nolta commented on #1476
Can you post your copy of `build-offload/amdgcn-amdhsa/gfx900/libgcc/config.log`?

[2021-07-07 03:52] ROCmSupport commented on #1448
Latest update:
Docs updated with all information now.
Thank you.

[2021-07-07 03:52] #1448 closed

[2021-07-07 06:45] hongbilu opened #1512 "does rocm2.10 support printf in kernel?"
i tried a demo code like this:
`
#include "hip/hip_runtime.h"
#define HIP_ENABLE_PRINTF
 __global__ void run_printf()
{
   printf("hello world\r\n");
}

int main(int argc, char ** argv) {
   hipLaunchKernelGGL(HIP_KERNEL_NAME(run_printf), dim3(1), dim3(1), 0, 0);
   hipDeviceSynchronize();
   return 0;
}
`
and compile
/opt/rocm/bin/hipcc $(/opt/rocm/bin/hipconfig --cpp_config) -L/opt/rocm/lib/ che

[2021-07-07 06:56] ROCmSupport commented on #1512
Hi @hongbilu
Thanks for reaching out.
I will take a look and do the needful for you.

[2021-07-07 06:57] ROCmSupport commented on #1512
Hi @hongbilu
ROCm 2.10 is very old, which is released around 2 years back. It did not support printf that time.
Recommend to try with the latest ROCm 4.2GA which has printf support.
Hope this helps.
Thank you.

[2021-07-07 06:58] #1512 closed

[2021-07-07 10:28] ROCmSupport commented on #1476
taccuser@taccuser-GA-990FXA-UD5:~$ cat /tmp/tmp.e2lZV6kwY8/build-offload/amdgcn-amdhsa/libgcc/config.log
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by GNU C Runtime Library configure 1.0, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ /tmp/tmp.e2lZV6kwY8/gcc-11.1.0/libgcc

[2021-07-07 12:14] Mushoz commented on #1416
How is this considered "solved" though? I am using a 6900xt + 6800xt in my rig. Under Windows I can use them both just fine with OpenCL. Under Linux, only the first GPU will ever work with the second GPU complaining in dmesg about missing PCI-E atomic support.

Why does this work properly on Windows, but not on Linux?

[2021-07-07 12:47] ROCmSupport commented on #1416
Hi @Mushoz
As the issue is already closed, recommend to open a new issue, if any, for faster resolutions.
Thank you.

[2021-07-07 14:20] nolta commented on #1476
That's not the right file: you posted `build-offload/amdgcn-amdhsa/libgcc/config.log`, not `build-offload/amdgcn-amdhsa/gfx900/libgcc/config.log`. Note the `gfx900`.

[2021-07-07 14:37] ROCmSupport commented on #1476
Hi @nolta
There is no gfx900 folder path.
build-offload/amdgcn-amdhsa/libgcc/config.log only available in the path.

[2021-07-07 14:45] nolta commented on #1476
Have you changed your setup? It apparently existed when you first tried on June 1:

[code]

[2021-07-07 14:56] ROCmSupport commented on #1476
True @nolta
I changed the machine to Radeon7 as this is the available machine right now.

[2021-07-08 06:25] gp1322719830 opened #1513 "AMD CPUs don't have other acceleration solutions on Windows?"
Our test environment is the Win10 test platform:
CPU: Ryzen 7 5800X 8-core 16 threads (Zen3 architecture)
GPU: Radeon RX 5500 XT (rDNA Architecture)

[2021-07-08 06:41] ROCmSupport commented on #1513
Hi @gp1322719830
Thanks for reaching out.
Currently, ROCm is a Linux based solution.
Going forward AMD may decide to support other different OS/distributions based on our clients requirements and management Policies.
Thank you.

[2021-07-08 06:41] #1513 closed

[2021-07-08 07:20] gp1322719830 commented on #1513
Is there a deep learning accelerator in Windows？

[2021-07-08 07:21] gp1322719830 commented on #1513
Is there a deep learning acceleration solution for Windows right now?

[2021-07-08 09:01] ROCmSupport commented on #1355
Hi @nlgranger
Can you please do the needful as mentioned in above comment and confirm.
Thank you.

[2021-07-08 09:04] ROCmSupport commented on #1476
Please let me know to move further.
Thank you.

[2021-07-08 09:13] ROCmSupport commented on #1508
Hi @Felix-Petersen
I am waiting for your update.
Can you please share me the exact steps(step by step) to reproduce and better understanding of the problem.
Thank you.

[2021-07-08 11:11] Mushoz opened #1514 "6900xt + 6800xt setup: Cannot run OpenCL on second GPU due to missing PCI-E Atomics"
I am using ROCm to run OpenCL code on two 6xxx series GPUs. However, it is only running on the first GPU that's connected directly to the CPU PCI-E lanes (B550 motherboard). The second PCI-E slot is using PCI-E lanes from the chipset instead, and PCI atomics are not supported there. Dmesg confirms the issue:

`"skipped device XXX, PCI rejects atomics",`

Interestingly, I installed Windows 10 on a

[2021-07-08 11:11] Mushoz commented on #1416
Sure, I opened a new issue here: https://github.com/RadeonOpenCompute/ROCm/issues/1514

[2021-07-08 13:15] nolta commented on #1476
I don't know what's wrong with your current setup:

[code]

Can you go back to your original setup?

[2021-07-08 16:09] ROCmSupport commented on #1129
Fix is ready and changes are pushed to internal code and fix is available most likely in 4.3 or less likely in 4.4 code.
Thank you.

[2021-07-09 03:23] ROCmSupport commented on #1495
Hi @FilipVaverka
Can you please share below logs for better understanding of the problem.

# Collect cosole log from following run
<shell-prompt> rocminfo

# Collect cosole log from following run
<shell-prompt> rocm-bandwidth-test  -t

[2021-07-09 06:06] ITfirewall commented on #884
Hi heero-yuy, how are you?

Long long time... I didn't come here because I got a new job.... hard times, friend.

How is the new ROCm 4.2??   Is it working right out the box on Ubuntu 18.04 LTS ????

Which video-card model are you using??

I 'm coming back to test some stuff in the next weeks (IT tasks).

Thank you for all the help.

[2021-07-09 06:26] ROCmSupport commented on #1502
Hi @torehl ,

      A1 : Its work in progress.
      A2 : You need to elaborate your expectation. We are distributing binaries as we know.
      A3 : From the documentation, you can check that our solution is compatible to Linux, but as per our policy our solution is validated on the distributions as per the release notes. Distributions / stock Linux verification can vary based the request of our

[2021-07-09 07:02] gp1322719830 opened #1515 "Is there a deep learning acceleration solution for Windows right now?"

[2021-07-09 07:55] FilipVaverka commented on #1495
Here are requested logs:
- [rocminfo_log.txt](https://github.com/RadeonOpenCompute/ROCm/files/6789730/rocminfo_log.txt)
- [rocm_bandwidth_test_log.txt](https://github.com/RadeonOpenCompute/ROCm/files/6789731/rocm_bandwidth_test_log.txt)
- [clinfo_log.txt](https://github.com/RadeonOpenCompute/ROCm/files/6789733/clinfo_log.txt)

[2021-07-09 08:00] ROCmSupport commented on #1515
Hi @gp1322719830
Thanks for reaching out.
"ROCm" is a Linux based solution. We do not have a deep learning acceleration solution for Windows right now.
Going forward AMD may decide to support other different OS/distributions based on our clients requirements and management Policies.
Thank you.

[2021-07-09 08:00] #1515 closed

[2021-07-09 08:04] ROCmSupport commented on #884
Hi @ITfirewall
Thanks for reaching out.
ROCm 4.2 is a well matured one, which works perfect with Ubuntu 18.04 LTS.
ROCm supports Vega10/MI25, Vega20/MI50, MI100 cards officially.
Request you to try with the latest ROCm 4.2 and reach us for any queries. File new issues, for faster/quick resolution.
Thank you.

[2021-07-09 08:04] #884 closed

[2021-07-09 08:21] ROCmSupport commented on #1514
Thanks @Mushoz for reaching out.
I understood that you are using Navi21 cards.
ROCm currently does not support Navi21 and support will be added soon before the end of this year, please stay tuned for the updates.
Meanwhile I recommend to check the Hardware support page for more information: [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url) and look for CPU section.
Hop

[2021-07-09 08:21] #1514 closed

[2021-07-09 09:10] bendisco51 opened #1516 "Memory access fault by GPU node-2 (Agent handle: 0x55921bba97b0) on address (nil). Reason: Page not present or supervisor privilege. Aborted (core dumped)"
Hello,
I'm new to amd computing and have a problem with ROCm and clinfo.

System information :
Ubuntu 20.04 LTS up to date (kernel 5.4.0-77-generic x64)
AMD Ryzen 7 5800x with 2X Radeon 6700 XT

I have installed rocm with : apt install rocm-dkms
How solve this problem please ?

**Result of rocminfo :**

ROCk module is loaded
=====================
HSA System Attributes
=====================
Runtime

[2021-07-09 09:57] ROCmSupport commented on #1516
Hi @bendisco51
Thanks for reaching out.
We are not officially supporting gfx10 devices right now with ROCm. Hence can not comment more on this.
Thank you.

[2021-07-09 09:57] #1516 closed

[2021-07-09 10:07] MichelBr commented on #1376
It's also one of the reasons I'm looking at intel after a long time. At least they have tensorflow-support throughout their whole new line. Certainly with the new tigerlake-graphics and upcoming dg2. You should even be able to virtualize them, although that isn't my goal.

Anyway, I also have been monitoring and even worked with rocm on vega. But their bad hardware-support for the radeaon graphics

[2021-07-09 10:08] ROCmSupport commented on #1495
Thanks for the logs.
I have shared to developer. Thank you.

[2021-07-09 10:27] seesturm commented on #1514
Regarding the "CPU section" in "Hardware support page" (btw the link does not work):
The CPU section was written at a time when PCIe atomics were quite new and ROCm had to use the platforms which were available. But now already several years have passed. The platform of the issue creator (Ryzen + B550 chipset) was developed after ROCm was first released and is in full control by AMD.

Why does thi

[2021-07-09 12:02] xuhuisheng commented on #1514
I think the PCIe atomics requirement is a disaster.
It is hard to explain why the CPU and motherboard cannot run ROCm on some AMD gpu - gfx803 or navi.
Or as this issue, one card can be detected successfully, the other not.

The gfx900, gfx906, gfx908 wont require PCIe atomics for CPU and motherboard, It will be appreciate that we could skip PCIe atomics requirement.

[2021-07-09 20:36] seesturm commented on #1495
https://github.com/ROCm-Developer-Tools/HIP/issues/2214 is related to this.

[2021-07-10 13:30] wormwang opened #1517 "ROCm for Windows"
CUDA support Windows
When ROCm support Windows and WSLg?

[2021-07-10 13:32] wormwang commented on #942
when support Navi ？ After so many Navi based Radeon pro card released.

[2021-07-12 02:44] terU3760 opened #1518 "hipconfig seems missing some package dependency"
When manually installed HIP according to here: [HIP-Installation](https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP-Installation.html). And run the following command:

`/opt/hip/bin/hipconfig --full`

shows:

[code]

it says: Can't exec "/opt/rocm/bin/rocm_agent_enumerator" ...... , how to fix it?

[2021-07-12 03:51] gp1322719830 opened #1519 "What are the deep learning acceleration solutions for AMD CPUs"

[2021-07-12 05:12] ROCmSupport commented on #942
Thanks @NiklasDallmann for reaching out.
Please expect support of some version of Navi cards before end of this year. I can not share more details on specific versions due to limitations.
Hope this helps.
Thank you.

[2021-07-12 05:12] #942 closed

[2021-07-12 05:14] ROCmSupport commented on #1495
Hi @FilipVaverka
Looking at the logs of RBT I don't see a reason as to why RBT run should fail.
One thing to try is to run RBT in node-to-node scheme for following scenarios:

    RBT -s 0 -d 1
    RBT -s 0 -d 2
    RBT -s 1 -d 2
    RBT -s 1 -d 1
    RBT -s 2 -d 2

If my hunch is correct, one of the intra-device runs should fail (RBT -s 1 -d 1 or RBT -s 2 -d 2). Please update ticket with your obs

[2021-07-12 05:15] ROCmSupport commented on #1517
Hi @wormwang
Thanks for reaching out.
"ROCm" is a Linux based solution. We do not have ROCm solution for Windows right now.
Going forward AMD may decide to support other different OS/distributions based on our clients requirements and management Policies.
Thank you.

[2021-07-12 05:15] #1517 closed

[2021-07-12 05:20] ROCmSupport commented on #1518
Thanks @terU3760 for reaching out.
I will definitely help you, let me take a look.
Thank you.

[2021-07-12 05:23] ROCmSupport commented on #1518
Hi @terU3760
Looking at the error message, found that HIP installation did not go well.
/opt/hip/bin/hipcc is a wrong path from the error message you pasted.
**Make sure that once HIP installed successfully under /opt/rocm/hip**

hip-clang-cxxflags : Can't exec "/opt/rocm/bin/rocm_agent_enumerator": No such file or directory at **/opt/hip/bin/hipcc** line 592.
Use of uninitialized value $targetsSt

[2021-07-12 06:26] terU3760 commented on #1518
Hi, @ROCmSupport
Fatually I looked at the code of /opt/hip/bin/hipcc .
It is:

[code]

But I found factually rocm_agent_enumerator was installed under:
`/usr/bin/rocm_agent_enumerator`
Which I installed ROCclr via runnning:
`sudo make install`
What should I do to make it run correctly?

[2021-07-12 07:07] FilipVaverka commented on #1495
Neither of intra-device runs fail. It is Device-to-Device communication that causes issues:
- [rbt_s_2_d_1_log.txt](https://github.com/RadeonOpenCompute/ROCm/files/6799189/rbt_s_2_d_1_log.txt) - while this run causes bunch of SDMA messages in the system log [rbt_s_2_d_1_sys_log.txt](https://github.com/RadeonOpenCompute/ROCm/files/6799242/rbt_s_2_d_1_sys_log.txt)
- [rbt_s_1_d_2_log.txt](https://git

[2021-07-12 08:54] ROCmSupport commented on #1518
Hi @terU3760
Looks like everything got messed up.
To try/install/build anything, you need to have rocm installed on your machine first.
So I request you to do the below things.

1. clean your machine from rocm and all other things
sudo apt autoremove rocm-dkms and check if everything is removed. Check this by "sudo dpkg -l | grep rocm".
Next replace rocm to rock, hsa,hip,llvm, comgr and remove one

[2021-07-12 08:54] #1518 closed

[2021-07-12 10:05] sampie opened #1520 "Wavelet calculation support in ROCm"
I am wondering if ROCm is a good platform for doing scientific calculations, particularly for wavelet calculations. Does ROCm have a math library for calculating Mexican hat wavelet transforms? I could not find good documentation answering this question.

[2021-07-13 03:17] ROCmSupport commented on #1519
Thanks @gp1322719830 for reaching out.
Let me take a look and help you with the needed information.
Thank you.

[2021-07-13 03:40] ROCmSupport commented on #1520
Thanks @sampie for reaching out.
I will check this for you and get back asap.
Thank you.

[2021-07-13 11:51] nlgranger commented on #1355
torchvision is broken in the docker rocm/pytorch image and the pytorch from the official pytorch rocm build doesn't see the GPUs.

[2021-07-13 19:52] aoolmay opened #1521 "6800XT OpenCL bad parallel compute performance"
I'm transitioning my workloads from old and failing 803gfx WX cards to new 1030gfx cards. I have a test setup with a 6800XT where i encounter an issue where first two workloads i dispatch are treated with somewhat equal priority and are executed quite fast, but every consecutive program that uses OpenCL seems to be disproportionately disadvantaged and executes at what seems like 1:3 rate, until th

[2021-07-14 04:07] ROCmSupport commented on #1521
Hi @aoolmay
Thanks for reaching out.
Navi is not supported with ROCm. Until then, I can not comment on this issue.
Please stay tuned for some time so that the support will be enabled.
Thank you.

[2021-07-14 04:07] #1521 closed

[2021-07-14 06:34] gp1322719830 opened #1522 "Docker pulls the ROSM mirror and reports an error"
Docker pulls the ROSM mirror to report the following error：
docker: unknown server OS: .

[2021-07-14 06:59] ROCmSupport commented on #1355
Hi @nlgranger
Can you please share more details on rocm/pytorch image and steps to reproduce.
Thank you.

[2021-07-14 07:15] ROCmSupport commented on #1522
Hi @gp1322719830
Thanks for reaching out.
For better understanding of problem, can you please share the steps you followed.
Please share all steps to reproduce the problem.
Thank you.

[2021-07-14 07:50] gp1322719830 commented on #1522
sudo docker pull rocm/tensorflow:latest

[2021-07-14 07:51] gp1322719830 commented on #1522
sudo docker pull rocm/tensorflow:latest
sudo docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video rocm/tensorflow:latest

error:
docker: unknown server OS: .

[2021-07-14 08:41] gp1322719830 opened #1523 "Ubuntu 18.04.5 LTS：The KFD-related kernel was not successfully installed"
**Question 1**
"lsmod | grep kfd" has no content.

**Question 2**
How to install KFD-related linux kernel?

[2021-07-14 09:20] cnergyone opened #1524 "ROCm RDNA2 support"
Issue: ROCm doesn't work on RDNA2 GPUs like 6900 XT.
Why: 6900 XT is good platform to run PyTorch and Tensorflow
Expected: Be able to use ROCm versions of PyTorch and TensforFlow on Ubuntu 20 and up

[2021-07-14 09:26] rkothako commented on #1522
Hi @gp1322719830
I am not able to reproduce this problem.
I have a Ubuntu 20.04.2 machine with Vega10 card in it.
I just did _sudo docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video rocm/tensorflow:latest_ and docker image was pulled.

**Digest: sha256:dcd14d6f1c3328eb90a0c1dd71b1693e6a98b68b6597617b88c0af3acabea91d
Status: Downloaded newer image

[2021-07-14 09:27] ROCmSupport commented on #1522
Hi @gp1322719830
I am not able to reproduce this problem.
I have a Ubuntu 20.04.2 machine with Vega10 card in it.
I just did sudo docker run -it -v $HOME:/data --privileged --rm --device=/dev/kfd --device=/dev/dri --group-add video rocm/tensorflow:latest and docker image was pulled.

Digest: sha256:dcd14d6f1c3328eb90a0c1dd71b1693e6a98b68b6597617b88c0af3acabea91d
Status: Downloaded newer image for

[2021-07-14 09:44] ROCmSupport commented on #1523
Hi @gp1322719830
Thanks for reaching out.

lsmod | grep kfd --> I dont think it will show results because kfd is not a module. Instead you can try with amdgpu modules like this: lsmod | grep amdgpu

If you wish to check on rocm dkms kernel, do like this: sudo dpkg -l | grep rock-dkms (which will show both kfd and firmware packages)

For ex:
taccuser@taccuser-GA-990FXA-UD5:~$ sudo dpkg -l | grep ro

[2021-07-14 10:38] ROCmSupport commented on #1524
Hi @cnergyone
Thanks for reaching out.
We are working on enabling some series of Navi cards into ROCm(internal validation is ongoing), but it will take little more time.
Please stay tuned for updates through our documentation.
Thank you.

[2021-07-14 10:38] #1524 closed

[2021-07-15 13:40] gp1322719830 opened #1525 "ERROR："hipErrorNoBinaryForGpu: Unable to find code object for all current devices!""
ERROR："hipErrorNoBinaryForGpu: Unable to find code object for all current devices!"

DEVICE
**********************************
Name:                            gfx1012
Uuid:                              GPU-XX
Marketing Name:          Navi 14 [Radeon RX 5500/5500M / Pro 5500M]
Vendor Name:               AMD
Feature:                         KERNEL_DISPATCH
Profile:                           BASE_PR

[2021-07-15 13:41] #1523 closed

[2021-07-15 13:41] gp1322719830 commented on #1523
Solved,thanks!

[2021-07-15 13:41] #1522 closed

[2021-07-15 13:41] gp1322719830 commented on #1522
Solved,thanks!

[2021-07-15 13:46] gp1322719830 opened #1526 "When will RDNA2 be supported?"

[2021-07-15 14:10] ROCmSupport commented on #1525
Hi @gp1322719830
Thanks for reaching out.
We are not supporting Navi14 with ROCm now and so things can not work.
Please stay tuned at our documentation for all updates.
Thank you.

[2021-07-15 14:10] #1525 closed

[2021-07-16 06:50] ROCmSupport commented on #1526
Hi @gp1322719830
Thanks for reaching out.
We are working on enabling some series of Navi cards into ROCm(internal validation is ongoing), but it will take little more time.
Please stay tuned for updates through our documentation.
Thank you.

[2021-07-16 06:50] #1526 closed

[2021-07-16 06:57] ROCmSupport commented on #1476
Sure Nolta, that old machine is not accessible. Let me try on a different machine and update you asap.
Thank you.

[2021-07-16 07:04] nlgranger commented on #1355
Running the commands to reproduce the bug above, I now get:
[code]
Which is symptomatic from torchvision not being in sync with the version of pytorch.

[2021-07-16 08:14] nlgranger commented on #1355
I think I have solved the issue:

Pytorch automatically sets OMP_NUM_THREADS=1 to prevent an explosion of the number of threads when running distributed experiments on servers with many cores. By raising that to 8, the experiment runs at a reasonable speed.

When running the experiment now:
- CPU usage is the same as before: ~1 core at 100%, it can't go below that because I think pytorch uses a bu

[2021-07-16 09:45] nlgranger commented on #1355
FYI one training epoch on a single NVIDIA p5000 takes 5H, on the vega frontier it is estimated to about one day.

[2021-07-16 12:27] ams-cs commented on #1476
Hi @nolta , GCC has not been tested with that version of LLVM. Please try again with LLVM9, as per the Wiki instructions. Newer versions had incompatible changes made.

We're working on supporting LLVM12+ in GCC 12, but for now the recommended version is LLVM9.

[2021-07-17 08:18] caprinux opened #1527 "Running square.out causes entire system to hang and screen to flicker a few times"
As the title stated, I am trying to get ROCm to work on my Laptop with AMD Ryzen 7 4800U with integrated Radeon graphics.

I am using Ubuntu 20.04, with kernel 5.8.0-59-generic.
I've also tried reinstalling rocm multiple times with:
[code]
Without rebooting my laptop, running square.out works perfectly fine.

However, when I try rebooting ubuntu and running the same program again, I get the follow

[2021-07-18 10:40] jwarnier opened #1528 "Conflicts with amdgpu on Ubuntu 20.04"
This output should be self-explanatory:
`jwarnier@amdrx6900xtu:~$ sudo apt install rocm-dkms
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  linux-hwe-5.8-headers-5.8.0-59 xserver-xorg-video-fbdev xserver-xorg-video-nouveau xserver-xorg-video-qxl xserver-xorg-video-radeon xser

[2021-07-18 20:57] KristijanZic commented on #1397
@da-phil I don't know. I haven't tested it lately. Although I can report that the latest AMDGPU-PRO 21.20 --opencl=rocr is broken. Clinfo gives out normal output but none of the apps that require opencl actually work. DaVinci Resolve doesn't even start and Blender doesn't render. Darktable crashes because it can see opencl but can't use it.

[2021-07-18 21:00] KristijanZic commented on #1345
@ROCmSupport what is the ETA for that work?

Proper ROCm support is very much needed now (like yesterday) since AMDGPU-PRO 21.20 is broken again and DaVinci Resolve is not launching, Blender is not rendering, Darktable crashes etc. Nothing works on 21.20. We need a proper driver.

[2021-07-19 04:39] ROCmSupport commented on #1345
Hi @KristijanZic
I don't have exact timelines right now, but tentatively before end of 2021.
I will surely share some information, once I receive, if any.
Thank you.

[2021-07-19 05:02] ROCmSupport commented on #1508
As there is no response from user for around 20 days, closing this ticket.
Request user to log a new ticket, if any, with all required details.
Thank you.

[2021-07-19 05:02] #1508 closed

[2021-07-19 05:58] johnbridgman commented on #1345
Can you remind me which GPU and DaVinci version you are using ? As far as I know Blender rendering should be part of the standard testing for the packaged graphics driver releases like 21.20.

As ROCmSupport said we still have some work to do in terms of getting graphics integration and coverage in the ROCm stack releases, but the graphics driver releases should already have some coverage. I'm not

[2021-07-19 10:03] ROCmSupport commented on #1476
Hi @nolta
Request to follow as per previous comment by @ams-cs and share an update.
Thank you.

[2021-07-19 13:36] blattms commented on #631
@commandline-be Had the same problem when trying to install rocm-dev as described in the [installation nodes ](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#using-debian-based-rocm-with-upstream-kernel-drivers) You have to choose version rocm-dev in version 3.7 on Debian buster (for all later versions rocm-gdb has the dependecy on libpython3.8) You can do that by re

[2021-07-20 00:38] KristijanZic commented on #1345
AMD Radeon RX Vega 64 Liquid Cooling
DaVinci Resolve Studio 17.2.2
Blender 2.93.1

OS: Ubuntu 20.04.2 LTS x86_64
Kernel: 5.8.0-59-generic
DE: GNOME
WM: Mutter
CPU: AMD Ryzen Threadripper 1900X (16) @ 3.800GHz
GPU: AMD ATI Radeon RX Vega 56/64

With AMDGPU-PRO 21.20 DaVinci Resolve (multiple versions) don't start and Blender (multiple versions) can't render with GPU.
Haven't tested ROCm since it st

[2021-07-20 07:10] ROCmSupport commented on #1527
Thanks @caprinux for reaching out.
ROCm does not support integrated GPUs and so things might not work.
I can not comment much on this as its not a supported configuration.
Please check [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url) for supported hardware with ROCm
Thank you.

[2021-07-20 07:10] #1527 closed

[2021-07-20 07:14] ROCmSupport commented on #1528
Hi @jwarnier
Thanks for reaching out.
I certainly understood your problem.

We do not recommend keeping both amdgpu-pro and ROCm on the same machine. ROCm installs amdgpu as the base driver. A separate and additional installation of amdgpu-pro will break ROCm as it cannot handle both packages.
Hope this helps.
Thank you.

[2021-07-20 07:14] #1528 closed

[2021-07-20 09:05] aep opened #1529 "documentation for aarch64"
there's various bugs around aarch64, so it seems supported, but it isnt documented.

going through https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html
using ubuntu, since this is required by the CPU vendor (NXP)

however, the repos are only for x86_64, so no packages can be installed from this

i'm assuming this means aarch64 requires a from source build?

[2021-07-20 10:43] ams-cs commented on #1476
I have updated the GCC wiki to make the LLVM version requirements explicit.

I think LLVM 10 might work, but have not tested it extensively. LLVM 11 and 12 have known issues. The issues that are LLVM bugs have been fixed upstream and should be in the next LLVM release. The compatibility issues will be addressed in GCC 12.

[2021-07-21 03:44] gp1322719830 opened #1530 ""hipErrorNoBinaryForGpu: Unable to find code object for all current devices!""
*******
  Name:                    gfx908
  Uuid:                    GPU-25f19f8eb963f436
  Marketing Name:          Device 738c
  Vendor Name:             AMD
  Feature:                 KERNEL_DISPATCH
  Profile:                 BASE_PROFILE
  Float Round Mode:        NEAR
  Max Queue Number:        128(0x80)
  Queue Min Size:          4096(0x1000)
  Queue Max Size:          131072(0x20000)
  Que

[2021-07-21 03:46] gp1322719830 commented on #1519
Hello, my dear, is there any progress？

[2021-07-21 03:49] gp1322719830 opened #1531 "When will the next version of ROCM be released?"

[2021-07-21 04:16] ROCmSupport commented on #1529
Hi @aep
Thanks for reaching out.
ROCm supports x86(x86_64) architecture officially. We do not have official support for aarch64.
Thank you.

[2021-07-21 04:16] #1529 closed

[2021-07-21 04:17] ROCmSupport commented on #1530
Thanks @gp1322719830 for reaching out.
Can you please share the outputs of **/opt/rocm/bin/rocminfo** and **/opt/rocm/opencl/bin/clinfo** for better understanding of the problem.
Thank you.

[2021-07-21 04:18] ROCmSupport commented on #1531
Hi @gp1322719830
Thanks for reaching out.
ROCm 4.3 will be released tentatively by the end of this month.
Thank you.

[2021-07-21 04:18] #1531 closed

[2021-07-21 05:58] gp1322719830 commented on #1530
(base) [root@localhost opt]# /opt/rocm/bin/rocminfo
ROCk module is loaded
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (0xFFFFFFFFFFFFFFFF) (timestamp count)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
A

[2021-07-21 08:11] ROCmSupport commented on #1519
Hi @gp1322719830, have gotten update on this.

On the CPU side, we have ZenDNN CPU inference accelerator library. You can get more info at: https://developer.amd.com/zendnn/ Please contact us (ZenDNN) on the email provided there for any updates / questions on ZenDNN.
Request you to not to log issues / questions against CPUs in this space.
Hope this helps.
Thank you.

[2021-07-21 08:11] #1519 closed

[2021-07-21 08:59] ROCmSupport commented on #1530
Got it. Looks like you are using 7*MI00 GPU configuration. Thanks for the details.
Can you please help me with reproducing the problem by sharing the exact steps.
Thank you.

[2021-07-21 09:13] gp1322719830 commented on #1530
Chinese?

[2021-07-21 09:13] gp1322719830 commented on #1530
Could you please provide your contact information？

[2021-07-21 09:16] ROCmSupport commented on #1530
Hi @gp1322719830
We, ROCm Support, is a group here, not a single contact.
Request you to provide the exact steps for reproducing the problem.
Thank you.

[2021-07-21 17:32] gggh000 opened #1532 "roctracer does not build and/or run"
I had build going by changing Makefile as follows but make test still fails due to missing library:
Rocm4.2 on ubuntu1804:

[code]

[2021-07-21 17:47] gggh000 commented on #1532
Following modification in test/MatrixTranspose_test make it working both build and run:

[code]

[2021-07-21 20:03] gggh000 opened #1533 "roctracer matrixtransport_test example can not run with rocprof"
The problem with Makefile in the test utility called MatrixTransport_test is
ROCM_LIBS appears to be defined to include all lib binaries in the executable.
Then there seems dynamic on the fly loading of libraries under test target with LD_PRELOAD.
But if I run executable alone it will not work since libraries under preload is missing.

if I insert rocprof in the LD_PRELOAD line, it just does not w

[2021-07-25 17:34] Photonico opened #1534 "Installation Problems on openSUSE Tumbleweed."
Hi,

My PC has AMD CPU(Ryzen 5900X) and an AMD graphic card(RX6800XT) (Of course, I'm a super AMD fan), so I want to use my GPU to do some scientific computation. The operating system is openSUSE Tumbleweed(20210726). I want the minimal installation of ROCm on my PC.

I add the repository resource via: `sudo zypper addrepo --no-gpgcheck http://repo.radeon.com/rocm/zyp/zypper/ rocm`
But I don't kno

[2021-07-26 03:18] leofang commented on #1534
Taking the discussion from cupy/cupy#5559 to here, as this is largely a ROCm issue instead of a CuPy issue.

@Photonico reported that following the standard ROCm installation guide for SUSE-based distros would result in `libffi` not found. Maybe @ROCmSupport could share insight on whether this is a known issue for openSUSE Tumbleweed?

cc: @amathews-amd (for vis)

[2021-07-27 07:06] ROCmSupport commented on #1532
Thanks @gggh000 for reaching out.
Let me take a look.
Thank you.

[2021-07-27 07:07] ROCmSupport commented on #1533
Thanks @gggh000 for reaching out.
Let me take a look.
Thank you.

[2021-07-27 07:16] ROCmSupport commented on #1534
Hi @Photonico
Thanks for reaching out.
Let me check this for you.
Thank you.

[2021-07-27 07:20] ROCmSupport commented on #1534
Hi @Photonico
When I go through the description of the ticket, I came to know that you are using Suse Tumbleweed.

2 points I wish to highlight here.
ROCm supports the latest SLES SP2 and it does not support any other variants of OpenSUSE currently.
And also RX6800XT is not a supported card with ROCm right now.

Anyhow, I will try to help you as much as I can.
Installation steps you followed are n

[2021-07-27 07:20] #1534 closed

[2021-07-27 11:16] ninatu opened #1535 "Memory access fault by GPU node-2"
Hi!

I had recently installed rocm4.2 and pytorch on the machine, and sometimes while neural net training I get this error:

“Memory access fault by GPU node-2 (Agent handle: 0x55fea5592860) on address 0x7fc133800000. Reason: Page not present or supervisor privilege.
Aborted (core dumped)”

Could you advise how to solve this problem, please?

System: Ubuntu 20.04.2 LTS (5.4.0-77-generic)

## /opt/

[2021-07-27 11:43] ROCmSupport commented on #1530
Hi @gp1322719830
I am still waiting for the execution steps of the problem as requested in the previous comment.
Thank you.

[2021-07-27 11:53] ROCmSupport commented on #1502
Hi @torehl
I hope we have resolved your queries. I am closing this.
Feel free to open a new issue if any, for quick resolutions.
Thank you.

[2021-07-27 11:53] #1502 closed

[2021-07-27 12:06] ROCmSupport commented on #1506
Looks like no response from user for 3 weeks. I am closing this by considering that issue is fixed.
Request @psairam369 to file a new issues, if any, for faster resolutions.
Thank you.

[2021-07-27 12:06] #1506 closed

[2021-07-27 12:10] ROCmSupport commented on #1131
Got an update:
Issue is fixed in 4.3 internal code and it will be available soon to public.
Request you to verify with ROCm 4.3 and close accordingly.
Thank you.

[2021-07-27 12:25] ROCmSupport commented on #1535
Thanks @ninatu for reaching us out.
Can you please share the exact steps(step by step) to understand and reproduce the problem better.
Thank you.

[2021-07-27 12:32] ROCmSupport commented on #1532
I am also not able to compile the test locally.
taccuser@taccuser-GA-990FXA-UD5:~/roctracer/test/MatrixTranspose_test$ make
rm -f ./MatrixTranspose
rm -f MatrixTranspose.o
rm -f /opt/rocm/hip/src/*.o
/opt/rocm/hip/bin/hipcc -g -I../../inc -I/opt/rocm/roctracer/include -I/opt/rocm/hsa/include/hsa -I/opt/rocm/hsa/include -I/opt/rocm/hip/include -I/opt/rocm/include -DLOCAL_BUILD=1 -DHIP_VDI=0 -DITERA

[2021-07-27 12:35] ROCmSupport commented on #1533
This issue can be looked into, once #1532 is resolved

[2021-07-27 23:17] gggh000 commented on #1532
This is as I found out, you want to build the roctracer first before building matrix test.
clang-12: error: no such file or directory: '../../build/libroctracer64.so'
clang-12: error: no such file or directory: '../../build/libroctx64.so'

That itself was tricky:
I had to following prior:
[code]

[2021-07-28 12:02] ninatu commented on #1535
Thanks for the answer!

I have installed rocm 4.2 following instructions of the [Installation-Guide](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html).
Namely, I have installed libnuma-dev and rocm-dkms  (and additionally I have installed mesa-opencl-icd.)

I have installed PyTorch using

    pip3 install torch torchvision -f https://download.pytorch.org/whl/rocm4.2/to

[2021-07-29 02:28] ekeever1 opened #1536 "Kernel 4.18.0-305.10.2 crashes with null pointer dereference in amdgpu"
We recently updated the kernel on a system running Epyc Milan + MI50 to 4.18.0-305.10.2 due to cve-2021-33909, and we are finding it to be violently incompatible with all of our installed ROCm toolchains (3.8, 4.1 and 4.2).

Basic hello-world level test scripts fail, emitting on the command line
[code]
and provoking in dmesg
`    amdgpu: init_user_pages: Failed to get user pages: -1`

This is our

[2021-07-29 02:56] Gustavofaa commented on #1107
I will can not install it on Ubuntu 20.04.

Got the following:

Unpacking rock-dkms-firmware (1:4.2-21) ...
dpkg: error processing archive /var/cache/apt/archives/rock-dkms-firmware_1%3a4.2-21_all.deb (--unpack):
 trying to overwrite '/usr/share/doc/amdgpu-dkms-firmware/LICENSE', which is also in package amdgpu-dkms-firmware 1:5.9.20.104-
1247438
dpkg-deb: error: paste subprocess was killed by sig

[2021-07-29 03:01] Gustavofaa commented on #1107
For more information about GPU model, please see:

sudo lshw -C display
  *-display
       description: VGA compatible controller
       product: Hawaii XT / Grenada XT [Radeon R9 290X/390X]
       vendor: Advanced Micro Devices, Inc. [AMD/ATI]
       physical id: 0
       bus info: pci@0000:01:00.0
       version: 80
       width: 64 bits
       clock: 33MHz
       capabilities: pm pciexpress msi

[2021-07-29 06:07] ROCmSupport commented on #1107
Hi @Gustavofaa
As the current issue is already closed, request you to file new tickets, for quick resolutions.

You are using Hawaii XT, which is not a supported rocm config and so can not comment on this.
And also from the above error messages, I found that you have already instaled amdgpu-pro initially and then trying to install rocm on top of that, which is incorrect. At a time, rocm or amdgpu-

[2021-07-29 07:54] ROCmSupport commented on #1535
Thanks @ninatu for the information.
I got your point that you are not able to share the code.
But we can understand the problem only after reproducing the problem. With the details provided by you, we are not able to troubleshoot the problem as we need key things to reproduce.
Hope you got my point.
Feel free to open new issues, if any, once you come across, with all detailed steps.
Thank you.

[2021-07-29 07:54] #1535 closed

[2021-07-29 08:07] ROCmSupport commented on #1536
Hi @ekeever1
Thanks for reaching out.
I certainly understood the problem.

As per the ROCm documentation: [https://github.com/RadeonOpenCompute/ROCm#supported-operating-systems](url),
ROCm 4.x supports minimum 5.4.x kernel officially.
We do not validate latest ROCm versions like 4.3, 4.2 with old kernels like 4.18.x.x, 3.x.x.x like that and we do not support these combinations too.
We always try t

[2021-07-29 08:07] #1536 closed

[2021-07-29 10:44] ROCmSupport commented on #1355
Thanks @nlgranger for the update that issue is resolved with changing OMP_NUM_THREADS flag value.
I am closing this then.
Feel free to file new issues, if any, fr quick resolutions.
Thank you.

[2021-07-29 10:44] #1355 closed

[2021-07-29 15:12] malcolmroberts commented on #1520
Hi, @sampie.  There isn't an official ROCm package for discrete wavelet transform.  For running on AMD GPUs, you can either try an OpenCL DWT, or try using the hipify tool on a CUDA-based DWT library.  This would all be third-party, so you'd have to reach out to the developers of those libraries for support.

[2021-07-29 15:23] #1520 closed

[2021-07-30 12:18] JeremieMary opened #1537 "eGPU not detected"
Hello, I have a Thinkpad X1 extreme and I want to accelerate pytorch thanks to a 6900XT enclosed in a Razer Core X eGPU box.

I'm under Ubuntu 20.04 - fresh install-, the eGPU is detected and authorized by Ubuntu. The system works fine under windows. I followed to the letter the  install instructions of [the guide](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html) with

[2021-07-30 16:06] BloodyIron commented on #1345
So ROCm v4.1 or v4.2 does not address the issues? I have to say this is taking a long time to fix, well over a year! Furthermore, it seems that buying a newer GPU (RDNA 2 era) would completely break the ability to use DaVinci Resolve currently (as I am on an RX 580 right now). This really perpetuates pressure to just not buy AMD GPUs at all.

And now the target ETA is before end of 2021? I'm sorry

[2021-07-30 16:11] BloodyIron commented on #1397
So what's the current state of all this? I'm still stuck on Resolve 16.x, with my RX 580, and it's looking like upgrading to an RDNA 2 GPU would break OpenCL operations, upgrading to Resolve 17.x would also break, and/or upgrading to ROCm v4.1 or v4.2 would also break. I'm still stuck on my old version of ROCm with my old GPU (again, RX 580) just so Resolve can actually work, and it's been over a

[2021-07-30 19:06] da-phil commented on #1397
@KristijanZic as already mentioned, for me using recent versions of AMDGPU-PRO with ROCr fixed the issue, but I haven't used my desktop machine for the past weeks as it is still in a box after a move, so can't tell you which version I'm using. I try to update the comment once my desktop machine is up and running again.

[2021-07-31 09:10] JeremieMary commented on #1537
The issue was that the driver is not signed so it is necessary to disable Secure Boot in the BIOS

[2021-07-31 09:10] #1537 closed

[2021-07-31 20:14] Photonico commented on #1392
Hi,
Did the talking have any result？
Thx

[2021-08-01 14:38] teruteru128 opened #1538 "Repository signing key has expired"
[code]

[2021-08-01 15:27] bayuah commented on #1538
Additional info:
[code]
[Source](https://keyserver.ubuntu.com/pks/lookup?fingerprint=on&op=index&search=0x9386B48A1A693C5C)

I try download from the repository and check it too.
[code]
Also still expired.

[2021-08-02 02:14] Photonico opened #1539 "ROCm 4.3 question on GFX10 series gpu"
Hi,

I have two computers, both have AMD graphic cards: RX6800XT, 5500M.
Does the coming ROCm 4.3 support these GPUs?

Sincerely,

[2021-08-02 06:20] jammm commented on #1482
@ROCmSupport when can we expect the next release?

[2021-08-02 18:18] claforte commented on #1538
I apologize for the inconvenience. While I don't work in that team at AMD, we bumped into the same problem, and were told:

[code]

I hope this helps,

Christian

[2021-08-03 05:12] ROCmSupport commented on #1392
Hi @Photonico
We do not have plans to support MacOS as per the current information.
Thank you.

[2021-08-03 05:14] ROCmSupport commented on #1482
ROCm 4.3 is released couple of hours ago.
You can try and update the results.

[2021-08-03 05:30] ROCmSupport commented on #1538
Thanks @teruteru128 and @bayuah for reaching out.
I certainly understood the problem.
Looks like you people are using the old gpgkey, which is obsolete.

Request you to try the latest/updated key available at [https://repo.radeon.com/rocm/rocm.gpg.key](url)
Please check this for more information: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu
Hope this helps.

[2021-08-03 05:30] #1538 closed

[2021-08-03 05:38] ROCmSupport commented on #1539
Hi @Photonico
Thanks for reaching out.
I have understood the problem and here to help you.

[2021-08-03 05:45] ROCmSupport commented on #1539
Hi @Photonico
ROCm 4.3 does not support both of these cards(RX6800XT(Navi21), 5500M(Navi14)).
But the good news is that AMD started validating some set of Navi cards internally and ROCm support with them will come soon, not sure about the exact timelines, but tentatively before this year end. Please stay tuned for the updates.
Thank you.

[2021-08-03 05:45] #1539 closed

[2021-08-03 07:09] valeriob01 opened #1541 "ROCm 4.3 - GPUs connected with raiser do not respond"
### dmesg trace:

[    2.628142] kfd kfd: amdgpu: Allocated 3969056 bytes on gart
[    2.628331] amdgpu: SRAT table not found
[    2.628332] amdgpu: Virtual CRAT table created for GPU
[    2.628858] amdgpu: Topology: Add dGPU node [0x66af:0x1002]
[    2.628860] kfd kfd: amdgpu: added device 1002:66af
[    2.628863] amdgpu 0000:0a:00.0: amdgpu: SE 4, SH per SE 1, CU per SH 16, active_cu_number 60
[

[2021-08-03 07:11] valeriob01 commented on #1541
### Addendum:

Both `gpuowl` and mining do not work.

[2021-08-03 07:35] ROCmSupport commented on #1541
Thanks @valeriob01 for reaching us.
Can you please share the exact steps to reproduce the problem. Thank you.

[2021-08-03 08:02] valeriob01 commented on #1541
- removed ROCm 4.2
- installed ROCm 4.3

[2021-08-03 08:49] ROCmSupport commented on #1541
Hi @valeriob01
Can you please elaborate what is meant by "GPUs connected with raiser".
Can you please share the details of OS, Asic and etc.,.
Request you to share the output of **/opt/rocm/bin/rocminfo** and **/opt/rocm/opencl/bin/clinfo**.
Thank you.

[2021-08-03 10:13] valeriob01 commented on #1541
GPUs are connected with risers and USB cables. They worked with ROCm 4.2

Ubuntu 20.04
Asic I don't know at the moment, the mainboard is Gigabyte H110-D3A H110 Express LGA 1151 (Socket H4).
What it means "etc..."?

GPUs are Radeon V.

FYI, I had to rollback to 4.2, this isn't the first time that a new ROCm version is released, I upgrade, and need to rollback to the previous version. Please don't r

[2021-08-03 10:29] gp1322719830 opened #1542 "Rocm4.3 suporrt RDNA?"

[2021-08-03 11:03] ROCmSupport commented on #1541
Thanks for the information @valeriob01
Radeon 7 is a supported card, no worries :)
ROCm currently does not support upgrade functionality.
Can you please install 4.3 instead of upgrade and check whether you see any issues. Please share an update.
Thank you.

[2021-08-03 11:04] ROCmSupport commented on #1542
Hi @gp1322719830
Thanks for reaching out.
ROCm 4.3 does not support RDNA. But it will be likely enabled before this year-end.
Hope this helps.
Thank you.

[2021-08-03 11:04] #1542 closed

[2021-08-03 12:52] valeriob01 commented on #1541
Do you think that makes a difference?
Previously I followed the same procedure on 3 machines, two machines have GPUs attached directly on mainboard, and the upgrade worked, third machine has risers and GPUs were not responding ...

[2021-08-03 13:34] teruteru128 commented on #1538
👍

[2021-08-03 14:17] valeriob01 commented on #1541
Installing 4.3 freshly doesn't work. Same error as before in dmesg:

**[drm:smu_v11_0_i2c_transmit [amdgpu]] ERROR Received I2C_NAK_7B_ADDR_NOACK !!!
[drm:smu_v11_0_i2c_xfer [amdgpu]] ERROR ReadData() - I2C error occurred :1
[drm:amdgpu_ras_eeprom_init [amdgpu]] ERROR Failed to read EEPROM table header, ret:-5
amdgpu 0000:0d:00.0: amdgpu: Failed to initialize ras recovery!**

Error on gpuowl :  cl

[2021-08-03 14:37] Moading commented on #1541
Howdy,
some pins of the PCIe cponnector are used for SMBus, a simple 2 wire bus. It seems that amdgpu can not read via I2C. My guess is that your riser cable does not connect these pins from the mainboard to the GPU.

[2021-08-03 14:58] valeriob01 commented on #1541
**Follow-up for rollback to 4.2 :**
- Removed rock-dkms rocm-dkms rocm-opencl-dev
- Purged rock-dkms rocm-dkms rocm-opencl-dev
- apt autoremove
- reboot
- Installed version 4.2

1. rocm-smi works
2. clinfo reports full data
3. gpuowl works

[2021-08-03 15:00] valeriob01 commented on #1541
Probably. This configuration WORKS with ROCm 4.2

[2021-08-03 16:00] valeriob01 commented on #1541
As a couterproof I ran `dmesg` on one of the other machines with GPUs attached directly to the mainboard, the same error is in the log, but GPUs work !

Error:
**[drm:smu_v11_0_i2c_transmit [amdgpu]] ERROR Received I2C_NAK_7B_ADDR_NOACK !!!
[drm:smu_v11_0_i2c_xfer [amdgpu]] ERROR ReadData() - I2C error occurred :1
[drm:amdgpu_ras_eeprom_init [amdgpu]] ERROR Failed to read EEPROM table header, ret:

[2021-08-03 16:04] valeriob01 commented on #1541
Also did on the third machine. So on all machines the same error shows with ROCm ver. 4.3

**[drm:smu_v11_0_i2c_transmit [amdgpu]] ERROR Received I2C_NAK_7B_ADDR_NOACK !!!
[drm:smu_v11_0_i2c_xfer [amdgpu]] ERROR ReadData() - I2C error occurred :1
[drm:amdgpu_ras_eeprom_init [amdgpu]] ERROR Failed to read EEPROM table header, ret:-5
amdgpu 0000:0d:00.0: amdgpu: Failed to initialize ras recovery!**

[2021-08-03 17:44] ianferreira opened #1543 "ROCM 4.3 apt installation issue"
uname -a
5.8.0-63-generic #71~20.04.1-Ubuntu SMP Thu Jul 15 17:46:08 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

lsmod | grep amdgpu
amdgpu               6283264  16
iommu_v2               20480  1 amdgpu
amdttm                 69632  1 amdgpu
amd_sched              36864  1 amdgpu
amdkcl                 24576  3 amd_sched,amdttm,amdgpu
drm_kms_helper        217088  1 amdgpu
drm                   552

[2021-08-03 18:00] ianferreira commented on #1543
work around seems to be to remove the firmware, presumably installed by the amdgpu-pro driver and re-run above

sudo apt remove amdgpu-dkms-firmware 1:5.11.5.26-1271047

followed by

sudo apt install rocm-dkms

[2021-08-03 19:51] Photonico commented on #1539
Thanks for your reply.
Could you make a prediction: AMD 6800XT ROCm vs RTX A5000 with CUDA on scientific computation.
It's very important for me. Thanks a lot.

[2021-08-03 19:52] Photonico commented on #1539
Hi, @ROCmSupport
Thanks for your reply.
Could you make a prediction: AMD 6800XT ROCm vs RTX A5000 with CUDA on scientific computation.
It's very important for me.
Thanks a lot.

[2021-08-03 21:00] ianferreira opened #1544 "Rocm 4.3 Support for GFX 1030?"
Trying to user tensorflow-rocm package from PYPI

REPRO

(tf2):~$ python3
Python 3.8.10 (default, Jun  2 2021, 10:49:15)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

2021-08-03 13:51:57.046171: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-08-03 13:51:57.046303: I tensorflow/stream_ex

[2021-08-04 05:48] ROCmSupport commented on #1539
Hi @Photonico
I can not comment on this.
Thank you.

[2021-08-04 05:55] ROCmSupport commented on #1541
Got it @valeriob01 , So its not a ROCm issue then. Looks like 3rd machine is having some other problem.
Can you please try on the third machine like the way you did for 1st and 2nd machines(I mean directly connecting to motherboard, instead of risers & USB cables) and confirm whether GPUs are detected properly?
So that we can confirm that it might be problem with risers/cables combination only.
Th

[2021-08-04 05:58] ROCmSupport commented on #1543
Thanks @ianferreira for reaching out.
Looks like you have amdgpu driver components in your system already.
We can not install rocm on top of amdgpu-pro driver which is not recommended.
So recommendation is to install rocm on a clean system(should not have previous amdgpu/rocm drivers).
Hope this helps.
Thank you.

[2021-08-04 05:58] #1543 closed

[2021-08-04 06:10] ROCmSupport commented on #1544
Hi @ianferreira
Thanks for reaching out.
As mentioned recently in #1539 , ROCm currently does not support gfx1030.
But it will be enabled soon. Please stay tuned for the updates.
Thank you.

[2021-08-04 06:10] #1544 closed

[2021-08-04 09:48] ROCmSupport commented on #1139
Verified this issue with ROCm 4.3(4.3-52) and issue is no more observed.

[2021-08-04 09:48] #1139 closed

[2021-08-04 09:56] ROCmSupport commented on #1131
Verified with ROCm 4.3 and issue is fixed and no more observed.

taccuser@taccuser-SYS-4028GR-TR2:~$ /opt/rocm/opencl/bin/clinfo | egrep -i 'Parallel|HSA'
  Platform Name:                                 AMD Accelerated Parallel Processing
  Platform Name:                                 AMD Accelerated Parallel Processing
  Driver version:                                3305.0 (HSA1.1,LC)
  Drive

[2021-08-04 09:56] #1131 closed

[2021-08-04 10:03] ROCmSupport commented on #1408
Docs updated with this information now.
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html

ROCm Repositories
    For major releases - https://repo.radeon.com/rocm/yum/rpm/
    For point releases - https://repo.radeon.com/rocm/yum/4.3.x/

[2021-08-04 10:05] ROCmSupport commented on #1530
As there is no update from the last 2 weeks, I am closing this.
Thank you.

[2021-08-04 10:05] #1530 closed

[2021-08-04 10:09] ROCmSupport commented on #1116
Good news.
Issue is fixed with 4.3.
I just verified with 4.3 and issue is not observed anymore.

======================= ROCm System Management Interface =======================
=============================== Current voltage ================================
GPU[0]          : Voltage (mV): 737
GPU[1]          : Voltage (mV): 737
=====================================================================

[2021-08-04 10:09] #1116 closed

[2021-08-04 10:28] valeriob01 commented on #1541
That would mean to dismantle the machine...
Probably you haven't read thoroughly my reply: I said the machine is working fine with ROCm version 4.2, GPUs are detected and programs run without errors, either gpuowl and mining. Thus it cannot be a cable/riser issue but only a ROCm 4.3 issue.

[2021-08-04 11:03] ROCmSupport commented on #1472
Hi @gggh000
Got some update on this.
Verifed with ROCm 4.3, issue is fixed and no more observed.
Thank you.

[2021-08-04 11:40] jammm commented on #1482
Thanks @ROCmSupport !
BTW, what if I want to use a different driver version instead of the one packaged with rock-dkms? For example, 21.20?

[2021-08-04 11:42] jammm opened #1545 "ROCm 4.3+docker - using a different driver version?"
Hi @ROCmSupport ,

I would like to use ROCm 4.3 with docker, but using a different driver that's usually provided for bare-metal (non-docker) machines, e.g., the 21.20 driver https://www.amd.com/en/support/kb/release-notes/rn-amdgpu-unified-linux-21-20

I tried installing it myself on a docker container, but clinfo doesn't seem to detect the instances, and there's also the issue of update-initramf

[2021-08-04 12:51] kentrussell commented on #1541
So just for some clarification:
The dmesg snippet you posted doesn't show anything incredibly obvious (the RAS bad-pages thing isn't a big deal, though out of curiousity did you get those errors with 4.2 as well? Or did all 3 machines just start reporting that error once you shifted to 4.3?) . Can you attach a full dmesg as a text file for me to peruse?
Also, usually when I've seen this error, it

[2021-08-04 12:56] ROCmSupport commented on #1545
Hi @jammm
Thanks for reaching out.
As per the definition of docker, all user space/mode components can be kept in a docker container, because docker container also runs on kernel. So we can not install/use kernel components/packages inside docker container, which is not possible.
So recommend to use stock kernel + install any kernel driver like amdgpu-pro or rocm kernel (rock-dkms and rock-dkms-fi

[2021-08-04 13:17] valeriob01 commented on #1541
The error appeared with 4.3, absent before.

dkms status:
amdgpu, 4.3-52, 5.4.0-80-generic, x86_64: installed

uname -r:
5.4.0-80-generic

[dmesg_4.3_machine_without_riser.txt](https://github.com/RadeonOpenCompute/ROCm/files/6931529/dmesg_4.3_machine_without_riser.txt)
[dmesg_4.2_machine_with_riser.txt](https://github.com/RadeonOpenCompute/ROCm/files/6931530/dmesg_4.2_machine_with_riser.txt)

[2021-08-04 15:37] bd4 commented on #1545
Alternatively, you could run ROCm in a KVM virtual machine instead of in docker, and passthrough the AMD GPU to the KVM instance with vfio-pci. This is fairly involved though, and on top of what is usually required e.g. for passing through an nvidia gpu to CUDA, it also requires code changes and some monkeying with setpci after booting the virtual machine, described here: https://github.com/Radeon

[2021-08-04 17:51] valeriob01 commented on #1541
ok but need to wait until tomorrow.

[2021-08-05 04:52] ROCmSupport commented on #1545
Yes, you can. But I have not tried like 21.20 on host + 4.3 docker container so far. Most likely it works, you can give a try.
Instead I tried 4.3 on host + 4.3 docker container.

[2021-08-05 04:54] vvsteg opened #1546 "ROCm 4.2/4.3 with older kernels 4.12/4.15"
We have installed ROCm 4.2 successfully on the test machine with Ubuntu 16.04.6 LTS and the 4.15.0-47-generic kernel. Radeon VII works well for HIP-enabled applications (LAMMPS).

Please let me know should I expect ROCm 4.2/4.3 to work under SLES SP1 with the 4.12.14-195-default kernel that is used on the nodes of our MI50 equipped cluster? Linux upgrade is not an easy task and we would prefer not

[2021-08-05 05:11] ROCmSupport commented on #1546
Hi @vvsteg
Thanks for reaching out.
We do not support old OS versions like Ubuntu 16.04.x and old kernels like 4.x officially now.
Officially supported OS versions are [https://github.com/RadeonOpenCompute/ROCm#supported-operating-systems](url)
Anything other than these oses and kernels might work with ROCm 4.3(or 4.2) but not sure. Official support can not be claimed on these.
As per my experienc

[2021-08-05 05:13] ROCmSupport commented on #1545
Hi @jammm
Feel free to close this ticket, if you feel that you have gotten the desired solution.
Thank you.

[2021-08-05 05:14] jammm commented on #1545
Thanks!

[2021-08-05 05:14] jammm commented on #1545
Thanks!

[2021-08-05 05:14] #1545 closed

[2021-08-05 05:22] ROCmSupport commented on #1546
Closing this issue as the resolution provided in the last comment.
Thank you.

[2021-08-05 05:22] #1546 closed

[2021-08-05 05:24] jammm commented on #1482
Hello @ROCmSupport ,

Coming back to this issue, I'm still unable to setup a single GPU on a docker container. It's the same issue as outlined above.
What's the proper way to select a single gpu from /dev/dri/.. ?

[2021-08-05 05:48] ROCmSupport commented on #1482
Hi @jammm
To run the docker container a specific device, run the command like this:

**To run on a first GPU alone:**
sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri/renderD128 seccomp=unconfined --group-add video -v $HOME/dockerx:/dockerx <docker-image>

**To run on first 2 GPUs:**
sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri/renderD128 --device=/d

[2021-08-05 06:48] jammm commented on #1482
@ROCmSupport The above commands don't work (you missed the --security-opt flag, I think)
After adding that flag, I still can't seem to use a specific GPU. For example, if I want to use the 2nd GPU alone (/dev/dri/renderD129):
![image](https://user-images.githubusercontent.com/2500920/128304349-f2059b37-aec7-46dd-a26f-f48b715dc1b2.png)

[2021-08-05 09:44] ROCmSupport commented on #1482
Hi @jammm
The above command is a generic one. You can add many flags as per your requirement as per docker documentation.
I casually use this way:
sudo docker run -it --rm --network=host --device=/dev/kfd --device=/dev/dri --group-add video --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --shm-size=64G -v $HOME/dockerx:/dockerx <docker_image>

[2021-08-05 10:17] ROCmSupport commented on #1482
Looks like issue is resolved with 4.3
I tried on 4.3 host + 4.3 docker on a 2*MI50 machine and here are the results.

taccuser@taccuser-SYS-4028GR-TR2:~$ sudo docker run -it --rm --network=host --device=/dev/kfd --device=/dev/dri/renderD129 --group-add video --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --shm-size=64G -v $HOME/dockerx:/dockerx rocm/dev-ubuntu-18.04:4.3-complete
root@taccu

[2021-08-05 10:30] jammm commented on #1482
Seems like my host machine ubuntu 18.04 didn't have kernel 5.4 on it (it's 4.15)
I'll upgrade the kernel to 5.4 and report back my findings. Thanks!

[2021-08-05 16:30] ianferreira opened #1547 "ROCM support for Navi (GFX10)"
Given https://github.com/RadeonOpenCompute/ROCm/issues/1465 I was hoping 4.3 would support Navi. Seems like some libraries  do support (rocRand) whiles others dont.  What is the latest targeting data from Navi support? @ROCmSupport

[2021-08-06 02:46] zhaoguangxiang commented on #1542
will it support rdna2/3 too?

[2021-08-06 05:00] ROCmSupport commented on #1547
Hi @ianferreira
Thanks for reaching out.
Navi support will come soon, expected before eoy 2021.
Thank you.

[2021-08-06 05:00] #1547 closed

[2021-08-06 05:56] gggh000 commented on #1533
Hi, this appears very similar to #1532 but actually it is very distinct.
On 1532, it is all about building and running MatrixTranspose_test and run OK.
However this issue, once MatrixTranspose_test is run with rocprof.

Thanks.,

[2021-08-06 15:51] rudolfgh opened #1548 "ASUS ROG Strix G15 Advantage Edition (G513QY-HQ008T), crash with device 'gfx902:xnack-'"
Hi
        I'm doing some basic OpenCL programming and things are working fine
        with my 'main PC' with an 'AMD Radeon PRO WX 7100 8GB PCIe 3.0'.

        clGetDeviceIDs() reports one device of CL_DEVICE_TYPE_GPU for
        the platform and clGetDeviceInfo() reports 'gfx803' as CL_DEVICE_NAME.

        A few days ago I bought the mentioned notebook but things did not
        work as expecte

[2021-08-06 17:10] den-run-ai opened #1549 "rocm rootless docker"
Do you support running rootless docker with rocm/tensorflow and rocm/pytorch AMD images on AMD GPUs?
If yes, what are the required modifications to run in the rootless docker mode?

[2021-08-06 19:09] KristijanZic commented on #1345
@BloodyIron yeah, it would appear that they didn't get the message last time. They keep toying with and ignoring their users again. Basically ROCm is still unusable, latest AMDGPU-PRO is broken too. You need to roll back AMDGPU-PRO to the 21.10 and downgrade your kernel and eventually it works but at reduced performance. It's barely usable for DaVinci Resolve and unusable for Blender.

[2021-08-06 20:37] valeriob01 commented on #1541
done, added ras_enable=0.
rocminfo is not meaningful, do not shows errors. clinfo works. dmesg output shows the error always present, ras_enable=0 has no effect.

[2021-08-07 13:48] BloodyIron commented on #1345
Yeah I've decided I'm going to just get an RTX 3060 ti when I can make it happen, unless AMD pulls magic out of their back between now and then and finally gets ROCm solved. I'd rather stay with AMD for my next GPU, but not at the cost of either gaming performance or OpenCL for Resolve. As the customer I shouldn't have to deal with these problems. The cards cost a good chunk of money and there's n

[2021-08-07 18:05] syifan opened #1551 "Docker image `rocm/dev-ubuntu-20.04:4.2-complete` stops working"
I have been using the docker image `rocm/dev-ubuntu-20.04:4.2-complete` as my development and testing environment. However, it stopped working after when 4.3 is released. To recreate the error, one can simply run `apt update` in the docker image and the following error will appear.

[code]

Here is the error in my testing environment.

https://gitlab.com/akita/rhipo/-/jobs/1485844044#L52

[2021-08-08 12:51] baryluk commented on #1129
Still broken in rocm 4.3. Hopefully it got fixed in 4.4.

[2021-08-08 12:57] baryluk commented on #1128
No change in ROCm 4.3. Same.

[2021-08-08 13:01] baryluk commented on #1131
Still broken in ROCm 4.3.

[code]

[2021-08-09 05:17] ROCmSupport commented on #1463
Thanks @stefano2734
I will let developer to comment on this. Thank you.

[2021-08-09 05:26] ROCmSupport commented on #1548
Thanks @rudolfgh
Can you please share the output of /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo
Thank you.

[2021-08-09 05:36] ROCmSupport commented on #1549
Thanks @denfromufa for reaching out.
I certainly understood the problem and will get back to you asap.
Thank you.

[2021-08-09 06:35] ROCmSupport commented on #1551
Hi @syifan
Thanks for reaching out.
There are 2 problems I identified.

1. I am not sure how it stopped working after 4.3 released.
The environment that you are using is a docker and I do not think ROCm 4.3 is going to affect the docker.
Can you please elaborate the problem here.
**I, personally, pulled rocm/dev-ubuntu-20.04:4.2-complete on my machine and able to run the things.**

To recreate the

[2021-08-09 07:13] ROCmSupport commented on #1548
And also please share the output of **lspci -nn | grep AMD/ATI** for better understanding of the problem.
Thank you.

[2021-08-09 11:46] kentrussell commented on #1541
Does clinfo still say "Number of platforms: 0" after ras_enable=0, or does it provide the correct output from the GPUs? If that changed from your initial comment above without ras_enable=0, then at least you can get around it with that kernel parameter.

If it still says "Number of platforms: 0" then this looks like a potential issue on the opencl side, since the kernel+runtime are working correct

[2021-08-09 14:27] syifan commented on #1551
Thanks for the answer. Yes, the error is caused by the GPG key update. When 4.3 is released, the GPG key used in the 4.2 docker image stops working.

A bigger question is why the GPG key should change. We work on a project that is very sensitive to the compiler. ROCm made a big change in the compiler as the HSACO header is no longer provided by the OpenCL compiler. We have spent a lot of effort mi

[2021-08-09 14:42] rudolfgh commented on #1548
Thanks for the info. Indeed I was not aware that

        'The integrated GPUs of Ryzen are not officially supported targets for ROCm'

        as can be read at the link you mentioned. This might well be the
        problem I ran into now. I just read somewhere that the integrated
        graphics for my CPU are based on GCN and GCN should be supported by
        ROCm. But perhaps because it is '

[2021-08-09 16:57] gggh000 commented on #1533
The comment above original no longer builds. It is not certain what I omitted. In the makefile, I had to include roctracer path as include with -I flag but roctracer_hip.h include statement always errors out. It perplexes me because another file called roctracer.h file in the same location includes OK.

[code]

[2021-08-09 16:59] gggh000 commented on #1533
It builds ok after correcting include to take out bolded file name:
+    -I$(ROCM_PATH)/roctracer/include/**hip_ostream_ops.h** \
+    -I$(ROCM_PATH)/hsa/include/hsa -I$(ROCM_PATH)/hsa/include \
+    -I$(ROCM_PATH)/hip/include \
+    -I$(ROCM_PATH)/include \
+    -DLOCAL_BUILD=1 -DHIP_VDI=${HIP_VDI} -DITERATIONS=$(ITERATIONS) -DAMD_INTERNAL_BUILD=1

[2021-08-09 17:35] gggh000 commented on #1533
Here is my output. I created testp target in the Makefile same as test target except there is rocprof inserted once before PRELOAD statement or before EXECUTABLE itself.

[code]

[2021-08-09 18:23] SAchuth opened #1552 "AMD Mi50 no longer being detected by ROCM"
Hi there, I have a AMD Radeon Instinct Mi50 GPU which I am trying to use on a Ubuntu 20.04 server. This GPU has worked in the past with my setup, however, recently when I try to use the GPU I'm seeing the GPU is not detected. The amdgpu kernel module appears to have an issue loading.

Thanks
[dmesg_output_mi50.txt](https://github.com/RadeonOpenCompute/ROCm/files/6956556/dmesg_output_mi50.txt)

[2021-08-09 18:33] denfromufa commented on #1161
Same error with tensorflow-rocm binary wheel/package from PYPI:

ImportError: librccl.so.1: cannot open shared object file: No such file or directory

[2021-08-10 12:50] ROCmSupport commented on #1548
Hi @rudolfgh
Thanks for sharing the information.
ROCm supports GCN based cards but not all. gfx902 is not a ROCm supported card and as I told integrated GPUs are not supported. Only discrete cards are supported as of now.
Please check for supported hardwares @ https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support.
And also you have Navi10 XL card which is also unsupported with RO

[2021-08-10 12:50] #1548 closed

[2021-08-10 12:53] ROCmSupport commented on #1552
Thanks @SAchuth for reaching out.
From the dmesg, looks like its problem with hardware
**Fatal error during GPU init**
I will pull kernel expect to look into this issue.
Thank you.

[2021-08-10 12:53] ROCmSupport commented on #1161
As this issue is already closed, recommend to open a new issue with all supported details.
Thank you.

[2021-08-10 13:48] denfromufa commented on #1161
Installing rccl package and adding it to LD_LIBRARY_PATH resolved the issue.
Having RCCL wheel from PYPI would resolve this issue without sudo access.

On Tue, Aug 10, 2021 at 7:54 AM ROCmSupport ***@***.***>
wrote:

[2021-08-10 13:54] rudolfgh commented on #1548
Hi,

thanks again for the 'refresh'. So I guess chances are low to see my
integrated GPU running (soon) with ROCm:-(

But one last question: you mention a 'Navi10 XL card' which is not
supported. If I'm right, isn't the dedicated GPU in my Notebook
(AMD Radeon RX 6800M) based on RDNA2 / Navi 22 and not Navi10?

Interestingly this GPU IS running since ROCm 4.2. So obviously there IS
some sort of su

[2021-08-10 17:54] Aceler opened #1553 "Darktable opencl stops working with rocm 4.3.0"
4.1.0 worked fine. Here is the log from darktable-cltest:

[dt-cltest.txt](https://github.com/RadeonOpenCompute/ROCm/files/6963505/dt-cltest.txt)

[2021-08-11 07:32] ROCmSupport commented on #1548
Thanks @rudolfgh for the suggestions on showing a decent message like: GPU not supported for non-supported cards.
Let me work on this and I am creating an internal issue to move it further.
Thank you.

[2021-08-11 07:38] ROCmSupport commented on #1549
I am keeping this point in a discussion forum and will share an update soon.
Thank you.

[2021-08-11 09:35] ROCmSupport commented on #1551
Thanks for the point.
Let me gather little more information on this and will share an update soon.

[2021-08-11 09:50] ROCmSupport commented on #1548
I created an internal ticket on this.
Thank you.

[2021-08-11 09:52] ROCmSupport commented on #1552
Hi @kentrussell
Please take a look at this request and do the needful

[2021-08-11 09:59] ROCmSupport commented on #1553
Thanks @Aceler for reaching out.
Can you please share the exact steps to reproduce the problem.
So that I will check it locally and help you with all of the information.
Request you to share the outputs of **/opt/rocm/bin/rocminfo** and **/opt/rocm/opencl/bin/clinfo**
Thank you.

[2021-08-11 12:01] Aceler commented on #1553
Sure.

One day I find out, that rocm debian/ubuntu repository is no longer works, because it moves from `https://repo.radeon.com/rocm/apt/debian/ **xenial** main` to `https://repo.radeon.com/rocm/apt/debian/ **ubuntu** main`.

I found instructions here: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu

They said, that I need a complete uninstallation of previous

[2021-08-11 12:55] kentrussell commented on #1552
As @ROCmSupport pointed out, there is an uncorrectable error in dmesg. Also note, a full dmesg would be a lot more useful, since not every useful kernel message has "amdgpu" in it (e.g. PCI detecting HW errors). Just for reference.
If you can add a full dmesg, that would help us to try to narrow down the HW issue, but there are a couple things that you can try to do in the interim (depending on ho

[2021-08-11 20:14] karlxmar commented on #1125
Clever fix! = ) I got a bit further with the fakegcc but not all the way. Hopefully Im stuck at something "easy"...

Im running Bulleye with 5.10.0-8-amd64. Im looking to install rocm to run hashcat on a RX570 board. Running apt install rocm-dkms I get stuck at the following (when rock-dkms is being configured)

Looking through the mentioned log I find at the end

There is no file /var/lib/dkms/am

[2021-08-11 22:48] SAchuth commented on #1552
Hi @kentrussell,

Thanks for following up. I've attached a full dmesg log here.

Yes, I've tried the usual steps with power cycling and reseating the card with no luck. Adding the kernel parameter also didn't seem to help with the problem.

[full_dmesg_output_mi50.txt](https://github.com/RadeonOpenCompute/ROCm/files/6971802/full_dmesg_output_mi50.txt)

[2021-08-12 02:07] cyberspicecai opened #1554 "Would you pls check whether float_as_int is supported or not in Rocm v4.3"
when I use /opt/rocm-4.3.0/bin/hipconvertinplace-perl.sh to convert the source code, I got unsupported device function "float_as_int" and unsupported device function "int_as_float" warning.
But the file:///C:/Users/Administrator/Downloads/AMD_HIP_Supported_CUDA_API_Reference_Guide_v4.3.pdf list this function in HIP-Supported CUDA API.
Thanks.

[2021-08-12 02:15] cyberspicecai commented on #1554
when I use  /opt/rocm-4.3.0/bin/hipconvertinplace-perl.sh to convert the source code, I got unsupported device function "float_as_int" and  unsupported device function "int_as_float" warning.
But the file:///C:/Users/Administrator/Downloads/AMD_HIP_Supported_CUDA_API_Reference_Guide_v4.3.pdf list this function in HIP-Supported CUDA API.
Thanks.

[2021-08-12 12:21] kentrussell commented on #1552
Sorry, I wasn't as clear as I should've been. Can you add amdgpu.ras_enable=0 to the kernel parameters and then reboot it, then attach that full dmesg? Here the UE is being detected, then the KIQ ring test fails, and finally the GFX IP block fails to initialize. The kernel command line didn't show the amdgpu.ras_enable=0 part, so if you're adding the parameter to /etc/default/grub, make sure to "s

[2021-08-13 01:29] SAchuth commented on #1552
Hi @kentrussell ,

Here is a copy of the dmesg log with the kernel parameter added in as you specified.
[full_dmesg_output_mi50_w_ras_disabled.txt](https://github.com/RadeonOpenCompute/ROCm/files/6979374/full_dmesg_output_mi50_w_ras_disabled.txt)

Thanks!

[2021-08-13 12:14] kentrussell commented on #1552
Thanks for that. At least now we're hitting a different error, so RAS disablement got past those RAS errors. Since PSP isn't loading, the only other thing I can think of is trying to get the VBIOS updated (you're on v107, I believe that v111 is the latest one) There's always the option of trying the newer ROCm 4.3 release in case there's a firmware issue (though I don't see any issues reported int

[2021-08-13 15:23] iszotic commented on #1553
Have you tried setting LD_LIBRARY_PATH='/opt/rocm/opencl/lib/'? that worked for me in blender

[2021-08-13 18:30] Rmalavally commented on #1554
Thank you for reaching out. For the ROCm v4.3.0 release, the latest scripts for hipification are available at:

https://github.com/ROCm-Developer-Tools/HIPIFY/tree/master/bin

**Note:** The device functions int_as_float and float_as_int are unsupported; the supported are __int_as_float and __float_as_int.

AMD ROCm Documentation Team

[2021-08-13 20:16] SAchuth commented on #1552
Hi Kent,
Would you be able to direct me to steps on updating the VBIOS of the Mi50?

[2021-08-15 12:08] cyberspicecai commented on #1554
Thanks your reply.  But I check the URL  you provide and find that the hipconvertinplace-perl.sh update date is 4 years ago. Am I right?

[2021-08-16 04:07] ROCmSupport commented on #1553
Thank you much @Aceler for sharing all of the information and logs, really helpful to understand the problem better.
I got to know from the logs that its unable to generate executable from Intermediate representation of code: Error: **Creating the executable from LLVM IRs failed.**
The reason for this is that you are using a non-supported ROCm card which can not generate the executable/codes as ex

[2021-08-16 04:07] #1553 closed

[2021-08-16 04:27] ROCmSupport commented on #1554
Hi @cyberspicecai
The hipconvertinplace-perl.sh is just a wrapper around hipify-perl. See https://github.com/ROCm-Developer-Tools/HIPIFY/blob/master/bin/hipconvertinplace-perl.sh#L18. hipify-perl is constantly being updated. Last update was 5 days back.
Hope it helps.
Thank you.

[2021-08-16 04:35] ROCmSupport commented on #1554
Feel free to close the issue, if the resolution is provided.
Thank you.

[2021-08-16 05:05] ROCmSupport commented on #1551
Hi @syifan
I got an update on the GPG key.
Actually this is not a process breakage, this is the process flow.

The old GPG key is going to be expired by August 1st and so we renewed it, little before, on July 29. This is regardless of ROCm version.
For the dockers created before July 29th, as the key expired, users/all need to re-import (update) the key:
_wget -q -O - https://repo.radeon.com/rocm/

[2021-08-16 05:38] #1551 closed

[2021-08-16 12:50] kindlychung opened #1555 "rocminfo shows "no gpu" after installation"
[code]

Strange thing is that opencl seems available.
The installation and tests were done on a NV4as_v4 VM with Instinct MI25 GPU.
ROCM version: 4.3 (Installed according to https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html)
OS version: Ubuntu 20.04.2

[2021-08-16 12:57] kentrussell commented on #1552
So it looks like we haven't released any newer VBIOSes for MI50 officially. I only found the one for the old Fiji cards (Fury X or Nano), which obviously won't work. Sorry for the confusion there, I know we've got these internal engineering VBIOSes which are obviously not publicly available, I had just assumed that we had some large repository of VBIOSes for public consumption. Turns out I was ver

[2021-08-16 13:56] valeriob01 commented on #1541
I said "clinfo works" that means it provides full information.

[2021-08-16 14:04] ROCmSupport commented on #1555
Thanks @kindlychung for reaching out.
Can you please share the exact steps to reproduce the problem.
Thank you.

[2021-08-16 18:25] valeriob01 commented on #1541
The problem is not that gpuowl and mining do not see devices. Gpuowl sees devices and starts but then it hangs at the first iteration.

[2021-08-16 18:27] valeriob01 commented on #1541
But for now I am going another route, I have reinstalled the system and ROCm on this machine using different versions to test mining. Information on the next issue I open.

[2021-08-16 18:46] valeriob01 opened #1556 "Radeon VII mining rate increase with old ROCm 3.3"
- Previous system: Ubuntu 20.04
- Previous ROCm version: 4.2

- New System: Ubuntu 18.04
- New ROCm version: 3.3

Ethereum mining rate increase from 80 MH/s to 86 MH/s.

[2021-08-17 02:25] cyberspicecai commented on #1554
thanks for your reply and your kindness.

[2021-08-17 02:25] #1554 closed

[2021-08-17 03:40] ROCmSupport commented on #1556
Hi @valeriob01
Thanks for reaching out.
ROCm 3.3 is very old and the latest ROCm version is 4.3. Not sure why are you comparing 3.3 and 4.2.
Because between these 3.3 and 4.2, 9 more releases are there.
So to understand and solve the problem better, I request you to reduce the gap between 3.3 and 4.2 and share the better information.
And also request you to share me the exact steps to reproduce th

[2021-08-17 03:44] ROCmSupport commented on #1552
Helped with resolution, closing it now.
Fell free to open a new issue, if any, for quick resolutions.
Thank you.

[2021-08-17 03:44] #1552 closed

[2021-08-17 06:05] valeriob01 commented on #1541
Closing for now. Sticking with version 4.2 .

[2021-08-17 06:05] #1541 closed

[2021-08-17 06:06] valeriob01 commented on #1556
How you concluded that there is a problem?
This is only a mere mining rate comparison !

[2021-08-17 06:06] #1556 closed

[2021-08-18 03:07] ye-luo commented on #1328
remains broken in 4.3

[2021-08-18 09:30] minfaer opened #1557 "Darktable opencl stops working with rocm 4.3.0 on supported GPUs"
Hi,
I am opening this issue because #1553 got closed. I am experiencing the exact same thing on Vega/gfx900 which is on the official support list. This happens in CentOS 7 (and Fedora 34) just like #1553 reported for Ubuntu 20.04 LTS. ROCm 4.2 worked fine.

[clinfo.txt](https://github.com/RadeonOpenCompute/ROCm/files/7006122/clinfo.txt)
[rocminfo.txt](https://github.com/RadeonOpenCompute/ROCm/file

[2021-08-18 10:16] Sturmflut opened #1558 "RPM packages: Not all header files are symlinked into /opt/rocm/include"
The following official RPM packages symlink their header files into `/opt/rocm/include/`:

hipblas-0.46.0.40300-52.el7.x86_64
hipcub-2.10.9.40300-52.el7.x86_64
hipfft-1.0.3.40300-52.el7.x86_64
hipsparse-1.10.7.40300-52.el7.x86_64
hsakmt-roct-devel-20210520.3.071986.40300-52.el7.x86_64
hsa-rocr-dev-1.3.0.40300-52.el7.x86_64
miopen-hip-2.12.0.40300-52.el7.x86_64
rccl-2.8.4.40300-52.el7.x86_64
rocalu

[2021-08-18 10:35] ROCmSupport commented on #1557
Thanks @minfaer for reaching out.
Can you please share the exact steps to reproduce the problem?
Thank you.

[2021-08-18 11:39] ROCmSupport commented on #1558
Thanks @Sturmflut for reaching out.
I certainly understood the problem.
I will talk to packaging team on this and will share an update.
Thank you.

[2021-08-18 12:51] minfaer commented on #1557
Sure

0. Uninstall all ROCm 4.2 packages if installed before
1. install rocm-dev (to have a complete install) from the ROCm 4.3 repository
2. run `darktable-cltest`

[2021-08-18 20:15] develancer commented on #1383
Hi @ROCmSupport, is the fix is still expected to happen with ROCm 4.4, or has the schedule changed?

[2021-08-19 08:06] WyldeCat opened #1559 "Any information about PMC blocks in hsa_ven_amd_aqlprofile?"
Because rocprofiler doesn't support GFX10 (gfx1010 or gfx1030), I searched ROCm (4.2.0) header files for clues and found some enum about GFX10 at (rocm/include/hsa/hsa_ven_amd_aqlprofile.h) .

Is there any information about what those PMC blocks are?
[code]

[2021-08-19 10:57] Nishant-Pall commented on #1555
I have the same problem as well, I believe @kindlychung installed ROCm according to the installation guide. I'm getting exactly the same results even though I believe my GPU chip is of type 'polaris 12'. The steps I followed were exactly as mentioned in the guide and the commands ```/opt/rocm/bin/rocminfo``` gave the results as they got.

OS Version: Ubuntu 20.04
Kernel: 5.11.0-27-generic

[2021-08-19 12:48] ROCmSupport commented on #1383
Hi @develancer
I reached developer on the same and will provide an update asap once I hear from them.
Thank you

[2021-08-19 13:02] ROCmSupport commented on #1328
Hi @ye-luo
Thanks for the update. I have increased the priority and it will be hopefully fixed in next public release.
Thank you.

[2021-08-20 07:37] mmbannert opened #1560 ""hipErrorNoBinaryForGpu" when running HIP tensorflow tutorial"
Dear all,

I tried to follow the "Deep Learning in ROCm" tutorial as can be found in the [Learning Center](https://developer.amd.com/resources/rocm-resources/rocm-learning-center/). I did exactly what is shown in the "Lab: TensorFlow & MNIST" video. However, execution fails with an error. Here is the output:

`Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.

[2021-08-20 18:27] FilipVaverka commented on #1495
So I swapped my RX Vega 64 for RX 6900 XT. The good news is this new configuration can successfully run through RBT! However I still see load of AMDGPU messages:

Aug 20 20:13:56 Machine kernel: amdgpu 0000:0d:00.0: amdgpu: [sdma0] address:0x0000000000048000 src_id:247 ring:2 vmid:8 pasid:32795, for process rocm-bandwidth- pid 6692 thread rocm-bandwidth- pid 6692

However, there are no page fault

[2021-08-21 03:54] gggh000 opened #1561 "MIOpen cmake config fails with HIP as backend"
It works with OpenCL as back end but when HIP, it errors out:
Ubuntu1804
ROCm4.3
Use instruction to build the MIOpen.

[code]

[2021-08-21 04:02] gggh000 opened #1562 "rocm-smi shows memory usage 0% when hip allocates large memory"
There are some benchmark for which the rocm-smi reports the >0% percentage memory usage appropriately when run, however when I allocate simple but large vector data space on GPU and copy, the rocm-smi reports nothing:...
Following simple example creates on host the 512M data and copies to GPU and after some kernel compute, it copies back. But before hipFree, I inserted getChar() and run rocm-smi b

[2021-08-21 10:14] seesturm commented on #1495
To my best knowledge the P2P patches did not make it into the upstream kernel yet. If you want to use P2P either rocm-dkms or manual patching of kernel is needed.
I've modified the patch for kernel 5.10.5. It can be downloaded here: [p2p-5.10.5-github.diff.txt](https://github.com/ROCm-Developer-Tools/HIP/files/5792508/p2p-5.10.5-github.diff.txt). You could try to modify for your kernel.

[2021-08-21 15:05] FilipVaverka commented on #1495
I'm running 5.13.8 right now. Is there any way to track this kind of differences between ROCm-dkms and upstream? I would like to keep track of things that are (not) supposed to work in upstream and also when to expect them to land.

[2021-08-22 19:08] gggh000 commented on #1561
Worked with fresh installation.

[2021-08-22 19:08] #1561 closed

[2021-08-23 05:40] ROCmSupport commented on #1559
Thanks @WyldeCat for reaching out.
I will work with hsa developer and share an update on this.
Thank you.

[2021-08-23 05:46] ROCmSupport commented on #1555
Hi @Nishant-Pall
Polaris12 is NOT a supported card and so things will not work on them, which I can say that a different issue from the titled one.

Hi @kindlychung
Please help us with the exact steps you followed from start, so that we will understand better and tries to provide resolution.
Thank you.

[2021-08-23 06:03] ROCmSupport commented on #1560
Thanks @mmbannert for reaching out.
As you clearly highlighted your card details and as per the attached logs, you are trying things on a non-supported ROCm card.
ROCm does not support Raven series(Vega11) and also additional information is integrated GPUs of ryzen CPUs are not officially supported.
Please look at the supported hardware section for more information.
Supported hardware: [https://gi

[2021-08-23 06:03] #1560 closed

[2021-08-23 12:27] kentrussell commented on #1562
The "memory use" flag there is a little ambiguous, as it references the memory utilization, namely how "busy" the VRAM is. If you run rocm-smi --showmeminfo vram
You should see the appropriate usage.

--showmemuse takes a poll of how often the VRAM is being accessed in the last window (let's say 1 second). If you were to do a single 32GB allocation on a 32GB card, then the utilization would be 0%

[2021-08-23 19:24] gggh000 commented on #1562
ok, i will try that differently, thx

[2021-08-23 23:17] gggh000 commented on #1562
I changed the code by introducing loop starting before hipMemcpy (host to dev) till hipMemcpy (dev to host) but still showing 0% as usage. I initially i set 1 second interval ( and removed it) in both app and rocm-smi probe but still showing 0%.

[code]
From another terminal:
`or i in {1..100} ; do echo loop $i ; rocm-smi --showmemuse ; sleep 1 ; done
`

[2021-08-24 03:54] mdberryh commented on #1555
I have the exact same problem, and I have the Radeon Pro 6600

`uname -a
Linux  5.11.0-27-generic #29~20.04.1-Ubuntu SMP Wed Aug 11 15:58:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
`
[SYSTEM_NAME_or_ISSUEID.rocm_techsupport.log](https://github.com/RadeonOpenCompute/ROCm/files/7036355/SYSTEM_NAME_or_ISSUEID.rocm_techsupport.log)

[2021-08-24 05:12] ROCmSupport commented on #1555
Hi @mdberryh
ROCm does not support Navi10 cards and so things do not work on these cards as expected.
Please track supported hardware section @ https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support
Thank you.

[2021-08-24 05:15] martinpaljak commented on #1125
Upgraded to Bullseye, removed all packages without source (incl the fake gcc tricky) and after making sure the kernel matches the compiler, rock-dkms gives
[code]

Wondering if it would be easier to have something with docker for the ubuntu userspace once the kernel parts are hacked together to compile-load with Bullseye?

[2021-08-24 05:43] showrav-ansary opened #1563 "ImportError: librocsolver.so.0: cannot open shared object file: No such file or directory"
I have tried many times. Install/Re-installs. Even reinstalled my OS. Changed the kernel. Nothing seems to fix it.
My Configuration:

[code]
The error I am facing :
[code]

[2021-08-24 07:43] ROCmSupport commented on #1563
Thanks @showrav-ansary for reaching out.
Let me look into this for you.

[2021-08-24 07:44] ROCmSupport commented on #1563
Hi @showrav-ansary
I am able to reproduce the problem.
Hope you have installed tensorflow-rocm as pip3 install tensorflow-rocm and tried to launch/import it as _import tensorflow as tf_.
Though librocsolver.so.0 is part of /opt/rocm/lib, its not picking it.
export LD_LIBRARY_PATH=/opt/rocm/lib solves this problem for now. But we need to fix this problem anyway.
I will file an internal ticket and a

[2021-08-24 09:20] Joevaen opened #1564 "The speed of predict is so slow!"
Hi, everyone. I am meeting a really confusing question!
I use the Super Computing Center in China to accelerate my training process, which deploys the DCU Card and installs the pytorch ROCm whose version is 4.2(beta).
But I encountered a srange issue:
![image](https://user-images.githubusercontent.com/46133615/130589787-5b55809f-f4d2-481f-a299-e5d57bdd9e58.png)
As the picture above shows, The valu

[2021-08-24 09:45] ROCmSupport commented on #1564
Thanks @Joevaen for reaching out.
Can you please share the exact steps you followed to reproduce the problem so that I will try the same and update.
Thank you.

[2021-08-24 11:50] kentrussell commented on #1562
Odd, it should definitely be yielding something there. What GPU are you using? I can see if we can get it reproduced in-house.

[2021-08-24 12:28] mdberryh commented on #1555
@ROCmSupport  Thanks for your quick assistance! I was hoping to use AMD GPUs for neural networks, so I thought I'd give it a try. I am pretty confused with the differences between Rocm and AMD Pro drivers. Reading different frameworks both are mentioned and both use openCL. I'll see what I can do with the AMD Pro drivers for linux.

[2021-08-24 18:29] sebastianlacuesta commented on #1125
Not using right now, but taking a look once in a while just to see how this goes. I tested `clinfo` with `rocm-dev` install and kernel in experimental 5.13 and it works. README.md points that  `IPC and RDMA capabilities are not yet enabled`, so if you don't need this, maybe can try it without `rocm-dkms`. I confirmed that kernel 5.10 doesn't support what rocm 4.3 userspace needs. Best of luck.

[2021-08-25 08:13] Saber-f opened #1565 "torch.nn.Conv1d calculation is slow"
ROCm 4.0.1
in_channels = 1, out_channels = 64, kernel_size = 32, stride = 2.
The calculation speed of the forward pass is very slow when out_channels < 16 .
The calculation speed of the backward pass is very slow when out_channels < 32.
When I increase out_channels, the speed increases by about 60 times.
Nvidia does not have this problem.

[2021-08-25 10:01] Joevaen commented on #1564
[https://github.com/RadeonOpenCompute/ROCm/issues/1565](url) is the same question. We have dealt with this issue via modify network architecture. Maybe you can make a test and I think it is an urgently needed bug.

[2021-08-26 01:10] ye-luo opened #1566 "Honor __HIP_PLATFORM_AMD__ in all ROCM components"
Hit the issue of `hipsparse.h` not picking up `__HIP_PLATFORM_AMD__`
[code]
Please check all the components

[2021-08-30 07:38] gggh000 commented on #1562
MI25 and MI100. Thanks,

[2021-08-30 07:43] gggh000 commented on #1533
any update?

[2021-08-30 16:54] artyom-beilis commented on #1180
Questions regarding RNDA2, specifically 6600XT

What support level is provided? It is clear that deep-learning/hip stack wound't work. However:

1. Does ROCm/OpenCL work?
2. Is it stable driver?
3. Does miopengemm work? Is performance tuned?
4. What level of MIOpen-OpenCL support is available? Does something work or it will not recognise this card?

I work on cross platform OpenCL deep learning li

[2021-08-30 17:54] minfaer commented on #1557
This was fixed in ROCm 4.3.1 for me. I will thus close this issue. Thank You for looking into this!

[2021-08-30 17:54] #1557 closed

[2021-08-31 02:17] da3dsoul commented on #1269
Updated links to info from xuhuisheng. Thanks xuhuisheng. I've not tried it yet, but you guys definitely left a trail of things to try.
https://github.com/xuhuisheng/rocm-build/tree/master/gfx803
https://github.com/xuhuisheng/rocm-gfx803

[2021-09-01 07:53] bgoglin opened #1568 "Clarify default installation path"
Hello
Can you clarify the documentation of the default install path? https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html talks about /opt/rocm and also about /opt/rocm-<version>/. All platforms I have access to use the latter. Some RPMs from your download area too.
Is /opt/rocm supposed to be a symlink to one of the /opt/rocm-<version>/ installations? Is one of your packa

[2021-09-01 08:49] Wedge009 opened #1569 "BOINC Vega-based GPU processing does not work with ROCm"
**Background**
For many years now (even back during fglrx days) I've been using [BOINC](https://boinc.berkeley.edu/) successfully with AMD GPUs on Linux via amdgpu-pro. However, that changed with amdgpu-pro 20.45 onwards, when PAL-based OpenCL was dropped in favour of ROCr. While my Fiji-based GPUs still work okay using the 'legacy' OpenCL support in amdgpu-pro, my Vega-based GPUs (both Vega10 and

[2021-09-01 13:16] kentrussell commented on #1562
Thanks, we're looking into this internally. I'll update once we have something noteworthy

[2021-09-03 00:34] Wedge009 commented on #1569
I recently received information of a user who has successfully got BOINC working with ROCm. Same Threadripper 3960X CPU, same Radeon VII GPU, difference is they are using Arch Linux with self-compiled ROCm while I'm using Ubuntu with official ROCm packages. I've yet to get any feedback on how they got their ROCm set-up working but I wonder if there's an issue somewhere in the Ubuntu packaging...

[2021-09-04 23:04] almereyda commented on #1460
@Dan-RAI Could you offer more details of your installation procedure? I'm wondering, because I'm not sure if you used a packaged ROCm ([4.2 for Docker](https://www.amd.com/en/technologies/infinity-hub/pytorch)), or compiled it by yourself (at a specific version tag?) to omit the `apt` warning:

[code]

Above, you also spoke about `rocm-dev`, yet that also depends on `rocm-gdb`.

Eventually it is p

[2021-09-05 07:39] salvatoretrimarchi commented on #1180
I'm still waiting for that

[2021-09-05 12:07] tuxzz commented on #1180
The 2021 Q4 is coming.

[2021-09-05 12:45] fishhf commented on #1180
I wonder what about RDNA1

[2021-09-05 15:07] MichelBr commented on #1180
To be honest. It's the same old story with rocm. How good it is for the
supported cards doesn't matter, as support for the normal retail cards,
which a lot of people have, is always years behind. From my perspective,
only intel and nvidia have decent software support for their whole line-up
from day 1.
Amd is not able to provide this decent software support, unless you buy the
datacenter version.

[2021-09-06 10:19] ROCmSupport commented on #1557
Thanks @minfaer for confirming that issue is fixed with 4.3.1 and closed it.
Thank you.

[2021-09-06 11:38] zhiyuanzhai commented on #1180
@Indeed

[2021-09-06 17:24] artyom-beilis commented on #1180
To be honest AMD's software is poor. I bought 6600xt that on the box is written Windows 7 is supported... yet no drivers available (lucky me Windows is my secondary role for machine)

I must say that OpenCL works. I had both rocm and amdgpu-pro installed (I wasn't able to run vulkan with 4.3 drivers for some reason so I went back to amdgpu-pro - at least it has support of my second card rx560 for

[2021-09-07 09:54] ROCmSupport commented on #1145
Hi @ableeker
Can you please check with the latest ROCm 4.3.1 and share the update.
Thank you.

[2021-09-07 11:23] ROCmSupport commented on #1565
Hi @Saber-f
Thanks for reaching out.
Can you please share the following.
1. Exact steps to reproduce the problem to replicate locally here
2. Details of OS, Asic, any other additional information
3. Output of /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo
4. Can you please try with the latest ROCm 4.3.1 release and share an update on this.

Thank you.

[2021-09-07 11:24] ROCmSupport commented on #1563
Thanks @showrav-ansary for the update.
You mean you are not observing this issue anymore?

[2021-09-07 12:42] showrav-ansary commented on #1563
@ROCmSupport The issue is resolved.

[2021-09-07 12:47] ROCmSupport commented on #1563
Thanks for the confirmation.
Am closing this, Thank you.

[2021-09-07 12:47] #1563 closed

[2021-09-07 19:39] clapbr commented on #1345
We got jebaited :(

[2021-09-08 10:43] ylxlove commented on #1404
i have the same issue and use 6900xt too, so blogger, do you solve the question. thanks

[2021-09-08 16:02] satmandu commented on #1125
@martinpaljak Did you find a solution for that dkms build?

I'm seeing the same issue with the current release of the amdgpu-dkms driver on Ubuntu 21.10 installs:
[code]

My guess is that this is something that broke the and dkms setup with bullseye/impish. (But using `CC=gcc-10` also doesn't fix the issue.)

[2021-09-08 17:55] martinpaljak commented on #1125
@satmandu I have a custom kernel with some parts of enabled manually, using rocm-opencl clinfo shows the GPU as a device, at least. Hashcat does not see it, but I think that might be a simpler path than dealing with dkms.

[2021-09-09 16:37] sevagh commented on #1180
Thanks for the report @artyom-beilis - so, in your opinion would buying an RDNA2 card (e.g. 6800) with the intention of using PlaidML + OpenCL be a good idea? Did you try out PlaidML and Caffe-OpenCL before writing DLPrimitives?

It won't be my primary GPU for deep learning (I have a main NVIDIA card), so it will be more as a fun experiment. I need to either buy a new RDNA2 GPU with PlaidML+OpenCL

[2021-09-09 17:31] artyom-beilis commented on #1180
I'm active Caffe user and one of the reasons I started using it was OpenCL support.

Caffe-OpenCL has relatively decent performance but still isn't as good as cudnn/miopen (1/2-1/3 in comparison to caffe-cudnn/hipCaffe).

But it has somewhat bigger problems: (a) Caffe isn't developed any more (b) it has very poor memory optimization, so for example with PT/Keras/TF I can get batch of 32 images of

[2021-09-10 05:20] Flock1 commented on #1565
Hi. I wanted to know if RX 6700 is compatible with ROCm.

[2021-09-10 14:25] Flock1 opened #1570 "Pytorch and AMD GPU"
Hi,

I am using RX 6700 on my Ubuntu machine and have installed ROCm as well. When I install Pytorch for ROCma nd import it, I get the following:
[code]
Why am I getting this?

[2021-09-10 14:53] aoolmay commented on #1570
There is no support yet, there's a lot of promises with ever further timeline for it though.

What you can do in the meantime is use PlaidML over OpenCL provided by ROCm. It's using old Keras which is not great and lacking features, but it might get you by for a while.

[2021-09-10 17:18] Flock1 commented on #1570
Hi,

Thanks for the reply. I tried PlaidML but when I enter the setup, I only see my CPU. The GPU isn't showing up

[2021-09-10 17:27] aoolmay commented on #1570
It only shows up if you accept 'experimental device support' prompt.
If it doesn't show, check you clinfo and rocminfo, something might go wrong on ROCm install.

[2021-09-10 17:32] Flock1 commented on #1570
When I run `clinfo`, I get `gfx1031` as the name of the device. I din't get any error when I run `clinfo` or `rocminfo`

[2021-09-10 17:35] aoolmay commented on #1570
You must've missed the experimental device support prompt, it defaults to no and because of that didn't show OpenCL enabled GPU.

[2021-09-10 17:36] Flock1 commented on #1570
No. it didn't show up. Only the CPU showed up.

[2021-09-10 17:44] aoolmay commented on #1570
Maybe it's something to do with current ROCm version? I'm still on 4.2 and it works on different machines with different AMD GPUs with no problems.

[2021-09-10 17:46] Flock1 commented on #1570
I am using 4.3

[2021-09-10 17:50] aoolmay commented on #1570
Now that i think about i might have the 4.3 installed on one of machines and gave me some problems with Plaid.
You can do that by changing default repository in "software&updates->other software" to "https://repo.radeon.com/rocm/apt/4.2/". Remember to uninstall 4.3 version first.

[2021-09-10 17:57] Flock1 commented on #1570
So [here](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu), how do I ensure I install 4.2 instead of 4.3?

[2021-09-10 18:05] aoolmay commented on #1570
Ok, step by step.
1. Uninstall 4.3 with "sudo apt autoremove rocm-opencl rocm-dkms rocm-dev rocm-utils && sudo reboot"
2. After the reboot you have to go into "software&updates" system application, in the tab "other software" you will find the default address for rocm repository "https://repo.radeon.com/rocm/apt/debian/", change it to "https://repo.radeon.com/rocm/apt/4.2/"
3. Update your package

[2021-09-10 18:28] Flock1 commented on #1570
Thank you very much. Let me try that.

[2021-09-10 18:39] Flock1 commented on #1570
I'm not able to install 4.2. Getting this error:
[code]

[2021-09-10 18:48] aoolmay commented on #1570
Sorry about leading you to a problem. Try "sudo dpkg --configure -a", if this won't work i'd just reinstall Ubuntu, it takes just as much time as troubleshooting.

[2021-09-10 18:48] Flock1 commented on #1570
Also, after `sudo apt update` in step 3, I get the following:
`N: Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'https://repo.radeon.com/rocm/apt/4.2 ubuntu InRelease' doesn't support architecture 'i386'
`

[2021-09-10 18:48] aoolmay commented on #1570
These are fine, it's just warnings with no consequence.

[2021-09-10 18:51] Flock1 commented on #1570
Step 4 gives me this:
[code]

[2021-09-10 18:53] aoolmay commented on #1570
Did you change repository path before, when i first sugested installing 4.2?

[2021-09-10 18:54] Flock1 commented on #1570
No. When you provided me with the steps, that's when I changed it

[2021-09-10 18:56] aoolmay commented on #1570
Then again, it's a package manager problem and time consuming to diagnose and fix, epsecially if you're not familiar with Ubuntu. Can you afford time to just reinstall Ubuntu?

[2021-09-10 18:59] Flock1 commented on #1570
Yeah. I can reinstall it. But what's the solution though? Can you give me some idea? I have worked with Ubuntu for some time now.

[2021-09-10 19:04] aoolmay commented on #1570
Yes, follow standard installation procedure https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu
After step 2 "Add the ROCm apt repository" change default address for rocm repository "https://repo.radeon.com/rocm/apt/debian/" to "https://repo.radeon.com/rocm/apt/4.2/".
Proceed with installation as normal.
Install PlaidML and you should see your GPU in the list.

[2021-09-10 19:33] Flock1 commented on #1570
is 4.2 compatible with RX 6700? I want to be sure before I reinstall the OS

[2021-09-10 19:37] aoolmay commented on #1570
I'm using ROCm 4.2 with PlaidML on machines with WX5100, WX7100 and RX6800. Make sure to use the officially supported kernel version, i vaguely remember that caused some problems.

[2021-09-10 19:38] Flock1 commented on #1570
Ah. Let me reinstall the OS then.

[2021-09-10 20:03] Flock1 commented on #1570
So now that I'm doing a fresh installation, how do I proceed? I don't see the option in "software and updates"

[2021-09-10 20:07] aoolmay commented on #1570
I'm using Xubuntu, i don't exactly know what your flavor of Ubuntu allows, quick search suggest you may have a thing called "software updater" in the vanilla?
![2021-09-10_22-07](https://user-images.githubusercontent.com/87392079/132911586-75053559-3f50-4cd3-bf2f-52f66077d1ba.png)

[2021-09-10 20:16] Flock1 commented on #1570
So here's what I did:
1) Installed new OS
2) Followed the initial steps on the website
3) Instead of using the mentioned key, I got the key for 4.2
4) Then, I opened the software and update and I changed the link as you mentioned.
5) Then, I installed using the apt command to install rocm.

I still got the error.

[2021-09-10 20:24] aoolmay commented on #1570
https://github.com/RadeonOpenCompute/ROCm/tree/roc-4.2.x#Supported-Operating-Systems
Kernel and Ubuntu version is correct?
I'm puzzled, this solution works for me and i reinstalled one of the system just two weeks ago.

[2021-09-10 20:25] Flock1 commented on #1570
It installs fine when I install 4.3. Something is wrong with 4.2

[2021-09-10 20:28] aoolmay commented on #1570
I'm not aware if there were any changes to 4.2. I remember using PlaidML with 4.0 before, you could try 4.0 or 4.1.

[2021-09-10 20:44] Flock1 commented on #1570
Let's see

[2021-09-10 21:01] Flock1 commented on #1570
I am following this to install the ROCm. This works for me
https://www.youtube.com/watch?v=efKjfBkjPlM

[2021-09-10 21:10] aoolmay commented on #1570
This guy shows steps you should be doing from ROCm installation manual and this is always for current version, which now is 4.3.
The problem you're having is that 4.3 doesn't work with PlaidML and 4.2 and earlier do. You have to figure out how to succesfully install 4.2 or earlier.
For me simply changing the repository directory always worked. I can't help you further, out of time.

[2021-09-10 21:31] Flock1 commented on #1570
So in the above video, can you tell me what should I use version 4.2 so that it installs?

[2021-09-10 23:17] briansp2020 commented on #1570
You can follow the installation guide at https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html

To pick a specific version, instead of

Use specific version you want

Other than that, all the instructions should be the same. I don't have Ubuntu on my PC any more. So, I can't try it to verify it myself.

[2021-09-11 00:35] Flock1 commented on #1570
I tried that. I get this error

[2021-09-11 01:26] Flock1 commented on #1570
So guys, an update. I did fresh installation and I was bale to set AMD GPU in plaid setup.

[2021-09-11 02:07] Flock1 commented on #1570
When I ran `plaidbench keras mobilenet`, I got this:
[code]
So is my GPU working?

[2021-09-11 04:33] BloodyIron commented on #1345
I voted with my wallet. RTX 3060 ti in-hand. AMD get your shit together.

[2021-09-11 05:29] b-sumner commented on #1345
Pardon my ignorance, but is the base assumption here that Blackmagic Design's software is able to run correctly and efficiently on all GPUs on all linux distros and any problem must be unrelated to their software?  That seems like a stretch to me.  Does Blackmagic Design officially claim to support the problem configurations and if so, what does their support department have to say about the conce

[2021-09-11 07:04] aoolmay commented on #1570
Yes, good job. Can you confirm which ROCm version works with PlaidML for you?

[2021-09-11 10:49] ableeker commented on #1145
ROCm 4.3.1 still renders the images incorrectly with -cl-fast-relaxed-math enabled. It will however render the images correctly when it's disabled.

[2021-09-11 13:07] Flock1 commented on #1570
I think I found a solution. I needed to set `LD_LIBRARY_PATH` variable to `/opt/rocm-<versoin>/bin`

[2021-09-11 17:58] beatboxa commented on #1345
@b-sumner read through this thread, the sublinks within this thread (which includes some of Blackmagic's engineering team's comments as well), the history, AMD's own comments, and the other similar topics for other GUI applications (not just Blackmagic software) before commenting that this is a stretch.  Your questions were answered before you asked them.

This is an AMD ROCm driver issue.

[2021-09-11 18:59] whosystem opened #1571 "rocSOLVER Enhancements - presume you meant no longer"
rocSOLVER
Enhancements

Linear solvers for general non-square systems:

GELS now supports underdetermined and transposed cases

Inverse of triangular matrices

TRTRI (with batched and strided_batched versions)

Out-of-place general matrix inversion

GETRI_OUTOFPLACE (with batched and strided_batched versions)

Argument names for the benchmark client now match argument names from the public API

Fi

[2021-09-11 20:36] b-sumner commented on #1345
@beatboxa I haven't studied every line of this long issue, but while scanning didn't see where it says Blackmagic specifically claims support for your configuration.  I'm also having trouble finding information on their website about which versions of ROCm and which AMD GPU's they actually do claim to support.  Could you point me at the messages where Blackmagic has specifically reached out to AMD

[2021-09-13 04:55] ROCmSupport commented on #1145
Hi @ableeker
This is a manifestation of a known issue within the Luxmark 3.1 sources. See https://github.com/LuxCoreRender/LuxMark/issues/9 . The issue has been resolved in Luxmark 4 . For Luxmark 3.1, the issue can be worked-around by disabling the -cl-fast-relaxed-math option.
Hope this helps.
Thank you.

[2021-09-13 04:55] #1145 closed

[2021-09-13 05:20] ROCmSupport commented on #1565
Hi @Flock1
This is to inform that RX 6700 is not compatible with ROCm. Thank you.

[2021-09-13 05:21] ROCmSupport commented on #1565
Hi @Saber-f
Any update on execution steps please, so that we will work as per the steps and provide an update asap.
Thank you.

[2021-09-13 05:24] ROCmSupport commented on #1570
Hi @Flock1
Thanks for reaching out.
RX 6700 is not an officially supported card. Please look at supported hardware section @ [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url)
Thank you.

[2021-09-13 05:24] #1570 closed

[2021-09-13 06:52] ROCmSupport commented on #1566
Thanks @ye-luo for reaching out.
I will check this for you and get back with an update.
Thank you.

[2021-09-13 07:16] ROCmSupport commented on #1568
Thanks @bgoglin for reaching out.
I will check this for you and get back with an update asap.
Thank you.

[2021-09-13 07:27] ROCmSupport commented on #1568
Hi @bgoglin
Please find the responses here.

1. /opt/rocm is a soft link path to the actual installed rocm like /opt/rocm-4.3.1.
2. rocm-dev package creates that soft-link post installation.
3. At a time, only one way of installation is recommended, whether its single rocm(non-versioned rocm packages) or multi-rocm(versioned rocm packages).
Its not recommended to install single and multi rocm vers

[2021-09-13 07:27] #1568 closed

[2021-09-13 07:43] ROCmSupport commented on #1569
Thanks @Wedge009 for reaching out.
I got the context well.
Can you please update me with the below information initially.

1. whats the GPU you are using?
2. outputs of /opt/rocm/bin/rocminfo and /opt/rocm/opencl/bin/clinfo
Thank you.

[2021-09-13 07:46] bgoglin commented on #1568
Thanks!

[2021-09-13 08:09] Wedge009 commented on #1569
1. As mentioned in the initial post, I'm using both Vega10 (Vega 64) and Vega20 (Radeon VII), albeit in separate machines.
- My recent attempt with Radeon VII resulted in an awful slow-down of the KDE Plasma shell (very poor responsiveness ultimately freezing the whole system) even when not doing any GPU processing. I thought that ROCm focused on OpenCL so I assumed the regular amdgpu drivers in t

[2021-09-13 08:17] ROCmSupport commented on #1569
Thanks for the information @Wedge009
Please make sure that system is clean (without installing amdgpu or similar) before installing rocm.

Thank you.

[2021-09-13 08:23] Wedge009 commented on #1569
To clarify, amdgpu-pro is removed before attempting to install ROCm, and vice-versa.

I understand amdgpu is part of the kernel and doesn't make sense to remove, unless I want to have a broken system that cannot display anything.

[2021-09-13 13:40] FCLC commented on #1543
For anyone else that may come across this, I had the same issue.
After a broken ROCm uninstall, I used amdgpu-pro to regain graphics.

then trying to reinstall ROCm, ran into the above issue- looks like it's marked in small font here: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#deploying-rocm

[2021-09-13 22:41] Flock1 commented on #1565
@ROCmSupport, is there any plan to add RX 6700 to the compatibility list? I have that GPU and I want to use it for deep learning.

[2021-09-14 04:47] ROCmSupport commented on #1565
Hi @Flock1
I do not have data at present. Request you to keep checking @ https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support

[2021-09-14 15:18] doctorcolinsmith commented on #1566
Thanks for the report @ye-luo.  Can you please add which GPU and OS you are using?

[2021-09-14 15:22] doctorcolinsmith commented on #1571
@whosystem Thanks for catching the error!  We'll get that fixed.

[2021-09-14 15:35] ye-luo commented on #1566
Ubuntu 20.4. Radeon VII. Why GPU matters, I don't need a GPU to compile code.

[2021-09-15 01:37] s-marios opened #1572 "Support for Vega 56/64 [ROCm 4.3 / Pytorch]"
Hi,

So, first things first, are Vega 56 GPUs supported?

I'm running pytorch on an lxc container. With a Radeon VII it works fine. But with a Vega 56 I'm getting the following error:
[code]

I've noticed that rocminfo reports `amdgcn-amd-amdhsa--gfx900:xnack-` wheras the above HIP stuff uses `amdgcn-amd-amdhsa--gfx900:sramecc-:xnack-` i.e. `sramecc` doesn't seem to be supported.

I have access to

[2021-09-15 06:03] ROCmSupport commented on #1572
Thanks @s-marios for reaching out.
I will check this for you and get back with an update soon.
Meanwhile can you please share the exact steps to reproduce the problem.
Thank you.

[2021-09-15 07:57] s-marios commented on #1572
I will report detailed steps tomorrow (work day is over), but the gist is this:
0) Using kernel >=5.13 (currently 5.14)
1) setup an Ubuntu:20.04 lxc container (my setup: lxd/snap/debian)
2) pass in /dev/kfd (as unix-char) and /dev/dri (as gpu)
3) add rocm repositories and install rocm-dev only
4) install pytorch using pip
5) run some pytorch code

Let me know for which steps you need more details

[2021-09-16 01:09] s-marios commented on #1572
Ok, I'm back with a more detailed writeup and sample code for you.

In [setup.txt](https://github.com/RadeonOpenCompute/ROCm/files/7174165/setup.txt) you'll find all the steps I followed to build a (new) LXC container, with the same error results. This can be used as a guide to build an LXC ROCm container.

Below you'll find a minimal example that triggers the problem (I can't attach .py files dir

[2021-09-16 07:00] ROCmSupport commented on #1572
Thanks @s-marios
I am able to reproduce the problem with Vega64.
From the logs its pointing to MIOpen and so looks like its MIOpen issue. Let me assign to MIOpen team to take a look.
Thank you.

[2021-09-16 07:49] s-marios commented on #1572
Right on! Hoping for a quick resolution, possibly in a point release. Please don't make me wait until ROCm 4.5, pretty please?

Cheers!

[2021-09-16 15:57] ivanmlerner opened #1573 "Cards not detected by opencl"
Hello, I am running arch linux with two RX5500, and while they were detected previously, now they are not.
I know this system is not supported, but I'd greatly appreciate some help debugging this issue.

[dmesg.txt](https://github.com/RadeonOpenCompute/ROCm/files/7179268/dmesg.txt)

[2021-09-16 16:17] aoolmay commented on #1573
There's no help for NAVI. NAVI is said to be officially supported soon, maybe next release, this year, whatever. We're stuck waiting, bro.

[2021-09-16 21:00] KristijanZic commented on #1345
@b-sumner it broke Blender and pretty much all other apps that require OpenCL. Please, point me to the Blender post that says it was designed for this specific config... You won't find it. What you will find is that they support OpenCL, ROCm provides it and it's broken. Therefore the software can't run correctly because of the broken drivers. Please, be a kind lad and go trough all the other issue

[2021-09-16 21:40] b-sumner commented on #1345
Hi @KristijanZic, what I'm trying to claim here is no software is correct.  Certainly not AMD's, but certainly no ISV's either.  Users running ISV code they paid for should go to the ISV first.  If the ISV doesn't claim to support the user's config, then what does the user actually expect?  If the ISV does claim to support the config but then claims it's not their problem, then I would question wh

[2021-09-16 23:14] ptitjes commented on #1345
@b-sumner Just my two cents... Do not forget that there are standards, namely OpenCL and OpenGL. At some point, this is the only link that makes our computers do what they have to do. There just have been a discontinued support for standards from AMD for a too long time! Discontinued support for their Linux users and discontinued support for the ISVs building software upon standards.

Nvidia sends

[2021-09-18 19:39] Rmalavally commented on #1571
Thank you for the feedback. The fixed defect for rocSOLVER is corrected in the Release notes document for ROCm v4.3.

AMD ROCm Documentation Team

[2021-09-18 21:03] tichondrius2215 opened #1574 "Memory access fault by GPU node-1 when training a model."
I had a working installation of both ROCm and tensorflow-rocm running smoothly on my Ubuntu 20.04. Until recently it developed this error `Memory access fault by GPU node-1 (Agent handle: 0x55f6dc9adc10) on address 0x3f7b9000. Reason: Page not present or supervisor privilege` while training a resnet model on my data.
Surprisingly I get this error only when trying to train a model on my data with r

[2021-09-20 07:31] ROCmSupport commented on #1571
Hi @whosystem
Thanks for reaching out.
Issue is fixed now. Please check the documentation for the updated information.
Feel free to open a new issue, if any, for quick resolutions.
Thank you.

[2021-09-20 07:31] #1571 closed

[2021-09-20 07:33] ROCmSupport commented on #1573
Hi @ivanmlerner
Thanks for reaching out.
ROCm does not support Navi officially yet. Please stay tuned for the updates in future.
Thank you.

[2021-09-20 07:33] #1573 closed

[2021-09-20 09:29] cia05rf commented on #836
If it helps anyone later on searhcing this i found my solution was that i'd missed out `apt` from the path

it was:
`deb [arch=amd64] https://repo.radeon.com/rocm/debian/ xenial main`

it SHOULD have been:
`deb [arch=amd64] https://repo.radeon.com/rocm/apt/debian/ xenial main`